<div class="control-group">
  <label for="attendeeStatusTypeName" class="control-label">attendeeStatusTypeName</label>
  <div class="controls">
    <%- contentTag('input', attendeeStatusType.attendeeStatusTypeName, {type:'text', class:'span6', name:'attendeeStatusTypeName'}) %>
  </div>
</div>
