<div class="hero-unit">
  <h2>All AttendeeStatusTypes</h2>
  <%- linkTo('Create a new AttendeeStatusType', addAttendeeStatusTypePath, {class: 'btn pull-right'}); %>
</div>

<div id="attendeeStatusTypes-list">
<% if (attendeeStatusTypes) { %>
<% for (var i = 0, ii = attendeeStatusTypes.length; i < ii; i++) { %>
  <div class="row list-item" id="attendeeStatusType-<%= attendeeStatusTypes[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(attendeeStatusTypes[i].attendeeStatusTypeName, attendeeStatusTypePath(attendeeStatusTypes[i].id)); %></h3>
    </div>
    <!--div class="span4">
      <h3><i class="icon-list-alt"></i><%= attendeeStatusTypes[i].id; %></h3>
    </div-->
  </div>
<% } %>
<% } %>
</div>