<div class="hero-unit">
  <h2 class="id"><%= attendeeStatusType.attendeeStatusTypeName %></h2>
  <%- linkTo('Edit this attendeeStatusType', editAttendeeStatusTypePath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', attendeeStatusTypePath(''), {class: 'btn pull-right'}); %>
</div>

<h2>AttendeeStatusType Properties</h2>
<% for(var i in attendeeStatusType) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= attendeeStatusType[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>