<div class="row">
   <div class="col-md-6 col-md-offset-3">
   	<h3>Your session has expired...</h3>
      <p>Please go to the <a href='https://www.encompassmanager.com' />login page</a> to access eNcompass Manager.</p>
      <p>Thank you.</p>
   </div>
</div>