<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <% if (user) { %>
    <h1>
      Hello<% if (user.firstName) { %>, <%= user.firstName %> <%= user.lastName %><% } %>
    </h1>
    <h1>
      label <%= this.label  %>
    </h1>
    
  <% } %>
  
  
    
  <!--div class="hero-unit">
	  <%  if (uploadedFile) { %>
	  <p>Successfully uploaded
	    <a href="/uploads/<%= uploadedFile; %>">
	      <%= uploadedFile; %>
	    </a>
	  </p>
	  <p><a href="/">Upload another file</a></p>
	  <%  }
	      else { %>
	  <h3>Upload a file</h3>
	
	  <form action="/upload" method="post" enctype="multipart/form-data">
	    <div><input type="file" name="name" /></div>
	    <div><input type="submit" value="Upload" /></div>
	  </form>
	  <%  } %>
  </div-->
  
  
  
  <form class="form-horizontal" action="<%- urlFor('upload') %>" method="POST" enctype="multipart/form-data">
      <div class="control-group">
          <label for="name" class="control-label">Name</label>
          <div class="controls">
              <%- contentTag('input', '', {type:'text', class:'span6', name:'name', required:'required'}) %>
          </div>
      </div>
      <div class="control-group">
          <label for="upload" class="control-label">Browse</label>
          <div class="controls">
              <%- contentTag('input', null, {type:'file', class:'span6', name:'file'}) %>
          </div>
      </div>
      <div class="form-actions">
          <%- contentTag('input', 'Upload', {type: 'submit', class: 'btn btn-primary'}) %>
      </div>
  </form>
  
  
</div>





