<%- scriptLink('/js/main/login.js', {type:'text/javascript'}) %>
<% if ( typeof showActivation != 'undefined'){%>
    <script type="text/javascript">setActivateAccount();</script>
<%}%>

<!--<div class="row steps row-space-xs">
       <div class="col-xs-12">
          <p class="bg-danger">
<b>Scheduled Maintenance Notice:</b>  The encompass&#0153;  Speaking and Meetings Manager portal will be down for scheduled maintenance beginning at 3:00 PM Eastern Time on Wednesday, January 20, 2015.  This maintenance may last up to 24 hours during which there will be no access to the portal.  Should you need assistance during this time, please contact our Speaker Bureau Coordinators at (866) 320-5679 or via email at <aref="mailto:support@encompassmanager.com">support@encompassmanager.com</a>.  We apologize for any inconvenience.</p>
       </div>
</div>
-->


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form id="AccessForm" action="/auth/local" method="POST" onsubmit="validateLogin()">
            <h2 id="PageTitle">Login</h2>
            <h4 id="PageSubtitle2" class="hidden"><span class="label label-info">Enter information as supplied by <%=session.get('companyName')%></span></h4>
            <div class="form-group">
                <%- contentTag('input', params.firstName, {type:'text', class:'form-control validate[required] hidden', placeholder:'First Name', name:'firstName', id:'FirstName'}) %>
            </div>
            <div class="form-group">
                <%- contentTag('input', params.lastName, {type:'text', class:'form-control validate[required] hidden', placeholder:'Last Name', name:'lastName', id:'LastName'}) %>
            </div>
            <div class="form-group">
                <%- contentTag('input', params.email, {type:'email', class:'form-control', placeholder:'Email', name:'email', id:'email',value:'j@zen.co'}) %>
            </div>
            <div class="form-group">
                <%- contentTag('input', params.password, {type:'password', class:'form-control validate[required]', placeholder:'Password', name:'password', id:'Password',value:'test'}) %>
            </div>
            <!--div class="form-group">
                < %  - contentTag('input', params.password, {type:'password', class:'form-control validate[required] hidden', placeholder:'Password Confirmation', name:'passwordConfirmation', id:'PasswordConfirmation'}) %>
            </div-->
            <div class="form-group">
                <%- contentTag('input', 'Submit', {type: 'submit', class: 'btn btn-primary btn-block', id:'SubmitButton'}) %>
            </div>
        </form>
    </div> <!-- col -->
    <div class="login col-md-6 col-md-offset-3">
        <div class="pull-right">
            <p><a href="#" id="ForgotPassword">Forgot Password</a></p>
            <p><a href="#" id="ActivateAccount">Activate Account</a></p>
            <p><a href="#" id="BackToLogin" class="hidden">Back To Login</a></p>
        </div>
    </div> <!-- col -->
</div> <!-- row -->
