<%- scriptLink('/js/main/login.js', {type:'text/javascript'}) %>
<% if ( typeof showActivation != 'undefined'){%>
    <script type="text/javascript">setActivateAccount();</script>
<%}%>

<div class="row steps row-space-xs">
   <div class="col-xs-12">
      <p class="bg-danger">
<b>Scheduled Maintenance Notice:</b>  The encompass&#0153;  Speaking and Meetings Manager portal will be down for scheduled maintenance beginning at 7:00 AM Eastern Time on Tuesday, December 29, 2015.  This maintenance may last up to 24 hours during which there will be no access to the portal.  Should you need assistance during this time, please contact our Speaker Bureau Coordinators at (866) 320-5679 or via email at <aref="mailto:support@encompassmanager.com">support@encompassmanager.com</a>.  We apologize for any inconvenience.</p>
   </div>
</div>

