<div class="control-group">
  <label for="serviceName" class="control-label">serviceName</label>
  <div class="controls">
    <%- contentTag('input', service.serviceName, {type:'text', class:'span6', name:'serviceName'}) %>
  </div>
</div>
