<div id="dialog-venueLink" title="Select Venue">
  <p id="message"><span style="float:left; margin:0 7px 20px 0;"></span>Please select a venue:
  <select id="venueList">
	<% if(venues) { %>
		<% for(var index in venues) { %>
	  		<option <% if (index == 0) {%>selected<% } %> value="<%= venues[index].id %>"><%= venues[index].venueName %></option>
		<% } %>
	<% 	} %>
	</select>
	</p>
</div>