<div id="dialog-clientLink" title="Link to Client" <% if (displayEdit == false) { %> hidden <% } %>>
  <p id="message"><span style="float:left; margin:0 7px 20px 0;"></span>This KOL will be linked to:
  <select id="clientList">
	<% if(clients) { %>
		<% for(var index in clients) { %>
	  		<option <% if (index == 0) {%>selected<% } %> value="<%= clients[index].id %>"><%= clients[index].name %></option>
		<% } %>
	<% 	} %>
	</select>
	</p>
</div>