<div id="uploadFile-form">
   <p><span class="required">All form fields are required</span></p>

   <div class="form-inline row-space-xs" id="form1">
      <div class="form-group">
         <label for="selectFile">Please select a local file to upload</label>
         <input type="file" id="File" style="display:none" class="form-control">
         <label for='File'>
         <input type="button" name="selectFile" id="selectFile" value="Select File" class="form-control">
         <label for='File'>
      </div>
      <div class="form-group">
         <label for="selectedFile">Selected File</label>
         <input type="text" name="selectedFile" id="selectedFile" readonly size="32" class="form-control">
      </div>
      <div class="form-group">
         <label for="displayName">Display Name</label>
         <input type="input" name="displayName" id="displayName" size="32" placeHolder="(ex: My File (05/07/14)" class="form-control">
      </div>
   </div>

   <div class="form row-space-xs" id="form2">
      <div class="form-group">
         <label for="selectFile">Please select a local file to upload</label>
         <input type="file" id="File2" style="display:none" >
         <br>
         <label for='File2'>
            <input type="button" name="selectFile" id="selectFile2" value="Select File" >
         </label>
      </div>
      <div class="form-group separator-jquery-ui">
         <label for="selectedFile">Selected File</label>
         <input type="text" name="selectedFileW9" id="selectedFileW9" readonly size="32" class="form-control">
      </div>
      <div class="form-group">
         <label for="type">Type:</label>
         <select type="text" name="formType" id="formType" class="form-control">
            <option selected>W9</option>
            <option>W8</option>
         </select>
      </div>
      <div class="form-group">
         <label for="displayName">Display Name</label>
         <input type="input" name="displayNameW9" id="displayNameW9" size="32" placeHolder="(ex: Tax Form (05/07/14)" class="form-control">
      </div>
      <div class="form-group">
         <label for="name">Name:</label>
         <input type="input" name="name" id="name" size="32" class="form-control">
      </div>
      <div class="form-group">
         <div class="w9">
            <label for="businessName">Business Name:</label>
            <input type="input" name="businessName" id="businessName" size="32" class="form-control">
         </div>
         <div class="w8" hidden>
            <label for="incCountry">Country of Incorporation:</label>
            <select name="incCountry" id="incCountry" class="AddressElement form-control">
               <option disabled="disabled" selected><%=selectPrompt%></option>
               <%for (var index in countries) {%>
                  <option><%= countries[index].name %> (<%= countries[index].countryCode %>)</option>
               <%}%>
            </select>
         </div>
      </div>

      <div class="form-group">
         <div class="w9">
            <label for="TaxClassification">Federal Tax Classification:</label>
            <br>
            <input type="radio" name="taxClass" class="TaxClassGroup" value="Individual" /><label class="CheckboxLabel" for="Individual"> Individual/Sole Proprietor</label>
            <input type="radio" name="taxClass" class="TaxClassGroup" value="CCorp" /><label class="CheckboxLabel" for="CCorp"> C Corporation</label>
            <input type="radio" name="taxClass" class="TaxClassGroup" value="SCorp" /><label class="CheckboxLabel" for="SCorp"> S Corporation</label>
            <input type="radio" name="taxClass" class="TaxClassGroup" value="Partnership" /><label class="CheckboxLabel" for="Partnership"> Partnership</label>
            <input type="radio" name="taxClass" class="TaxClassGroup" value="Trust" /><label class="CheckboxLabel" for="Trust"> Trust/Estate</label>
         </div>
         <div class="w8" hidden>
            <div>
               <label for="ownerType">Type of beneficial Owner:</label>
               <input type="radio" name="ownerType" class="ownerTypeGroup" value="Individual" /><label class="CheckboxLabel" for="Individual"> Individual</label>
               <input type="radio" name="ownerType" class="ownerTypeGroup" value="Corporation" /><label class="CheckboxLabel" for="Corporation"> Corporation</label>
               <input type="radio" name="ownerType" class="ownerTypeGroup" value="Disregarded" /><label class="CheckboxLabel" for="Disregarded"> Disregarded Entity</label>
               <input type="radio" name="ownerType" class="ownerTypeGroup" value="Partnership" /><label class="CheckboxLabel" for="Partnership"> Partnership</label>
               <input type="radio" name="ownerType" class="ownerTypeGroup" value="SimpleTrust" /><label class="CheckboxLabel" for="SimpleTrust"> Simple Trust</label>
               <input type="radio" name="ownerType" class="ownerTypeGroup" value="GrantorTrust" /><label class="CheckboxLabel" for="GrantorTrust"> Grantor Trust</label>
               <input type="radio" name="ownerType" class="ownerTypeGroup" value="ComplexTrust" /><label class="CheckboxLabel" for="ComplexTrust"> Complex Trust</label>
            </div>
            <div>
               <input type="radio" name="ownerType" class="ownerTypeGroup" value="Estate" /><label class="CheckboxLabel" for="Estate"> Estate</label>
               <input type="radio" name="ownerType" class="ownerTypeGroup" value="Government" /><label class="CheckboxLabel" for="Government"> Government</label>
               <input type="radio" name="ownerType" class="ownerTypeGroup" value="Government" /><label class="CheckboxLabel" for="Government"> International Organization</label>
               <input type="radio" name="ownerType" class="ownerTypeGroup" value="CentralBank" /><label class="CheckboxLabel" for="CentralBank"> Central bank of issue</label>
               <input type="radio" name="ownerType" class="ownerTypeGroup" value="TaxExempt" /><label class="CheckboxLabel" for="TaxExempt"> Tax Exempt Organization</label>
               <input type="radio" name="ownerType" class="ownerTypeGroup" value="PrivateFoundation" /><label class="CheckboxLabel" for="PrivateFoundation"> Private Foundation</label>
            </div>
         </div>
      </div>

      <div class="w9 form-group separator-jquery-ui">
         <input type="radio" name="taxClass" class="TaxClassGroup" value="LLC">
         <label class="CheckboxLabel" for="LLC">Limited Liability Company</label>
         <select type="text" id="LLCType" name="LLCType" class="form-control">
            <option disabled="disabled" selected><%-selectPrompt%></option>
            <option>C Corporation</option>
            <option>S Corporation</option>
            <option>Partnership</option>
         </select>
         <input id="OtherCheckbox" name="otherCheckbox" type="radio" value="Other">
         <label class="CheckboxLabel" for="Other">Other:</label>
         <input type="text" id="OtherInput" class="hidden" class="form-control">
      </div>

      <div class="form-group">
         <label for="StreetAddress">Street Address:</label>
         <input type="text" name="address1" id="address1" class="AddressElement W250 form-control">
         <label for="StreetAddress2">Address Line 2:</label>
         <input type="text" name="address2" id="address2" class="AddressElement W250 form-control">
         <label for="City">City:</label>
         <input type="text" name="city" id="city" class="AddressElement W200 form-control">
         <div class="w9">
            <label for="State">State:</label>
            <select id="state" name="State" class="AddressElement State form-control">
               <option disabled="disabled" selected><%=selectPrompt%></option>
               <%for (var index in states) { %>
                  <option><%= states[index].name %></option>
               <%}%>
            </select>
         </div>
         <div class="w8" hidden>
            <label for="State">State/Province:</label>
            <input type="text" name="state" id="stateW8" class="AddressElement W250 form-control">
         </div>
         <label for="postalCode">Postal Code:</label>
         <input type="text" name="postalCode" id="postalCode" class="AddressElement form-control">
         <div class="w8" hidden>
            <label for="Country">Country:</label>
            <select name="Country" id="country" class="AddressElement form-control">
               <option disabled="disabled" selected><%=selectPrompt%></option>
               <%for (var index in countries) {%>
                  <option><%= countries[index].name %> (<%= countries[index].countryCode %>)</option>
               <%}%>
            </select>
         </div>
      </div>

      <div class="form-group">
         <div class="w8" hidden>
            <label>Mailing Address (if different from above):</label>
            <div class="form-group">
               <label for="MailingStreetAddress">Street Address:</label>
               <input type="text" name="mailingAddress1" id="mailingAddress1" class="AddressElement W250 form-control">
               <label for="MailingStreetAddress2">Address Line 2:</label>
               <input type="text" name="mailingAddress2" id="mailingAddress2"class="AddressElement W250 form-control">
            </div>
            <div class="form-group">
               <label for="mailingCity">City:</label>
               <input type="text" name="mailingCity" id="mailingCity" class="AddressElement W200 form-control">
               <label for="State">State/Province:</label>
               <input type="text" name="mailingState" id="mailingState" class="AddressElement W250 form-control">
               <label for="mailingPostalCode">Postal Code:</label>
               <input type="text" name="mailingPostalCode" id="mailingPostalCode" class="AddressElement form-control">
               <label for="MailingCountry">Country:</label>
               <select name="mailingCountry" id="mailingCountry" class="AddressElement country form-control">
                  <option disabled="disabled" selected><%=selectPrompt%></option>
                  <%for (var index in countries) {%>
                     <option><%= countries[index].name %> (<%= countries[index].countryCode %>)</option>
                  <%}%>
               </select>
            </div>
         </div>
      </div>

      <div class="form-group">
         <div class="form-group w9">
            <label for="ListAcount">List Account Number(s):</label>
            <input type="text" name="listAccountNumbers" id="listAccountNumbers" class="W300 form-control">
         </div>
         <div class="form-group w8" hidden>
            <label for="ListAcount">Reference Number(s):</label>
            <input type="text" name="listAccountNumbers" id="listAccountNumbersW8" class="W300 form-control">
         </div>
         <div class="form-group">
            <label for="ssn">SSN or ITIN:</label>
            <input type="text" name="ssn" id="ssn" class="W150 form-control">
            <label for="ein">Employer Id #:</label>
            <input type="text" name="ein" id="ein" class="W150 form-control">
            <div class="w8" hidden>
               <label for="foreignId">Foreign Tax Id #:</label>
               <input type="text" name="foreignId" id="foreignId" class="W150 form-control">
            </div>
         </div>
      </div>

      <div class="form-group">
         <label for="signature">Signature Date:</label>
         <input id="signature" type="text" class="form-control">
      </div>

   </div>
</div>