<div id="uploadFile-form">
  <!-- <p class="validateTips">All form fields are required.</p> -->

  <form id="form1">
  	<fieldset>
	  	<div class="FormRow">
	    	<label for="selectFile">Please select a local file to upload</label>
	    	<input type="file" id="File" style="display:none"></>
	    	<label for='File'>
    			<input type="button" name="selectFile" id="selectFile" value="Select Files" >
    		</label>
		</div>
		<div class="FormRow">
	    	<label for="selectedFile">Selected File:</label>
	    	<input type="text" name="selectedFile" id="selectedFile" readonly size="32">
		</div>

		<div class="FormRow">
	    	<label for="displayName">Display Name:</label>
	    	<input type="input" name="displayName" id="displayName" size="32" placeHolder="(ex: My File (05/07/14)">
	    </div>

	    <div id="uploadNotes" class="FormRow" hidden>
	    	<label for="uploadNotes">Notes:</label>
			<textarea id="notes" class="form-control" cols='40' rows='4' name="notes"></textarea>
	    </div>

	    <div class="FormRow">
	    	<label for="link">Link To:</label>
	    	<input type="input" name="link" id="link" size="32" placeHolder="(ex: http://www.dropbox.com)">
	    </div>
	</fieldset> 
  </form>
</div>