<%- scriptLink('/js/global/global.js', {type:'text/javascript'}) %>

<%- scriptLink('/js/portals/clients/clientDetails.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/portals/clients/clientProgramDetails.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/portals/clients/clientResources.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/events/show.js', {type:'text/javascript'}) %>


<div class="row">
   <div class="col-xs-12">
      <div class="table-sorter-wrapper">
         <table class="mainTable">
            <thead>
               <tr>
                  <th data-bind="{statusApprovalDisplay}<input class='SelectItem' type='hidden' value='{eventInfo.id}'>">Approval Status</th>
                  <th data-bind="{eventInfo.confirmedDate}">Confirmed Date</th>
                  <th data-bind="{eventInfo.confirmedSpeaker}">Confirmed Speaker</th>
                  <th data-bind="{eventInfo.city}">City</th>
                  <th data-bind="{eventInfo.state}">State</th>
                  <th data-bind="{eventInfo.eventType}">Type</th>
                  <th data-bind="{eventInfo.eventStartTime}">Start Time</th>
                  <th data-bind="{statusDisplay}">Status</th>
                  <th data-bind="{eventInfo.presentationTitle}">Title</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>
   </div>
</div>