<%- partial('app/views/clients/show',{currentClient: currentClient, displayEdit: false, editing: editing, editor: editor}) %>

<div class="row">
   <div class="col-xs-12">
      <h3>Changes to Information</h3>
      <div class="form-group">
         <textarea id="edits" class="form-control" placeholder="Enter any edits here"></textarea>
      </div>
      <button class="btn btn-primary" onclick='submitClientProfileChanges("<%=currentClient.name%>", "<%= currentClient.defaultEmail%>")'>Submit Changes</button>
   </div>
</div>