<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-6">
            <h3>Resources</h3>
        </div>
    </div>
</div>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning js-resource-container">
         <div class="panel-heading">
            <h3 class="panel-title">KOL Resources</h3>
          </div>
            <div class="panel-body">
              <div class="form-inline js-selection-container">
                <table id='kolTable' class="mainTable">
                   <thead>
                      <tr class="info">
                        <th><span>Name</span></th>
                        <th><span>File Name</span></th>
                        <th><span>Notes</span></th>
                        <th><span>Date Uploaded</span></th>
                      </tr>
                   </thead>
                   <tbody>
                    <% if (kolResources && kolResources.length > 0) { %>
                      <% for (var i = 0, ii = kolResources.length; i < ii; i++) { %>
                      <tr class='js-filePath' data-path='<%=kolResources[i].pathToFile%>' data-displayName='<%=kolResources[i].name%>'>
                        <td>
                           <% if (kolResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= kolResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= kolResources[i].name%></a>
                          <%} else {%>
                            <%= kolResources[i].name%>
                          <%}%>
                        </td>
                        <td>
                          <% if (kolResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= kolResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= kolResources[i].pathToFile.slice(kolResources[i].pathToFile.lastIndexOf('/') + 1, kolResources[i].pathToFile.length)%></a>
                          <%} else {%>
                            <%= kolResources[i].pathToFile.slice(kolResources[i].pathToFile.lastIndexOf('/') + 1, kolResources[i].pathToFile.length)%>
                            <%}%>
                        </td>
                        <td>
                          <% if (kolResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= kolResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= kolResources[i].notes%></a>
                          <%} else {%>
                            <%= kolResources[i].notes%>
                          <%}%>
                        </td>
                        <td>
                          <% if (kolResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= kolResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= kolResources[i].createdAt.toLocaleDateString()%></a>
                          <%} else {%>
                            <%= kolResources[i].createdAt.toLocaleDateString()%>
                          <%}%>
                        </td>
                       </tr>
                      <%}%>
                    <%}%>
                   </tbody>
                </table>
              </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->


<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning js-resource-container">
         <div class="panel-heading">
            <h3 class="panel-title">Field Force Resources</h3>
          </div>
            <div class="panel-body">
              <div class="form-inline js-selection-container">

                <table id='repTable' class="mainTable">
                   <thead>
                      <tr class="info">
                        <th><span>Name</span></th>
                        <th><span>File Name</span></th>
                        <th><span>Notes</span></th>
                        <th><span>Date Uploaded</span></th>
                      </tr>
                   </thead>
                   <tbody>
                    <% if (repResources && repResources.length > 0) { %>
                      <% for (var i = 0, ii = repResources.length; i < ii; i++) { %>
                      <tr class='js-filePath' data-path='<%=repResources[i].pathToFile%>' data-displayName='<%=repResources[i].name%>'>
                        <td>
                           <% if (repResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= repResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= repResources[i].name%></a>
                          <%} else {%>
                            <%= repResources[i].name%>
                          <%}%>
                        </td>
                        <td>
                          <% if (repResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= repResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= repResources[i].pathToFile.slice(repResources[i].pathToFile.lastIndexOf('/') + 1, repResources[i].pathToFile.length)%></a>
                          <%} else {%>
                            <%= repResources[i].pathToFile.slice(repResources[i].pathToFile.lastIndexOf('/') + 1, repResources[i].pathToFile.length)%>
                            <%}%>
                        </td>
                        <td>
                          <% if (repResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= repResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= repResources[i].notes%></a>
                          <%} else {%>
                            <%= repResources[i].notes%>
                          <%}%>
                        </td>

                        <td>
                          <% if (repResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= repResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= repResources[i].createdAt.toLocaleDateString()%></a>
                          <%} else {%>
                            <%= repResources[i].createdAt.toLocaleDateString()%>
                            <%}%>
                        </td>
                       </tr>
                      <%}%>
                    <%}%>
                   </tbody>
                </table>
              </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->


<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning js-resource-container">
         <div class="panel-heading">
            <h3 class="panel-title">RSM Resources</h3>
          </div>
            <div class="panel-body">
              <div class="form-inline js-selection-container">

                <table id='rsmTable' class="mainTable">
                   <thead>
                      <tr class="info">
                        <th><span>Name</span></th>
                        <th><span>File Name</span></th>
                        <th><span>Notes</span></th>
                        <th><span>Date Uploaded</span></th>
                      </tr>
                   </thead>
                   <tbody>
                    <% if (rsmResources && rsmResources.length > 0) { %>
                      <% for (var i = 0, ii = rsmResources.length; i < ii; i++) { %>
                      <tr class='js-filePath' data-path='<%=rsmResources[i].pathToFile%>' data-displayName='<%=rsmResources[i].name%>'>
                        <td>
                          <% if (rsmResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= rsmResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= rsmResources[i].name%></a>
                          <%} else {%>
                            <%= rsmResources[i].name%>
                            <%}%>
                        </td>
                        <td>
                          <% if (rsmResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= rsmResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= rsmResources[i].pathToFile.slice(rsmResources[i].pathToFile.lastIndexOf('/') + 1, rsmResources[i].pathToFile.length)%></a>
                          <%} else {%>
                            <%= rsmResources[i].pathToFile.slice(rsmResources[i].pathToFile.lastIndexOf('/') + 1, rsmResources[i].pathToFile.length)%>
                            <%}%>
                        </td>
                        <td>
                          <% if (rsmResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= rsmResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= rsmResources[i].notes%></a>
                          <%} else {%>
                            <%= rsmResources[i].notes%>
                            <%}%>
                        </td>
                        <td>
                          <% if (rsmResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= rsmResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= rsmResources[i].createdAt.toLocaleDateString()%></a>
                          <%} else {%>
                            <%= rsmResources[i].createdAt.toLocaleDateString()%>
                          <%}%>
                        </td>
                       </tr>
                      <%}%>
                    <%}%>
                   </tbody>
                </table>
              </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->