<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 1 of 2",
   backButtonFunction: 'goContractsList()',
   nextButtonFunction: 'goContractStep2()'
   })
%>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">KOL Selection</h3>
         </div>
         <div class="panel-body">

          <div class="FormRow">
           <h5 id="selectedContactDisplay">
               <% if (currentContract && currentContract.contactId) { %>
                    <% for (var j = 0, jj = contacts.length; j < jj; j++) { %>
                       <% if (contacts[j].id == currentContract.contactId) { %>
                           Selected KOL: <%= contacts[j].firstName%> <%= contacts[j].lastName%>
                       <% } %>
                   <% } %>
               <% } %>
           </h5>
         </div>

         <div class="FormRow">
               <div class="row">
                   <div class="col-xs-12">
                       <div class="table-sorter-wrapper">
                           <table class="mainTable">
                           <thead>
                               <tr class="info">
                                   <th data-bind="{lastName}">
                                       Last Name
                                   </th>
                                   <th data-bind="{firstName}">
                                       First Name
                                   </th>
                                   <th data-bind="{specialties.*}">
                                       Specialty
                                   </th>
                                   <th data-bind="{affiliations.*.affiliationName}">
                                       Affiliation
                                   </th>
                                   <th data-bind="{addresses[0].city}">
                                       City
                                   </th>
                                   <th data-bind="{addresses[0].state}">
                                       State
                                   </th>
                                   <th data-bind="{addresses[0].country}">
                                       Country
                                   </th>
                               </tr>
                           </thead>
                           <tbody>
                               <% for (var i = 0, ii = contacts.length; i < ii; i++) { %>
                               <tr>
                                   <td id='<%=contacts[i].id%>'>
                                       <%=contacts[i].lastName%>
                                   </td>
                                   <td id='<%=contacts[i].id%>'>
                                       <%=contacts[i].firstName%>
                                   </td>
                                   <td id='<%=contacts[i].id%>'>
                                       <% if (contacts[i].specialties) {%>
                                       <% for (var j=0,  jj = contacts[i].specialties.length; j < jj; j++) { %>
                                       <%=contacts[i].specialties[j]%>
                                       <br />
                                       <% } %>
                                       <% } %>
                                   </td>
                                   <td id='<%=contacts[i].id%>'>
                                       <% if (contacts[i].affiliations) {%>
                                       <% for (var j=0,  jj = contacts[i].affiliations.length; j < jj; j++) { %>
                                       <%=contacts[i].affiliations[j].affiliationName%>
                                       <br />
                                       <% } %>
                                       <% } %>
                                   </td>
                                   <td id='<%=contacts[i].id%>'>
                                       <% if (contacts[i].addresses) {%>
                                       <%=contacts[i].addresses[0].city%>
                                       <% } %>
                                   </td>
                                   <td id='<%=contacts[i].id%>'>
                                       <% if (contacts[i].addresses) {%>
                                       <%=contacts[i].addresses[0].state%>
                                       <% } %>
                                   </td>
                                   <td id='<%=contacts[i].id%>'>
                                       <% if (contacts[i].addresses) {%>
                                           <% if (contacts[i].addresses[0].country != "Please Select One") { %>
                                               <% if (contacts[i].addresses[0].country) { %>
                                                   <%=contacts[i].addresses[0].country%>
                                               <% } else { %>
                                                   USA
                                               <% } %>
                                           <% } else { %>
                                               United States
                                           <% } %>
                                       <% } %>
                                   </td>
                               </tr>
                               <% } %>
                           </tbody>
                       </table>
                  </div>
               </div>
         </div>
         
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->  

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goContractsList()',
            nextButtonFunction: 'goContractStep2()'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row --> 