<%- partial('app/views/components/dialogs/deleteSelected') %>




<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-6">
            <h3><%= currentClient.name%> - Contracts %></h3>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
                <button type="button" class="btn btn-info" onclick="createNewContract()">Create New Contract</button>
            </div>
        </div>
    </div>
</div>


<div class="js-selection-container"> 
   <% if (session.get('userId') && ( (session.get('userRoleId') == geddy.constants.roles.SUPER_ADMIN.label ) ) ){ %>
     <div class="row row-space-xs">
         <div class="col-xs-12">
              <div class="form-inline">
                 <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
              </div>
        </div> <!-- col -->
     </div> <!-- row -->
  <%}%>
    

  <!-- Table -->
  <div class="row">
     <div class="col-xs-12">
        <table class="mainTable">
           <thead>
              <tr class="info">
                <th class="filter-false sorter-false" data-bind="&lt;input type='checkbox' name='selectedContacts[]' value='{id}'/&gt;">
                  <input type="checkbox" class="selectall"/>
                </th>
                <th data-bind="{programType}">Program Type</th>
                <th data-bind="{contractName}">Contract Name</th>
                <th data-bind="{expirationDate}">Expiration Date</th>
                <th data-bind="{status}">Status</th>
              </tr>
           </thead>
           <tbody>
            <% if (contracts && contracts.length > 0) { %>
              <% for (var i = 0, ii = contracts.length; i < ii; i++) { %>
              <tr>
                 <td class="checkBoxTd"><input type="checkbox" name="selectedcontracts[]" class="selectElement" value="<%= contracts[i].id%>" />
                 </td>
                 <td><%=contracts[i].programType%></td>
                 <td>
                  <% for (var fNameIndex in contacts) { %>
                    <% if (contacts[fNameIndex].id == contracts[i].contactId) { %>
                        <%=contacts[fNameIndex].firstName%> <%=contacts[fNameIndex].lastName%>
                    <% } %>
                  <% } %>
                </td>
                    
                 <td>
                  <% if (contracts[i].expirationDate) { %>
                    <%=contracts[i].expirationDate.toLocaleDateString()%></td>
                  <% } %>
                 <td><%=contracts[i].status%></td>
               </tr>
              <% } %>
            <% } %>
           </tbody>
        </table>
     </div>
  </div>
</div>