<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + " - Step 1 of 1",
   backButtonFunction: 'goToProgramSpeakers()',
   nextButtonFunction: 'goToProgramSpeakers()',
   nextButtonLabel: 'Done'
   })
%>

<%- partial('app/views/components/dialogs/uploadFile') %>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title"><%=currentProgram.programName%> - Contract Information</h3>
         </div>
         <div class="panel-body">

            <div class="form-inline row-space-xs">

               <h3>Contract</h3>
               <input type="button" class="btn btn-info btn-xs" value="Upload Contract" onClick="prepareUploadProgramContractFile(this,
                   <%if(currentProgram) {%>
                   <%if(currentProgram.id) {%>
                   '<%=currentProgram.id%>'<%}}else {%> 0 <%}%>
                   )">
  
              <p>
               <div id="contractList" class="documentContainer">
                   <%if(currentContract && currentContract.contractFile && currentContract.contractFile.length > 0){ %>
                       <h6>Note: Uploading a new file, will replace the previously uploaded contract.</h6>
                       <div>
                           <input type='button' onClick='launchContract("<%=currentContract.contractFile[0].pathToFile%>")' value='View Contract'></input>
                       </div>
                   <% } else { %> 
                       <span>No Contract uploaded</span>
                   <% } %>
               </div>
              </p>
      </div>

     <div class="form-inline row-space-xs">
          <label for="name">Creation Date:</label>
          <input type="input" class="ContractProperty form-control" name="creationDate" id="creationDate"
           value="<% if (currentContract && currentContract.creationDate) { %><%= currentContract.creationDate.toLocaleDateString() %><% } %>">
          
          <label for="expirationDate">Expiration Date:</label>
         <input type="input" class="ContractProperty form-control" name="expirationDate" id="expirationDate"
                  value="<% if (currentContract && currentContract.expirationDate) { %><%= currentContract.expirationDate.toLocaleDateString() %><% } %>">
          
          <label for="status">Status:</label>
          <select name="status" id="status" class="ContractProperty form-control">
              <option disabled="disabled" selected><%=selectPrompt%></option>
              <% for(var index in contractStatusTypes) { %>
                  <option <%if (currentContract && currentContract.status && currentContract.status == contractStatusTypes[index].label) { %> selected <% } %>><%= contractStatusTypes[index].label %></option>
              <% } %>
          </select>
      </div>

   
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->  

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goToProgramSpeakers()',
            nextButtonFunction: 'goToProgramSpeakers()',
            nextButtonLabel: 'Done'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row --> 