<div class="row">
   <div class="col-xs-12">
      <div class="row alert alert-info">
         <div class="col-xs-6">
            <h3>Contract for <%=session.get('currentContract').contractName%></h3>
         </div>
         <div class="col-xs-6">
            <div class="pull-right">
               <button id="editContactBtn" class="btn btn-info" onclick="editContract()" <% if (editing == true){%> disabled <%}%>>Edit</button>
            </div>
         </div>
      </div>
   </div>
</div>

<% if (editing) {%>
<div class="row">
   <div class="col-xs-12">
      <label class='bg-danger'>Currently being edited by: <%= editor %></label>
   </div>
</div>
<%}%>

<div class="ContactDetailsContent">
	<div class="FormRow Clear">
		<h2>Information</h2>
		<h3>KOL Information</h3>
		<% if (currentContract.contactId){ %>
			<% for (var fNameIndex in contacts) { %>
                    <% if (contacts[fNameIndex].id == currentContract.contactId) { %>
                        <%=contacts[fNameIndex].firstName%>, <%=contacts[fNameIndex].lastName%>
                    <% } %>
                  <% } %>
        <% } else { %> 
			No KOL is assigned to this contract
        <% } %> 

		<div class="Clear" />

        <h3>Contract</h3>
		<% if (currentContract.contractFile && currentContract.contractFile.length > 0){ %>
			<% for (var fileIndex in currentContract.contractFile) { %>
				<input type='button' onClick='launchContract("<%=currentContract.contractFile[0].pathToFile%>")' value='View Contract'></input>
			<% } %>
        <% } else { %> 
			No contract file provided
        <% } %> 

        <div class="Clear" />

        <h3>Creation Date</h3>
		<% if (currentContract.creationDate){ %>
			<%= currentContract.creationDate.toDateString() %>
        <% } else { %>
			No creation date provided
    	<% } %> 

        <div class="Clear" />

        <h3>Expiration Date</h3>
		<% if (currentContract.expirationDate){ %>
			<%= currentContract.expirationDate.toLocaleDateString() %>
        <% } else { %> 
			No expiration date provided
        <% } %>

        <h3>Status</h3>
		<% if (currentContract.status){ %>
			<%= currentContract.status %>
        <% } else { %> 
			No status provided
        <% } %> 
	</div>
</div>