<div class="row steps row-space-xs">
   <div class="col-md-5">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Search</h3>
         </div>
         <div id="advancedSearchOptions" class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <% if (elementSearchArray.length > 0) { %>
                    <select id="FiltersDropDownList" class="form-control">
                        <option value="-1">Select Filter</option>
                        <% for (var index in searchProperties) { %>
                            <option value="<%=searchProperties[index].value%>"><%=searchProperties[index].label%></option>
                        <%}%>
                    </select>
                    <%}%>
                    <button id="AddFilter" class="btn btn-warning add-filter-btn">Add Filter <span class="glyphicon glyphicon-plus-sign"></span></button>
                </div>

                <div id="advancedSearchFilters" class="form-inline">
                    <div id="FilterTemplate" class="Filter" hidden>
                        <label class="filterLabel"></label>
                        <div class="filterInputDiv">
                            <input class="filterInput form-control" type="text" />
                            <button class="removeInputFilter btn btn-danger btn-xs" hidden>Remove Field <span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                        <button class="addInputFilter btn btn-warning btn-xs">Add <span class="glyphicon glyphicon-plus-sign"></span></button>
                        <button class="removeFilter btn btn-danger btn-xs">Remove Filter <span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <form action="<%=actionURL%>" method="post" id="AdvSearchForm">
                        <div id="FiltersZoneDiv"></div>
                        <input id="CurrentPage" type="hidden" name="currentPage" value="1"/>
                    </form>
                </div>
                <button id="advancedSearchButton" class="btn btn-warning">Search</button>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->