    <div id="normalSearchOptions" class="col-xs-8">
        <form class="form-inline">
        <input type="text" class="form-control" id="searchValue">
        <button type="button" class="btn btn-primary" onclick='javascript:search()'>
            Search</button>
        <% if (elementSearchArray.length > 0) { %>
        <a class="action" href="#" id="advancedSearch">Advanced Search</a>
        <a class="action" href="#" id="normalSearch" hidden>Normal Search</a>
        <% } %>
        </form>
        <!--h5>
            Search
        </h5-->
    </div>
