/********* contact index  *************/
#advancedSearchOptions
{
	width: 700px;	
}

.draggableArea
{
	margin: 5px;
	padding: 10px;
	width: 300px;
	background-color: #EFEFEF;	
}

.draggableArea li
{
	cursor: pointer;
	list-style: none;
}
