/********* contact index  *************/
#advancedSearchOptions
{
	width: 700px;	
}







.DeleteButtonX
{
	margin: 0 10px 0 0;
}

.DeleteButton
{
	margin-left: 30px;
}

.ClientList{
	width: 150px
}

.Country{
	width: 250px
}

.country
{
	width: 250px
}


.State{
	width: 180px;
}

.PostalCode{
	width: 100px;
}

.UploadButton
{
	margin: 0 10px 0 20px;
}

.PhotoContainer
{
	margin: 0 20px 30px 0;
}

.PhotoCentered {
	margin-left: 30px;
}

.DocumentContainer {
	width: 200px;
	height: 100px;
}

.DocumentContainer a {
	color:#000;
	text-decoration: none;
}

.DocumentContainer a:hover{
	color:#6190C0;
	text-decoration: underline;
}

.SmallIconBtn {
	padding-right: 7px !important;
}

#editBtn {
    background-image: url(/img/editBtn.png) !important ;
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 7px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 24px;           /* make this the size of your image */
    padding-right: 15px;
}

#deleteBtn {
    background-image: url(/img/deleteBtn.png);
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 9px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 24px;           /* make this the size of your image */
    padding-right: 10px;
}

.ClientTag {
	background-color: #ffcc33;
	width: 100px;
	height: 15px;
	margin-top: 5px;
	margin-right: 3px;
	border-radius: 5px;
	padding: 3px 0 3px 6px;
}

/********* CONTACT DETAILS *************/ 
.ContactDetailsContent {
	height:100%;
	width:100%;
	position:relative;
	padding-left:20px;
	clear:inherit;
}

.ContactHeader {
	padding-top:17px;
	top:100px;
	height:131px;
	background-color:#FFF;
	/*position:fixed;*/
	width:95%;
	z-index:1;
	margin-right: 0;
}

.ContactHeaderTitle {
	position:relative;
	width:85%;
	left:145px;
	top:-110px;
	font-size: 25pt;
	font-weight: bold;
}

.ContactHeaderSubTitle {
	font-size: 14pt;
	font-weight: bold;
}

.ContactHeaderPic {
	width:110px;
	height:111px;
	position:relative;
}

.ContactHeaderButtons {
	position:absolute;
	height:39px;
	right: 0;
	top: 0;
}

.ContactHeaderDetails {
	position:absolute;
	top:118px;
	width:50%;
	left:167px;
}

#HeaderSpacer {
	position: relative;
	/*height: 55px;*/
}

.ItemDisplay {
	padding-right: 40px;
	padding-bottom: 30px;
	position: relative;
}

.ItemDisplay img{
	padding-right: 20px;
}

.ItemFixedWidth {
	width: 300px;
}

.ContactCard {
	margin: 10px 20px 30px 0;
	background-color: #F4F4EB;
	padding: 0 0 10px 10px;
}

.ContactCardDetails {
    width: 220px;
}

.ContactCardDetails br {
    margin-bottom: 5px;
}

.ContactCardAddress {
    margin: 30px 0 0 5px;
}

.ContactCardAddress br{
    margin-bottom: 5px;
}

