<!-- <link rel="Stylesheet" href="/css/style.css" />
<link rel="Stylesheet" href="/css/menu.css" /> -->
<style>
    .DiffContainer
    {
        display: block;
        width: 100%;
    }

    .SideATabs li,
    .SideBTabs li {
        list-style: none;
    }

    .SideA
    {
        float: left;
        margin-right: 20px;
    }
    .SideB
    {
        float: left;
    }

    .progress
    {
        position: relative;
        width: 400px;
        border: 1px solid #ddd;
        padding: 1px;
        border-radius: 3px;
    }
    .bar
    {
        background-color: #B4F5B4;
        width: 0%;
        height: 20px;
        border-radius: 3px;
    }
    .percent
    {
        position: absolute;
        display: inline-block;
        top: 3px;
        left: 48%;
    }

    .Diferent
    {
        border: 1px #f00 solid;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-6">
                <h3>Import Field Force</h3>
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                    <button class="btn btn-primary" onclick="goRepsList()">Back <span class="glyphicon glyphicon-chevron-left"></span></button>
                </div>
            </div>
        </div>
    </div> <!-- col -->
</div> <!-- / row -->

<!-- / row -->
<div class="row steps">
    <div class="col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">File Upload</h3>
            </div>
            <div class="panel-body">
                <div class="form-inline row-space-xs">
                    <div class="form-group">
                        <div class="SuccessContainer">
                            All Field Force has been imported.
                        </div>

                        <div class="FailedContainer">
                           
                        </div>

                        <div class="UploadContainer">
                            <label for="">Select file to upload:</label>
                            <form id="UploadExcel" action="/reps/processFile" method="post" enctype="multipart/form-data">
                            <input type="file" name="ExcelFile" /><br>
                            <input type="submit" value="Upload File to Server" />
                            </form>
                            <div class="progress">
                                <div class="bar">
                                </div>
                                <div class="percent">
                                    0%</div>
                            </div>
                            <div id="status">
                            </div>
                        </div>

                        <div class="DiffMain">
                            <div id="DiffTemplate" class="DiffContainer" style="display: none;">
                                <div class="SideA">
                                    <div class="SideATabs">
                                        <ul>
                                            <li class="basic"><a href="#basic">Basic</a></li>
                                            <li class="contact"><a href="#contact">Contact</a></li>
                                            <li class="terrytory"><a href="#terrytory">Terrytory</a></li>
                                            <li class="address"><a href="#address">Address</a></li>
                                        </ul>
                                        <div id="basic">
                                            <ul>
                                                <li><span>Last Name</span>
                                                    <input class="LastName" />
                                                </li>
                                                <li><span>Middle</span>
                                                    <input class="MiddleName" />
                                                </li>
                                                <li><span>First Name</span>
                                                    <input class="FirstName" />
                                                </li>
                                                <li><span>Suffix</span>
                                                    <input class="Suffix" />
                                                </li>
                                                <li><span>Title</span>
                                                    <input class="Title" />
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="contact">
                                            <div class="EMailAdress">
                                                <ul>
                                                    <li><span>Email Address</span>
                                                        <input class="Email" />
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="PhoneNumbers">
                                                <ul>
                                                    <li><span>Phone 1</span>
                                                        <input class="Phone1" />
                                                    </li>
                                                    <li><span>Phone 1 Label</span>
                                                        <input class="Phone1Label" />
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><span>Phone 2</span>
                                                        <input class="Phone2" />
                                                    </li>
                                                    <li><span>Phone 2 Label</span>
                                                        <input class="Phone1Labe2" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="territory">
                                            <ul>
                                                <li><span>Team</span>
                                                    <input class="Team" />
                                                </li>
                                                <li><span>Zone</span>
                                                    <input class="Zone" />
                                                </li>
                                                <li><span>Territory Name</span>
                                                    <input class="TerritoryName" />
                                                </li>
                                                <li><span>Employee ID</span>
                                                    <input class="EmployeeID" />
                                                </li>
                                                <li><span>Hire Date</span>
                                                    <input class="HireDate" />
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="address">
                                            <div class="Address">
                                                <ul>
                                                    <li><span>Address Type</span></li>
                                                    <li>
                                                        <input class="AddressType" /></li>
                                                    <li><span>Address 1</span></li>
                                                    <li>
                                                        <input class="Address1" /></li>
                                                    <li><span>Address 2</span></li>
                                                    <li>
                                                        <input class="Address2" /></li>
                                                    <li><span>City</span></li>
                                                    <li>
                                                        <input class="City" /></li>
                                                    <li><span>State (abbreviated)</span></li>
                                                    <li>
                                                        <input class="State" /></li>
                                                    <li><span>Zip</span></li>
                                                    <li>
                                                        <input class="Zip" /></li>
                                                    <li><span>Country</span></li>
                                                    <li>
                                                        <input class="Country" /></li>
                                                </ul>
                                                <!--State (spelled out)-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="SideB">
                                    <div class="Existing">
                                        <div class="SideBTabs">
                                            <form class="diffForm" action="/reps/saveDiff" method="post">
                                            <ul>
                                                <li class="basic"><a href="#Existingbasic">Basic</a></li>
                                                <li class="contact"><a href="#ExistingContact">Contact</a></li>
                                                <li class="terrytory"><a href="#ExistingTerrytory">Territory</a></li>
                                                <li class="address"><a href="#ExistingAddress">Address</a></li>
                                            </ul>
                                            <div id="Existingbasic">
                                                <input type="hidden" name="id" />
                                                <ul>
                                                    <li><span>Last Name</span>
                                                        <input name="LastName" class="LastName" />
                                                    </li>
                                                    <li><span>Middle</span>
                                                        <input name="MiddleName" class="MiddleName" />
                                                    </li>
                                                    <li><span>First Name</span>
                                                        <input name="FirstName" class="FirstName" />
                                                    </li>
                                                    <li><span>Suffix</span>
                                                        <input name="Suffix" class="Suffix" />
                                                    </li>
                                                    <li><span>Title</span>
                                                        <input name="Title" class="Title" />
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="ExistingContact">
                                                <div class="EMailAdress">
                                                    <ul>
                                                        <li><span>Email</span>
                                                            <input name="Email" class="Email" />
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="PhoneNumbers">
                                                    <ul>
                                                        <li><span class="PhoneType"></span>
                                                            <input name="PhoneNumber[]" class="PhoneNumber" />
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div id="ExistingTerritory">
                                                <ul>
                                                    <li><span>Team</span>
                                                        <input name="Team" class="Team" />
                                                    </li>
                                                    <li><span>Zone</span>
                                                        <input name="Zone" class="Zone" />
                                                    </li>
                                                    <li><span>Territory Name</span>
                                                        <input name="TerritoryName" class="TerritoryName" />
                                                    </li>
                                                    <li><span>Employee ID</span>
                                                        <input name="EmployeeID" class="EmployeeID" />
                                                    </li>
                                                    <li><span>Hire Date</span>
                                                        <input name="HireDate" class="HireDate" />
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="ExistingAddress">
                                                <div class="Address">
                                                    <ul>
                                                        <li><span>Address Type</span></li>
                                                        <li>
                                                            <input name="AddressType[]" class="AddressType" /></li>
                                                        <li><span>Address 1</span></li>
                                                        <li>
                                                            <input name="Address1[]" class="Address1" /></li>
                                                        <li><span>Address 2</span></li>
                                                        <li>
                                                            <input name="Address2[]" class="Address2" /></li>
                                                        <li><span>City</span></li>
                                                        <li>
                                                            <input name="City[]" class="City" /></li>
                                                        <li><span>State (abbreviated)</span></li>
                                                        <li>
                                                            <input name="State[]" class="State" /></li>
                                                        <li><span>Zip</span></li>
                                                        <li>
                                                            <input name="Zip[]" class="Zip" /></li>
                                                        <li><span>Country</span></li>
                                                        <li>
                                                            <input name="Country[]" class="country" /></li>
                                                    </ul>
                                                    <!--State (spelled out)-->
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                        <input class="Save" type="button" value="Save" />
                                    </div>
                                </div>
                            </div>
                            <div id="diff">
                            </div>
                            <div style="clear: both">
                                &nbsp;</div>
                            <input id="PrevDiff" type="button" value="Prev" />
                            <input id="NextDiff" type="button" value="Next" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- / panel-body -->
        </div>
        <!-- / panel -->
    </div>
    <!-- / col -->
</div>
<!-- / row -->