<%- partial('app/views/components/dialogs/deleteSelected') %>

<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-6">
            <h3><%= currentClient.name%> - Field Force %></h3>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
                <button type="button" class="btn btn-info" onclick="createNewRep()">Create New Field Force</button>
                <button type="button" class="btn btn-info" onclick="importReps()">Import Field Force</button>
            </div>
        </div>
    </div>
</div>


<!-- Advanced Search -->
<% if (reps && reps.length > 0) {%> 
    <%- partial('app/views/components/search/advancedSearch', {searchProperties: searchRepProperties, elementSearchArray:reps, actionURL:'/reps/search'}) %>
<% } %>


<div class="js-selection-container">
   <% if (session.get('userId') && ( (session.get('userRoleId') == geddy.constants.roles.SUPER_ADMIN.label) ) ){ %>
    <!-- Display Reps -->
        <div class="row row-space-xs">
            <div class="col-xs-12">
              <div class="form-inline">
                 <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
              </div>
           </div>
        </div>
    <%}%>


      
    <!-- Table -->
    <div class="row">
        <div class="col-xs-12">
            <div class="table-sorter-wrapper">
                <table class="mainTable">
                        <thead>
                            <tr class="info">
                                <th class="filter-false sorter-false" data-bind="&lt;input type='checkbox' name='selectedReps[]' value='{id}'/&gt;">
                                    <input type="checkbox" class="selectall" />
                                </th>
                                <th data-bind="{lastName}">Last Name</th>
                                <th data-bind="{firstName}">First Name</th>
                                <th data-bind="{region}">Region</th>
                                <th data-bind="{territoryName}">Territory</th>
                                <th data-bind="{role}">Role</th>
                                <th data-bind="{status}">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%if(reps){%>
                                <% for (var i = 0, ii = reps.length; i < ii; i++) { %>
                                <tr>
                                    <td class="checkBoxTd">
                                        <input type="checkbox" name="selectedReps[]" class="selectElement" value="<%=reps[i].id%>" />
                                    </td>
                                    <td>
                                        <%=reps[i].lastName%>
                                    </td>
                                    <td>
                                        <%=reps[i].firstName%>
                                    </td>
                                    <td>
                                        <%=reps[i].region%>
                                    </td>
                                    <td>
                                        <%=reps[i].territoryName%>
                                    </td>
                                    <td>
                                        <%=reps[i].role%>
                                    </td>
                                    <td>
                                        <%=reps[i].status%>
                                    </td>
                                </tr>
                                <% } %>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            <%- partial('app/views/components/pagination/paginationControl',{backPageFunction:'getElementListByPage',
            nextPageFunction:'getElementListByPage',
            currentPage:currentPage,
            totalPages:totalPages,
             }) %>
        </div>
    </div>
</div>