<!-- % - partial('app/views/components/steps/email') %-->

<%- partial('app/views/components/steps/header', { 
   headerTitle: currentClient.name +" - " +stepTitle + " Step 1 of 2",
   backButtonFunction: 'validateRepStep1(goRepDetails)',
   nextButtonFunction: 'validateRepStep1(goRepStep2)'
   })
%>

<div class="row">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Basic Info</h3>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="FirstName">First Name: </label>
                  <input type="text" class="js-repProperty form-control" name="firstName" value="<%if(rep){%><%=rep.firstName%><% }%>"//>
               </div>
               <div class="form-group">
                  <label for="MiddleName">Middle Name: </label>
                  <input type="text" class="js-repProperty form-control" name="middleName" value="<%if(rep){%><%=rep.middleName%><% }%>"/>
               </div>
               <div class="form-group">
                  <label for="LastName">Last Name:</label>
                  <input type="text" class="js-repProperty form-control" name="lastName" value="<%if(rep){%><%=rep.lastName%><% }%>"/>
               </div>
            </div>
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="Suffix">Suffix: </label>
                  <select name="suffix" class="js-repProperty form-control">
                  <option disabled selected><%=selectPrompt%></option>
                  <%for (var index in suffixes) { %>
                     <option <%if(rep && (rep.suffix==suffixes[index].text)){%>selected<%}%> ><%= suffixes[index].text %></option>
                  <%}%>
                  </select>
               </div>
               <div class="form-group">
                  <label for="Title">Title: </label>
                  <input type="text" class="js-repProperty form-control input-more-width" name="title" value="<%if(rep){%><%=rep.title%><% }%>"/>
               </div>
            </div>
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="role">Role: </label>
                  <select name="role" class="js-role form-control">
                  <option disabled selected><%=selectPrompt%></option>
                    <%for (var i=0; i < roles.length; i++) { %>
                     <% if (i > 0 && roles[i].level != roles[i - 1].level) {%>
                       <option disabled>──────────</option>
                     <%}%>
                     <option data-level='<%= roles[i].level %>' <%if(rep && (rep.role == roles[i].label)){%>selected<%}%> ><%= roles[i].label %></option>
                  <%}%>
                  </select>
               </div>
               <div class="form-group">
                  <label for="role">Manager: </label>
                  <select name="managerId" class="form-control js-managers">
                  <option <% if (rep && rep.managerId == 'N/A') { %>selected<%}%>>N/A</option>
                    <%for (var index in allReps) { %>
                        <% var masterLevel = Number(allReps[index].level); %>
                        <% if (rep) { %>
                           <% var repLevel = Number(rep.level); %>
                        <% } %>
                        <% if (!rep || (rep.id != allReps[index].id && repLevel > masterLevel)) {%>
                           <option <%if(rep && (rep.managerId == allReps[index].id)){%>selected<%}%> value='<%=allReps[index].id%>' ><%= allReps[index].lastName %>, <%= allReps[index].firstName %></option>
                        <%}%>
                  <%}%>
                  </select>
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<form id="RepStep1ValidateForm" class="formular">
   <div class="row">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h3 class="panel-title">Email</h3>
            </div>
            <div id="EmailContainer" class="panel-body js-add-button-container">
               <%if (rep && rep.emailAddresses && rep.emailAddresses.length > 0) {%>
                  <%for (var index in rep.emailAddresses) { %>
                     <div class="FormRowBackground js-rep-row">
                        <input value="<%=index%>" class="index hidden"/>
                           <p class='<% if (rep.emailAddresses.length == 1) {%>hidden<%}%>'>
                              <label>
                                 <input type="radio" name="defaultEmail" class='js-default-email'
                                 <%if (rep && rep.defaultEmail) {%>
                                    <%if (rep.emailAddresses[index].preferred == 'true' || rep.emailAddresses.length == 1) {%>
                                       checked 
                                    <%}%> 
                                 <%}%>
                                 >Preferred Email</label>
                           </p>
                        <div class="form-inline row-space-xs" >
                           <label for="Email">Email Address:</label>
                           <input class="repMailElement form-control js-element validate[custom[email]]" type="text" name="email" value="<%= rep.emailAddresses[index].email%>" />
                           <% if (rep.emailAddresses.length > 1){%>
                              <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteEmail(this)'>X</button>
                           <%}%>
                        </div>
                     </div>
                  <%}%>
                  <button class="addButton btn btn-primary" onclick='javascript:addEmail(this)'>Add Another Email</button>
               <%} else {%>
                  <div class="FormRowBackground js-rep-row">
                     <input value="0" class="index hidden"/>
                     <div class="form-inline row-space-xs">
                        <input type="radio" name="defaultEmail" class='js-default-email hidden' checked></input>

                        <div class="form-group">
                           <label for="Email">Email Address:</label>
                           <input type="text" name="email" class="repMailElement form-control js-element validate[custom[email]]"/>
                        </div>
                     </div>
                  </div>
                  <button class="addButton Disable btn btn-primary" onclick='javascript:addEmail(this)' disabled>Add Another Email</button>
               <%}%>
            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->
</form>
<div class="row">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Number</h3>
         </div>
         <div class="panel-body">
            <div id="ContactNumberContainer" class="js-add-button-container">
               <%if (rep && rep.phoneNumbers && rep.phoneNumbers.length > 0) {%>
                  <%for (var index in rep.phoneNumbers) { %>
                  <div class="FormRowBackground js-rep-row">
                     <input value="<%=index%>" class="index hidden">
                     <div class="form-inline row-space-xs">
                        <p class='<% if (rep.phoneNumbers.length == 1) {%>hidden<%}%>'>
                           <label>
                              <input type="radio" name="defaultPhoneNumber" class='js-default-phoneNumber'
                              <%if (rep && rep.defaultPhoneNumber) {%>
                                 <%if (rep.phoneNumbers[index].preferred == 'true' || rep.phoneNumbers.length == 1) {%>
                                    checked 
                                 <%}%> 
                              <%}%>
                              >Preferred Number</label>
                        </p>
                        <div class="form-group">
                           <label for="Number">Number: </label>
                           <input type="text" name="number" value="<%= rep.phoneNumbers[index].number%>" class="PhoneElement PhoneNumber form-control js-element"/>
                        </div>
                        <div class="form-group">
                           <label for="phoneType">Type: </label>
                            <select name="phoneType" class="PhoneElement form-control js-element">
                              <option disabled selected><%=selectPrompt%></option>
                                <%for (var phoneIndex in phoneTypes) { %>
                                    <option <%if(rep.phoneNumbers[index].phoneType==phoneTypes[phoneIndex].type){%>selected<%}%> >
                                    <%= phoneTypes[phoneIndex].type %></option>
                              <%}%>
                            </select>
                        </div>
                        <% if (rep.phoneNumbers.length > 1) {%>
                           <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteRepNumber(this)'>X</button>
                        <%}%>
                     </div>
                  </div>
                  <%}%>
                  <button class="addButton btn btn-primary" onclick='javascript:addRepNumber(this)'>Add Another Number</button>
                  <%} else {%>
                     <div class="FormRowBackground js-rep-row">
                        <input value="0" class="index hidden">
                        <div class="form-inline row-space-xs">
                           <input type="radio" name="defaultPhoneNumber" class='js-default-phoneNumber hidden' checked></input>
                           <div class="form-group">
                              <label for="Number">Number: </label>
                              <input type="text" name="number" class="PhoneElement PhoneNumber form-control js-element"/>
                           </div>
                           <div class="form-group">
                              <label for="phoneType">Type:</label>
                               <select name="phoneType" class="PhoneElement form-control js-element">
                                 <option disabled selected><%=selectPrompt%></option>
                                   <%for (var index in phoneTypes) { %>
                                       <option><%= phoneTypes[index].type %></option>
                                 <%}%>
                               </select>
                           </div>
                        </div>
                     </div>
                     <button class="addButton Disable btn btn-primary" onclick='javascript:addRepNumber(this)' disabled>Add Another Number</button>
                  <%}%>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Address</h3>
         </div>
         <div class="panel-body">
            <div id="AddressContainer" class="js-add-button-container">
               <% if ( rep && rep.addresses && rep.addresses.length > 0){%>
                  <%for(var index in rep.addresses) { %>
                     <div class="FormRowBackground js-rep-row">
                        <input value="<%=index%>" class="index hidden">
                        <div class="form-inline row-space-xs">
                           <p class='<% if (rep.addresses.length == 1) {%>hidden<%}%>'>
                              <label>
                                 <input type="radio" name="defaultAddress" class='js-default-address'
                                 <%if (rep && rep.defaultAddress) {%>
                                    <%if (rep.addresses[index].preferred == 'true' || rep.addresses.length == 1) {%>
                                       checked 
                                    <%}%> 
                                 <%}%>
                                 >Preferred Address</label>
                           </p>

                           <input type="checkbox" class="internationalRepCheckbox" value="true" <%if(rep.addresses[index].international=='true'){%>checked<%}%> />
                           <label class="CheckboxLabel">International</label>
                           <label for="Country" class="<%if(!rep.addresses[index].international || rep.addresses[index].international == 'false'){%>hidden<%}%>">Country:</label>
                            <select name="country" class="addressElement form-control js-element country <%if(!rep.addresses[index].international || rep.addresses[index].international=='false'){%>hidden<%}%>" >
                              <option disabled selected><%=selectPrompt%></option>
                                <%for (var countryIndex in countries) { %>
                                    <option <%if(rep.addresses[index].country==countries[countryIndex].name){%>selected<%}%> >
                                    <%= countries[countryIndex].name %> (<%= countries[countryIndex].countryCode %>)</option>
                              <%}%>
                            </select>  
                            <% if (rep.addresses.length > 1){%>
                              <input class="DeleteButtonX Right" type="button" value="X" onclick="javascript:deleteAddress(this)">
                           <%}%>       
                         </div>
                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <label for="StreetAddress">Street Address: </label>
                              <input type="text" name="address1" class="addressElement form-control js-element js-street-address" value="<%=rep.addresses[index].address1%>"/>
                           </div>
                           <div class="form-group">
                              <label for="StreetAddress2">Address Line 2: </label>
                              <input type="text" name="address2" class="addressElement form-control js-element" value="<%=rep.addresses[index].address2%>"/>
                           </div>
                        </div>
                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <label for="City">City: </label>
                              <input type="text" name="city" class="addressElement form-control js-element" value="<%=rep.addresses[index].city%>"/>
                           </div>
                           <div class="form-group">
                              <label for="State" class="stateLabel"><%if(!rep.addresses[index].international || rep.addresses[index].international=='false'){%>State: <% } else {%> State/Provice:  <%}%></label>
                              <input type="text" name="state" class="addressElement form-control State js-element <%if(!rep.addresses[index].international || rep.addresses[index].international=='false'){%> hidden <%}%>" value="<%=rep.addresses[index].state%>">
                              <select name="state" class="addressElement form-control State js-element <%if(rep.addresses[index].international=='true'){%> hidden <%}%>">
                                 <option disabled selected><%=selectPrompt%></option>
                                   <%for (var stateIndex in states) { %>
                                       <option <%if(rep.addresses[index].state==states[stateIndex].name){%>selected<%}%>>
                                       <%= states[stateIndex].name %></option>
                                 <%}%>
                              </select>
                           </div>
                        </div>
                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <label for="PostalCode">Postal Code: </label>
                              <input type="text" name="postalCode" class="addressElement form-control PostalCode js-element" value="<%=rep.addresses[index].postalCode%>"/>
                           </div>
                           <div class="form-group">
                              <label for="AddressType">Type: </label>
                               <select name="addressType" class="addressElement form-control">
                                 <option disabled selected><%=selectPrompt%></option>
                                   <%for (var addressIndex in addressTypes) { %>
                                       <option <%if(rep.addresses[index].addressType == addressTypes[addressIndex].type){%>selected<%}%> >
                                       <%= addressTypes[addressIndex].type %></option>
                                 <%}%>
                               </select>
                           </div>
                        </div>
                     </div>
                  <%}%>
                  <button class="addButton btn btn-primary" onclick='javascript:addAddress(this)'>Add Another Address</button>
               <%}else{ %> 
                  <div class="FormRowBackground js-rep-row">
                     <input value="0" class="index hidden">
                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <input type="checkbox" name="defaultAddress" class='js-default-address hidden' checked></input>

                           <input type="checkbox" class="internationalRepCheckbox"/><label class="CheckboxLabel">International</label> 
                           <label for="Country" class="hidden">Country:</label>
                            <select name="country" class="hidden addressElement form-control country js-element">
                              <option disabled selected><%=selectPrompt%></option>
                                <%for (var countryIndex in countries) { %>
                                    <option>
                                    <%= countries[countryIndex].name %></option>
                              <%}%>
                            </select>
                        </div>
                     </div>
                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <label for="StreetAddress">Street Address:</label>
                           <input type="text" name="address1" class="addressElement form-control js-element"/>
                        </div>
                        <div class="form-group">
                           <label for="StreetAddress2">Address Line 2:</label>
                           <input type="text" name="address2" class="addressElement form-control js-element"/>
                        </div>
                     </div>
                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <label for="City">City: </label>
                           <input type="text" name="city" class="addressElement form-control js-element"/>
                        </div>
                        <div class="form-group">
                           <label for="State" class="stateLabel">State:</label>
                           <input type="text" name="state" class="addressElement form-control State js-element hidden" value="">
                           <select type="text" name="state" class="addressElement form-control State js-element">
                              <option disabled selected><%=selectPrompt%></option>
                                <%for (var stateIndex in states) { %>
                                    <option>
                                    <%= states[stateIndex].name %></option>
                              <%}%>
                           </select>
                        </div>
                     </div>
                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <label for="PostalCode">Postal Code: </label>
                           <input type="text" name="postalCode" class="addressElement form-control PostalCode js-element"/>
                        </div>
                        <div class="form-group">
                           <label for="AddressType">Type:</label>
                           <select name="addressType" class="addressElement form-control js-element">
                              <option disabled selected><%=selectPrompt%></option>
                                <%for (var addressIndex in addressTypes) { %>
                                    <option>
                                    <%= addressTypes[addressIndex].type %></option>
                              <%}%>
                           </select>
                        </div>  
                     </div>
                  </div>
                  <button class="addButton btn btn-primary Disable" onclick='javascript:addAddress(this)' disabled>Add Another Address</button>
               <%}%> 
            </div>   
       </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->
   
<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      <%- partial('app/views/components/steps/control', {
         backButtonFunction: 'validateRepStep1(goRepDetails)',
         nextButtonFunction: 'validateRepStep1(goRepStep2)'
      }) %>
    </div>
  </div> <!-- / col -->
</div> <!-- / row -->