<%- partial('app/views/components/steps/header', { 
   headerTitle: currentClient.name +" - " +stepTitle + " Step 2 of 2",
   backButtonFunction: 'goRepStep1()',
   nextButtonFunction: 'goRepDetails()',
   nextButtonLabel: 'Done'
   })
%>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Basic Info</h3>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="team">Team:</label>
                  <input type="text" class="js-repProperty form-control" name="team" value="<%if(rep){%><%=rep.team%><% }%>"/>
               </div>
               <div class="form-group">
                  <label for="zone">Zone:</label>
                  <input type="text" class="js-repProperty form-control js-number-only" name="zone" value="<%if(rep){%><%=rep.zone%><% }%>"/>
               </div>
               <div class="form-group">
                  <label for="zone">Region:</label>
                  <input type="text" class="js-repProperty form-control" name="region" value="<%if(rep){%><%=rep.region%><% }%>"/>
               </div>
            </div>
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="prtId">PRT ID:</label>
                  <input type="text" class="js-repProperty form-control js-number-only" name="prtId" value="<%if(rep){%><%=rep.prtId%><% }%>"/>
               </div>
                <div class="form-group">
                  <label for="status">Status: </label>
                  <select name="status" class="js-repProperty form-control">
                      <option disabled selected><%=selectPrompt%></option>
                      <option <%if(rep && (rep.status=='Active')){%>selected<%}%> >Active</option>
                      <option <%if(rep && (rep.status=='Deactive')){%>selected<%}%> >Deactive</option>
                  </select>   
               </div>
            </div>
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="territoryName">Territory Name:</label>
                  <input type="text" class="js-repProperty form-control" name="territoryName" value="<%if(rep){%><%=rep.territoryName%><% }%>"/>
               </div>
               <div class="form-group">
                  <label for="territory">Territory Number:</label>
                  <input type="text" class="js-repProperty form-control" name="territory" value="<%if(rep){%><%=rep.territory%><% }%>"/>
               </div>
            </div>
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="territoryZip">Territory Postal Codes:</label>
                  <textarea class="js-repProperty form-control" cols='80' rows='4' name="territoryZips"><%if(rep){%><%=rep.territoryZips%><% }%></textarea>
               </div>
            
            <div class="form-inline row-space-xs">
            </div>
               <div class="form-group">
                  <label for="clientRepId">Employee ID: </label>
                  <input type="text" class="js-repProperty form-control" name="clientRepId" value="<%if(rep){%><%=rep.clientRepId%><% }%>"/>
               </div>
               <div class="form-group">
                  <label for="jdeId">JDE ID: </label>
                  <input type="text" class="js-repProperty form-control" name="jdeId" value="<%if(rep){%><%=rep.jdeId%><% }%>"/>
               </div>

               <div class="form-group">
                  <label for="jdeId">ME Number: </label>
                  <input type="text" class="js-repProperty form-control" name="meNumber" value="<%if(rep){%><%=rep.meNumber%><% }%>"/>
               </div>
            </div>
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="icEligibilityDate">IC Eligibility Date:</label>
                  <input type="text" class="js-repProperty form-control js-datePicker" name="icEligibilityDate" value="<%if(rep && rep.icEligibilityDate){%><%=rep.icEligibilityDate.toLocaleDateString()%><% }%>"/>
               </div>
               <div class="form-group"> 
                  <label for="termDate">Term Date:</label>
                  <input type="text" class="js-js-repProperty form-control js-datePicker" name="termDate" value="<%if(rep && rep.termDate){%><%=rep.termDate.toLocaleDateString()%><% }%>"/>
               </div>
               <div class="form-group">
                  <label for="hireDate">Hire Date:</label>
                  <input type="text" class="js-repProperty form-control js-datePicker" name="hireDate" value="<%if(rep && rep.hireDate){%><%=rep.hireDate.toLocaleDateString()%><% }%>"/>
               </div>
            </div>
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="loaStart">LOA Start Date: </label>
                  <input type="text" class="js-repProperty form-control js-datePicker" name="loaStart" value="<%if(rep && rep.loaStart){%><%=rep.loaStart.toLocaleDateString()%><% }%>"/>
               </div>
               <div class="form-group">
                  <label for="loaEnd">LOA End Date: </label>
                  <input type="text" class="js-repProperty form-control js-datePicker" name="loaEnd" value="<%if(rep && rep.loaEnd){%><%=rep.loaEnd.toLocaleDateString()%><% }%>"/>
               </div>
            </div>
      </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->
   
<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      <%- partial('app/views/components/steps/control', {
         backButtonFunction: 'goRepStep1()',
         nextButtonFunction: 'goRepDetails()',
         nextButtonLabel: 'Done'
      }) %>
    </div>
  </div> <!-- / col -->
</div> <!-- / row -->
   
   