<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-6">
                <h3>Field Force Details</h3>
            </div>
            <div class="col-xs-6" <%if (  displayEdit == false) {%> hidden <%}%>>
                <div class="pull-right">
                    <!--button id="editRepBtn" class="btn btn-info" onclick='editRep(< rep%>)'>Edit</button-->
                    <button id="editcurrentRepBtn" class="btn btn-info" onclick='editRep(<%-currentRep%>)' <% if (editing == true){%> disabled <%}%>>Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-space-md row-separator">
    <div class="col-md-10">
        <h3>
           <%=currentRep.firstName%>
           <%=currentRep.middleName%>
           <%=currentRep.lastName%>
            <strong><%=currentRep.suffix%></strong>
        </h3>
        <h4>Manager:
            <%if (currentRep.managerId && currentRep.managerId != 'N/A') {%>
                <%for (var index in allReps) {%>
                    <%if (currentRep.managerId == allReps[index].id) {%>
                        <%= allReps[index].firstName %> <%= allReps[index].lastName%>
                    <%}%>
                <%}%>
            <%} else {%>
                N/A
            <%}%>
        </h4>
        <h6 class="text-muted show-modified"><strong>Last Modified: </strong><%if (currentRep.updatedAt) {%><%=currentRep.updatedAt.toLocaleDateString()%><%}%></h6>
        <% if (editing) {%><h6 class="text-muted show-modified"><strong>Currently being edited by: </strong><%= editor %></h6><%}%>
    </div>
</div> <!-- / row -->

<div class="row row-space-md row-separator">
   <div class="col-xs-12">
      <h3>Contact Information</h3>
      <%if (currentRep && currentRep.emailAddresses && currentRep.emailAddresses.length > 0) {%>
          <ul class="pull-left img-rounded card">
              <li><strong>E-mail:</strong></li>
              <%for (var index in currentRep.emailAddresses) {%>
                  <li><a href='mailto:<%=currentRep.emailAddresses[index].email%>'><%=currentRep.emailAddresses[index].email%></a></li>
              <%}%>
          </ul>
      <%} else {%>
          <h4><span class="label label-default">No Email information available</span></h4>
      <%}%>

     <%if (currentRep.phoneNumbers && currentRep.phoneNumbers.length > 0) {%>
         <ul class="pull-left img-rounded card">
             <li><strong>Phone:</strong></li>
         <%for (var index in currentRep.phoneNumbers) {%>
             <li><%=currentRep.phoneNumbers[index].phoneType%>: <%=currentRep.phoneNumbers[index].number%></li>
         <%}%>
         </ul>
     <%} else {%>
         <h4><span class="label label-default">No Phone Number information available</span></h4>
     <%}%>

        <%if (currentRep.addresses && currentRep.addresses.length > 0) {%>
            <ul class="pull-left img-rounded card">
                <li><strong>Address:</strong></li>
                <%for (var index in currentRep.addresses) {%>
                    <li><strong><%=currentRep.addresses[index].addressType%></strong></li>  <!-- Client requested this line to be bold -->
                    <li><%=currentRep.addresses[index].address1%></li>
                    <%if (currentRep.addresses[index].address2) {%>
                    <li><%= currentRep.addresses[index].address2 %></li>
                    <%}%>
                    <li><%=currentRep.addresses[index].city%>, <%=currentRep.addresses[index].state%>  <%=currentRep.addresses[index].postalCode%></li>
                    <%if (currentRep.addresses[index].international) {%>
                    <li><%=currentRep.addresses[index].country%></li>
                    <%}%>
                <%}%>
            </ul>
        <%} else {%>
            <h4><span class="label label-default">No Address information available</span></h4>
        <%}%>

    </div>
</div> <!-- / row -->

<div class="row row-space-md row-separator">

   <div class="col-xs-12">
      <h3>Other Information</h3>
     <!--  <ul class="pull-left img-rounded card">
         <li><strong>Team: </strong>
         <%if (currentRep && currentRep.team) {%>
             <%=currentRep.team%>
         <%} else {%>
             N/A
         <%}%>
         </li>
      </ul> -->

      <ul class="pull-left img-rounded card">
         <li><strong>Role: </strong>
         <%if (currentRep && currentRep.role) {%>
             <%=currentRep.role%>
         <%} else {%>
             N/A
         <%}%>
         </li>
      </ul>

      <!-- <ul class="pull-left img-rounded card">
         <li><strong>Zone: </strong>
         <%if (currentRep && currentRep.zone) {%>
             <%=currentRep.zone%>
         <%} else {%>
             N/A
         <%}%>
         </li>
      </ul> -->

      <ul class="pull-left img-rounded card">
         <li><strong>Region: </strong>
         <%if (currentRep && currentRep.region) {%>
             <%=currentRep.region%>
         <%} else {%>
             N/A
         <%}%>
         </li>
      </ul>
   </div>

   <div class="col-xs-12">
     <!--  <ul class="pull-left img-rounded card">
         <li><strong>PRT ID: </strong>
         <%if (currentRep && currentRep.prtId) {%>
             <%=currentRep.prtId%>
         <%} else {%>
             N/A
         <%}%>
         </li>
      </ul> -->

      <ul class="pull-left img-rounded card">
         <li><strong>Territory Name: </strong>
         <%if (currentRep && currentRep.territoryName) {%>
             <%=currentRep.territoryName%>
         <%} else {%>
             N/A
         <%}%>
         </li>
      </ul>

      <ul class="pull-left img-rounded card">
         <li><strong>Territory: </strong>
         <%if (currentRep && currentRep.territory) {%>
             <%=currentRep.territory%>
         <%} else {%>
             N/A
         <%}%>
         </li>
      </ul>
   </div>

   <div class="col-xs-12">
     <ul class="pull-left img-rounded card">
         <li><strong>Status: </strong>
         <%if (currentRep && currentRep.status) {%>
             <%=currentRep.status%>
         <%} else {%>
             N/A
         <%}%>
         </li>
     </ul>

     <ul class="pull-left img-rounded card">
         <li><strong>current Rep ID: </strong>
         <%if (currentRep && currentRep.clientcurrentRepId) {%>
             <%=currentRep.clientcurrentRepId%>
         <%} else {%>
             N/A
         <%}%>
         </li>
     </ul>

     <ul class="pull-left img-rounded card">
         <li><strong>Hire Date: </strong>
         <%if (currentRep && currentRep.hireDate) {%>
             <%=currentRep.hireDate.toLocaleDateString()%>
         <%} else {%>
             N/A
         <%}%>
         </li>
     </ul>

     <ul class="pull-left img-rounded card">
         <li><strong>Territory Postal Codes: </strong>
         <%if (currentRep && currentRep.territoryZips) {%>
             <%=currentRep.territoryZips.replace(/,/g, ', ')%>
         <%} else {%>
             N/A
         <%}%>
         </li>
     </ul>
   </div>

   <!-- <div class="col-xs-12">
     <ul class="pull-left img-rounded card">
         <li><strong>IC Eligibility Date: </strong>
         <%if (currentRep && currentRep.icEligibilityDate) {%>
             <%=currentRep.icEligibilityDate.toLocaleDateString()%>
         <%} else {%>
             N/A
         <%}%>
         </li>
     </ul>

     <ul class="pull-left img-rounded card">
         <li><strong>Term Date: </strong>
         <%if (currentRep && currentRep.termDate) {%>
             <%=currentRep.termDate.toLocaleDateString()%>
         <%} else {%>
             N/A
         <%}%>
         </li>
     </ul>
   </div> -->

   <!-- <div class="col-xs-12">
     <ul class="pull-left img-rounded card">
         <li><strong>LOA Start Date: </strong>
         <%if (currentRep && currentRep.loaStart) {%>
             <%=currentRep.loaStart.toLocaleDateString()%>
         <%} else {%>
             N/A
         <%}%>
         </li>
     </ul>
     <ul class="pull-left img-rounded card">
         <li><strong>LOA End Date: </strong>
         <%if (currentRep && currentRep.loaEnd) {%>
             <%=currentRep.loaEnd.toLocaleDateString()%>
         <%} else {%>
             N/A
         <%}%>
         </li>
     </ul>
   </div> -->

</div> <!-- / row -->