<div class="row">
   <div class="col-md-6 col-md-offset-3">
   	<h3>We're sorry, but there was an error with your submission.  <a href='https://encompassmanager.com/eventregistration' >Please try again.</a></h3>
	<p><%= errorMessage%></p>
   </div>
</div>
