<%- partial('app/views/components/registration/license',{states:states, selectPrompt: selectPrompt, deleteFunction: 'deleteClonedRow(this,deleteElement)'}) %>

<div id="form_container">
	<div class="row steps">
	   <div class="col-xs-12">
	      <div class="panel panel-warning">
	         <div class="panel-heading">
	            <h3 class="panel-title">Event Details</h3>
	         </div>
	         
	        <div class="panel-body">
	         	<div class="form-inline row-space-xs">
	         		<div class="col-xs-3">
						<label>Date and Time </label><br>
					   	<% if (confirmedDate) { %>
					    	<%= confirmedDate%> at <%= currentEvent.eventStartTime %><br>
					    	(<%= currentEvent.timezone %> time)
					   	<% } %>
					</div>

					<div class="col-xs-4">
						<label>Presenter</label><br>
					   	<%= confirmedSpeaker.fullName %> <%= confirmedSpeaker.degrees %><br>
					   	<%= confirmedSpeaker.affiliation %><br>
					   	<%= confirmedSpeaker.city %>, <%= confirmedSpeaker.state %>
   					</div> <!-- / col -->

					<% if (confirmedVenue) { %>
		         		<div class="col-xs-4">
							<label>Venue </label><br>
						    <%= confirmedVenue.venueName %><br>
						    <%= confirmedVenue.addresses[0].address1 %><br>
						    <%if (confirmedVenue.addresses[0].address2){%>
						    	<%= confirmedVenue.addresses[0].address2 %><br>
						    <% } %>
						    <%= confirmedVenue.addresses[0].city %>, <%= confirmedVenue.addresses[0].state %> <%= confirmedVenue.addresses[0].postalCode %>
						</div>
					<%} else {%>
						<% if (currentEvent.eventType == 'Webinar Only') {%>
						<div class="col-xs-4">
							<label>Webinar Event </label><br>
						    Webinar Details Will Be Sent Via Confirmation Email
						</div>
						<%}%>
					<%}%>

					<div class="col-xs-8">
						<label>Host</label><br>
					   	<%= requestingRep.fullName %><br>
					   	Cell: <%= requestingRep.phone %><br>
					   	Email: <%= requestingRep.email %>
   					</div> <!-- / col -->
	         	</div> <!-- / form-inline -->

	        </div> <!-- / panel-body -->
	      </div> <!-- / panel -->
	   </div> <!-- / col -->
	</div> <!-- / row -->
</div>


<div id="form_container">
	<div class="row steps">
	   <div class="col-xs-12">
	      <div class="panel panel-warning">
	         <div class="panel-heading">
	            <h3 class="panel-title">Registration Details for Event Code: <%= eventCode %></h3>
	         </div>
	         
	         <div class="panel-body">
	           	<form id="registrationValidateForm" class="formular" action="/eventRegistration/submitAttendeeInfo" method="post">
		        
				<input type="hidden" name="clientId" value="<%=clientId%>">
	           		<input type="hidden" name="eventId" value="<%=eventId%>">
				<input type="hidden" name="programId" value="<%=programId%>"> 

				<div class="form-inline row-space-xs">
						<span class="required">* Denotes required Fields</span>
					</div>

		           	<div class="form-inline row-space-xs">
						<div class="form-group">
							<label for="FirstName"><span class="required">* </span>First Name:</label>
							<input type="text" class="js-registration-data form-control validate[required]" name="firstName" />
						</div>
						<div class="form-group">
							<label for="FirstName">Middle Name:</label>
							<input type="text" class="js-registration-data form-control " name="middleName" />
						</div>
						<div class="form-group">
							<label for="LastName"><span class="required">* </span>Last Name:</label>
							<input type="text" class="js-registration-data form-control validate[required]" name="lastName" />
						</div>
		            </div>
		            
		            <div class="form-inline row-space-xs">
		               <label><span class="required">* </span>Degree:</label>
		               <input type="checkbox" name="degrees[]" class="js-registration-degrees-data checkbox validate[minCheckbox[1]" value="MD"/>
		               <label class="CheckboxLabel" for="MD">MD</label>
		               <input type="checkbox" name="degrees[]" class="js-registration-degrees-data checkbox validate[minCheckbox[1]" value="PhD" />
		               <label class="CheckboxLabel" for="PhD">PhD</label>
		               <input type="checkbox" name="degrees[]" class="js-registration-degrees-data checkbox validate[minCheckbox[1]" value="DO" />
		               <label class="CheckboxLabel" for="DO">DO</label>
		               <input type="checkbox" name="degrees[]" class="js-registration-degrees-data checkbox validate[minCheckbox[1]" value="MS" />
		               <label class="CheckboxLabel" for="MS">MS</label>
		               <input type="checkbox" name="degrees[]" class="js-registration-degrees-data checkbox validate[minCheckbox[1]" value="MPH" />
		               <label class="CheckboxLabel" for="MPH">MPH</label>
		               <input type="checkbox" name="degrees[]" class="js-registration-degrees-data checkbox validate[minCheckbox[1]" value="PharmD" />
		               <label class="CheckboxLabel" for="PharmD">PharmD</label>
		               <input type="checkbox" name="degrees[]" class="js-registration-degrees-data checkbox validate[minCheckbox[1]" value="RPh" />
		               <label class="CheckboxLabel" for="RPh">RPh</label>
		               <label for=""></label>
		               <input type="checkbox" name="degrees[]" class="js-registration-degrees-data checkbox validate[minCheckbox[1]" value="MBChB" />
		               <label class="CheckboxLabel" for="MBChB">MBChB</label>
		               <input type="checkbox" name="degrees[]" class="js-registration-degrees-data checkbox validate[minCheckbox[1]" value="RN" />
		               <label class="CheckboxLabel" for="RN">RN</label>
		               <input type="checkbox" name="degrees[]" class="js-registration-degrees-data checkbox validate[minCheckbox[1]" value="NP" />
		               <label class="CheckboxLabel" for="NP">NP</label>
		               <input type="checkbox" name="degrees[]" class="js-registration-degrees-data checkbox validate[minCheckbox[1]" value="PA" />
		               <label class="CheckboxLabel" for="PA">PA</label>
		               <input type="checkbox" name="degrees[]" class="js-registration-degrees-data checkbox validate[minCheckbox[1]" value="MBA" />
		               <label class="CheckboxLabel" for="MBA">MBA</label>
		               <input id="OtherDegreeCheckbox" name="degrees[]" type="checkbox" class="js-registration-degrees-other-checkbox-data checkbox validate[minCheckbox[1]" value="Other" />
		               <label class="CheckboxLabel " for="Other">Other</label>
		               <input type="text" id="otherDegree" name="otherDegree" class="checkbox js-registration-degrees-other-data form-control validate[condRequired[OtherDegreeCheckbox]]">
		            </div>


						<div class="form-inline row-space-xs">
							<label for="NPI"><span class="required">* </span>National Provider Identifier (NPI):</label>
		               <input id="NPI" type="text" class="js-registration-npi-data form-control js-number-only" name="npi"/>
		               <label id="npiError" class="bg-danger" hidden>NPI number needs to be 10 digits long.</label>
						</div>


		           	<div class="form-inline row-space-xs separator">
							<label for="affiliation">Specialty: </label>
							<input type="text" class="js-registration-data form-control input-" name="specialty" />
						</div>

		            <div class="form-inline row-space-xs">
						<label for="affiliation"><span class="required">* </span>Affiliation Name / Practice Name: </label>
						<input type="text" class="js-registration-data form-control input-more-width validate[required]" name="affiliationName" />
					</div>

					<div class="form-inline row-space-xs">
						<label for="affiliation">Title: </label>
						<input type="text" class="js-registration-data form-control input-more-width" name="affiliationTitle" />
					</div>
					
					<div class="form-inline row-space-xs">
                       <div class="form-group">
                          <label for="address"><span class="required">* </span>Street Address: </label>
                          <input type="text" name="address1" class="js-registration-data form-control validate[required]" />
                       </div>
                       <div class="form-group">
                          <label for="address2">Address Line 2: </label>
                          <input type="text" name="address2" class="form-control js-registration-data"/>
                       </div>
                    </div>
					<div class="form-inline row-space-xs">
						<label for="city"><span class="required">* </span>City: </label>
						<input type="text" class="js-registration-data form-control validate[required]" name="addressCity" />
						<label for="state"><span class="required">* </span>State/Province: </label>
						<select class="js-registration-data state form-control validate[required]" name="addressState">
							<option disabled selected><%=selectPrompt%></option>
							<% for(var index in states) { %>
							<option><%= states[index].name %></option>
							<% } %>
						</select>
					</div>
					<div class="form-inline row-space-xs separator">
						<label for="postalCode"><span class="required">* </span>Postal Code: </label>
						<input type="text" name="addressPostalCode" class="form-control PostalCode js-registration-data validate[required]"/>
					</div>

						
					<div class="form-inline row-space-xs">
						<h4>Contact Information</h4>
						<label><span class="required">* </span>Office Phone:</label>
						<input id="phone1" name="phone1" class="js-registration-phone-data form-control validate[required]" size="3" maxlength="3" type="text"> -
						<input id="phone2" name="phone2" class="js-registration-phone-data form-control validate[required]" size="3" maxlength="3" type="text"> -
						<input id="phone3" name="phone3" class="js-registration-phone-data form-control validate[required]" size="4" maxlength="4" type="text"> 
					</div>

					<div class="form-inline row-space-xs">
						<label>Office Fax</label>
						<input id="fax1" name="fax1" class="js-registration-fax-data form-control" size="3" maxlength="3" type="text"> -
						<input id="fax2" name="fax2" class="js-registration-fax-data form-control" size="3" maxlength="3" type="text"> -
						<input id="fax3" name="fax3" class="js-registration-fax-data form-control" size="4" maxlength="4" type="text"> 
					</div>

					<div class="form-inline row-space-xs separator">
						<label><span class="required">* </span>Email Address:</label>
						<input name="email" class="js-registration-data form-control validate[required, custom[email] ]" type="text">
					</div>

					<div class="form-inline row-space-xs">
						<h4>License Information</h4>
						<div id="licenses" class="form-inline row-space-xs">
							<div class="js-add-button-container">
				            <div class="panel-body" data-clone="licenses">
				            <!-- clone element container-->
				            </div>
				            <!-- <button class="js-add-button Disable btn btn-primary" onclick='cloneRow(this,initRegistrationLicenseListeners,initRegistrationLicenseAddListener)' disabled>Add Another License</button> -->
					      </div>
						</div>
					</div>
					<label>As part of the Patient Protection and Affordable Care Act, if a meal is provided for this event,  The Curry Rockefeller Group, LLC, is required to report the cost of this meal. If you wish to opt out/decline the meal, please contact the Speaker Bureau at (866) 320-5679 or via e-mail at <a href="mailto:support@encompassmanager.com"> support@encompassmanager.com</a></label>
				</form>
	        </div> <!-- / panel-body -->
	      </div> <!-- / panel -->
	   </div> <!-- / col -->
	</div> <!-- / row -->
</div> <!-- Form Container -->

	
<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: null,
            nextButtonFunction: 'validateEventRegistrationForm(submitEventRegistration)',
            nextButtonLabel: "Register for this Event"
         })%>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->	
