<%- scriptLink('/js/global/global.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/registration/login.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/registration/registrationForm.js', {type:'text/javascript'}) %>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 id="PageTitle">Event Registration</h2>
        <h4 id="PageSubtitle2" ><span class="label label-info js-instructions">Please enter the code provided on the communication you received.</span></h4>
        <div class="form-group">
            <%- contentTag('input', params.registrationCode, {type:'text', class:'form-control', name:'registrationCode', id:'registrationCode', placeholder: 'Event code is case-sensitive'}) %>
        </div>

        <div class="form-group">
            <label id="error" class="bg-danger" hidden>The code you entered is not valid. Please verify the code entered and submit again.</label>
        </div>

        <div class="form-group">
            <%- contentTag('input', 'Submit', {type: 'submit', class: 'btn btn-primary btn-block', id:'submitEventRegistrationCodeBtn'}) %>
        </div>
    </div> <!-- col -->
</div> <!-- row -->