<%- partial('app/views/components/dialogs/deleteSelected') %>
<%- partial('app/views/components/dialogs/uploadFile') %>

<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-10">
            <h3><%=currentClient.name%> - <%=currentProgram.programName%> - Communications %></h3>
        </div>
        <div class="col-xs-2">
            <div class="pull-right">
                <button type="button" class="btn btn-info" onclick="createNewCommunication('<%= currentProgram.id%>')">New Communication</button>
            </div>
        </div>
    </div>
</div>

<div class="js-selection-container">
  <div class="row row-space-xs">
      <div class="col-xs-12">
        <div class="form-inline">
           <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
        </div>
     </div>
  </div>


  <!-- Table -->
  <div class="row">
     <div class="col-xs-12">
        <table class="mainTable">
           <thead>
              <tr class="info">
                <th class="filter-false sorter-false"><input type="checkbox" class="selectall"/></th>
                <th><span>Name</span></th>
                <th><span>File Name</span></th>
                <th><span>Notes</span></th>
                <th><span>Date Uploaded</span></th>
              </tr>
           </thead>
           <tbody>
            <% if (currentProgram.communications && currentProgram.communications.length > 0) { %>
              <% for (var i = 0, ii = currentProgram.communications.length; i < ii; i++) { %>
              <tr>
                <td class="checkBoxTd"><input type="checkbox" name="selectedcommunications[]" class="selectElement" value="<%= currentProgram.communications[i].pathToFile %>" /> </td>
                <td><%= currentProgram.communications[i].name%></td>
                <td><%= currentProgram.communications[i].pathToFile.slice(currentProgram.communications[i].pathToFile.lastIndexOf('/') + 1, currentProgram.communications[i].pathToFile.length)%></td>
                <td><%= currentProgram.communications[i].notes%></td>
                <td><%= currentProgram.communications[i].createdAt.toLocaleDateString()%></td>
               </tr>
              <%}%>
            <%}%>
           </tbody>
        </table>
     </div>
  </div>
</div>