<%- partial('app/views/components/dialogs/deleteSelected') %>

<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-10">
            <h3><%= currentClient.name%> - Programs %></h3>
        </div>
        <div class="col-xs-2">
            <div class="pull-right">
                <button type="button" class="btn btn-info" onclick="createNewProgram()">Create New Program</button>
            </div>
        </div>
    </div>
</div>

<% if (programs && programs.length > 0) {%> 
   <%- partial('app/views/components/search/advancedSearch', {searchProperties: searchProgramProperties, elementSearchArray:programs, actionURL:'/programs/search'}) %>
<% } %>


<div class="js-selection-container">
  <% if (session.get('userId') && ( (session.get('userRoleId') == geddy.constants.roles.SUPER_ADMIN.label ) ) ){ %>
    <!-- Display Programs -->
      <div class="row row-space-xs">
        <div class="col-xs-12">
          <div class="form-inline">
             <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
          </div>
       </div>
      </div>
   <%}%>

  <!-- Table -->
  <div class="row">
     <div class="col-xs-12">
        <table class="mainTable">
           <thead>
              <tr class="info">
                <th class="filter-false sorter-false" data-bind="&lt;input type='checkbox' name='selectedContacts[]' value='{id}'/&gt;">
                  <input type="checkbox" class="selectall"/>
                </th>
                <th data-bind="{programName}">Program Name</th>
                <th data-bind="{businessOwnerName}">Business Owner</th>
                <th data-bind="{programTypeName}">Type</th>
                <th data-bind="{name}">Date of Next Event</th>
                <th data-bind="{poNumber}">PO Number</th>
                <th data-bind="{crgJobNumber}">CRG Job Code</th>
              </tr>
           </thead>
           <tbody>
              <% for (var i = 0, ii = programs.length; i < ii; i++) { %>
              <tr>
                  <td class="checkBoxTd"><input type="checkbox" name="selectedPrograms[]" class="selectElement" value="<%=programs[i].id%>" /> </td>
                  <td><%=programs[i].programName%></td>
                  <td><%=programs[i].businessOwnerName%></td>

                  <td>
                    <%=programs[i].programTypeName%>
                  </td>
                  
                  <td><%=nextEvents[i]%></td>
                  <td><%=programs[i].poNumber%></td>
                  <td><%=programs[i].crgJobNumber%></td>
               </tr>
              <% } %>
           </tbody>
        </table>
     </div>
      <%-partial('app/views/components/pagination/paginationControl',{backPageFunction:'getElementListByPage',
            nextPageFunction:'getElementListByPage',
            currentPage:currentPage,
            totalPages:totalPages,
       }) %>
  </div>
</div>