<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 1 of 1",
   backButtonFunction: 'goProgramDetails()',
   nextButtonFunction: 'validateProgramStep1(goProgramDetails)',
   nextButtonLabel: 'Done'
   })
%>

<form id="ProgramStep1ValidateForm" class="formular">
   <div class="row steps">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h3 class="panel-title">Basic Info</h3>
            </div>
            <div class="panel-body">
               <div class="form-inline row-space-xs">
                  <div class="form-group">
                     <label>Name: </label>
                     <input type="text" class="programProperty form-control" name="programName" value="<%if(currentProgram){%><%=currentProgram.programName%><% }%>"/>
                  </div>
                  <div class="form-group">
                     <label>Type: </label>
                     <select name="programTypeId" class="programType form-control validate[required]">
                       <option value disabled selected><%=selectPrompt%></option>
                       <% for(var index in programTypes) { %>
                             <option id="<%= programTypes[index].id %>" <%if(currentProgram && (currentProgram.programTypeId == programTypes[index].id)){%>selected<%}%>><%= programTypes[index].programTypeName %></option>
                       <% } %> 
                     </select>
                  </div>
               </div>
               <div class="form-inline row-space-xs">
                  <div class="form-group">
                     <label>PO Number: </label>
                     <input type="text" class="programProperty form-control" name="poNumber" value="<%if(currentProgram){%><%=currentProgram.poNumber%><% }%>"/>
                  </div>
                  <div class="form-group">
                     <label>CRG Job Number: </label>
                     <input type="text" class="programProperty form-control" name="crgJobNumber" value="<%if(currentProgram){%><%=currentProgram.crgJobNumber%><% }%>"/>
                  </div>
                  <div class="form-group">
                     <label><span class="required">* </span>CRG Program Manager: </label>
                     <select name="crgProgramManager" class="crgProgramManager form-control validate[required]">
                        <option value disabled selected><%=selectPrompt%></option>
                        <% for(var index in crgUsers) { %>
                              <option id="<%= crgUsers[index].id %>" <%if(currentProgram && (currentProgram.crgProgramManager == crgUsers[index].id)){%>selected<%}%> >
                                 <%= crgUsers[index].firstName %> <%= crgUsers[index].lastName %>
                              </option>
                        <% } %> 
                     </select>
                  </div>
                  
               </div>
               <div class="form-inline row-space-xs">
                  <div class="form-group">
                     <label>Business Owner: </label>
                     <input type="text" class="businessOwnerName form-control" name="businessOwnerName" value="<%if(currentProgram && currentProgram.businessOwnerName){%><%=currentProgram.businessOwnerName%><% }%>"/>
                  </div>

                  <div class="form-group">
                     <label><span class="required">* </span>Client Email: </label>
                     <input type="text" class="programProperty form-control" name="programClientEmail" value="<%if(currentProgram){%><%=currentProgram.programClientEmail%><% }%>"/>
                  </div>
               </div>
               <div class="form">
                  <div class="form-group">
                     <label>Business Owner Description/Role: </label>
                     <textarea class="businessOwnerDescription form-control" rows="3" name="businessOwnerDescription"><%if(currentProgram && currentProgram.businessOwnerDescription){%><%=currentProgram.businessOwnerDescription%><%}%></textarea>
                  </div>
               </div>
               <div class="form">
                  <div class="form-group">
                     <label>Program Notes: </label>
                     <textarea class="programProperty form-control" rows="3" name="programNotes"><%if(currentProgram){%><%=currentProgram.programNotes%><% }%></textarea>
                  </div>
               </div>
          </div> <!-- / panel-body -->
         </div> <!-- / panel -->

          <div class="panel panel-warning">
            <div class="panel-heading">
               <h3 class="panel-title">Options</h3>
            </div>
            <div class="panel-body">
               <div class="form-inline row-space-xs">
                     <label>Event Types: </label>
                     <% for(var index in eventTypes) { %>
                        <input type="checkbox" name="eventTypes[]" class="js_eventTypeGroup checkbox validate[minCheckbox[1]]" value=" <%=eventTypes[index].type%>" 
                        <% if (currentProgram && currentProgram.eventTypes && currentProgram.eventTypes.indexOf(eventTypes[index].type) != -1) { %>
                         checked 
                        <% } %>
                        /><label class="CheckboxLabel" for="<%=eventTypes[index].type%>"><%=eventTypes[index].type%></label>
                     <% } %>

               </div>

               <div class="form-inline row-space-xs">
                     <label>Invitation Delivery Types: </label><br>
                     <% for(var index in invitationDeliveries) { %>
                        <input type="checkbox" name="invitationDeliveries[]" class="js_invitationDeliveriesGroup checkbox validate[minCheckbox[1]]" value=" <%=invitationDeliveries[index].type%>" 
                        <% if (currentProgram && currentProgram.invitationDeliveries && currentProgram.invitationDeliveries.indexOf(invitationDeliveries[index].type) != -1) { %>
                         checked 
                        <% } %>
                        /><label class="CheckboxLabel" for="<%=invitationDeliveries[index].type%>"><%=invitationDeliveries[index].type%></label><br>
                     <% } %>

               </div>

               <div class="form-inline row-space-xs">
                     <label>Require Venue Information Always (regardless of event type selection): </label><br>
                        <input type="checkbox" name="requireVenueInfo[]" class="js_venueRequired checkbox" value="Yes Require" 
                        <% if (currentProgram && currentProgram.requireVenueInfo == 'Yes Require'){ %>
                         checked 
                        <% } %>
                        /><label class="CheckboxLabel" for="Yes">Yes</label>
               </div>
            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->
</form>
   
<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goProgramDetails()',
            nextButtonFunction: 'goProgramDetails()',
            nextButtonLabel: 'Done'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row --> 
