<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-10">
            <h3><%=currentClient.name%> - <%=currentProgram.programName%> - Reps %></h3>
        </div>
    </div>
</div>

<!-- Advanced Search -->
<% if (reps && reps.length > 0) {%> 
    <%- partial('app/views/components/search/advancedSearch', {searchProperties: searchRepProperties, elementSearchArray:reps, actionURL:'/reps/search'}) %>
<% } %>

<!-- Table -->
<div class="row">
   <div class="col-xs-12">
      <div class="table-sorter-wrapper">
        <table class="mainTable">
         <thead>
            <tr class="info">
              <th class="filter-false sorter-false" data-bind="&lt;input type='checkbox' name='selectedReps[]' class='selectElement' value='{id}'/&gt;">Active</th>
              <th data-bind="{lastName}"><span>Last Name</span></th>
              <th data-bind="{firstName}"><span>First Name</span></th>
              <th data-bind="{region}">Region</th>
              <th data-bind="{territoryName}">Territory</th>
              <th data-bind="{role}">Role</th>
              <th data-bind="{status}">Status</th>
            </tr>
         </thead>
         <tbody>
          <% if (reps && reps.length > 0) { %>
            <% for (var i = 0, ii = reps.length; i < ii; i++) { %>
            <tr>
              <td class="checkBoxTd"><input type="checkbox" name="selectedReps[]" class="selectElement" value="<%= reps[i].id %>" 
                  <%if (currentProgram.reps && currentProgram.reps.indexOf(reps[i].id) != -1) {%> checked <% } %>
                /> </td>
              <td><%= reps[i].lastName%></td>
              <td><%= reps[i].firstName%></td>
              <td> <%= reps[i].region%></td>
              <td><%= reps[i].territoryName%></td>
              <td><%= reps[i].role%> </td>
              <td><%= reps[i].status%></td>
             </tr>
            <%}%>
          <%}%>
         </tbody>
      </table>
   </div>
   <%- partial('app/views/components/pagination/paginationControl',{backPageFunction:'getElementListByPage',
    nextPageFunction:'getElementListByPage',
    currentPage:currentPage,
    totalPages:totalPages,
   }) %>
   </div>
</div>