<%- partial('app/views/components/dialogs/deleteSelected') %>
<%- partial('app/views/components/dialogs/uploadFile') %>

<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-10">
            <h3><%=currentClient.name%> - <%=currentProgram.programName%> - Resources %></h3>
        </div>
        <div class="col-xs-2">
            <div class="pull-right">
                <button type="button" class="btn btn-info" onclick="createNewProgramResource('<%= currentProgram.id%>')">Upload New Resource</button>
            </div>
        </div>
    </div>
</div>

<div class="js-selection-container">
  <div class="row row-space-xs">
      <div class="col-xs-12">
        <div class="form-inline">
           <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
        </div>
     </div>
  </div>


  <!-- Table -->
  <div class="row">
     <div class="col-xs-12">
        <table class="mainTable">
           <thead>
              <tr class="info">
                <th class="filter-false sorter-false"><input type="checkbox" class="selectall"/></th>
                <th><span>Name</span></th>
                <th><span>File Name</span></th>
                <th><span>Notes</span></th>
                <th><span>Date Uploaded</span></th>
              </tr>
           </thead>
           <tbody>
            <% if (currentProgram.resources && currentProgram.resources.length > 0) { %>
              <% for (var i = 0, ii = currentProgram.resources.length; i < ii; i++) { %>
              <tr>
                <td class="checkBoxTd" data-path="<%= currentProgram.resources[i].pathToFile %>" data-displayName='<%=currentProgram.resources[i].name%>'><input type="checkbox" class="selectElement"/> </td>
                <td>
                  <% if (currentProgram.resources[i].pathToFile.indexOf('.key') != -1){ %>
                       <a href="<%= currentProgram.resources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentProgram.resources[i].name%></a>
                  <%} else {%>
                     <%= currentProgram.resources[i].name%>
                  <%}%>
               </td>
                <td>
                  <% if (currentProgram.resources[i].pathToFile.indexOf('.key') != -1){ %>
                       <a href="<%= currentProgram.resources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentProgram.resources[i].pathToFile.slice(currentProgram.resources[i].pathToFile.lastIndexOf('/') + 1, currentProgram.resources[i].pathToFile.length)%></a>
                  <%} else {%>
                     <%= currentProgram.resources[i].pathToFile.slice(currentProgram.resources[i].pathToFile.lastIndexOf('/') + 1, currentProgram.resources[i].pathToFile.length)%>
                  <%}%>
               </td>
                <td>
                  <% if (currentProgram.resources[i].pathToFile.indexOf('.key') != -1){ %>
                       <a href="<%= currentProgram.resources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentProgram.resources[i].notes%></a>
                  <%} else {%>
                     <%= currentProgram.resources[i].notes%>
                  <%}%>
               </td>
                <td>
                  <% if (currentProgram.resources[i].pathToFile.indexOf('.key') != -1){ %>
                       <a href="<%= currentProgram.resources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentProgram.resources[i].createdAt.toLocaleDateString()%></a>
                  <%} else {%>
                     <%= currentProgram.resources[i].createdAt.toLocaleDateString()%>
                  <%}%>
               </td>
               </tr>
              <%}%>
            <%}%>
           </tbody>
        </table>
     </div>
  </div>
</div>