<div class="row">
   <div class="col-xs-12">
      <div class="row alert alert-info">
         <div class="col-xs-6">
            <h3><%=session.get('currentProgram').programName%></h3>
         </div>
         <div class="col-xs-6">
            <div class="pull-right">
               <button id="editContactBtn" class="btn btn-info" onclick="editProgram()" <% if (editing == true){%> disabled <%}%>>Edit</button>
            </div>
         </div>
      </div>
   </div>
</div>

<% if (editing) {%>
<div class="row">
   <div class="col-xs-12">
      <label class='bg-danger'>Currently being edited by: <%= editor %></label>
   </div>
</div>
<%}%>

<div class="row row-space-xs row-separator">
   <div class="col-xs-12">
      <%if (session.get('currentProgram').poNumber) {%>
         <strong>PO Number:</strong> <%= session.get('currentProgram').poNumber %><br/>
      <%}%>
      <%if (session.get('currentProgram').crgJobNumber) {%>
         <strong>CRG Job Number:</strong> <%= session.get('currentProgram').crgJobNumber %><br/>
      <%}%>
   </div>
</div>

<div class="row row-space-xs row-separator">
   <div class="col-xs-6">
      <h3>Program Type</h3>
      <%if (session.get('currentProgram').programTypeId){%>
         <%for (var index in programTypes) {%>
            <%if (programTypes[index].id == session.get('currentProgram').programTypeId) {%>
               <ul class="pull-left img-rounded card">
                  <%=programTypes[index].programTypeName %>
               </ul>
            <%}%>
         <%}%>
      <%} else {%>
         <h4><span class="label label-default">No program type selected</span></h4>
      <%}%>
   </div>

   <%if (session.get('currentProgram').programNotes){%>
      <div class="col-xs-6">
         <h3>Program Notes</h3>
            <ul class="pull-left img-rounded card">
               <%=session.get('currentProgram').programNotes %>
            </ul>
      </div>
   <%}%>
</div>

<div class="row row-space-xs row-separator">
   <div class="col-xs-6">
      <h3>Event Types</h3>
      <%if (session.get('currentProgram').eventTypes){%>
            <ul class="pull-left img-rounded card">
               <%=session.get('currentProgram').eventTypes %>
            </ul>
      <%} else {%>
         <h4><span class="label label-default">No event types selected</span></h4>
      <%}%>
   </div>
</div>


<div class="row row-space-xs row-separator">
   <div class="col-xs-12">
      <h3>Business Owner</h3>
      <%if (session.get('currentProgram').businessOwnerName){%>
         <ul class="pull-left img-rounded card">
            <%= session.get('currentProgram').businessOwnerName %>
         </ul>
      <%} else {%>
         <h4><span class="label label-default">No business owner provided</span></h4>
      <%}%>
   </div>
</div>

<div class="row row-space-xs row-separator">
   <div class="col-xs-12">
      <h3>Business Owner Description</h3>
      <%if (session.get('currentProgram').businessOwnerDescription){%>
         <ul class="pull-left img-rounded card">
            <%= session.get('currentProgram').businessOwnerDescription %>
         </ul>
      <%} else {%>
         <h4><span class="label label-default">No business owner description provided</span></h4>
      <%}%>
   </div>
</div>
