<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-12">
            <h3><%=currentClient.name%> - <%=currentProgram.programName%> - Speakers %></h3>
        </div>
    </div>
</div>

<!-- Advanced Search -->
<% if (contacts && contacts.length > 0) {%> 
  <%- partial('app/views/components/search/advancedSearch', {searchProperties: searchContactProperties, elementSearchArray:contacts, actionURL:'/programs/speakerSearch'}) %>
<% } %>

<!-- Table -->
<div class="row">
   <div class="col-xs-12">
    <div class="table-sorter-wrapper">
      <table class="mainTable">
         <thead>
            <tr class="info" data-bind='{id}'>
              <th class="filter-false sorter-false" data-bind="<button type='button' class='btn {btnClassType} btn-xs' onClick='uploadContract({id})'>{contractAction} Contract</button>">Contract</th>
              <th data-bind="{lastName}"><span>Last Name</span></th>
              <th data-bind="{firstName}"><span>First Name</span></th>
              <th data-bind="{specialties.*}"><span>Specialty</span></th>
              <th data-bind="{affiliations.*.affiliationName}">Affiliation</th>
              <th data-bind="{addresses[0].city}">City</th>
              <th data-bind="{addresses[0].state}">State</th>
              <th data-bind="{addresses[0].postalCode}">Country</th>
            </tr>
         </thead>
         <tbody>
          <% if (contacts && contacts.length > 0) { %>
            <% for (var i = 0, ii = contacts.length; i < ii; i++) { %>
            <tr>
              <td class="buttonTd">
                <% var foundOne = -1;%>
                <% if (contacts[i].contracts && contacts[i].contracts.length > 0) { %>
                  <% for (var j = 0, jj = progContracts.length; j < jj; j++) { %>
                    <% foundOne = contacts[i].contracts.indexOf(progContracts[j].id); if (foundOne != -1) { break; }%>
                  <% } %>
                <% } %>
                <% if (foundOne != -1) { %>
                  <button type="button" class="btn btn-primary btn-xs js-update" onClick="updateContract('<%=contacts[i].id %>', '<%=contacts[i].contracts[foundOne] %>')">Update Contract</button>
                <% } else { %>
                  <button type="button" class="btn btn-info btn-xs js-upload" onClick="uploadContract('<%=contacts[i].id %>')">Upload Contract</button>
                <% } %>
              </td>
              <td><%= contacts[i].lastName%></td>
              <td><%= contacts[i].firstName%></td>
              <td> <% if (contacts[i].specialties) {%>
                    <% for (var j=0,  jj = contacts[i].specialties.length; j < jj; j++) { %>
                      <%=contacts[i].specialties[j]%>
                      <br />
                    <% } %>
                  <% } %></td>
              <td><% if (contacts[i].affiliations) {%>
                      <% for (var j=0,  jj = contacts[i].affiliations.length; j < jj; j++) { %>
                        <%=contacts[i].affiliations[j].affiliationName%>
                        <br />
                      <% } %>
                    <% } %></td>
              <td> <% if (contacts[i].addresses) {%>
                    <%=contacts[i].addresses[0].city%>
                    <% } %></td>
              <td><% if (contacts[i].addresses) {%>
                    <%=contacts[i].addresses[0].state%>
                    <% } %></td>
              <td> <% if (contacts[i].addresses && contacts[i].addresses[0].postalCode) { %>
                        <%=contacts[i].addresses[0].postalCode%>
                  <% } %>
              </td>
             </tr>
            <%}%>
          <%}%>
         </tbody>
      </table>
   </div>
    <%- partial('app/views/components/pagination/paginationControl',{backPageFunction:'getElementListByPage',
    nextPageFunction:'getElementListByPage',
    currentPage:currentPage,
    totalPages:totalPages,
    })%>
   </div>
</div>