<ul class="pager js-pager <%if (totalPages < 2) {%>hidden <%}%>">
   <li class="js-page-back-button disabled" ><a onclick=<%=backPageFunction%>(this,-1)>Previous</a></li>
   <li class="js-page-label"><%=currentPage%> / <%=totalPages%></li>
   <li class="js-page-next-button"><a onclick=<%=nextPageFunction%>(this,1)>Next</a></li>
</ul>