<!--       <div class="control-group" >
        <label for="username" class="control-label">Username</label>
        <div class="controls">
          <%- contentTag('input', user.username, {type:'text', class:'span6', name:'username'}) %>
        </div>
      </div> -->

      <!-- we don't use the password field here, but we need it to be able to create user in DB.  Password gets created by user during activation -->
      <div class="control-group" hidden>
        <label for="password" class="control-label">Password</label>
        <div class="controls">
          <%- contentTag('input', user.password, {type:'password', class:'span6 ', name:'password', value:user.password}) %>
        </div>
      </div>
      <div class="control-group" hidden>
        <label for="confirmPassword" class="control-label">Confirm Password</label>
        <div class="controls">
          <%- contentTag('input', user.confirmPassword, {type:'password', class:'span6', name:'confirmPassword', value:user.password}) %>
        </div>
      </div>
      <div class="control-group">
        <label for="email" class="control-label">Email</label>
        <div class="controls">
          <%- contentTag('input', user.email, {type:'text', class:'span6', name:'email'}) %>
        </div>
      </div>
      <div class="control-group">
        <label for="firstName" class="control-label">First Name</label>
        <div class="controls">
          <%- contentTag('input', user.firstName, {type:'text', class:'span6', name:'firstName'}) %>
        </div>
      </div>
      <div class="control-group">
        <label for="lastName" class="control-label">Last Name</label>
        <div class="controls">
          <%- contentTag('input', user.lastName, {type:'text', class:'span6', name:'lastName'}) %>
        </div>
      </div>
      <div class="control-group">
        <label for="ccEmail" class="control-label">CC Email</label>
        <div class="controls">
          <%- contentTag('input', user.ccEmail, {type:'text', class:'span6', name:'ccEmail'}) %>
        </div>
      </div>
      <div class="control-group">
        <label for="signature" class="control-label">Signature</label>
        <div class="controls">
         <%- contentTag('textarea', user.signature, {class: 'span6', name: 'signature', rows: 6}) %>
        </div>
      </div>
      
      <div class="control-group">
		    <label for="role" class="control-label">Roles</label>
	  	  <div>
          <select id="roleSelector" name="roleId">
            <% for(var index in roles) { %>
               <option value="<%= roles[index].label %>" 
                <% if (roles[index].label == user.roleId) {%>selected <% } %>><%= roles[index].label; %></option>
            <% } %>
          </select>

          <select id="clientsList" name="clientId" hidden>
            <% for(var clientIndex in clients) { %>
               <option value="<%= clients[clientIndex].id %>" 
                <% if (clients[clientIndex].id == user.clientId) {%>selected <% } %>><%= clients[clientIndex].name; %></option>
            <% } %>
          </select>
  	  	</div>
	    </div>

    <div class="control-group">
        <label for="picture" class="control-label">Photo</label>
        <div class="controls">
         <%if (user.roleId == "KOL") {%>
          <img id="photoThumbImgForm" class="PhotoThumb" width="125" height="125"/>
         <%} else {%>
           <a href="#" id="PhotoThumbUpload" onclick='openFileOption("<%= user.id %>")'>
            <img id="photoThumbImgForm" class="PhotoThumb" width="125" height="125"/>
            <br>Add/edit photo
            </a> 
            <input type="file" id="Photo" style="display:none">  
         <% } %>

               
        </div>
      </div>