<div class="row">
   <div class="col-xs-12">
      <div class="row alert alert-info">
         <div class="col-xs-12">
            <h3>Create a new User</h3>
         </div>
      </div>
   </div>
</div>

<div class="hero-unit">
  <form id="user-form" class="form-horizontal" action="<%= usersPath %>" method="POST">
    <fieldset>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>
      <%= partial('_form', {user: params,roles:roles, clients: clients}); %>
      <div class="form-actions">
        <%- contentTag('input', 'Save User', {type: 'submit', class: 'btn btn-primary'}) %>
      </div>
    </fieldset>
  </form>
</div>
</div>