
<%- scriptLink('/js/users/confirmUser.js', {type:'text/javascript'}) %>
<div class="row">
   <div class="login col-md-6 col-md-offset-3">
      <form id="ConfirmUserForm" class="formular" action="/users/confirmUser" method="POST" onsubmit="validateConfirmUser()">
         <h2 id="PageTitle">Account Validated</h2>
         <h5>Your account has been validated Please create a new password for your account.</h5>
         <h5>Your password must be at least 6 characters and include at least one upper case, a number, and a special character from this set ( ` ~ ! @ # $ % ^ & * ( ) _ - = + { } [ ] \ | : ; " ' < > , . ? /)</h5>
         <%- contentTag('input', params.password, {type:'password', class:'form-control validate[required,equals[PasswordConfirmation]]', placeholder:'Password', name:'password', id:'Password'}) %>
         <%- contentTag('input', params.password, {type:'password', class:'form-control validate[required,equals[Password]]', placeholder:'Password Confirmation', name:'passwordConfirmation', id:'PasswordConfirmation'}) %>
         <%- contentTag('input', 'Submit', {type: 'submit', class: 'btn btn-primary btn-block', id:'SubmitButton',  name:"setPassword"}) %>
      </form>
   </div>
</div>