<div class="row">
   <div class="col-md-6 col-md-offset-3">
      <p>A message has been sent to the registered email address for this account.</p>
      <p>Please use the link provided in the email to create a new password.</p>
      <p>Thank you.</p>
   </div>
</div>