<%- scriptLink('/js/global/global.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/users/users.js', {type:'text/javascript'}) %>

<%- partial('app/views/components/dialogs/deleteSelected') %>

<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-6">
                <h3>Users</h3>
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                    <button class="btn btn-info" onclick="createNewUser()">Create a new User</button>
               	    <button class="btn btn-info" onclick="updateEmailsBulk()">Update BDSI emails</button>
		 </div>
            </div>
        </div>
    </div> <!-- col -->
</div> <!-- / row -->

<div class="js-selection-container">
    <div class="row row-space-xs">
        <div class="col-xs-12">
          <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
       </div> <!-- col -->
    </div> <!-- row -->

    <div class="row">
        <div class="col-xs-12">
            <table class="mainTable">
                <thead>
                    <tr class="info">
                        <th data-bind="&lt;input type='checkbox' value='{id}'/&gt;">
                            <input type="checkbox" class="selectall" />
                        </th>
                        <th data-bind="{lastName}">Role</th>
                        <th data-bind="{lastName}">Last Name</th>
                        <th data-bind="{firstName}">First Name</th>
                        <th data-bind="{email}">Email</th>
                        <th data-bind="{ccEmail}">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0, ii = users.length; i < ii; i++) { %>
                    <tr>
                        <td class="checkBoxTd">
                            <input type="checkbox" class="selectElement" value="<%=users[i].id%>" data-photo='<%= users[i].photo%>' />
                        </td>
                        <td><%=users[i].roleId%></td>
                        <td><%=users[i].lastName%></td>
                        <td><%=users[i].firstName%></td>
                        <td><%=users[i].email%></td>
                        <td>
                            <% if (!users[i].state) { %>
                                Pending Confirmation
                            <% } else {%>
                              <% for(var index in geddy.constants.userState) { %>
                                <% if (geddy.constants.userState[index] == users[i].state) { %>
                                    <%= index %>
                                <% } %>
                              <% } %>
                          <% } %>
                           
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div> <!-- table -->
</div>
