<div class="row">
   <div class="login col-md-6 col-md-offset-3">
      <form id="AccessForm" action="/users/confirmUser" method="POST">
         <h2 id="PageTitle">Log in</h2>
         <%- contentTag('input', params.password, {type:'password', class:'form-control', placeholder:'Password', name:'password', id:'Password'}) %>
         <%- contentTag('input', params.password, {type:'password', class:'form-control', placeholder:'Password Confirmation', name:'passwordConfirmation', id:'PasswordConfirmation'}) %>
         <%- contentTag('input', 'Submit', {type: 'submit', class: 'btn btn-primary btn-block', id:'SubmitButton',  name:"setPassword"}) %>
      </form>
   </div>
</div>