<div class="row">
   <div class="col-xs-12">
      <div class="row alert alert-info">
         <div class="col-xs-6">
            <h3>User Details</h3>
         </div>
         <div class="col-xs-6">
            <div class="pull-right">
               <button id="updatePasswordBtn" class="btn btn-info" onclick='showUserPassword("<%= user.email %>")'>Update Password</button>
               <button id="resetPasswordBtn" class="btn btn-info" onclick='resetUserPassword("<%= user.email %>")'>Reset Password</button>
               <button id="editContactBtn" class="btn btn-info" onclick='editUser("<%= user.id %>", "<%= user.photo %>")'>Edit</button>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="passwordreset" style="display: none;" class="row">
<div class="col-xs-12">
<div class="col-xs-6">
            
         </div>
         <div class="col-xs-2">
            <label>Enter Password</label>
                <input type="password" id="userResetPassword" name="password"><br>
                <input type="checkbox" onchange="document.getElementById('userResetPassword').type = this.checked ? 'text' : 'password'"> Show password
            </div><div class="col-xs-2	">
            <label>Retype Password</label>
                <input type="password" name="rpassword">	
              </div><div class="col-xs-2	">
                <button class="btn btn-info" onclick='updateUserPassword("<%= user.email %>")'>Save</button>

        </div>
</div></div>
<div class="row row-space-md">
   <div class="col-xs-12">
      <img id="photoThumbImgShow" class="PhotoThumb" width="125" height="125" />
      <h2>
         <%= user.firstName %>
         <%= user.lastName %>
      </h2>
      <span class="badge lg alert-warning"><%= user.roleId %></span>
      <br><br>
      <h4 class="text-warning">
         Information:
      </h4>
      <dl class="dl-horizontal">
         <dt>Created on:</dt>
         <dd><%=user.createdAt.toLocaleDateString()%></dd>
         <dt>Updated on:</dt>
         <dd><%=user.createdAt.toLocaleDateString()%></dd>
         <dt>Email:</dt>
         <dd><%=user.email%></dd>
         <dt>CC Email:</dt>
         <dd><%=user.ccEmail%></dd>
         <dt>Signature:</dt>
         <dd><%=user.signature%></dd>
      </dl>
   </div> <!-- col -->
</div> <!-- / row -->