<div class="row">
   <div class="col-md-6 col-md-offset-3">
      <p>A message has been sent to the registered email address for this account.</p>
      <p>Please use the link provided in that email to validate your account and access the <%=session.get("companyName")%> portal.</p>
      <p>Thank you.</p>
   </div>
</div>