<% if (backButtonFunction != null) { %>
   <button class="btn btn-primary" onclick=<%=backButtonFunction%>>
      <span class="glyphicon glyphicon-chevron-left"></span>
      Back
   </button>
<% } %>
<% if (nextButtonFunction != null) { %>
   <button class="btn btn-primary js-next" onclick=<%=nextButtonFunction%>>
   	<% if((typeof nextButtonLabel == 'undefined') || (nextButtonLabel == null)) { %>
   		Next
         <span class="glyphicon glyphicon-chevron-right"></span>
   	<% }else{ %>
   		<%=nextButtonLabel%>
   	<% } %>
   </button>
<% } %>