<!-- the class template must be propertyTemplate name-->
<div class="emailAddressesTemplate separator hidden js-row">
   <input value="0" class="js-index hidden form-control"/>
   <div class="form-inline row-space-xs">
      <label for="Email">Email Address:</label>
      <input data-bindCloned="email" type="text" name="email" class="js-email-element js-element form-control"/>
   	  <%- partial('app/views/components/steps/deleteButton',{deleteFunction:deleteFunction}) %>
   </div>
</div>