<div class="row">
   <div class="col-xs-12">
      <div class="row alert alert-warning">
         <div class="col-xs-9">
            <h3><%=headerTitle%></h3>
         </div>
         <div class="col-xs-3">
            <div class="pull-right">
               <% if ( (typeof nextButtonLabel == 'undefined') || (nextButtonLabel == null ) ) {%>
                  <%- partial('app/views/components/steps/control', {
                     backButtonFunction: backButtonFunction,
                     nextButtonFunction: nextButtonFunction,
                     nextButtonLabel: null
                  }) %>
               <%}else{%>
                  <%- partial('app/views/components/steps/control', {
                     backButtonFunction: backButtonFunction,
                     nextButtonFunction: nextButtonFunction,
                     nextButtonLabel: nextButtonLabel
                  }) %>
               <%}%>
            </div>
         </div>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->