<!-- the class template must be propertyTemplate name-->
<div class="form-inline row-space-xs servicesTemplate separator hidden js-row"> 
	<input value="0" class="js-index hidden form-control"/>
	<div class="form-group">
	  <label for="">Service: </label>
	  <select name="serviceName" class="js-event-service-element form-control" data-bindCloned="serviceName">
	     <option disabled selected>Please Select One</option>
	     <% for(var index in services) { %>
        	<option><%=services[index].serviceName%></option>
         <% } %>
	  </select>
	</div>
	<div class="form-group">
	  <label for="">Percentage:</label>
	  <input data-bindCloned="percentage" type="text" name="percentage" class="js-event-service-element form-control" />
	</div>
	<div class="form-group">
	  <label for=""># of Hours:</label>
	  <input data-bindCloned="numberHours" type="text" name="numberHours" class="js-event-service-element form-control" />
	</div>
	<%- partial('app/views/components/steps/deleteButton',{deleteFunction:deleteFunction}) %>
</div>	
