<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-6">
            <h3>Video Resource: <%= displayName%></h3>
        </div>
    </div>
</div>

<div class="row steps text-center">
	 <video id="vid" width="640" height="360" controls>
		<source id="videoSource" src="<%=videoSource%>" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
	 <video>
</div> 
