<%- partial ('app/views/components/steps/header', {
   headerTitle: stepTitle + "Basic Information - Step 1 of 3",
   backButtonFunction: 'goClientDetails()',
   nextButtonFunction: 'goClientStep2()'
   })
%>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Basic Info</h3>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="CurrentName">Company Name: </label>
                  <input type="text" class="ClientProperty form-control input-more-width" name="name" value="<%if(currentClient){%><%=currentClient.name%><%}%>">
               </div>
            </div>
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="CurrentCrgCode">CRG Prefix Code: </label>
                  <input type="text" class="ClientProperty form-control" name="crgPrefixCode" value="<%if(currentClient){%><%=currentClient.crgPrefixCode%><%}%>">
               </div>
               <div class="form-group">
                  <label for="CurrentCrgCode">CRG Business Development Name: </label>
                  <input type="text" class="ClientProperty form-control" name="crgBusinessDevelopmentName" value="<%if(currentClient){%><%=currentClient.crgBusinessDevelopmentName%><%}%>">
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="CurrentCrgCode">Communications Email Address: </label>
                  <input type="text" class="ClientProperty form-control input-more-width" name="email" value="<%if(currentClient){%><%=currentClient.email%><%}%>">
               </div>
            </div>

            <div class="form-inline  separator row-space-xs">
               <div class="form-group">
                  <h5><span class="label label-default">Brand(s)</span></h5>
                  <div id="BrandContainer" class="js-add-button-container">
                     <%if (currentClient && currentClient.brands && currentClient.brands.length > 0) {%>
                        <%for (var index in currentClient.brands) {%>
                           <div class="FormRowBackground js-client-contact-row">
                              <input value="<%=index%>" class="index hidden form-control">
                              <div class="form-inline row-space-xs">
                                 <label for="brandName">Brand Name: </label>
                                 <input class="brandElement form-control js-element" type="text" name="brandName" value="<%=currentClient.brands[index].brandName%>">
                                 <%if (currentClient.brands.length > 1) {%>
                                    <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteBrand(this)'>X</button>
                                 <%}%>
                              </div>
                           </div>
                        <%}%>
                        <button class="addButton btn btn-sm btn-primary" onclick='javascript:addBrand(this)'>Add Another Brand</button>
                     <%}else{%>
                        <div class="FormRowBackground js-client-contact-row">
                           <input value="0" class="index hidden form-control">
                           <div class="form-inline row-space-xs">
                              <label for="BrandName">Brand Name: </label>
                              <input type="text" name="brandName" class="brandElement form-control">
                           </div>
                        </div>
                        <input id="AddBrandButton" class="addButton Disable btn btn-sm btn-primary" type="button" value="Add Another Brand" onclick='javascript:addBrand(this)' disabled>
                     <%}%>
                  </div>
               </div>

               <div class="form-group">
                  <h5><span class="label label-default">Presentation Title(s)</span></h5>
                  <div id="TitleContainer" class="js-add-button-container">
                     <%if (currentClient && currentClient.presentationTitles && currentClient.presentationTitles.length > 0) {%>
                        <%for (var index in currentClient.presentationTitles) {%>
                           <div class="FormRowBackground js-client-contact-row">
                              <input value="<%=index%>" class="index hidden form-control">
                              <div class="form-inline row-space-xs">
                                 <label for="titleName">Presentation Title: </label>
                                 <input class="presentationTitleElement form-control js-element" type="text" name="titleName" value="<%=currentClient.presentationTitles[index].titleName%>">
                                 <%if (currentClient.presentationTitles.length > 1) {%>
                                    <button class="DeleteButtonX btn btn-danger" onclick='javascript:deletePresentationTitle(this)'>X</button>
                                 <%}%>
                              </div>
                           </div>
                        <%}%>
                        <button class="addButton btn btn-sm btn-primary" onclick='javascript:addPresentationTitle(this)'>Add Another Presentation Title</button>
                     <%}else{%>
                        <div class="FormRowBackground js-client-contact-row">
                           <input value="0" class="index hidden form-control">
                           <div class="form-inline row-space-xs">
                              <label for="PresentationTitle">Presentation Title: </label>
                              <input type="text" name="titleName" class="presentationTitleElement form-control">
                           </div>
                        </div>
                        <input id="AddPresentationTitleButton" class="addButton Disable btn btn-sm btn-primary" type="button" value="Add Another Presentation Title" onclick='javascript:addPresentationTitle(this)' disabled>
                     <%}%>
                  </div>
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <h5><span class="label label-default">Product(s)</span></h5>
                  <div id="ProductContainer" class="js-add-button-container">
                     <%if (currentClient && currentClient.products && currentClient.products.length > 0) {%>
                        <%for (var index in currentClient.products) {%>
                           <div class="FormRowBackground js-client-contact-row">
                              <input value="<%=index%>" class="index hidden form-control">
                              <div class="form-inline row-space-xs">
                                 <label for="productName">Product Name: </label>
                                 <input class="productElement form-control js-element" type="text" name="productName" value="<%=currentClient.products[index].productName%>">
                                 <%if (currentClient.products.length > 1) {%>
                                    <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteProduct(this)'>X</button>
                                 <%}%>
                              </div>
                           </div>
                        <%}%>
                        <button class="addButton btn btn-sm btn-primary" onclick='javascript:addProduct(this)'>Add Another Product</button>
                     <%}else{%>
                        <div class="FormRowBackground js-client-contact-row">
                           <input value="0" class="index hidden form-control">
                           <div class="form-inline row-space-xs">
                              <label for="Product">Product Name: </label>
                              <input type="text" name="productName" class="productElement form-control">
                           </div>
                        </div>
                        <input id="AddProductButton" class="addButton Disable btn btn-sm btn-primary" type="button" value="Add Another Product" onclick='javascript:addProduct(this)' disabled>
                     <%}%>
                  </div>
               </div>
            </div>


            <div class="form">
               <div class="form-group">
                  <label for="therapeuticArea">Therapeutic Area(s): </label>
                  <textarea class="ClientProperty form-control" rows="3" name="therapeuticAreas"><%if(currentClient){%><%=currentClient.therapeuticAreas%><%}%></textarea>
               </div>
            </div>
            <div class="form-inline">
               <div class="form-group">
                  <label for="complianceSystem">Compliance System: </label>
                  <select name="complianceSystem" class="ClientProperty form-control">
                     <option disabled selected><%=selectPrompt%></option>
                     <%for (var index in compliances) {%>
                        <option <%if (currentClient && (currentClient.complianceSystem==compliances[index].text)){%>selected<%}%>><%=compliances[index].text%></option>
                     <%}%>
                  </select>
               </div>
               <div class="form-group">
                  <label for="deliveryMethod">Method of Delivery: </label>
                  <select name="deliveryMethod" class="ClientProperty form-control">
                     <option value disabled selected><%=selectPrompt%></option>
                     <%for (var index in deliveries) {%>
                        <option <%if (currentClient && (currentClient.deliveryMethod==deliveries[index].text)){%>selected<%}%>><%=deliveries[index].text%></option>
                     <%}%>
                  </select>
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">

      <div class="panel panel-warning">

         <div class="panel-heading">
            <h3 class="panel-title">Address</h3>
         </div>

         <div id="AddressContainer" class="panel-body js-add-button-container">
            <%if ( currentClient && currentClient.addresses && currentClient.addresses.length > 0 ) {%>
               <%for (var index in currentClient.addresses) {%>
                  <div class="FormRowBackground separator js-client-contact-row">
                     <input value="<%=index%>" class="index hidden form-control">
                     <div class="form-inline row-space-xs">
                        <div class="checkbox">
                           <input type="checkbox" class="internationalCheckbox" value="true" <%if(currentClient.addresses[index].international=='true'){%>checked<%}%>>
                           <label class="CheckboxLabel"><strong>International</strong></label>
                           <label for="Country" class="<%if (!currentClient.addresses[index].international || currentClient.addresses[index].international == 'false'){%>hidden<%}%>"><strong>Country: </strong></label>
                        </div>
                        <select name="country" class="AddressElement form-control country js-element <%if(!currentClient.addresses[index].international || currentClient.addresses[index].international=='false'){%>hidden<%}%>">
                           <option disabled selected><%=selectPrompt%></option>
                           <%for (var countryIndex in countries) {%>
                              <option <%if (currentClient.addresses[index].country && currentClient.addresses[index].country.indexOf (countries[countryIndex].name) > -1 ){%>selected<%}%>><%= countries[countryIndex].name %> (<%= countries[countryIndex].countryCode %>)</option>
                           <%}%>
                        </select>
                        <%if (currentClient.addresses.length > 1){%>
                           <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteClientAddress(this)'>X</button>
                        <%}%>
                     </div>

                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <label for="StreetAddress">Street Address: </label>
                           <input type="text" name="address1" class="AddressElement form-control js-element" value="<%=currentClient.addresses[index].address1%>">
                        </div>
                        <div class="form-group">
                           <label for="StreetAddress2">Address Line 2: </label>
                           <input type="text" name="address2" class="AddressElement form-control js-element" value="<%=currentClient.addresses[index].address2%>">
                        </div>
                     </div>

                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <label for="City">City: </label>
                           <input type="text" name="city" class="AddressElement form-control js-element" value="<%=currentClient.addresses[index].city%>">
                        </div>
                        <div class="form-group">
                           <label for="State" class="stateLabel"><%if(!currentClient.addresses[index].international || currentClient.addresses[index].international=='false'){%>State: <% } else {%> State/Provice:  <%}%></label>
                           <input type="text" name="state" class="AddressElement State form-control js-element <%if(!currentClient.addresses[index].international || currentClient.addresses[index].international=='false'){%> hidden <%}%>" value="<%=currentClient.addresses[index].state%>">
                           <select name="state" class="AddressElement State form-control js-element <%if(currentClient.addresses[index].international=='true'){%> hidden <%}%>">
                              <option disabled selected><%=selectPrompt%></option>
                              <%for (var stateIndex in states) { %>
                                 <option <%if(currentClient.addresses[index].state==states[stateIndex].name){%>selected<%}%>><%= states[stateIndex].name %></option>
                              <%}%>
                           </select>
                        </div>
                     </div>

                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <label for="PostalCode">Postal Code: </label>
                           <input type="text" name="postalCode" class="AddressElement PostalCode form-control js-element" value="<%=currentClient.addresses[index].postalCode%>">
                        </div>
                        <div class="form-group">
                           <label for="AddressType">Type: </label>
                           <select name="addressType" class="AddressElement form-control js-element">
                              <option disabled selected><%=selectPrompt%></option>
                              <%for (var addressIndex in addressTypes) { %>
                                 <option <%if (currentClient.addresses[index].addressType == addressTypes[addressIndex].type) {%>selected<%}%>><%= addressTypes[addressIndex].type %></option>
                              <%}%>
                           </select>
                        </div>
                     </div>

                  </div>
               <%}%>

               <button class="addButton btn btn-sm btn-primary" onclick='javascript:addClientAddress(this)'>Add Another Address</button>

            <%}else{%>

               <div class="FormRowBackground js-client-contact-row">

                  <input value="0" class="index hidden form-control">

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <div class="checkbox">
                           <input type="checkbox" class="internationalCheckbox">
                           <label class="CheckboxLabel"><strong>International</strong></label>
                           <label for="Country" class="hidden js-element"><strong>Country: </strong></label>
                        </div>
                        <select name="country" class="hidden js-element AddressElement country form-control">
                           <option disabled selected><%=selectPrompt%></option>
                           <%for (var countryIndex in countries) { %>
                              <option><%= countries[countryIndex].name %></option>
                           <%}%>
                        </select>
                     </div>
                  </div>

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="StreetAddress">Street Address:</label>
                        <input type="text" name="address1" class="AddressElement form-control js-element"/>
                     </div>
                     <div class="form-group">
                        <label for="StreetAddress2">Address Line 2:</label>
                        <input type="text" name="address2" class="AddressElement form-control js-element"/>
                     </div>
                  </div>

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="City">City:</label>
                        <input type="text" name="city" class="AddressElement form-control js-element"/>
                     </div>
                     <div class="form-group">
                        <label for="State" class="stateLabel">State:</label>
                        <input type="text" name="state" class="AddressElement State hidden form-control js-element" value="">
                        <select type="text" name="state" class="AddressElement State form-control js-element">
                           <option disabled selected><%=selectPrompt%></option>
                           <%for (var stateIndex in states) {%>
                              <option><%= states[stateIndex].name %></option>
                           <%}%>
                        </select>
                     </div>
                  </div>

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="PostalCode">Postal Code:</label>
                        <input type="text" name="postalCode" class="AddressElement PostalCode form-control js-element"/>
                     </div>
                     <div class="form-group">
                        <label for="AddressType">Type:</label>
                        <select name="addressType" class="AddressElement form-control js-element">
                           <option disabled selected><%=selectPrompt%></option>
                           <%for (var addressIndex in addressTypes) { %>
                              <option><%= addressTypes[addressIndex].type %></option>
                           <%}%>
                        </select>
                     </div>
                  </div>

               </div>

               <input id="AddAddressButton" class="addButton Disable btn btn-sm btn-primary" type="button" value="Add Another Address" onclick='javascript:addAddress(this)' disabled>

            <%}%>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goClientDetails()',
            nextButtonFunction: 'goClientStep2()'
            })
         %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->