<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Other Information - Step 3 of 3",
   backButtonFunction: 'validateClientStep3(goClientStep2)',
   nextButtonFunction: 'validateClientStep3(goClientDetails)',
   nextButtonLabel: 'Done'
   })
%>

<div class="row">
   <div class="col-xs-12">
      <label><span class="required">* Denotes Required Field</span></label>
   </div>
</div> <!-- / row -->

<form id="clientStep3ValidateForm" class="formular">
   <div class="row steps">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h2 class="panel-title">Promotional Sales Force Labels</h2>
            </div>
            <div class="panel-body">
               <div class="form">
                  <h5>Please select the appropiate Sales Force labels for <%= currentClient.name%></h5>
                  <div class="row">
                     <div class="col-xs-4">
                        <h4><span class="required">* </span><span class="label label-default">Level 1</span></h4>
                        <%for (var index in salesForceLabelsL1) {%>
                           <div class="checkbox">
                              <label>
                                 <input type="checkbox" name="salesForceLabelsLevel1" class="validate[required] salesForceLabelsLevel1Group" value="<%= salesForceLabelsL1[index].label %>" data-level='<%= salesForceLabelsL1[index].level %>'
                                 <%if (currentClient && currentClient.salesForceLabelsLevel1) {%>
                                    <%if (currentClient.salesForceLabelsLevel1.indexOf(salesForceLabelsL1[index].label) != -1) {%>
                                       checked 
                                    <%}%> 
                                 <%}%>
                                 >
                                 <%= salesForceLabelsL1[index].label %>
                              </label>
                           </div>
                        <%}%>
                     </div>
                     <div class="col-xs-4">
                        <h4><span class="required">* </span><span class="label label-default">Level 2</span></h4>
                        <%for (var index in salesForceLabelsL2) {%>
                           <div class="checkbox">
                              <label>
                                 <input type="checkbox" name="salesForceLabelsLevel2" class="validate[required] salesForceLabelsLevel2Group" value="<%= salesForceLabelsL2[index].label %>" data-level='<%= salesForceLabelsL2[index].level %>'
                                 <%if ( currentClient && currentClient.salesForceLabelsLevel2) {%>
                                    <%if (currentClient.salesForceLabelsLevel2.indexOf(salesForceLabelsL2[index].label) != -1) {%>
                                       checked 
                                    <%}%> 
                                 <%}%>
                                 >
                                 <%= salesForceLabelsL2[index].label %>
                              </label>
                           </div>
                        <%}%>
                     </div>
                     <div class="col-xs-4">
                        <h4><span class="label label-default">Level 3</span></h4>
                        <%for (var index in salesForceLabelsL3) {%>
                           <div class="checkbox">
                              <label>
                                 <input type="checkbox" name="salesForceLabelsLevel3" class="salesForceLabelsLevel3Group" value="<%= salesForceLabelsL3[index].label %>" data-level='<%= salesForceLabelsL3[index].level %>'
                                 <%if (currentClient && currentClient.salesForceLabelsLevel3) {%>
                                    <%if (currentClient.salesForceLabelsLevel3.indexOf(salesForceLabelsL3[index].label) != -1) {%>
                                       checked 
                                    <%}%> 
                                 <%}%>
                                 >
                                 <%= salesForceLabelsL3[index].label %>
                              </label>
                           </div>
                        <%}%>
                     </div>
                  </div>
               </div> <!-- / form -->
            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->
</form>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h2 class="panel-title">Medical Affairs</h2>
         </div>
         <div class="panel-body">
            <div class="form">
               <%for (var index in medicalAffairsLabels) {%>
                  <div class="checkbox">
                     <label>
                        <input type="checkbox" name="medicalAffairs" class="medicalAffairsGroup" value="<%= medicalAffairsLabels[index].label %>" data-level="<%= medicalAffairsLabels[index].level %>"
                        <%if (currentClient && currentClient.medicalAffairs) {%>
                           <%if (currentClient.medicalAffairs.indexOf(medicalAffairsLabels[index].label) != -1) {%>
                              checked 
                           <%}%> 
                        <%}%>
                        >
                        <%= medicalAffairsLabels[index].label %>
                     </label>
                  </div>
               <%}%>
            </div> <!-- / form -->
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h2 class="panel-title">Payors</h2>
         </div>
         <div class="panel-body">
            <div class="form-inline">
               <%for (var index in payorLabels) {%>
                  <div class="checkbox">
                     <label>
                        <input type="checkbox" name="payors" class="payorsGroup" value="<%= payorLabels[index].label %>" data-level='<%= payorLabels[index].level %>' 
                        <%if (currentClient && currentClient.payors) {%>
                           <%if (currentClient.payors.indexOf(payorLabels[index].label) != -1) {%>
                              checked 
                           <%}%> 
                        <%}%>
                        >
                        <%= payorLabels[index].label %>
                     </label>
                  </div>
               <%}%>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'validateClientStep3(goClientStep2)',
            nextButtonFunction: 'validateClientStep3(goClientDetails)',
            nextButtonLabel: 'Done'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->
