<div class="FormRowBackground js-client-contact-panel <%=additionalClass%> <%=hiddenClass%> ">
  <input value="0" class="clientIndex hidden form-control">
  <div class="form-inline row-space-xs">
     <h4><span class="label label-default">Contact Info</span></h4>
     <div class="form-group">
        <label for="FirstName">First Name: </label>
        <input type="text" class="ClientContactProperty form-control" name="firstName">
     </div>
     <div class="form-group">
        <label for="MiddleName">Middle Name:</label>
        <input type="text" class="ClientContactProperty form-control" name="middleName">
     </div>
     <div class="form-group">
        <label for="LastName">Last Name:</label>
        <input type="text" class="ClientContactProperty form-control" name="lastName">
     </div>
     <%if (hiddenClass !=''){%>
       <button class="DeleteButtonX btn btn-danger" onclick="javascript:deleteClientContact(this)">X</button>
     <%}%>
  </div>
  <div class="form-inline row-space-xs">
     <div class="form-group">
        <label for="Title">Title: </label>
        <input type="text" class="ClientContactProperty form-control" name="title"/>
     </div>
     <div class="form-group">
        <label for="Department">Department: </label>
        <input type="text" class="ClientContactProperty form-control" name="department"/>
     </div>
  </div>
  <div class="form-inline">
     <label><strong>Degree: </strong></label>
     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="DegreesGroup" value="MD">MD</label></div>
     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="DegreesGroup" value="PhD">PhD</label></div>
     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="DegreesGroup" value="DO">DO</label></div>
     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="DegreesGroup" value="MS">MS</label></div>
     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="DegreesGroup" value="MPH">MPH</label></div>
     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="DegreesGroup" value="PharmD">PharmD</label></div>
     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="DegreesGroup" value="RPh">RPh</label></div>
     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="DegreesGroup" value="MBChB">MBChB</label></div>
     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="DegreesGroup" value="RN"></label></div>
     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="DegreesGroup" value="NP">NP</label></div>
     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="DegreesGroup" value="PA">PA</label></div>
     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="DegreesGroup" value="MBA">MBA</label></div>
     <div class="checkbox"><label><input id="OtherCheckbox" name="otherCheckbox" type="checkbox" value="Other">Other: </label></div>
     <div class="form-group">
        <input type="text" id="OtherDegree" class="form-control hidden">
     </div>
  </div>
  <div class="ClientContactEmailContainer">
     <div class="FormRowBackground js-client-contact-row">
        <input value="0" class="index hidden"/>
        <div class="form-inline">
           <div class="form-group"> 
              <label for="Email">Email Address: </label>
              <input type="text" name="email" class="form-control MailElement"/>
           </div>
        </div>
     </div>
     <button class="addButton btn btn-primary Disable" onclick='javascript:addClientContactEmail(this)' disabled>Add Another Email</button>
  </div>
  <div class="ClientContactNumberContainer">
     <div class="FormRowBackground js-client-contact-row">
        <input value="0" class="index hidden"></input>
        <div class="form-inline">
           <label for="clientContactNumber">Number:</label>
           <input type="text" class="ClientContactNumberElement PhoneNumber" name="number"/>
           <label for="clientContactNumberType">Type:</label>
           <select name="phoneType" class="ClientContactNumberElement">
              <option disabled selected><%=selectPrompt%></option>
                <%for (var index in phoneTypes) { %>
                    <option><%= phoneTypes[index].type %></option>
                 <%}%>
           </select>
         </div>
     </div>
     <button class="addButton btn btn-primary Disable" onclick='javascript:addClientContactNumber(this)' disabled>Add Another Number</button>
  </div>
  <legend><h2>Address</h2></legend>                  
  <div class="ClientContactAddressContainer">
     <div class="FormRowBackground js-client-contact-row">
        <input value="0" class="index hidden"></input>
        <div class="form-inline">
           <input type="checkbox" class="internationalClientCheckbox"/><label class="CheckboxLabel">International</label> 
           <label for="Country" class="hidden">Country:</label>
            <select name="country" class="hidden AddressElement country">
              <option disabled selected><%=selectPrompt%></option>
                <%for (var countryIndex in countries) { %>
                    <option>
                    <%= countries[countryIndex].name %></option>
              <% } %>
            </select>
         </div>
        <div class="form-inline">
           <label for="StreetAddress">Street Address:</label>
           <input type="text" name="address1" class="AddressElement"/>
           <label for="StreetAddress2">Address Line 2:</label>
           <input type="text" name="address2" class="AddressElement"/>
        </div>

        <div class="form-inline">
           <label for="City">City:</label>
           <input type="text" name="city" class="AddressElement"/>
            <label for="State" class="stateLabel">State:</label>
            <input type="text" name="state" class="AddressElement State hidden" value="">
            <select type="text" name="state" class="AddressElement State">
              <option disabled selected><%=selectPrompt%></option>
                <%for (var stateIndex in states) { %>
                    <option>
                    <%= states[stateIndex].name %></option>
              <% } %>
            </select>
        </div>
        <div class="form-inline">
           <label for="PostalCode">Postal Code:</label>
           <input type="text" name="postalCode" class="AddressElement PostalCode"/>
            <label for="AddressType">Type:</label>
               <select name="addressType" class="AddressElement">
                 <option disabled selected><%=selectPrompt%></option>
                   <%for (var addressTypeIndex in addressTypes) { %>
                       <option>
                       <%= addressTypes[addressTypeIndex].type %></option>
                 <% } %>
               </select>  
        </div>
        
     </div>
      <button class="addButton btn btn-primary Disable" onclick='javascript:addClientContactAddress(this)' disabled>Add Another Address</button>
  </div>
  <h4><span class="label label-default">Office Admin Contact</span></h4>
  <div id="OfficeContactContainer">
     <div class="W600">
        <input value="0" class="index hidden"></input>
        <div class="form-inline">
           <label for="OfficeContactName">Name:</label>
           <input type="text" class="AdminElement" name="fullName"/>
  
           <label for="OfficeContactTitle">Title:</label>
           <input type="text" class="AdminElement" name="title"/>
        </div>
        <div class="form-inline">
           <label for="OfficeContactEmail">Email:</label>
           <input type="text" class="AdminElement" name="email"/>
        </div>
     </div>
  </div>
  <div class="OfficeContactNumberContainer">
     <div class="FormRowBackground js-client-contact-row">
        <input value="0" class="index hidden"></input>
        <div class="form-inline">
           <label for="OfficeContactNumber">Number:</label>
           <input type="text" class="AdminNumberElement PhoneNumber" name="number"/>
           <label for="OfficeContactNumberType">Type:</label>
            <select name="phoneType" class="AdminNumberElement">
              <option disabled selected><%=selectPrompt%></option>
                <%for (var index in phoneTypes) { %>
                    <option><%= phoneTypes[index].type %></option>
              <% } %>
            </select>
         </div>
     </div>
       <button class="addButton btn btn-primary Disable" onclick='javascript:addOfficeContactNumber(this)' disabled>Add Another Number</button>
  </div>
  <h4><span class="label label-default">Office Admin Address</span></h4>
  <div class="AdminContactAddressContainer">
     <div class="FormRowBackground js-client-contact-row">
        <input value="0" class="index hidden"></input>
        <div class="form-inline">
           <input type="checkbox" class="internationalAdminCheckbox"/><label class="CheckboxLabel">International</label>  
           <label for="Country" class="hidden">Country:</label>
            <select name="country" class="hidden AdminAddressElement form-control country">
              <option disabled selected><%=selectPrompt%></option>
                <%for (var countryIndex in countries) { %>
                    <option>
                    <%= countries[countryIndex].name %></option>
              <% } %>
            </select>
         </div>
        <div class="form-inline">
           <label for="StreetAddress">Street Address:</label>
           <input type="text" name="address1" class="AdminAddressElement form-control"/>
           <label for="StreetAddress2">Address Line 2:</label>
           <input type="text" name="address2" class="AdminAddressElement form-control"/>
        </div>

        <div class="form-inline">
           <label for="City">City:</label>
           <input type="text" name="city" class="AdminAddressElement form-control"/>
            <label for="State" class="stateLabel">State:</label>
            <input type="text" name="state" class="AdminAddressElement form-control State hidden" value="">
            <select type="text" name="state" class="AdminAddressElement form-control State">
              <option disabled selected><%=selectPrompt%></option>
                <%for (var stateIndex in states) { %>
                    <option>
                    <%= states[stateIndex].name %></option>
              <% } %>
            </select>
        </div>
        <div class="form-inline">
           <label for="PostalCode">Postal Code:</label>
           <input type="text" name="postalCode" class="AdminAddressElement form-control PostalCode"/>
            <label for="AddressType">Type:</label>
               <select name="addressType" class="AdminAddressElement form-control">
                 <option disabled selected><%=selectPrompt%></option>
                   <%for (var addressIndex in addressTypes) { %>
                       <option>
                       <%= addressTypes[addressIndex].type %></option>
                 <% } %>
               </select>  
        </div>
        
     </div>
     <button class="addButton btn btn-primary Disable" onclick='javascript:addAdminContactAddress(this)' disabled>Add Another Address</button>
  </div>      
</div>