<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Contact Information - Step 2 of 3",
   backButtonFunction: 'validateClientStep2(goClientStep1)',
   nextButtonFunction: 'validateClientStep2(goClientStep3)'
   })
%>

<%- partial('app/views/components/dialogs/deleteSelected') %>

<!-- old client step2.html.ejs-->
<span class="hidden" data-currentClient='<%=currentClient%>'/>

<div class="js-selection-container">  
   <!-- Display client contacts -->
   <div class="row row-space-xs">
      <div class="col-xs-6">
        <div class="form-inline">
           <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
        </div>
     </div>
     <div class="col-xs-6">
        <div class="pull-right">
           <button type="button" class="btn btn-info" onclick="createNewContact()">Add New Contact</button>
        </div>
     </div>
   </div>

  <!-- Table -->
  <div class="row">
     <div class="col-xs-12">
        <table class="mainTable">
           <thead>
              <tr class="info">
                <th class="filter-false sorter-false"><input type="checkbox" class="selectall"/></th>
                <th data-bind="{title}"><span>Title</span></th>
                <th data-bind="{firstName}"><span>FirstName</span></th>
                <th data-bind="{lastName}"><span>LastName</span></th>
                <th data-bind="{department}"><span>Department</span></th>
              </tr>
           </thead>
           <tbody>
               <% if (currentClient && currentClient.clientContacts && currentClient.clientContacts.length > 0) { %>
                  <% for (var i = 0, ii = currentClient.clientContacts.length; i < ii; i++) { %>
                     <tr>
                        <td class="checkBoxTd"><input type="checkbox" name="selectedCurrentContactClients[]" class="selectElement" value="<%=i%>"/></td>
                        <td><%= currentClient.clientContacts[i].title%></td>
                        <td><%= currentClient.clientContacts[i].firstName%></td>
                        <td><%= currentClient.clientContacts[i].lastName%></td>
                        <td><%= currentClient.clientContacts[i].department%></td>
                     </tr>
                  <%}%>
               <%}%>
           </tbody>
        </table>
     </div>
  </div> <!-- / row -->
</div><!-- / js-selection-container -->

<form id="ClientStep2ValidateForm" class="formular">
  <div class="row">
     <div class="col-xs-12">
        <div class="panel panel-warning">
           <div class="panel-heading">
              <h2 class="panel-title">Finance Contact</h2>
           </div>
           <div class="panel-body">
              <div id="FinanceContactContainer">
                 <input value="0" class="index hidden form-control">
                 <div class="form-inline row-space-xs">
                    <div class="form-group">
                       <label for="OfficeContactName">Name: </label>
                       <input type="text" class="FinanceElement form-control" name="fullName" value="<%if ( currentClient && currentClient.financeContact && (currentClient.financeContact.length>0) && currentClient.financeContact[0].fullName) {%><%=currentClient.financeContact[0].fullName%><%}%>"/>
                    </div>
                    <div class="form-group">
                       <label for="OfficeContactTitle">Title: </label>
                       <input type="text" class="FinanceElement form-control" name="title" value="<%if ( currentClient && currentClient.financeContact && (currentClient.financeContact.length>0) && currentClient.financeContact[0].title) {%><%=currentClient.financeContact[0].title%><%}%>"/>
                    </div>
                    <div class="form-group">
                       <label for="OfficeContactEmail">Email: </label>
                       <input type="text" class="FinanceElement form-control validate[custom[email]]" name="email" value="<%if ( currentClient && currentClient.financeContact && (currentClient.financeContact.length>0) && currentClient.financeContact[0].email) {%><%=currentClient.financeContact[0].email%><%}%>"/>
                    </div>
                 </div>
              </div>
              <div id="FinanceContactNumberContainer" class="js-add-button-container"> 
                 <%if ( currentClient && currentClient.financeContact && (currentClient.financeContact.length>0) && currentClient.financeContact[0].phoneNumbers && currentClient.financeContact[0].phoneNumbers.length > 0){
                 for(var financeNumberIndex in currentClient.financeContact[0].phoneNumbers) { %>
                    <div class="FormRowBackground js-client-contact-row">
                       <input value="<%=financeNumberIndex%>" class="index hidden">
                       <div class="form-inline row-space-xs">
                          <div class="form-group">
                             <label for="FinanceNumber">Number: </label>
                             <input type="text" class="FinanceNumberElement form-control PhoneNumber js-element" name="number" value="<%=currentClient.financeContact[0].phoneNumbers[financeNumberIndex].number%>"/>
                          </div>
                          <div class="form-group">
                             <label for="OfficeContactNumberType">Type: </label>
                             <select name="phoneType" class="FinanceNumberElement form-control js-element">
                                <option disabled selected><%=selectPrompt%></option>
                                  <%for (var phoneIndex in phoneTypes) { %>
                                      <option <%if(currentClient.financeContact[0].phoneNumbers[financeNumberIndex].phoneType==phoneTypes[phoneIndex].type){%>selected<%}%>>
                                      <%= phoneTypes[phoneIndex].type %></option>
                                <% } %>
                             </select>
                          </div>
                           <%if (currentClient.financeContact[0].phoneNumbers.length > 1){%>
                             <button class="DeleteButtonX btn btn-danger" onclick="javascript:deleteFinance(this)">X</button>
                          <%}%>
                       </div>
                    </div>
                 <% }%>
                   <button id="AddFinanceContactNumberButton" class="addButton btn btn-primary" onclick='javascript:addFinanceContactNumber(this)'>Add Another Number</button>
                   <%}else{ %> 
                    <div class="FormRowBackground js-client-contact-row">
                       <input value="0" class="index hidden">
                       <div class="form-inline row-space-xs">
                          <div class="form-group">
                             <label for="FinanceContactNumber">Number: </label>
                             <input type="text" class="FinanceNumberElement PhoneNumber form-control" name="number"/>
                          </div>
                          <div class="form-group">
                             <label for="FinanceContactNumberType">Type: </label>
                             <select name="phoneType" class="FinanceNumberElement form-control">
                                <option disabled selected><%=selectPrompt%></option>
                                <%for (var index in phoneTypes) { %>
                                   <option><%= phoneTypes[index].type %></option>
                                <% } %>
                            </select>
                         </div>
                       </div>
                    </div>
                    <button id="AddFinanceContactNumberButton" class="addButton btn btn-primary Disable" onclick='javascript:addFinanceContactNumber(this)' disabled>Add Another Number</button>
                   <%}%> 
              </div>
           </div>
        </div> <!-- / panel -->
     </div> <!-- / col -->
  </div> <!-- / row -->
</form>
      
<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'validateClientStep2(goClientStep1)',
            nextButtonFunction: 'validateClientStep2(goClientStep3)'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->