<%- partial ('app/views/components/steps/header', { 
   headerTitle: "Contact Clients Details",
   backButtonFunction: 'validateClientStep()',
   nextButtonFunction: 'validateClientStep()',
   nextButtonLabel: "Done"
   })
%>

<form id="ClientContactForm" class="formular">
   <div  class="row steps">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h2 class="panel-title">Client Contact Info</h2>
            </div>
            <div class="panel-body">
               <div class="FormRowBackground js-client-contact-panel">
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label>First Name: </label>
                        <input type="text" class="js-contact-property form-control" name="firstName" value="<%if(currentContact &&currentContact.firstName){%><%=currentContact.firstName%><%}%>">
                     </div>
                     <div class="form-group">
                        <label>Middle Name: </label>
                        <input type="text" class="js-contact-property form-control" name="middleName" value="<%if(currentContact &&currentContact.middleName){%><%=currentContact.middleName%><%}%>">
                     </div>
                     <div class="form-group">
                        <label>Last Name: </label>
                        <input type="text" class="js-contact-property form-control" name="lastName" value="<%if(currentContact &&currentContact.lastName){%><%=currentContact.lastName%><%}%>">
                     </div>
                  </div>
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label>Title: </label>
                        <input type="text" class="js-contact-property form-control" name="title" value="<%if(currentContact &&currentContact.title){%><%=currentContact.title%><%}%> ">
                     </div>
                     <div class="form-group">
                        <label>Department: </label>
                        <input type="text" class="js-contact-property form-control" name="department" value="<%if(currentContact &&currentContact.department){%><%=currentContact.department%><%}%> ">
                     </div>
                  </div>  
                  <div class="form-inline row-space-xs js-degrees-container">
                     <label><strong>Degree: </strong></label>
                     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="js-degrees" value="MD" <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('MD') > -1) { %>checked<% } %>>MD</label></div>
                     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="js-degrees" value="PhD" <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('PhD') > -1) { %>checked<% } %>>PhD</label></div>
                     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="js-degrees" value="DO" <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('DO') > -1) { %>checked<% } %>>DO</label></div>
                     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="js-degrees" value="MS" <% if (
                     currentContact && currentContact.degrees && currentContact.degrees.indexOf('MS') > -1) { %>checked<% } %>>MS</label></div>
                     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="js-degrees" value="MPH" <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('MPH') > -1) { %>checked<% } %>>MPH</label></div>
                     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="js-degrees" value="PharmD" <% if (
                     currentContact && currentContact.degrees && currentContact.degrees.indexOf('PharmD') > -1) { %>checked<% } %>>PharmD</label></div>
                     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="js-degrees" value="RPh" <% if (
                        currentContact && currentContact.degrees && currentContact.degrees.indexOf('RPh') > -1) { %>checked<% } %>>RPh</label></div>
                     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="js-degrees" value="MBChB" <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('MBChB') > -1) { %>checked<% } %>>MBChB</label></div>
                     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="js-degrees" value="RN" <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('RN') > -1) { %>checked<% } %>>RN</label></div>
                     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="js-degrees" value="NP" <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('NP') > -1) { %>checked<% } %>>NP</label></div>
                     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="js-degrees" value="PA" <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('PA') > -1) { %>checked<% } %>>PA</label></div>
                     <div class="checkbox"><label><input type="checkbox" name="degrees[]" class="js-degrees" value="MBA" <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('MBA') > -1) { %>checked<% } %>>MBA</label></div>
                     <div class="checkbox"><label><input name="otherCheckbox" type="checkbox" value="Other" <% if (currentContact &&currentContact.otherDegree !='' && currentContact.otherDegree != null) { %>checked<% } %>>Other: </label></div>
                     <div class="form-group">
                        <input type="text" name="otherDegree" class='form-control js-contact-property 
                           <% if ( (!currentContact) || currentContact.otherDegree =='' || currentContact.otherDegree == null ) { %>hidden<% } %>' 
                           value="<% if (currentContact && currentContact.otherDegree && currentContact.otherDegree !='') { %><%=currentContact.otherDegree%><% } %>">
                     </div>
                  </div>
                  <%if( currentContact && currentContact.degrees && currentContact.degrees !="") {%>
                     <script type="text/javascript">setDegrees("<%=currentContact.degrees%>")</script>
                  <%}%>
                  <div id="ClientContactEmailContainer" class="row-space-xs js-add-button-container">
                     <%if (currentContact && currentContact.emailAddresses && currentContact.emailAddresses.length > 0) {%>
                        <%for (var index in currentContact.emailAddresses) {%>
                           <div class="FormRowBackground js-client-contact-row">
                              <input value="<%=index%>" class="index hidden">
                              <div class="form-inline row-space-xs">
                                 <div class="form-group">
                                    <label for="Email">Email Address: </label>
                                    <input class="form-control js-email-element js-element validate[custom[email]]" type="text" name="email" value="<%= currentContact.emailAddresses[index].email%>">
                                 </div>
                                 <%if (currentContact.emailAddresses.length > 1) {%>
                                    <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteClientContactEmail(this)'>X</button>
                                 <%}%>
                              </div>
                           </div>
                        <%}%>
                        <button class="addButton btn btn-primary" onclick='javascript:addClientContactEmail(this)'>Add Another Email</button>
                     <%} else {%>
                        <div class="FormRowBackground js-client-contact-row">
                           <input value="0" class="index hidden">
                           <div class="form-inline row-space-xs">
                              <div class="form-group">
                                 <label for="Email">Email Address: </label>
                                 <input type="text" name="email" class="form-control js-email-element js-element validate[custom[email]]">
                              </div>
                           </div>
                        </div>
                        <button class="addButton btn btn-primary Disabled" onclick='javascript:addClientContactEmail(this)' disabled>Add Another Email</button>
                     <%}%>
                  </div>
                  <div id="ClientContactNumberContainer" class="js-add-button-container">
                     <%if (currentContact && currentContact.phoneNumbers && currentContact.phoneNumbers.length > 0){
                        for(var clientContactNumberIndex in currentContact.phoneNumbers) { %>
                           <div class="FormRowBackground js-client-contact-row">
                              <input value="<%=clientContactNumberIndex%>" class="index hidden">
                              <div class="form-inline row-space-xs">
                                 <div class="form-group">
                                    <label for="clientContactNumber">Number: </label>
                                    <input type="text" class="form-control js-phone-number-element js-element PhoneNumber" name="number" value="<%=currentContact.phoneNumbers[clientContactNumberIndex].number%>">
                                 </div>
                                 <div class="form-group">
                                    <label for="clientContactNumberType">Type:</label>
                                    <select name="phoneType" class="form-control js-phone-number-element js-element">
                                       <option disabled selected><%=selectPrompt%></option>
                                       <%for (var phoneIndex in phoneTypes) { %>
                                          <option <%if(currentContact.phoneNumbers[clientContactNumberIndex].phoneType==phoneTypes[phoneIndex].type){%>selected<%}%>><%=phoneTypes[phoneIndex].type%></option>
                                       <%}%>
                                    </select>
                                 </div>
                                 <%if (currentContact.phoneNumbers.length > 1){%>
                                    <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteClientContactNumber(this)'>X</button>
                                 <%}%>
                              </div>
                           </div>
                        <%}%>
                        <button class="addButton btn btn-primary" onclick='javascript:addClientContactNumber(this)'>Add Another Number</button>
                     <%}else{%> 
                        <div class="FormRowBackground js-client-contact-row">
                           <input value="0" class="index hidden">
                           <div class="form-inline row-space-xs">
                              <div class="form-group">
                                 <label for="clientContactNumber">Number: </label>
                                 <input type="text" class="form-control js-phone-number-element js-element PhoneNumber" name="number">
                              </div>
                              <div class="form-group">
                                 <label for="clientContactNumberType">Type: </label>
                                 <select name="phoneType" class="form-control js-phone-number-element js-element">
                                    <option disabled selected><%=selectPrompt%></option>
                                    <%for (var index in phoneTypes) {%>
                                       <option><%=phoneTypes[index].type%></option>
                                    <%}%>
                                 </select>
                              </div>
                           </div>  
                        </div>
                        <button class="addButton btn btn-primary Disable" onclick='javascript:addClientContactNumber(this)' disabled>Add Another Number</button>
                     <%}%>
                  </div>
               </div>
            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->
    
   <div class="row steps">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h2 class="panel-title">Client Contact Address</h2>
            </div>
            <div class="panel-body">
               <div id="ClientContactAddressContainer" class="js-add-button-container">
                  <%if (currentContact && currentContact.addresses && currentContact.addresses.length > 0){
                     for(var addressIndex in currentContact.addresses) { %>
                        <div class="FormRowBackground js-client-contact-row separator">
                           <input value="<%=addressIndex%>" class="index hidden">
                           <div class="form-inline row-space-xs">
                              <div class="form-group">
                                 <input type="checkbox" class="js-international" value="true" <%if(currentContact.addresses[addressIndex].international=='true'){%>checked<%}%> />
                                 <label>International</label>
                              </div>
                              <div class="form-group">
                                 <label for="Country" class="<%if(!currentContact.addresses[addressIndex].international || currentContact.addresses[addressIndex].international == 'false'){%>hidden<%}%>">Country:</label>
                                 <select name="country" class="form-control js-address-element js-element js-country <%if(!currentContact.addresses[addressIndex].international || currentContact.addresses[addressIndex].international=='false'){%>hidden<%}%>" >
                                    <option disabled selected><%=selectPrompt%></option>
                                    <%for (var countryIndex in countries) { %>
                                       <option <%if(currentContact.addresses[addressIndex].country && currentContact.addresses[addressIndex].country.indexOf (countries[countryIndex].name) > -1){%>selected<%}%>>
                                          <%= countries[countryIndex].name %> (<%= countries[countryIndex].countryCode %>)
                                       </option>
                                    <%}%>
                                  </select>
                              </div>
                               <%if (currentContact.addresses.length > 1){%>
                                 <button class="DeleteButtonX btn btn-danger" onclick="javascript:deleteClientContactAddress(this)">X</button>
                              <%}%>       
                            </div>
                           <div class="form-inline row-space-xs">
                              <div class="form-group">
                                 <label>Street Address: </label>
                                 <input type="text" name="address1" class="js-address-element js-element form-control" value="<%=currentContact.addresses[addressIndex].address1%>">
                              </div>
                              <div class="form-group">
                                 <label for="StreetAddress2">Address Line 2: </label>
                                 <input type="text" name="address2" class="js-address-element js-element form-control" value="<%=currentContact.addresses[addressIndex].address2%>">
                              </div>
                           </div>
                           <div class="form-inline row-space-xs">
                              <div class="form-group">
                                 <label for="City">City:</label>
                                 <input type="text" name="city" class="js-address-element js-element form-control" value="<%=currentContact.addresses[addressIndex].city%>">
                              </div>
                              <div class="form-group">
                                 <label for="State" class="stateLabel"><%if(!currentContact.addresses[addressIndex].international || currentContact.addresses[addressIndex].international=='false'){%>State: <% } else {%> State/Provice:  <% } %></label>
                                 <input type="text" name="state" class="js-address-element js-element form-control State <%if(!currentContact.addresses[addressIndex].international || currentContact.addresses[addressIndex].international=='false'){%> hidden <% } %>" value="<%=currentContact.addresses[addressIndex].state%>">
                                 <select name="state" class="js-address-element js-element form-control State <%if(currentContact.addresses[addressIndex].international=='true'){%> hidden <% } %>">
                                    <option disabled selected><%=selectPrompt%></option>
                                    <%for (var stateIndex in states) { %>
                                       <option <%if(currentContact.addresses[addressIndex].state==states[stateIndex].name){%>selected<%}%>><%= states[stateIndex].name %></option>
                                    <% } %>
                                 </select>
                              </div>
                           </div>
                           <div class="form-inline row-space-xs">
                              <div class="form-group">
                                 <label for="PostalCode">Postal Code: </label>
                                 <input type="text" name="postalCode" class="js-address-element js-element form-control PostalCode" value="<%=currentContact.addresses[addressIndex].postalCode%>">
                              </div>
                              <div class="form-group">
                                 <label for="AddressType">Type: </label>
                                 <select name="addressType" class="js-address-element js-element form-control">
                                    <option disabled selected><%=selectPrompt%></option>
                                    <%for (var addressTypeIndex in addressTypes) { %>
                                       <option <%if(currentContact.addresses[addressIndex].addressType == addressTypes[addressTypeIndex].type){%>selected<%}%> ><%= addressTypes[addressTypeIndex].type %></option>
                                    <%}%>
                                 </select>
                              </div>
                           </div>
                        </div>
                     <%}%>
                     <button class="addButton btn btn-primary" onclick='javascript:addClientContactAddress(this)'>Add Another Address</button>
                  <%}else{%> 
                     <div class="FormRowBackground js-client-contact-row separator">
                        <input value="0" class="index hidden">
                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <input type="checkbox" class="js-international"><label class="CheckboxLabel">International</label> 
                              <label for="Country" class="hidden">Country:</label>
                              <select name="country" class="hidden js-address-element js-element form-control js-country">
                                 <option disabled selected><%=selectPrompt%></option>
                                 <%for (var countryIndex in countries) { %>
                                    <option><%= countries[countryIndex].name %></option>
                                 <%}%>
                              </select>
                           </div>
                         </div>
                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <label>Street Address:</label>
                              <input type="text" name="address1" class="js-address-element js-element form-control">
                           </div>
                           <div class="form-group">
                              <label for="StreetAddress2">Address Line 2:</label>
                              <input type="text" name="address2" class="js-address-element js-element form-control">
                           </div>
                        </div>
                        <div class="form-inline row-space-xs">
                           <label for="City">City: </label>
                           <input type="text" name="city" class="js-address-element js-element form-control">
                           <label for="State" class="stateLabel">State: </label>
                           <input type="text" name="state" class="js-address-element js-element form-control State hidden" value="">
                           <select type="text" name="state" class="js-address-element js-element form-control State">
                              <option disabled selected><%=selectPrompt%></option>
                              <%for (var stateIndex in states) {%>
                                 <option><%= states[stateIndex].name %></option>
                              <%}%>
                           </select>
                        </div>
                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <label for="PostalCode">Postal Code: </label>
                              <input type="text" name="postalCode" class="js-address-element js-element form-control PostalCode">
                           </div>
                           <div class="form-group">
                              <label for="AddressType">Type: </label>
                              <select name="addressType" class="js-address-element js-element form-control">
                                 <option disabled selected><%=selectPrompt%></option>
                                 <%for (var addressIndex in addressTypes) {%>
                                    <option><%= addressTypes[addressIndex].type %></option>
                                 <%}%>
                              </select>
                           </div>
                        </div>
                     </div>
                     <button class="addButton btn btn-primary Disable" onclick='javascript:addClientContactAddress(this)' disabled>Add Another Address</button>
                  <%}%>
               </div>
            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->

   <div class="row steps">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h2 class="panel-title">Office Admin Contact</h2>
            </div>
            <div class="panel-body">
               <div id="OfficeContactContainer" >
                  <input value="0" class="index hidden">
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="OfficeContactName">Name: </label>
                        <input type="text" class="js-admin-element js-element form-control" name="fullName" value="<%if (currentContact &&currentContact.officeAdminContact && (currentContact.officeAdminContact.length>0) && currentContact.officeAdminContact[0].fullName) {%><%=currentContact.officeAdminContact[0].fullName%><%}%>">
                     </div>
                     <div class="form-group">
                        <label for="OfficeContactTitle">Title: </label>
                        <input type="text" class="js-admin-element js-element form-control" name="title" value="<%if (currentContact && currentContact.officeAdminContact && (currentContact.officeAdminContact.length>0) && currentContact.officeAdminContact[0].title) {%><%=currentContact.officeAdminContact[0].title%><%}%>">
                     </div>
                  </div>
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="OfficeContactEmail">Email: </label>
                        <input type="text" class="js-admin-element js-element form-control validate[custom[email]]" name="email" value="<%if (currentContact && currentContact.officeAdminContact && (currentContact.officeAdminContact.length>0) && currentContact.officeAdminContact[0].email) {%><%=currentContact.officeAdminContact[0].email%><%}%>">
                     </div>
                  </div>
               </div>
               <div id="OfficeContactNumberContainer" class="js-add-button-container">
                  <%if (currentContact && currentContact.officeAdminContactPhoneNumbers && currentContact.officeAdminContactPhoneNumbers.length > 0){
                     for(var adminNumberIndex in currentContact.officeAdminContactPhoneNumbers) { %>
                        <div class="FormRowBackground js-client-contact-row separator">
                           <input value="<%=adminNumberIndex%>" class="index hidden form-control">
                           <div class="form-inline row-space-xs">
                              <div class="form-group">
                                 <label for="OfficeContactNumber">Number: </label>
                                 <input type="text" class="js-admin-number-element js-element PhoneNumber form-control" name="number" value="<%=currentContact.officeAdminContactPhoneNumbers[adminNumberIndex].number%>">
                              </div>
                              <div class="form-group">
                                 <label for="OfficeContactNumberType">Type: </label>
                                 <select name="phoneType" class="js-admin-number-element js-element form-control">
                                    <option disabled selected><%=selectPrompt%></option>
                                    <%for (var phoneIndex in phoneTypes) { %>
                                       <option <%if(currentContact.officeAdminContactPhoneNumbers[adminNumberIndex].phoneType==phoneTypes[phoneIndex].type){%>selected<%}%>>
                                       <%= phoneTypes[phoneIndex].type %></option>
                                    <% } %>
                                 </select>
                              </div>
                              <%if (currentContact.officeAdminContactPhoneNumbers.length > 1){%>
                                 <button class="DeleteButtonX btn btn-danger" onclick="javascript:deleteClientContactOfficeNumber(this)">X</button>
                              <%}%>
                           </div>
                        </div>
                     <%}%>
                     <button class="addButton btn btn-primary" onclick='javascript:addOfficeContactNumber(this)'>Add Another Number</button>
                    <%}else{%> 
                     <div class="FormRowBackground js-client-contact-row separator">
                        <input value="0" class="index hidden form-control">
                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <label for="OfficeContactNumber">Number: </label>
                              <input type="text" class="js-admin-number-element js-element PhoneNumber form-control" name="number">
                           </div>
                           <div class="form-group">
                              <label for="OfficeContactNumberType">Type: </label>
                              <select name="phoneType" class="js-admin-number-element js-element form-control">
                                 <option disabled selected><%=selectPrompt%></option>
                                    <%for (var index in phoneTypes) { %>
                                 <option><%= phoneTypes[index].type %></option>
                                 <% } %>
                              </select>
                           </div>
                        </div>  
                     </div>
                     <button class="addButton btn btn-primary Disable" onclick='javascript:addOfficeContactNumber(this)' disabled>Add Another Number</button>
                    <% }%> 
               </div>
            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->

   <div class="row steps">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h2 class="panel-title">Office Admin Address</h2>
            </div>
            <div class="panel-body">
               <div id="AdminContactAddressContainer" class="js-add-button-container">
                  <%if (currentContact && currentContact.officeAdminContactAddresses && currentContact.officeAdminContactAddresses.length > 0){
                  for(var adminAddressIndex in currentContact.officeAdminContactAddresses) { %>
                     <div class="FormRowBackground js-client-contact-row separator">
                        <input value="<%=adminAddressIndex%>" class="index hidden form-control">
                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <input type="checkbox" class="js-international-admin form-control" value="true" <%if(currentContact.officeAdminContactAddresses[adminAddressIndex].international=='true'){%>checked<%}%> />
                              <label class="CheckboxLabel">International</label>
                              <label for="Country" class="<%if(!currentContact.officeAdminContactAddresses[adminAddressIndex].international || currentContact.officeAdminContactAddresses[adminAddressIndex].international == 'false'){%>hidden<%}%>">Country:</label>
                              <select name="country" class="js-admin-address-element js-element form-control js-country <%if(!currentContact.officeAdminContactAddresses[adminAddressIndex].international || currentContact.officeAdminContactAddresses[adminAddressIndex].international=='false'){%>hidden<%}%>" >
                                 <option disabled selected><%=selectPrompt%></option>
                                   <%for (var countryIndex in countries) { %>
                                       <option <%if( currentContact.officeAdminContactAddresses[adminAddressIndex].country && currentContact.officeAdminContactAddresses[adminAddressIndex].country.indexOf(countries[countryIndex].name)>-1){%>selected<%}%> >
                                       <%= countries[countryIndex].name %> (<%= countries[countryIndex].countryCode %>)</option>
                                 <% } %>
                              </select>
                           </div> 
                            <%if (currentContact.officeAdminContactAddresses.length > 1){%>
                              <button class="DeleteButtonX btn btn-danger" onclick="javascript:deleteAdminContactAddress(this)">X</button>
                           <%}%>       
                         </div>
                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <label>Street Address: </label>
                              <input type="text" name="address1" class="js-admin-address-element js-element form-control" value="<%=currentContact.officeAdminContactAddresses[adminAddressIndex].address1%>">
                           </div>
                           <div class="form-group">
                              <label>Address Line 2: </label>
                              <input type="text" name="address2" class="js-admin-address-element js-element form-control" value="<%=currentContact.officeAdminContactAddresses[adminAddressIndex].address2%>">
                           </div>
                        </div>
                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <label>City:</label>
                              <input type="text" name="city" class="js-admin-address-element js-element form-control" value="<%=currentContact.officeAdminContactAddresses[adminAddressIndex].city%>">
                           </div>
                           <div class="form-group">
                              <label for="State" class="stateLabel"><%if(!currentContact.officeAdminContactAddresses[adminAddressIndex].international || currentContact.officeAdminContactAddresses[adminAddressIndex].international=='false'){%>State: <% } else {%> State/Provice:  <% } %></label>
                              <input type="text" name="state" class="js-admin-address-element js-element form-control State <%if(!currentContact.officeAdminContactAddresses[adminAddressIndex].international || currentContact.officeAdminContactAddresses[adminAddressIndex].international=='false'){%> hidden <% } %>" value="<%=currentContact.officeAdminContactAddresses[adminAddressIndex].state%>">
                              <select name="state" class="js-admin-address-element js-element form-control State <%if(currentContact.officeAdminContactAddresses[adminAddressIndex].international=='true'){%> hidden <% } %>">
                                 <option disabled selected><%=selectPrompt%></option>
                                   <%for (var stateIndex in states) { %>
                                       <option <%if(currentContact.officeAdminContactAddresses[adminAddressIndex].state==states[stateIndex].name){%>selected<%}%>>
                                       <%= states[stateIndex].name %></option>
                                 <% } %>
                              </select>
                           </div>
                        </div>
                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <label for="PostalCode">Postal Code: </label>
                              <input type="text" name="postalCode" class="js-admin-address-element js-element form-control PostalCode" value="<%=currentContact.officeAdminContactAddresses[adminAddressIndex].postalCode%>">
                           </div>
                           <div class="form-group">
                              <label for="AddressType">Type: </label>
                               <select name="addressType" class="js-admin-address-element js-element form-control">
                                 <option disabled selected><%=selectPrompt%></option>
                                   <%for (var addressTypeIndex in addressTypes) { %>
                                       <option <%if(currentContact.officeAdminContactAddresses[adminAddressIndex].addressType == addressTypes[addressTypeIndex].type){%>selected<%}%> >
                                       <%= addressTypes[addressTypeIndex].type %></option>
                                 <% } %>
                               </select>
                           </div>
                        </div>
                     </div>
                  <%}%>
                     <button class="addButton btn btn-primary" onclick='javascript:addAdminContactAddress(this)'>Add Another Address</button>
                     <%}else{ %> 
                     <div class="FormRowBackground js-client-contact-row separator">
                        <input value="0" class="index hidden">
                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <input type="checkbox" class="js-international"><label class="CheckboxLabel">International</label> 
                              <label for="Country" class="hidden">Country: </label>
                               <select name="country" class="hidden js-admin-address-element js-element form-control js-country">
                                 <option disabled selected><%=selectPrompt%></option>
                                   <%for (var countryIndex in countries) { %>
                                       <option>
                                       <%= countries[countryIndex].name %></option>
                                 <% } %>
                               </select>
                           </div>
                         </div>
                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <label>Street Address: </label>
                              <input type="text" name="address1" class="js-admin-address-element js-element form-control">
                           </div>
                           <div class="form-group">
                              <label for="StreetAddress2">Address Line 2: </label>
                              <input type="text" name="address2" class="js-admin-address-element js-element form-control">
                           </div>
                        </div>
                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <label for="City">City: </label>
                              <input type="text" name="city" class="js-admin-address-element js-element form-control">
                           </div>
                           <div class="form-group">
                              <label for="State" class="stateLabel">State: </label>
                              <input type="text" name="state" class="js-admin-address-element js-element form-control State hidden" value="">
                               <select type="text" name="state" class="js-admin-address-element js-element form-control State">
                                 <option disabled selected><%=selectPrompt%></option>
                                   <%for (var stateIndex in states) { %>
                                       <option>
                                       <%= states[stateIndex].name %></option>
                                 <% } %>
                               </select>
                           </div>
                        </div>
                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <label for="PostalCode">Postal Code:</label>
                              <input type="text" name="postalCode" class="js-admin-address-element js-element form-control PostalCode">
                           </div>
                           <div class="form-group">
                              <label for="AddressType">Type:</label>
                               <select name="addressType" class="js-admin-address-element js-element form-control">
                                 <option disabled selected><%=selectPrompt%></option>
                                   <%for (var addressIndex in addressTypes) { %>
                                       <option>
                                       <%= addressTypes[addressIndex].type %></option>
                                 <% } %>
                               </select>
                           </div>
                        </div>
                     </div>
                     <button class="addButton btn btn-primary Disable" onclick='javascript:addAdminContactAddress(this)' disabled>Add Another Address</button>
                     <%}%>
               </div>                 
            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->
</form>
<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'validateClientStep()',
            nextButtonFunction: 'validateClientStep()',
            nextButtonLabel: "Done"
            })
         %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->