<%- partial('app/views/components/dialogs/deleteSelected') %>
<%- partial('app/views/components/dialogs/uploadFile') %>

<!-- Header -->
<div class="js-selection-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row alert alert-info">
          <div class="col-xs-10">
              <h3><%= currentClient.name%> - Guidelines %></h3>
          </div>
          <div class="col-xs-2">
              <div class="pull-right">
                  <button type="button" class="btn btn-info" onclick="createNewGuideline('<%= currentClient.id%>')">Upload New Guideline</button>
              </div>
          </div>
      </div>
  </div>

  <div class="row row-space-xs">
      <div class="col-xs-12">
        <div class="form-inline">
           <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
        </div>
     </div>
  </div>


  <!-- Table -->
  <div class="row">
     <div class="col-xs-12">
        <table class="mainTable">
           <thead>
              <tr class="info">
                <th class="filter-false sorter-false"><input type="checkbox" class="selectall"/></th>
                <th><span>Name</span></th>
                <th><span>File Name</span></th>
                <th><span>Notes</span></th>
                <th><span>Date Uploaded</span></th>
              </tr>
           </thead>
           <tbody>
            <% if (currentClient.guidelines && currentClient.guidelines.length > 0) { %>
              <% for (var i = 0, ii = currentClient.guidelines.length; i < ii; i++) { %>
              <tr>
                <td class="checkBoxTd" data-path="<%= currentClient.guidelines[i].pathToFile %>"><input type="checkbox" name="selectedGuidelines[]" class="selectElement" value="<%= i %>" /> </td>
                <td><%= currentClient.guidelines[i].name%></td>
                <td><%= currentClient.guidelines[i].pathToFile.slice(currentClient.guidelines[i].pathToFile.lastIndexOf('/') + 1, currentClient.guidelines[i].pathToFile.length)%></td>
                <td><%= currentClient.guidelines[i].notes%></td>
                <td><%= currentClient.guidelines[i].createdAt.toLocaleDateString()%></td>
               </tr>
              <%}%>
            <%}%>
           </tbody>
        </table>
     </div>
  </div>
</div>  