<%- scriptLink('/js/clients/clientsIndex.js', {type:'text/javascript'}) %>


<script type="text/javascript">setPrompt('<%=selectPrompt%>');</script>


<%- partial('app/views/components/dialogs/deleteSelected') %>

<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-6">
                <h3>Clients</h3>
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                  <button type="button" class="btn btn-info" onclick="createNewClient()">Create New Client <span class="glyphicon glyphicon-plus-sign"></span></button>
                </div>
            </div>
        </div>
    </div> <!-- col -->
</div> <!-- / row -->

<% if (clients && clients.length > 0) {%> 
   <%- partial('app/views/components/search/advancedSearch', {searchProperties: searchClientProperties, elementSearchArray:clients, actionURL:'/clients/search'}) %>
<% } %>

<div class="js-selection-container">
  <% if (session.get('userId') && ( (session.get('userRoleId') == geddy.constants.roles.SUPER_ADMIN.label ) ) ){ %>
    <div class="row row-space-xs">
        <div class="col-xs-12">
          <div class="form-inline">
             <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
          </div>
       </div>
    </div>
  <%}%>

  <div class="row">
     <div class="col-xs-12">
        <div class="table-sorter-wrapper">
            <table class="mainTable">
              <thead>
                 <tr class="info">
                 <th class="filter-false sorter-false" data-bind="<input type='checkbox' name='selectedClients[]' class='selectElement' value='{id}'/>"><input type="checkbox" class="selectall"/></th>
                    <th data-bind="{name}">Client Name</th>
                    <th data-bind="{crgBusinessDevelopmentName}">CRG Business Development</th>
                    <th data-bind="{products.*.productName}">Products</th>
                    <th data-bind="{addresses[0].address1}">Address</th>
                    <th data-bind="{addresses[0].city}">City</th>
                    <th data-bind="{addresses[0].state}">State</th>
                    <th data-bind="{addresses[0].postalCode}">Postal Code</th>
                    <th data-bind="{crgPrefixCode}">CRG Prefix Code</th>
                 </tr>
              </thead>
              <tbody>
                 <% for (var i = 0, ii = clients.length; i < ii; i++) { %>
                 <tr>
                    <td class="checkBoxTd"><input type="checkbox" name="selectedClients[]" class="selectElement" value="<%=clients[i].id%>" /></td>
                      <td><%=clients[i].name%></td>
                      <td><%=clients[i].crgBusinessDevelopmentName%></td>
                      <td>
                       <% if (clients[i].products && clients[i].products.length > 0) { %>
                         <% for (var index in clients[i].products ) { %>
                           <%=clients[i].products[index].productName%>
                         <% } %>
                       <% } %>
                       </td>
                      <td>
                       <% if (clients[i].addresses) {%>
                          <%=clients[i].addresses[0].address1%>
                       <% } %>
                       </td>
                      <td>
                       <% if (clients[i].addresses) {%>
                          <%=clients[i].addresses[0].city%>
                       <% } %>
                       </td>
                      <td>
                       <% if (clients[i].addresses) {%>
                          <%=clients[i].addresses[0].state%>
                       <% } %>
                       </td>
                      <td>
                       <% if (clients[i].addresses) {%>
                          <%=clients[i].addresses[0].postalCode%>
                       <% } %>
                       </td>
                      <td><%=clients[i].crgPrefixCode%></td>
                  </tr>
                 <% } %>
              </tbody>
            </table>
      </div>
      <%- partial('app/views/components/pagination/paginationControl',{backPageFunction:'getElementListByPage',
      nextPageFunction:'getElementListByPage',
      currentPage:currentPage,
      totalPages:totalPages,
       }) %>
     </div>
  </div>
</div>