<div class="row">
   <div class="col-xs-12">
      <div class="row alert alert-info">
         <div class="col-xs-6">
            <h3><%=currentClient.name%> Details</h3>
         </div>
         <div class="col-xs-6 <%if (displayEdit == false) {%> hidden <%}%>">
            <div class="pull-right">
               <button id="editContactBtn" class="btn btn-info" onclick="editClient()" <% if (editing == true){%> disabled <%}%>>Edit <span class="glyphicon glyphicon-pencil"></span></button>
            </div>
         </div>
      </div>
   </div>
</div>

<% if (editing) {%>
<div class="row">
   <div class="col-xs-12">
      <label class='bg-danger'>Currently being edited by: <%= editor %></label>
   </div>
</div>
<%}%>

<div class="row row-space-xs row-separator <%if (displayEdit == false) {%> hidden <%}%>">
   <div class="col-xs-12">
      <h3>Communications Email Address</h3>
      <%if (currentClient.email) {%>
         <ul class="pull-left img-rounded card">
            <li><%= currentClient.email %></li>
         </ul>
      <%} else {%>
         <h4><span class="label label-default">No information available</span></h4>
      <%}%>
   </div>
</div>

<div class="row">
   <div class="col-xs-12">
      <h3>Client Contact Info</h3>
   </div>
</div>

<div class="row row-space-xs row-separator">
      <%if (currentClient.clientContacts && currentClient.clientContacts.length > 0){%>
         <%for (var index in currentClient.clientContacts) {%>
            <div class="col-xs-4 clear">
               <ul class="pull-left img-rounded card">
                  <li>
                     <h4>
                        <%if (currentClient.clientContacts[index].firstName) {%>
                           <%=currentClient.clientContacts[index].firstName%>
                        <%}%>
                        <%if (currentClient.clientContacts[index].midddleName) {%>
                           <%=currentClient.clientContacts[index].midddleName%>
                        <%}%>
                        <%if (currentClient.clientContacts[index].lastName) {%>
                           <%=currentClient.clientContacts[index].lastName%>
                        <%}%>
                        <%if (currentClient.clientContacts[index].suffix) {%>
                           <%=currentClient.clientContacts[index].suffix%>
                        <%}%>
                     </h4>
                  </li>
                  <li>
                     <strong>Degrees:</strong> <%=currentClient.clientContacts[index].degrees%>
                  </li>
                  <li>
                     <strong>Title:</strong> <%=currentClient.clientContacts[index].title%>
                  </li>
                  <li>
                     <strong>Department: </strong><%=currentClient.clientContacts[index].department%>
                  </li>
                  <%if (currentClient.clientContacts[index].emailAddresses) {%>
                     <%for (var emailIndex in currentClient.clientContacts[index].emailAddresses) {%>
                        <li><strong>Email: </strong><%= currentClient.clientContacts[index].emailAddresses[emailIndex].email %></li>
                     <%}%>
                  <%}%>
                  <%if (currentClient.clientContacts[index].phoneNumbers) {%>
                     <%for (var phoneIndex in currentClient.clientContacts[index].phoneNumbers) {%>
                        <li>
                           <strong><%=currentClient.clientContacts[index].phoneNumbers[phoneIndex].phoneType %>:</strong> <%= currentClient.clientContacts[index].phoneNumbers[phoneIndex].number %>
                        </li>
                     <%}%>
                  <%}%>
               </ul>
            </div>
            <div class="col-xs-4">
            <h4>Addresses</h4>
               <%if (currentClient.clientContacts[index].addresses && currentClient.clientContacts[index].addresses.length > 0) {%>
                  <ul class="pull-left img-rounded card">
                     <%for (var addrIndex in currentClient.clientContacts[index].addresses) {%>
                        <li><strong><%= currentClient.clientContacts[index].addresses[addrIndex].addressType %></strong></li>
                        <li><%=currentClient.clientContacts[index].addresses[addrIndex].address1%></li>
                        <%if (currentClient.clientContacts[index].addresses[addrIndex].address2) {%>
                           <li><%=currentClient.clientContacts[index].addresses[addrIndex].address2%></li>
                        <%}%>
                        <li><%=currentClient.clientContacts[index].addresses[addrIndex].city%>, <%=currentClient.clientContacts[index].addresses[addrIndex].state%>  <%=currentClient.clientContacts[index].addresses[addrIndex].postalCode%></li>
                        <%if (currentClient.clientContacts[index].addresses[addrIndex].international) {%>
                           <li><%=currentClient.clientContacts[index].addresses[addrIndex].country%></li>
                        <%}%>
                     <%}%>
                  </ul>
               <%} else {%>
                  <h4><span class="label label-default">No address information available</span></h4>
               <%}%>
            </div>
             <div class="col-xs-4">
               <h4>Office Admin Contact</h4>
               <%if (currentClient.clientContacts[index].officeAdminContact){%>
                  <ul class="pull-left img-rounded card">

                     <li><%= currentClient.clientContacts[index].officeAdminContact[0].fullName %></li>
                     <li><strong>Title:</strong> <%= currentClient.clientContacts[index].officeAdminContact[0].title %></li>
                     <li><strong>Email:</strong> <%= currentClient.clientContacts[index].officeAdminContact[0].email %></li>

                      <%if (currentClient.clientContacts[index].officeAdminContactPhoneNumbers && currentClient.clientContacts[index].officeAdminContactPhoneNumbers.length > 0) {%>
                        <%for (var phoneIndex in currentClient.clientContacts[index].officeAdminContactPhoneNumbers) {%>
                           <li>
                              <%if(currentClient.clientContacts[index].officeAdminContactPhoneNumbers[phoneIndex].phoneType){%>
                                 <strong><%=currentClient.clientContacts[index].officeAdminContactPhoneNumbers[phoneIndex].phoneType%>:</strong>
                              <%}%>
                              <%if(currentClient.clientContacts[index].officeAdminContactPhoneNumbers[phoneIndex].number) {%>
                                 <%=currentClient.clientContacts[index].officeAdminContactPhoneNumbers[phoneIndex].number%>
                              <%}%>
                           </li>
                        <%}%>
                     <%}%>

                     <%if (currentClient.clientContacts[index].officeAdminContactAddresses && currentClient.clientContacts[index].officeAdminContactAddresses.length > 0) {%>
                        <%for (var addrIndex in currentClient.clientContacts[index].officeAdminContactAddresses) {%>
                           <li><strong><%= currentClient.clientContacts[index].officeAdminContactAddresses[addrIndex].addressType %></strong></li>
                           <li><%=currentClient.clientContacts[index].officeAdminContactAddresses[addrIndex].address1%></li>
                           <%if (currentClient.clientContacts[index].officeAdminContactAddresses[addrIndex].address2) {%>
                              <li><%=currentClient.clientContacts[index].officeAdminContactAddresses[addrIndex].address2%></li>
                           <%}%>
                           <li><%=currentClient.clientContacts[index].officeAdminContactAddresses[addrIndex].city%>, <%=currentClient.clientContacts[index].officeAdminContactAddresses[addrIndex].state%>  <%=currentClient.clientContacts[index].officeAdminContactAddresses[addrIndex].postalCode%></li>
                           <%if (currentClient.clientContacts[index].officeAdminContactAddresses[addrIndex].international == 'true') {%>
                              <li><%=currentClient.clientContacts[index].officeAdminContactAddresses[addrIndex].country%></li>
                           <%} else {%>
                              <li>USA</li>
                           <%}%>
                        <%}%>
                     <%}%>
                  </ul>
                  <%} else {%>
                     <h4><span class="label label-default">No information available</span></h4>
                  <%}%>
            </div>

         <%}%>
      <%} else {%>
         <h4><span class="label label-default">No information available</span></h4>
      <%}%>
</div>

<div class="row row-space-xs row-separator <%if (displayEdit == false) {%> hidden <%}%>">
   <div class="col-xs-12">
      <h3>CRG Business Development Name</h3>
      <%if (currentClient.crgBusinessDevelopmentName) {%>
         <ul class="pull-left img-rounded card">
            <li><%= currentClient.crgBusinessDevelopmentName %></li>
         </ul>
      <%} else {%>
         <h4><span class="label label-default">No information available</span></h4>
      <%}%>
   </div>
</div>

<div class="row row-space-xs row-separator <%if (displayEdit == false) {%> hidden <%}%>">
   <div class="col-xs-6">
      <h3>Compliance System</h3>
      <%if (currentClient.complianceSystem) {%>
         <ul class="pull-left img-rounded card">
            <li><%= currentClient.complianceSystem %></li>
         </ul>
      <%} else {%>
         <h4><span class="label label-default">No compliance system information available</span></h4>
      <%}%>
   </div>
   <div class="col-xs-6">
      <h3>Method of Delivery</h3>
      <%if (currentClient.deliveryMethod) {%>
         <ul class="pull-left img-rounded card">
            <%= currentClient.deliveryMethod %>
         </ul>
      <%} else {%>
         <h4><span class="label label-default">No delivery method information available</span></h4>
      <%}%>
   </div>
</div>

<div class="row row-space-xs row-separator">
   <div class="col-xs-6">
      <h3>Brands</h3>
      <%if (currentClient.brands && currentClient.brands.length > 0) {%>
         <%for (var index in currentClient.brands ) {%>
            <ul class="pull-left img-rounded card">
               <li><%=currentClient.brands[index].brandName%></li>
            </ul>
         <%}%>
      <%} else {%>
         <h4><span class="label label-default">No brands available</span></h4>
      <%}%>
   </div>
   <div class="col-xs-6">
      <h3>Presentation Titles</h3>
      <%if (currentClient.presentationTitles && currentClient.presentationTitles.length > 0) {%>
         <%for (var index in currentClient.presentationTitles ) {%>
            <ul class="pull-left img-rounded card">
               <li><%=currentClient.presentationTitles[index].titleName%></li>
            </ul>
         <%}%>
      <%} else {%>
         <h4><span class="label label-default">No presentation title available</span></h4>
      <%}%>
   </div>
   <div class="col-xs-6">
      <h3>Products</h3>
      <%if (currentClient.products && currentClient.products.length > 0) {%>
         <%for (var index in currentClient.products ) {%>
            <ul class="pull-left img-rounded card">
               <li><%=currentClient.products[index].productName%></li>
            </ul>
         <%}%>
      <%} else {%>
         <h4><span class="label label-default">No products information available</span></h4>
      <%}%>
   </div>
   <div class="col-xs-6 <%if (displayEdit == false) {%> hidden <%}%>">
      <h3>Therapeutic Areas</h3>
      <%if (currentClient.therapeuticAreas) {%>
         <ul class="pull-left img-rounded card">
            <li><%= currentClient.therapeuticAreas %></li>
         </ul>
      <%} else {%>
         <h4><span class="label label-default">No therapeutic areas information available</span></h4>
      <%}%>
   </div>
</div>

<div class="row row-space-xs row-separator">
   <div class="col-xs-12">
      <h3>Address</h3>
      <%if (currentClient.addresses && currentClient.addresses.length > 0) {%>
            <%for (var index in currentClient.addresses) {%>
               <ul class="pull-left img-rounded card">
                  <li><strong><%= currentClient.addresses[index].addressType %></strong></li>
                  <li><%=currentClient.addresses[index].address1%></li>
                  <%if (currentClient.addresses[index].address2) {%>
                     <li><%=currentClient.addresses[index].address2%></li>
                  <%}%>
                  <li><%=currentClient.addresses[index].city%>, <%=currentClient.addresses[index].state%>  <%=currentClient.addresses[index].postalCode%></li>
                  <%if (currentClient.addresses[index].international) {%>
                     <li><%=currentClient.addresses[index].country%></li>
                  <%} else {%>
                     <li>USA</li>
                  <%}%>
               </ul>
            <%}%>
      <%} else {%>
         <h4><span class="label label-default">No address information available</span></h4>
      <%}%>
   </div>
</div>

<div class="row row-space-xs row-separator">
   <div class="col-xs-12">
      <h3>Finance Contact</h3>
      <%if (currentClient && currentClient.financeContact) {%>
         <ul class="pull-left img-rounded card">
            <li><strong><%= currentClient.financeContact[0].fullName %></strong></li>
            <li><strong>Title: </strong><%= currentClient.financeContact[0].title %></li>
            <li><strong>Email: </strong><%= currentClient.financeContact[0].email %></li>
            <%for (var index in currentClient.financeContact[0].phoneNumbers) {%>
               <li><strong><%= currentClient.financeContact[0].phoneNumbers[index].phoneType %>: </strong><%= currentClient.financeContact[0].phoneNumbers[index].number %></li>
            <%}%>
         </ul>
      <%} else {%>
         <h4><span class="label label-default">No finance contact information available</span></h4>
      <%}%>
   </div>
</div>

<div class="row row-space-xs <%if (displayEdit == false) {%> hidden <%}%>">
   <div class="col-xs-12">
      <h3>Promotional Sales Force</h3>
   </div>
   <div class="col-xs-4">
      <h4>Level 1</h4>
      <%if (currentClient && currentClient.salesForceLabelsLevel1 && currentClient.salesForceLabelsLevel1.length > 0) {%>
         <ul class="pull-left img-rounded card">
            <%for (var index in currentClient.salesForceLabelsLevel1) {%>
               <li><%= currentClient.salesForceLabelsLevel1[index] %></li>
            <%}%>
         </ul>
      <%} else {%>
         <h4><span class="label label-default">No information available</span></h4>
      <%}%>
   </div>
   <div class="col-xs-4">
      <h4>Level 2 </h4>
      <%if (currentClient && currentClient.salesForceLabelsLevel2 && currentClient.salesForceLabelsLevel2.length > 0) {%>
         <ul class="pull-left img-rounded card">
            <%for (var index in currentClient.salesForceLabelsLevel2) {%>
               <li><%= currentClient.salesForceLabelsLevel2[index] %></li>
            <%}%>
         </ul>
      <%} else {%>
         <h4><span class="label label-default">No information available</span></h4>
      <%}%>
   </div>
   <div class="col-xs-4">
      <h4>Level 3 </h4>
      <%if (currentClient && currentClient.salesForceLabelsLevel3 && currentClient.salesForceLabelsLevel3.length > 0) {%>
         <ul class="pull-left img-rounded card">
            <%for (var index in currentClient.salesForceLabelsLevel3) {%>
               <li><%= currentClient.salesForceLabelsLevel3[index] %></li>
            <%}%>
         </ul>
      <%} else {%>
         <h4><span class="label label-default">No information available</span></h4>
      <%}%>
   </div>
</div>

<div class="row <%if (displayEdit == false) {%> hidden <%}%>">
   <div class="col-xs-4">
      <h4>Medical Affairs</h4>
      <%if (currentClient && currentClient.medicalAffairs && currentClient.medicalAffairs.length > 0) {%>
         <ul class="pull-left img-rounded card">
            <%for (var index in currentClient.medicalAffairs) {%>
               <li><%= currentClient.medicalAffairs[index] %></li>
            <%}%>
         </ul>
      <%} else {%>
         <h4><span class="label label-default">No information available</span></h4>
      <%}%>
   </div>
   <div class="col-xs-4">
      <h4>Payors</h4>
      <%if (currentClient && currentClient.payors && currentClient.payors.length > 0) {%>
         <ul class="pull-left img-rounded card">
            <%for (var index in currentClient.payors) {%>
               <li><%= currentClient.payors[index] %></li>
            <%}%>
         </ul>
      <%} else {%>
         <h4><span class="label label-default">No information available</span></h4>
      <%}%>
   </div>
</div>