
<%- scriptLink('/js/attendees/attendees.js', {type: 'text/javascript'}) %>

<div class="hero-unit">
  <form id="attendee-form" class="form-horizontal" action="/attendees" method="POST">
    <fieldset>
      <legend>Create a new Attendee</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>

      <%- partial('form', {attendee: params, attendeeTypes:attendeeTypes, attendeeStatusTypes:attendeeStatusTypes,roomTypes:roomTypes}) %>

      <div class="form-actions">
        <%- contentTag('input', 'Add', {type: 'submit', class: 'btn btn-primary'}) %>
      </div>
    </fieldset>
  </form>
</div>
