<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 3 of 5",
   backButtonFunction: 'goAttendeeStep2()',
   nextButtonFunction: 'goAttendeeStep4()',
   })
%>

<%- partial('app/views/contacts/contactStep3Partial', {currentContact: currentContact, phoneTypes: phoneTypes, states: states, selectPrompt: selectPrompt, currentClient: currentClient})%>

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
               backButtonFunction: 'goAttendeeStep2()',
               nextButtonFunction: 'goAttendeeStep4()',
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row --> 