<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 4 of 5",
   backButtonFunction: 'goAttendeeStep3()',
   nextButtonFunction: 'goAttendeeStep5()',
   })
%>

<%- partial('app/views/contacts/contactStep4Partial', {currentContact: currentContact, countries: countries, reps: reps, selectPrompt: selectPrompt, currentClient: currentClient})%> 

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
               backButtonFunction: 'goAttendeeStep3()',
               nextButtonFunction: 'goAttendeeStep5()',
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row --> 