<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 2 of 5",
   backButtonFunction: 'goAttendeeStep1()',
   nextButtonFunction: 'goAttendeeStep3()',
   })
%>

<%- partial('app/views/contacts/contactStep2Partial', {currentContact: currentContact, phoneTypes: phoneTypes, states: states, countries: countries, addressTypes: addressTypes, selectPrompt: selectPrompt, currentClient: currentClient})%>

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
               backButtonFunction: 'goAttendeeStep1()',
               nextButtonFunction: 'goAttendeeStep3()',
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row --> 