<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 1",
   backButtonFunction: 'goAttendeeDetails()',
   nextButtonFunction: 'validateAttendeeStep1(goAttendeeStep2)',
   })
%>

<%- partial('app/views/components/dialogs/deleteSelected') %>
<%- partial('app/views/components/dialogs/uploadFile') %>

<div class="row steps" id="searchKOL">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">KOL Info</h3>
         </div>
         
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label>Please search for the attendee's NPI number in the system first. If it is not found, you can add their information manually.</label>
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="NPI">NPI:</label>
                  <input id="npiNumber" type="text" class="js-npi form-control js-number-only" name="npi" value="<%if(currentAttendee){%><%=currentAttendee.npi%><% }%>" />
                  <button class="btn btn-primary js-next" onclick='searchByNPI()'>Search For KOL</button>
               </div>
            </div>
            
            <div class="form-inline row-space-xs" id="npiSearchError" hidden>   
               <div class="form-group">
                  <label class="bg-danger">The NPI number was not found in the system.  Please verify NPI number or add information manually.</label>
               </div>
            </div>

            <div class="form-inline row-space-xs" id="badNPIError" hidden>   
               <div class="form-group">
                  <label class="bg-danger">NPI number needs to be 10 digits long.</label>
               </div>
            </div>

            <div id="addManually" class="form-group" hidden>
               <button class="btn btn-primary js-next" onclick='addAttendeeManually()'>Add Attendee Manually</button>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->


<div class="row steps hidden" id="eventKOLINfo">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Event KOL Info</h3>
         </div>
         
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label><span class="required">* </span>Attendee Type: </label>
                  <select name="attendeeType" class="js-attendee-property form-control validate[required]">
                     <option value disabled selected><%=selectPrompt%></option>
                     <% for (index in attendeeTypes) { %>
                        <option <% if (currentAttendee && currentAttendee.attendeeType == attendeeTypes[index].label) {%> selected <% }%> ><%= attendeeTypes[index].label%></option>
                     <% } %>
                 </select>
              </div>

              <div class="form-group">
                  <label><span class="required">* </span>Status: </label>
                  <select name="status" class="js-attendee-status-property form-control validate[required]">
                     <option value disabled selected><%=selectPrompt%></option>
                     <% for (index in statusTypes) { %>
                        <option value="<%= statusTypes[index].id%>" <% if (currentAttendee && currentAttendee.status == statusTypes[index].id) {%> selected <% }%> ><%= statusTypes[index].label%></option>
                     <% } %>
                 </select>
              </div>

              <div class="form-group">
                  <label>Pin Number: </label>
                  <input name="pin" class='js-attendee-property' value="<% if (currentAttendee && currentAttendee.pin) {%><%= currentAttendee.pin%><%}%>"></input>
              </div>

               <div class="checkbox">
                  <label>
                     <input type="checkbox" name="attendingDinner" class='js-attending-dinner' value="Attending Dinner"
                     <%if (currentAttendee && currentAttendee.attendingDinner) {%>
                        <%if (currentAttendee.attendingDinner == 'true') {%>
                           checked 
                        <%}%> 
                     <%}%>
                     >
                     Attending Dinner
                  </label>
               </div>
            </div>

            <div class="form-inline row-space-xs" id="saveAsKOL" hidden>
               <div class="form-group">
                  <div class="form-group">
                     <button class="btn btn-primary js-next" onclick='saveAsKOL()'>Save as KOL</button>
                  </div>
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->


<%- partial('app/views/contacts/contactStep1Partial', {currentContact: currentContact, suffixes: suffixes, states: states, salutations: salutations, selectPrompt: selectPrompt})%>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Hotel Information</h3>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <label>Room Type:</label>
               <select name="roomType" class="js-attendee-property form-control">
                  <option disabled="disabled" selected><%=selectPrompt%></option>
                  <% for (index in roomTypes) { %>
                     <option <% if (currentAttendee && currentAttendee.roomType == roomTypes[index].label) {%> selected <% }%> ><%= roomTypes[index].label%></option>
                  <% } %>
               </select>
            </div>
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label>Confirmation Number:</label>
                  <input name="hotelConfirmationNumber" class="js-attendee-property" value="<% if(currentAttendee && currentAttendee.hotelConfirmationNumber) {%><%= currentAttendee.hotelConfirmationNumber%><% }%>"></input>
               </div>

               <div class="form-group">
                  <label>Billing:</label>
                  <input name="hotelBilling" class="js-attendee-property js-monetary-value-hotel" value="<% if(currentAttendee && currentAttendee.hotelBilling) {%><%= currentAttendee.hotelBilling%><%}%>"></input>
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label>Arrival Date:</label>
                  <input class='js-hotel-arrival' value="<% if (currentAttendee && currentAttendee.hotelArrivalDate) { %><%= currentAttendee.hotelArrivalDate%><%}%>"></input>
               </div>
               
               <div class="form-group">
                  <label>Departure Date:</label>
                  <input class='js-hotel-departure' value="<% if (currentAttendee && currentAttendee.hotelDepartureDate) {%><%= currentAttendee.hotelDepartureDate%><%}%>"></input>
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <label>Hotel Notes:</label>
               <textarea name="hotelNotes" cols='40' rows='4' class="js-attendee-property form-control"><%if(currentAttendee && currentAttendee.hotelNotes){%><%=currentAttendee.hotelNotes%><% }%></textarea>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->
   
<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Travel Information</h3>
         </div>
         
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <div class="checkbox">
                     <label>
                        <input type="checkbox" name="travelItineraryReceived" class='js-itinerary-received'
                        <%if (currentAttendee && currentAttendee.travelItineraryReceived) {%>
                           <%if (currentAttendee.travelItineraryReceived == 'true') {%>
                              checked 
                           <%}%> 
                        <%}%>
                        >
                        Travel Itinerary Received
                     </label>
                  </div>
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label>Arrival Date:</label>
                  <input name="travelArrivalDate" class='js-arrival' value="<% if (currentAttendee && currentAttendee.travelArrivalDate) { %><%= currentAttendee.travelArrivalDate%><%}%>"></input>
               </div>

               <div class="form-group">
                  <label>Arrival Time:</label>
                  <input name="travelArrivalTime" class='js-timePicker' value="<% if (currentAttendee && currentAttendee.travelArrivalTime) { %><%= currentAttendee.travelArrivalTime%><%}%>"></input>
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label>Arrival Code:</label>
                  <input name="arrivalCode" class='js-attendee-property js-number-only' value="<% if (currentAttendee && currentAttendee.arrivalCode) { %><%= currentAttendee.arrivalCode%><%}%>"></input>
               </div>

               <div class="form-group">
                  <label>Arrival Location:</label>
                  <input name="arrivalLocation" class="js-attendee-property" value="<% if (currentAttendee && currentAttendee.arrivalLocation) { %><%= currentAttendee.arrivalLocation%><%}%>"></input>
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label>Car Arrival Confirmation #:</label>
                  <input name="carArrivalConfirmationNumber" class='js-attendee-property js-number-only' value="<% if (currentAttendee && currentAttendee.carArrivalConfirmationNumber) { %><%= currentAttendee.carArrivalConfirmationNumber%><%}%>"></input>
               </div>

               <div class="form-group">
                  <label>Car Arrival Location:</label>
                  <input name="carArrivalLocation" class='js-attendee-property' value="<% if (currentAttendee && currentAttendee.carArrivalLocation) { %><%= currentAttendee.carArrivalLocation%><%}%>"></input>
               </div>

               <div class="form-group">
                  <label>Passengers #:</label>
                  <input name="passengersNumber" class='js-attendee-property js-number-only' value="<% if (currentAttendee && currentAttendee.passengersNumber) { %><%= currentAttendee.passengersNumber%><%}%>"></input>
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label>Departure Date:</label>
                  <input name="travelDepartureDate" class='js-departure' value="<% if (currentAttendee && currentAttendee.travelDepartureDate) { %><%= currentAttendee.travelDepartureDate%><%}%>"></input>
               </div>

               <div class="form-group">
                  <label>Departure Time:</label>
                  <input name="travelDepartureTime" class='js-timePicker' value="<% if (currentAttendee && currentAttendee.travelDepartureTime) { %><%= currentAttendee.travelDepartureTime%><%}%>"></input>
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label>Departure Code:</label>
                  <input name="travelDepartureCode" class='js-attendee-property js-number-only' value="<% if (currentAttendee && currentAttendee.travelDepartureCode) { %><%= currentAttendee.travelDepartureCode%><%}%>"></input>
               </div>

               <div class="form-group">
                  <label>Departure Location:</label>
                  <input name="travelDepartureLocation" class='js-attendee-property' value="<% if (currentAttendee && currentAttendee.travelDepartureLocation) { %><%= currentAttendee.travelDepartureLocation%><%}%>"></input>
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label>Car Departure Confirmation #:</label>
                  <input name="carDepartureConfirmationNumber" class='js-attendee-property js-number-only' value="<% if (currentAttendee && currentAttendee.carDepartureConfirmationNumber) { %><%= currentAttendee.carDepartureConfirmationNumber%><%}%>"></input>
               </div>

               <div class="form-group">
                  <label>Car Departure Location:</label>
                  <input name="carDepartureLocation" class='js-attendee-property' value="<% if (currentAttendee && currentAttendee.carDepartureLocation) { %><%= currentAttendee.carDepartureLocation%><%}%>"></input>
               </div>

            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label>Pickup Time:</label>
                  <input name="pickupTime" class='js-timePicker' value="<% if (currentAttendee && currentAttendee.pickupTime) { %><%= currentAttendee.pickupTime%><%}%>"></input>
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label>Record Locator:</label>
                  <input name="recordLocator" class='js-attendee-property js-number-only' value="<% if (currentAttendee && currentAttendee.recordLocator) { %><%= currentAttendee.recordLocator%><%}%>"></input>
               </div>

               <div class="form-group">
                  <label>Airfare Cost:</label>
                  <input name="airfareCost" class='js-attendee-property js-monetary-value' value="<% if (currentAttendee && currentAttendee.airfareCost) { %><%= currentAttendee.airfareCost%><%}%>"></input>
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label>Comments:</label>
                  <textarea name="comments" cols='40' rows='4' class="js-attendee-property form-control"><%if(currentAttendee && currentAttendee.comments){%><%=currentAttendee.comments%><% }%></textarea>
               </div>
            </div>


         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Travel Documents</h3>
         </div>
         <div class="panel-body">
            <div class="js-selection-container">
              <div class="form-inline row-space-xs">
                 <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>

                 <div class="pull-right <% if(!currentAttendee) {%> hidden<% }%>">
                     <button type="button" class="btn btn-info" onclick="createNewTravelDocument('<%if (currentAttendee) {%><%= currentAttendee.id%><%}%>')">Upload New Travel Document</button>
                 </div>
              </div>

               <div class="form-inline row-space-xs">
                  <table class="mainTable">
                     <thead>
                        <tr class="info">
                           <th class="filter-false sorter-false" data-bind="&lt;input type='checkbox' value='{id}'/&gt;">
                              <input type="checkbox" class="selectall"/>
                           </th>
                           <th><span>Name</span></th>
                           <th><span>File Name</span></th>
                           <th><span>Notes</span></th>
                        </tr>
                     </thead>
                     <tbody>
                        <%if (currentAttendee && currentAttendee.travelDocuments) {%>
                            <% for (var i = 0, ii = currentAttendee.travelDocuments.length; i < ii; i++) { %>
                               <tr>
                                 <td class="checkBoxTd" data-path="<%= currentAttendee.travelDocuments[i].pathToFile %>"><input type="checkbox" class="selectElement" value="<%= i %>" /> </td>
                                 <td><%= currentAttendee.travelDocuments[i].name%></td>
                                 <td><%= currentAttendee.travelDocuments[i].pathToFile.slice(currentAttendee.travelDocuments[i].pathToFile.lastIndexOf('/') + 1, currentAttendee.travelDocuments[i].pathToFile.length)%></td>
                                 <td><%= currentAttendee.travelDocuments[i].notes%></td>
                               </tr>
                           <%}%>
                        <%}%>
                     </tbody>
                  </table>
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goAttendeeDetails()',
            nextButtonFunction: 'validateAttendeeStep1(goAttendeeStep2)'
            })
         %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row --> 
