<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 4 of 5",
   backButtonFunction: 'goAttendeeStep4()',
   nextButtonFunction: 'goAttendeeDetails()',
   nextButtonLabel: 'Done'
   })
%>

<%- partial('app/views/components/dialogs/taxForm', {selectPrompt:selectPrompt, states:states, countries:countries}) %>

<%- partial('app/views/contacts/contactStep5Partial', {currentContact: currentContact, countries: countries, states: states, selectPrompt: selectPrompt, currentClient: currentClient})%> 

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
               backButtonFunction: 'goAttendeeStep4()',
               nextButtonFunction: 'goAttendeeDetails()',
               nextButtonLabel: 'Next'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row --> 