
<%- scriptLink('/js/attendees/attendees.js', {type: 'text/javascript'}) %>

<div class="hero-unit">
  <form id="attendee-form" class="form-horizontal" action="/attendees/<%= params.id %>?_method=PUT" method="POST">
    <fieldset>
      <legend>Update this Attendee</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>

      <%- partial('form', {attendee: attendee, attendeeTypes:attendeeTypes, attendeeStatusTypes:attendeeStatusTypes, roomTypes:roomTypes}) %>

      <div class="form-actions">
        <%- contentTag('input', 'Save', {type: 'submit', class: 'btn btn-primary'}) %>
        <%- contentTag('button', 'Remove', {type: 'submit', formaction: '/attendees/' + params.id + '?_method=DELETE', formmethod: 'POST', class: 'btn btn-danger'}) %>
      </div>
    </fieldset>
  </form>
</div>
