<div class="control-group">
  <label for="contactId" class="control-label">Contact Id</label>
  <div class="controls">
    <%- contentTag('input', attendee.contactId, {type:'text', class:'span6', name:'contactId'}) %>
  </div>
</div>
<div class="control-group">
  <label for="speaker" class="control-label">Speaker</label>
  <div class="controls">
    <select name="speaker", class="span1">
      <% if(attendee.speaker) { -%>
      <option>false</option>
      <option selected>true</option>
      <% } else { -%>
      <option selected>false</option>
      <option>true</option>
      <% } -%>
    </select>
  </div>
</div>
<div class="control-group">
  <label for="attendingDinner" class="control-label">Attending Dinner</label>
  <div class="controls">
    <select name="attendingDinner", class="span1">
      <% if(attendee.attendingDinner) { -%>
      <option>false</option>
      <option selected>true</option>
      <% } else { -%>
      <option selected>false</option>
      <option>true</option>
      <% } -%>
    </select>
  </div>
</div>
<div class="control-group">
  <label for="dietaryRestrictions" class="control-label">Dietary Restrictions</label>
  <div class="controls">
    <%- contentTag('input', attendee.dietaryRestrictions, {type:'text', class:'span6', name:'dietaryRestrictions'}) %>
  </div>
</div>
<div class="control-group">
  <label for="specialNeeds" class="control-label">Special Needs</label>
  <div class="controls">
    <%- contentTag('input', attendee.specialNeeds, {type:'text', class:'span6', name:'specialNeeds'}) %>
  </div>
</div>
<div class="control-group">
  <label for="hotelArrivalDate" class="control-label">Hotel Arrival Date</label>
  <div class="controls">
    <%- contentTag('input', attendee.hotelArrivalDate, {type:'date', class:'span2', name:'hotelArrivalDate'}) %>
  </div>
</div>
<div class="control-group">
  <label for="hotelDepartureDate" class="control-label">Hotel Departure Date</label>
  <div class="controls">
    <%- contentTag('input', attendee.hotelDepartureDate, {type:'date', class:'span2', name:'hotelDepartureDate'}) %>
  </div>
</div>
<div class="control-group">
  <label for="hotelConfirmationNumber" class="control-label">Hotel Confirmation Number</label>
  <div class="controls">
    <%- contentTag('input', attendee.hotelConfirmationNumber, {type:'number', class:'span2', name:'hotelConfirmationNumber'}) %>
  </div>
</div>
<div class="control-group">
  <label for="hotelBilling" class="control-label">Hotel Billing</label>
  <div class="controls">
    <%- contentTag('input', attendee.hotelBilling, {type:'number', class:'span2', name:'hotelBilling'}) %>
  </div>
</div>
	  <!--div class="control-group">
		<label for="title" class="control-label">Room Type</label>
		  <div>
		    <select id="roomTypeComboBox" name="roomTypeId"></select>
		  </div>
</div-->

 <div class="control-group">
		<label for="title" class="control-label">Room Type</label>
	  <div>
	    <%- selectTag(roomTypes, attendee.roomTypeId, {
	      name: 'roomTypeId'
	    , valueField: 'roomTypeId'
	    , textField: 'text'
	    }); %>
	  </div>
	</div>


<div class="control-group">
  <label for="hotelNotes" class="control-label">Hotel Notes</label>
  <div class="controls">
    <%- contentTag('input', attendee.hotelNotes, {type:'text', class:'span2', name:'hotelNotes'}) %>
  </div>
</div>
<div class="control-group">
  <label for="travelItineraryReceived" class="control-label">Travel Itinerary Received</label>
  <div class="controls">
    <select name="travelItineraryReceived", class="span1">
      <% if(attendee.travelItineraryReceived) { -%>
      <option>false</option>
      <option selected>true</option>
      <% } else { -%>
      <option selected>false</option>
      <option>true</option>
      <% } -%>
    </select>
  </div>
</div>
<div class="control-group">
  <label for="travelArrivalDateTime" class="control-label">Travel Arrival Date Time</label>
  <div class="controls">
    <%- contentTag('input', attendee.travelArrivalDateTime, {type:'datetime', class:'span3', name:'travelArrivalDateTime'}) %>
  </div>
</div>
<div class="control-group">
  <label for="arrivalInfo" class="control-label">Arrival Info</label>
  <div class="controls">
    <%- contentTag('input', attendee.arrivalInfo, {type:'number', class:'span2', name:'arrivalInfo'}) %>
  </div>
</div>
<div class="control-group">
  <label for="arrivalLocation" class="control-label">Arrival Location</label>
  <div class="controls">
    <%- contentTag('input', attendee.arrivalLocation, {type:'text', class:'span6', name:'arrivalLocation'}) %>
  </div>
</div>
<div class="control-group">
  <label for="carArrivalConfirmationNumber" class="control-label">Car Arrival Confirmation Number</label>
  <div class="controls">
    <%- contentTag('input', attendee.carArrivalConfirmationNumber, {type:'number', class:'span2', name:'carArrivalConfirmationNumber'}) %>
  </div>
</div>
<div class="control-group">
  <label for="carArrivalLocation" class="control-label">Car Arrival Location</label>
  <div class="controls">
    <%- contentTag('input', attendee.carArrivalLocation, {type:'text', class:'span6', name:'carArrivalLocation'}) %>
  </div>
</div>
<div class="control-group">
  <label for="passengersNumber" class="control-label">Passengers Number</label>
  <div class="controls">
    <%- contentTag('input', attendee.passengersNumber, {type:'number', class:'span2', name:'passengersNumber'}) %>
  </div>
</div>
<div class="control-group">
  <label for="travelDepartureDate" class="control-label">Travel Departure Date</label>
  <div class="controls">
    <%- contentTag('input', attendee.travelDepartureDate, {type:'date', class:'span2', name:'travelDepartureDate'}) %>
  </div>
</div>
<div class="control-group">
  <label for="travelDepartureInfo" class="control-label">Travel Departure Info</label>
  <div class="controls">
    <%- contentTag('input', attendee.travelDepartureInfo, {type:'text', class:'span6', name:'travelDepartureInfo'}) %>
  </div>
</div>
<div class="control-group">
  <label for="travelDepartureTime" class="control-label">Travel Departure Time</label>
  <div class="controls">
    time
  </div>
</div>
<div class="control-group">
  <label for="carDepartureLocation" class="control-label">Car Departure Location</label>
  <div class="controls">
    <%- contentTag('input', attendee.carDepartureLocation, {type:'text', class:'span6', name:'carDepartureLocation'}) %>
  </div>
</div>
<div class="control-group">
  <label for="carDepartureConfirmationNumber" class="control-label">Car Departure Confirmation Number</label>
  <div class="controls">
    <%- contentTag('input', attendee.carDepartureConfirmationNumber, {type:'number', class:'span2', name:'carDepartureConfirmationNumber'}) %>
  </div>
</div>
<div class="control-group">
  <label for="pickupTime" class="control-label">Pickup Time</label>
  <div class="controls">
    time
  </div>
</div>
<div class="control-group">
  <label for="recordLocator" class="control-label">Record Locator</label>
  <div class="controls">
    <%- contentTag('input', attendee.recordLocator, {type:'number', class:'span2', name:'recordLocator'}) %>
  </div>
</div>
<div class="control-group">
  <label for="comments" class="control-label">Comments</label>
  <div class="controls">
    <%- contentTag('textarea', attendee.comments, {class: 'span6', name: 'comments', rows: 10}) %>
  </div>
</div>
<div class="control-group">
  <label for="airfareCost" class="control-label">Airfare Cost</label>
  <div class="controls">
    <%- contentTag('input', attendee.airfareCost, {type:'number', class:'span2', name:'airfareCost'}) %>
  </div>
</div>
<div class="control-group">
  <label for="travelDocument" class="control-label">Travel Document</label>
  <div class="controls">
    object
  </div>
</div>

	  <div class="control-group">
		<label for="title" class="control-label">Attendee Type</label>
		  <div>
		    <%- selectTag(attendeeTypes, attendee.attendeeTypeId, {
		      name: 'attendeeTypeId'
		    , valueField: 'id'
		    , textField: 'attendeeTypeName'
		    }); %>
		  </div>
	  </div>

	  <div class="control-group">
		<label for="title" class="control-label">Attendee Status</label>
		  <div>
		    <%- selectTag(attendeeStatusTypes, attendee.attendeeStatusTypeId, {
		      name: 'attendeeStatusTypeId'
		    , valueField: 'id'
		    , textField: 'attendeeStatusTypeName'
		    }); %>
		  </div>
	  </div>
	  
