
<%- partial('app/views/components/dialogs/deleteSelected') %>

<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-8">
                <h3>Faculty/Attendees: <%= currentEvent.jobNumber%> <% if (currentEvent.confirmedDate){ %> (<%= currentEvent.confirmedDate%>) <%}%></h3>
            </div>
            <!-- STUTZENV3 -->
             <div class="col-xs-2">
                <div class="pull-right">
                    <button type="button" class="btn btn-warning show-select-options-btn " onclick="openPrior()">Select Prior Attendee </button>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="pull-right">
                  <button type="button" class="btn btn-info" onclick="createNewAttendee()">Create New Attendee <span class="glyphicon glyphicon-plus-sign"></span></button>
                </div>
            </div>
        </div>
    </div> <!-- col -->
</div> <!-- / row -->
<!-- STUTZENV3 -->
<div class="js-selection-container show-select-options ">

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Search</h3>
        </div>
        <div class="panel-body" >
            <div class="row  ">
            <form action="/contacts/searchAll" method="post" id="PriorSearchForm">
            <input id="CurrentPage2" type="hidden" name="currentPage" value="1"/>
                <div class="col-sm-2-5 ">
                    <input type="text" name="firstName" placeholder="Name" class="form-control" />
                </div>
                <div class="col-sm-2-5 ">
                    <input type="text" name="tsaGender"  placeholder="Gender"  class="form-control" />
                </div>
                <div class="col-sm-2-5 ">
                    <input type="text"name="defaultPhoneNumber" placeholder="Phone"  class="form-control" />
                </div>
                <div class="col-sm-2-5 ">
                    <input type="text" name="defaultEmail" placeholder="Email" class="form-control" />
                </div>
                <div class="col-sm-2-5 ">
                    <button type="button" id="PriorSearchButton" class="btn btn-warning" >Search </button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row row-space-xs">
        <div class="col-xs-12">
            <div class="form-inline">
                <button id="addpriorbtn" type="button" class="btn btn-success" ><span class="glyphicon glyphicon-plus-sign"></span>Add</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <table class="mainTable2 tablesorter tablesorter-bootstrap table table-bordered" role="grid"><colgroup></colgroup>
                <thead>
                    <tr class="info tablesorter-headerRow" role="row">
                        <th class="filter-false sorter-false tablesorter-header tablesorter-headerUnSorted bootstrap-header" data-bind="<input type='checkbox' class='selectElement' value='{id}'></th>" data-column="0" tabindex="0" scope="col" role="columnheader" aria-disabled="true" unselectable="on" aria-sort="none" style="user-select: none;">
                            
                        </th>
                        <th data-bind="{lastName}" data-column="1" class="tablesorter-header tablesorter-headerUnSorted bootstrap-header" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" style="user-select: none;"><div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%"><div class="tablesorter-header-inner">Last Name</div></div></th>
                <th data-bind="{firstName}" data-column="2" class="tablesorter-header tablesorter-headerUnSorted bootstrap-header" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" style="user-select: none;"><div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%"><div class="tablesorter-header-inner">First Name </div></div></th>
                <th data-bind="{type}" data-column="3" class="tablesorter-header tablesorter-headerUnSorted bootstrap-header" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none"  style="user-select: none;"><div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%"><div class="tablesorter-header-inner">Type </div></div></th>
                <th data-bind="{defaultEmail}" data-column="4" class="tablesorter-header tablesorter-headerUnSorted bootstrap-header" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none"  style="user-select: none;"><div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%"><div class="tablesorter-header-inner">Email </div></div></th>
                <th data-bind="{defaultPhoneNumber}" data-column="5" class="tablesorter-header tablesorter-headerUnSorted bootstrap-header" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" style="user-select: none;"><div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%"><div class="tablesorter-header-inner">Phone Number </div></div></th>
                <th data-bind="{npi}" data-column="6" class="tablesorter-header tablesorter-headerUnSorted bootstrap-header" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" style="user-select: none;"><div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%"><div class="tablesorter-header-inner">NPI </div></div></th>
                <th data-bind="{dea}" data-column="7" class="tablesorter-header tablesorter-headerUnSorted bootstrap-header" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" style="user-select: none;"><div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%"><div class="tablesorter-header-inner">DEA</div></div></th>
                </tr>
                </thead>
                <tbody aria-live="polite" aria-relevant="all">

                    <tr>
                    </tr>

                </tbody>
            </table>
asas 
            <ul class="pager2 js-pager hidden ">
                <li class="js-page-back-button disabled"><a onclick="getElementListByPage2(this,-1)">Previous</a></li>
                <li class="js-page-label">1 / 0</li>
                <li class="js-page-next-button"><a onclick="getElementListByPage2(this,1)">Next</a></li>
            </ul>
        </div>
    </div>
</div>



<style>
    .nav-tabs .close-ico {}
    .nav-tabs .close-active {display: none;}
    .nav-tabs li.active .close-active {display: inline-block;}
    .nav-tabs li.active .close-ico {display: none;}
    .nav-tabs li.dash.func {display: block;}

    .img {}

    .row.func {display: none;}
    .row.func.show {display: block;}
    .col-sm-2-5  {    width: 20%; float: left; padding: 0 10px 10px; }
    .nav .func {display: none;}
    .nav .func.show {display: block;}

    /*.panel-body .col-sm-2-5 {display: none;}*/
    .panel-body .col-sm-2-5.search-btn {display: block;}
    .show-select-options {display: none;}

</style>

<% if (attendees && attendees.length > 0) {%> 
   <%- partial('app/views/components/search/advancedSearch', {searchProperties: searchAttendeesProperties, elementSearchArray:attendees, actionURL:'/attendees/search'}) %>
<% } %>

<div class="js-selection-container">
  <div class="row row-space-xs">
      <div class="col-xs-12">
        <div class="form-inline">
           <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
        </div>
     </div>
  </div>

  <div class="row">
     <div class="col-xs-12">
       <div class="table-sorter-wrapper">
          <table class="mainTable">
           <thead>
              <tr class="info">
              <th class="filter-false sorter-false" data-bind="<input type='checkbox' class='selectElement' value='{id}'/>"><input type="checkbox" class="selectall"/></th>
                 <th data-bind="{lastName}">Last Name</th>
                 <th data-bind="{firstName}">First Name</th>
                 <th data-bind="{attendeeType}">Type</th>
                 <th data-bind="{defaultEmail}">Email</th>
                 <th data-bind="{defaultPhoneNumber}">Phone Number</th>
                 <th data-bind="{npi}">NPI</th>
                 <th data-bind="{status}">Status</th>
              </tr>
           </thead>
           <tbody>
              <% if(attendees) { %>
                <% for (var i = 0, ii = attendees.length; i < ii; i++) { %>
                <tr>
                   <td class="checkBoxTd"><input type="checkbox" class="selectElement" value="<%=attendees[i].id%>" /></td>
                     <td><%=attendees[i].contact.lastName%></td>
                     <td><%=attendees[i].contact.firstName%></td>
                     <td><%=attendees[i].attendeeType%></td>
                     <td><%=attendees[i].contact.defaultEmail%></td>
                     <td><%=attendees[i].contact.defaultPhoneNumber%></td>
                     <td><%=attendees[i].contact.npi%></td>
                     <td><%if(statusTypes && statusTypes.length > 0 && attendees[i].status){%><%= statusTypes[attendees[i].status].label%><%}%></td>
                    
                 </tr>
                <% } %>
              <% } %>
           </tbody>
        </table>
     </div>
     <%- partial('app/views/components/pagination/paginationControl',{backPageFunction:'getElementListByPage',
            nextPageFunction:'getElementListByPage',
            currentPage:currentPage,
            totalPages:totalPages,
             }) %>
     </div>
  </div>
</div>