<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-6">
            <h3>Resources</h3>
        </div>
    </div>
</div>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning js-resource-container">
            <div class="panel-body">
              <% if (contactResources && contactResources.length > 0) { %>
                <% for (var j = 0, jj = contactResources.length; j < jj; j++) { %>
                  <div class="form-inline row-space-xs js-selection-container">
                    <h3><%= contactResources[j].clientName%></h3>
                    <table class="mainTable">
                       <thead>
                          <tr class="info">
                            <th><span>Name</span></th>
                            <th><span>Notes</span></th>
                            <th><span>Date Uploaded</span></th>
                          </tr>
                       </thead>
                       <tbody>
                        <% if (contactResources[j].resources && contactResources[j].resources.length > 0) { %>
                          <% for (var i = 0, ii = contactResources[j].resources.length; i < ii; i++) { %>
                          <tr class='js-filePath' data-path='<%=contactResources[j].resources[i].pathToFile%>' data-displayName='<%=contactResources[j].resources[i].name%>'>
                            <td>
                              <% if (contactResources[j].resources[i].pathToFile.indexOf('.key') != -1){ %>
                                <a href="<%= contactResources[j].resources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= contactResources[j].resources[i].name%></a>
                              <%} else {%>
                                <%= contactResources[j].resources[i].name%>
                              <%}%>
                            </td>
                            <td>
                              <% if (contactResources[j].resources[i].pathToFile.indexOf('.key') != -1){ %>
                                <a href="<%= contactResources[j].resources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= contactResources[j].resources[i].notes%></a>
                              <%} else {%>
                                <%= contactResources[j].resources[i].notes%>
                              <%}%>
                            </td>
                            <td>
                              <% if (contactResources[j].resources[i].pathToFile.indexOf('.key') != -1){ %>
                                <a href="<%= contactResources[j].resources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= contactResources[j].resources[i].createdAt.toLocaleDateString()%></a>
                              <%} else {%>
                                <%= contactResources[j].resources[i].createdAt.toLocaleDateString()%>
                              <%}%>
                            </td>
                           </tr>
                          <%}%>
                        <%}%>
                       </tbody>
                    </table>
                  </div>
                <% } %>
              <% } %>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->