<%- partial('app/views/contacts/show',{currentContact: currentContact, clients: clients, reps: reps, contracts: contracts, displayEdit: false, displayLinks: true, editing: editing, editor: editor}) %>

<div class="row">
   <div class="col-xs-12">
      <h3>Changes to Information</h3>
      <div class="form-group">
         <textarea id="edits" class="form-control" placeholder="Enter any edits here"></textarea>
      </div>
      <button class="btn btn-primary" onclick='submitContactProfileChanges("<%=currentContact.firstName%> <%= currentContact.lastName%>", "<%= currentContact.defaultEmail%>")'>Submit Changes</button>
   </div>
</div>
