<% if (audience && audience.length > 0) {%> 
   <%- partial('app/views/components/search/advancedSearch', {searchProperties: searchAudienceProperties, elementSearchArray:audience, actionURL:'/events/audienceSearch'}) %>
<% } %>

<label for="">Search Results </label>
<div class="table-sorter-wrapper">
  <table class="mainTable">
    <thead>
            <% if (displayInvitationPoolColumn == true) {%>
               <th class="filter-false sorter-false" data-bind="<input type='checkbox' class='js-pdf-checkbox' value='{id}' />">Invitation Pool</th>
            <%}%>

             <% if (displayEmailColumn == true) {%>
                <th class="filter-false sorter-false" data-bind="<input type='checkbox' <% if(!displayEmailColumn){%>disabled=disabled<%}%> {displayEmailColumn} class='js-email-checkbox' value='{id}' />">E-mail</th>
            <%}%>
             <% if (displayHardCopyColumn == true) {%>
                <th class="filter-false sorter-false" data-bind="<input type='checkbox' <% if(!displayHardCopyColumn){%>disabled=disabled<%}%> {displayHardCopyColumn} class='js-hardcopyCheckbox' value='{id}'/>">Hard Copy</th>
            <%}%>
            <th data-bind="<span class='js-lastName'> {lastName} </span>">Last Name</th>
            <th data-bind="<span class='js-firstName'> {firstName} </span>">First Name</th>
            <th data-bind="{specialties.*}">Product</th>
            <th data-bind="{affiliations.*.affiliationName}">Affiliation</th>
            <th data-bind="{addresses[0].city}">City</th>
            <th data-bind="{addresses[0].state}">State/Province</th>
            <th data-bind="{addresses[0].postalCode}">Postal Code</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0, ii = audience.length; i < ii; i++) { %>
        <tr>
            <% if (displayInvitationPoolColumn == true) {%>
              <td>
                  <input type="checkbox" <% if(!displayInvitationPoolColumn){%>disabled=disabled<%}%>class="js-pdf-checkbox" value='<%=audience[i].id%>' />
              </td>
             <%}%>
            <% if (displayEmailColumn == true) {%>
              <td>
                  <input type="checkbox" <% if(!displayEmailColumn){%>disabled=disabled<%}%>class="js-email-checkbox" value='<%=audience[i].id%>' />
              </td>
            <%}%>
            <% if (displayHardCopyColumn == true) {%>
              <td>
                  <input type="checkbox" <% if(!displayHardCopyColumn){%>disabled=disabled<%}%> class="js-hardcopyCheckbox" value='<%=audience[i].id%>' />
              </td>
            <%}%>
            <td>
                <span class='js-lastName'><%=audience[i].lastName%></span>
            </td>
            <td>
                <span class='js-firstName'><%=audience[i].firstName%></span>
            </td>
            <td>
                <% if (audience[i].specialties) {%>
                <% for (var j=0,  jj = audience[i].specialties.length; j < jj; j++) { %>
                <%=audience[i].specialties[j]%>
                <br />
                <% } %>
                <% } %>
            </td>
            <td>
                <% if (audience[i].affiliations) {%>
                <% for (var j=0,  jj = audience[i].affiliations.length; j < jj; j++) { %>
                <%=audience[i].affiliations[j].affiliationName%>
                <br />
                <% } %>
                <% } %>
            </td>
            <td>
                <% if (audience[i].addresses) {%>
                <%=audience[i].addresses[0].city%>
                <% } %>
            </td>
            <td>
                <% if (audience[i].addresses) {%>
                <%=audience[i].addresses[0].state%>
                <% } %>
            </td>
            <td>
                <% if (audience[i].addresses) {%>
                <%=audience[i].addresses[0].postalCode%>
                <% } %>
            </td>
        </tr>
        <% } %>
    </tbody>
   </table>
</div>
<%- partial('app/views/components/pagination/paginationControl',{backPageFunction:'getElementListByPage',
 nextPageFunction:'getElementListByPage',
 currentPage:currentPage,
 totalPages:totalPages,
})%>



<div class="col-xs-12">
  <p id="limitWarning" class="bg-danger" hidden>Unfortunately, you have reached the limit of 50 invitations for this list.</p>
</div>

<div class="row" >
   <div class="col-xs-6 <% if(!displayEmailColumn){%>hidden<%}%>">
   
      <div class="table-wrapper row-space-xs">
         <div id="table-scroll" class="table-scroll-border">
            <table id='emailInvitations' class="table table-hover table-striped">
               <thead>
                  <tr class="info">
                     <th>E-mail Invitations <span class="badge alert-warning js-counter">
                        <%if (currentEvent && currentEvent.emailInvitations) {%>
                           <%=currentEvent.emailInvitations.length %> / 50</span>
                         <% } else { %>
                           0 / 50</span>
                        <% } %>
                     </th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <%if (currentEvent && currentEvent.emailInvitations) {%>
                     <% for (var i = 0, ii = currentEvent.emailInvitations.length; i < ii; i++) { %>
                        <tr>
                           <td><input type="checkbox" value="<%=currentEvent.emailInvitations[i].id%>"/></td>
                           <td><%= currentEvent.emailInvitations[i].firstName %> <%= currentEvent.emailInvitations[i].lastName %> </td>
                        </tr>
                     <% } %>

                     <% for (var i=0; i < 50; i++) {%>
                    <% } %>
                  <% } %>
               </tbody>
            </table>
         </div>
      </div>

      <div class="row row-space-xs">
          <div class="col-xs-12">
            <div class="form-inline Right">
               <button type="button" class="btn btn-danger deleteSelectedBtn js-deleteEmailInvitationsBtn">Delete Selected</button>
            </div>
         </div>
      </div>
   </div>


   <div class="col-xs-6 <% if(!displayHardCopyColumn){%>hidden<%}%>">
    <div class="table-wrapper row-space-xs">
      <div id="table-scroll" class="table-scroll-border">
        <table id='hardcopyInvitations' class="table table-hover table-striped">
           <thead>
              <tr class="info">
                 <th>Hard Copy Invitations <span class="badge alert-warning js-counter">
                    <%if (currentEvent && currentEvent.hardcopyInvitations) {%>
                       <%=currentEvent.hardcopyInvitations.length %> / 50</span>
                    <% } else { %>
                       0 / 50</span>
                    <% } %>
                 </th>
                 <th></th>
              </tr>
           </thead>
           <tbody>
              <%if (currentEvent && currentEvent.hardcopyInvitations) {%>
                 <% for (var i = 0, ii = currentEvent.hardcopyInvitations.length; i < ii; i++) { %>
                    <tr>
                       <td><input type="checkbox" value="<%=currentEvent.hardcopyInvitations[i].id%>"/></td>
                       <td><%= currentEvent.hardcopyInvitations[i].firstName %> <%= currentEvent.hardcopyInvitations[i].lastName %> </td>
                    </tr>
                 <% } %>
              <% } %>
           </tbody>
        </table>
      </div>
    </div>

      <div class="row row-space-xs">
          <div class="col-xs-12">
            <div class="form-inline Right">
               <button type="button" class="btn btn-danger deleteSelectedBtn js-deleteHardcopyInvitationsBtn">Delete Selected</button>
            </div>
         </div>
      </div>
   </div>

   <div class="col-xs-6 <% if(!displayInvitationPoolColumn){%>hidden<%}%>">
   
      <div class="table-wrapper row-space-xs">
         <div id="table-scroll" class="table-scroll-border">
            <table id='emailPDFInvitations' class="table table-hover table-striped">
               <thead>
                  <tr class="info">
                     <th>Invitation Pool <span class="badge alert-warning js-counter">
                        <%if (currentEvent && currentEvent.emailPDFInvitations) {%>
                           <%=currentEvent.emailPDFInvitations.length %> / 50</span>
                         <% } else { %>
                           0 / 50</span>
                        <% } %>
                     </th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <%if (currentEvent && currentEvent.emailPDFInvitations) {%>
                     <% for (var i = 0, ii = currentEvent.emailPDFInvitations.length; i < ii; i++) { %>
                        <tr>
                           <td><input type="checkbox" value="<%=currentEvent.emailPDFInvitations[i].id%>"/></td>
                           <td><%= currentEvent.emailPDFInvitations[i].firstName %> <%= currentEvent.emailPDFInvitations[i].lastName %> </td>
                        </tr>
                     <% } %>

                     <% for (var i=0; i < 50; i++) {%>
                    <% } %>
                  <% } %>
               </tbody>
            </table>
         </div>
      </div>

      <div class="row row-space-xs">
          <div class="col-xs-12">
            <div class="form-inline Right">
               <button type="button" class="btn btn-danger deleteSelectedBtn js-deleteEmailPDFInvitationsBtn">Delete Selected</button>
            </div>
         </div>
      </div>
   </div>

</div>