<div class="row steps js-caterer-component">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Caterer Information</h3>
         </div>
         <div class="panel-body">
            <div id="catererTabs">
               <ul>
                  <li><a href="#fragment-1"><span>Select existing caterer</span></a></li>
                  <li><a href="#fragment-2"><span>Create a new caterer</span></a></li>
               </ul>
               <div id="fragment-1">
                  <div class="row">
                     <div id="repProvidedCatererData" class="col-xs-12" hidden>
                        <div class="form-group">
                            <label> Please review information provided by Field Force, and match to existing caterer. If you cannot find the caterer in the system, please create a new one.</label>
                        </div>
                           <div class="form-inline row-space-xs">
                              <div class="form-group">
                                 <label for="">Caterer Name:</label>
                                 <label id="catererNameRepProvided"></label>
                              </div>
                              <br>
                              <div class="form-group">
                                 <label for="">Catering Contact Name: </label>
                                 <label id="catererContactFirstNameRepProvided"></label> <label id="catererContactLastNameRepProvided"></label>
                              </div>
                              <br>
                              <div class="form-group">
                                 <label for="">Catering Contact Number: </label>
                                 <label id="catererContactNumberRepProvided"></label>
                              </div>
                              <br>
                              <div class="form-group">
                                 <label for="">Catering Contact E-mail: </label>
                                 <label id="catererContactEmailRepProvided"></label>
                              </div>
                           </div> <!-- / form-inline -->
                     </div>
                     <div class="col-xs-12">
                        <div class="form-group">
                           <label for="">Choose Existing Caterer: </label>
                           <div id='caterersTableWrapper' class="table-sorter-wrapper">
                            <table id='caterersTable' class="mainTable">
                             <thead>
                                <tr class="info">
                                  <th data-bind="{venueName}"><span>Name</span></th>
                                  <th data-bind="{venueType}"><span>Type</span></th>
                                  <th data-bind="{foodType}"><span>Food Type</span></th>
                                  <th data-bind="{addresses[0].city}"><span>City</span></th>
                                  <th data-bind="{addresses[0].state}"><span>State</span></th>
                                </tr>
                             </thead>
                             <tbody>
                              <% if (venues && venues.length > 0) { %>
                                <% for (var i = 0, ii = venues.length; i < ii; i++) { %>
                                <tr data-caterer="<%=venues[i]%>" <%if(currentCaterer && (currentCaterer.id == venues[i].id)){%>class='selected'<%}%> >
                                  <td><%= venues[i].venueName%></td>
                                  <td><%= venues[i].venueType%></td>
                                  <td><%= venues[i].foodType%></td>
                                  <td><% if (venues[i].addresses && venues[i].addresses.length > 0) { %><%= venues[i].addresses[0].city%><%}%></td>
                                  <td><% if (venues[i].addresses && venues[i].addresses.length > 0) { %><%= venues[i].addresses[0].state%><%}%></td>
                                 </tr>
                                <%}%>
                              <%}%>
                             </tbody>
                          </table>
                           </div>
                        </div>
                        <div class="form-inline row-space-xs">
                           <div class="form-inline row-space-xs">
                               <div class="form-group">
                                 <label for="">Caterer Name:</label>
                                 <label id="catererNameOfficial"></label>
                              </div>
                              <br>
                              <div class="form-group">
                                 <label for="">Catering Contact Name: </label>
                                 <label id="catererContactFirstNameOfficial"></label> <label id="catererContactLastNameOfficial"></label>
                              </div>
                              <br>
                              <div class="form-group">
                                 <label for="">Catering Contact Number: </label>
                                 <label id="catererContactNumberOfficial"></label>
                              </div>
                              <br>
                              <div class="form-group">
                                 <label for="">Catering Contact E-mail: </label>
                                 <label id="catererContactEmailOfficial"></label>
                              </div>
                            </div> <!-- / form-inline -->
                        </div>

                        <div class="form-inline row-space-xs">
                           <div class="form-group">
                              <label for="">Catering Status: </label>
                              <select id="catererStatusOfficial" name="catererCRGStatus" class="form-control js-event-property" data-bind="catererCRGStatus">
                                 <option disabled selected>Please Select One</option>
                                 <option>Confirmed</option> 
                                 <option>Needs to be arranged</option>
                              </select>
                           </div>
                        </div> <!-- / form-inline -->
                     </div>
                  </div>
               </div> <!-- / fragment-1 -->
               <div id="fragment-2">
                  <div id="repProvidedCatererDataNew" class="col-xs-12" hidden>
                        <div class="form-group">
                            <label> Use the information provided by Field Force to create a new Caterer in the system.</label>
                        </div>
                           <div class="form-inline row-space-xs">
                              <div class="form-group">
                                 <label for="">Caterer Name:</label>
                                 <label id="catererNameNew"></label>
                              </div>
                              <br>
                              <div class="form-group">
                                 <label for="">Catering Contact Name: </label>
                                 <label id="catererContactFirstNameNew"></label> <label id="catererContactLastNameNew"></label>
                              </div>
                              <br>
                              <div class="form-group">
                                 <label for="">Catering Contact Number:</label>
                                 <label id="catererContactNumberNew"></label>
                              </div>
                              <br>
                              <div class="form-group">
                                 <label for="">Catering Contact E-mail: </label>
                                 <label id="catererContactEmailNew"></label>
                              </div>
                           </div> <!-- / form-inline -->
                     </div>

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Caterer Name: </label>
                        <input type="text" name="venueName" class="form-control js-event-caterer-property input-more-width"/>
                     </div>
                  </div> <!-- / form-inline -->
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Catering Contact First Name: </label>
                        <input type="text" name="firtsName" class="form-control js-event-caterer-contact-property"/>
                     </div>
                     <div class="form-group">
                        <label for="">Catering Contact Last Name: </label>
                        <input type="text" name="lastName" class="form-control js-event-caterer-contact-property"/>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Catering Contact Number: <br> (i.e. (XXX) XXX-XXXX)</label>
                        <input type="text" name="number" class="form-control js-event-caterer-contact-property PhoneNumber"/>
                     </div>
                     <div class="form-group">
                        <label for="">Catering Contact E-mail: </label>
                        <input type="text" name="email" class="form-control js-event-caterer-contact-property validate[custom[email]]"/>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Catering Status: </label>
                        <select name="catererStatus" class="form-control js-event-property" data-bind="catererStatus">
                           <option disabled selected>Please Select One</option>
                           <option>Confirmed</option> 
                           <option>Needs to be arranged</option>
                        </select>
                     </div>
                  </div> <!-- / form-inline -->

               </div> <!-- / fragment-2 -->
            </div><!-- / catererTabs -->
         </div> <!-- / panel-body -->
       </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->