<div class="row steps js-caterer-component">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Caterer Information</h3>
         </div>
         <div class="panel-body">
               <div>
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Caterer Name: </label>
                        <input id="catererNameRequest" type="text" name="venueName" class="form-control js-event-potential-caterer-property input-more-width" value="<% if (currentCaterer) { %><%= currentCaterer.venueName%><% } %>"/>
                     </div>
                  </div> <!-- / form-inline -->
                  <div class="form-inline ">
                     <div class="form-group row-space-xs">
                        <label for="">Catering Contact First Name: </label>
                        <input id="catererContactFirstNameRequest" type="text" name="firstName" class="form-control js-event-potential-caterer-contact-property" value="<% if (currentCaterer) { %><%= currentCaterer.contact[0].firstName%><% } %>"/>
                     </div>
                     <div class="form-group row-space-xs">
                        <label for="">Catering Contact Last Name: </label>
                        <input id="catererContactLastNameRequest" type="text" name="lastName" class="form-control js-event-potential-caterer-contact-property"value="<% if (currentCaterer) { %><%= currentCaterer.contact[0].lastName%><% } %>"/>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline ">
                     <div class="form-group row-space-xs">
                        <label for="">Catering Contact Number: <br> (i.e. (XXX) XXX-XXXX)</label>
                        <input id="catererContactNumberRequest" type="text" name="number" class="form-control js-event-potential-caterer-contact-property PhoneNumber" value="<% if (currentCaterer) { %><%= currentCaterer.contact[0].number%><% } %>"/>
                     </div>
                     <div class="form-group row-space-xs">
                        <label for="">Catering Contact E-mail: </label>
                        <input id="catererContactEmailRequest" type="text" name="email" class="form-control js-event-potential-caterer-contact-property validate[custom[email]]" value="<% if (currentCaterer) { %><%= currentCaterer.contact[0].email%><% } %>"/>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Catering Status: </label>
                        <select id="catererStatusRequest" name="catererStatus" class="form-control js-event-property" data-bind="catererStatus">
                           <option disabled selected>Please Select One</option>
                           <option>Confirmed</option> 
                           <option>Needs to be arranged</option>
                        </select>
                     </div>
                  </div> <!-- / form-inline -->
               </div> <!-- / fragment-2 -->
         </div> <!-- / panel-body -->
       </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->