<%- partial('app/views/components/dialogs/deleteSelected') %>
<%- partial('app/views/components/dialogs/uploadFile') %>

<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-6">
            <h3><%=currentClient.name%> - <%=currentProgram.programName%> - <%=currentEvent.presentationTitle%> - Communications %></h3>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
                <button type="button" class="btn btn-info" onclick="createNewEventCommunication('<%= currentEvent.id%>')">New Communication</button>
            </div>
        </div>
    </div>
</div>

<div class="js-selection-container">
  <div class="row row-space-xs">
      <div class="col-xs-12">
        <div class="form-inline">
           <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
        </div>
     </div>
  </div>


  <!-- Table -->
  <div class="row">
     <div class="col-xs-12">
        <table class="mainTable">
           <thead>
              <tr class="info">
                <th><input type="checkbox" class="selectall"/></th>
                <th data-bind="{name}">Name</th>
                <th data-bind="{pathToFile}">File Name</th>
                <th data-bind="{notes}">Notes</th>
                <th data-bind="{createdAt}">Date Uploaded</th>
              </tr>
           </thead>
           <tbody>
            <% if (currentEvent.communications && currentEvent.communications.length > 0) { %>
              <% for (var i = 0, ii = currentEvent.communications.length; i < ii; i++) { %>
              <tr>
                <td class="checkBoxTd" data-path="<%= currentEvent.communications[i].pathToFile %>"><input type="checkbox" name="selectedcommunications[]" class="selectElement" value='<%= i %>' /> </td>
                <td><%= currentEvent.communications[i].name%></td>
                <td><%= currentEvent.communications[i].pathToFile.slice(currentEvent.communications[i].pathToFile.lastIndexOf('/') + 1, currentEvent.communications[i].pathToFile.length)%></td>
                <td><%= currentEvent.communications[i].notes%></td>
                <td><%= currentEvent.communications[i].createdAt.toLocaleDateString()%></td>
               </tr>
              <%}%>
            <%}%>
           </tbody>
        </table>
     </div>
  </div>
</div>