<div id='wait' class="row">
   <div class="col-md-6 col-md-offset-3">
      <h3>Please wait. Your program request is being processed.</h3>
   </div>
</div>

<div id="step6Section">
<% if(eventRequestMode) { %>
   <%- partial('app/views/components/steps/header', { 
      headerTitle: "Program Verification - Step 6 of 6",
      backButtonFunction: 'goEventStep5()',
      nextButtonLabel: 'Submit',
      nextButtonFunction: 'submitRequest()'
   })
   %>

   <%- partial('app/views/events/requestHeader',{currentEvent:currentEvent,currentRep: currentRep, currentManager: currentManager, currentProgram: currentProgram}) %>
<% } else { %>
<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-10">
                <h3>Event: <%= currentEvent.jobNumber%> <% if (currentEvent.confirmedDate){ %> (<%= currentEvent.confirmedDate%>) <%}%></h3>
            </div>
        </div>
    </div>
</div> <!-- / title -->

   <%- partial('app/views/components/steps/header', { 
      headerTitle: "Program Verification - Step 6 of 6",
      backButtonFunction: 'goEventStep5()',
      nextButtonLabel: 'Done',
      nextButtonFunction: 'goEventDetails()'
      })
   %>
<% } %>
<div id="eventStep6ValidateForm">
<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Date and Location</h3>
         </div>
         <div class="panel-body">

            <div class="row">
               <div class="col-xs-4">
                  <p><strong>Program City: </strong>
                     <% if (currentEvent.city) { %>
                     <%= currentEvent.city %>
                     <% } %>
                  </p>
               </div>
               <div class="col-xs-4">
                  <p><strong>Program State/Province: </strong>
                     <% if (currentEvent.state) { %>
                        <%= currentEvent.state %>
                     <% } %>
                  </p>
               </div>
            </div>

            <div class="row">
               <div class="col-xs-4">
                  <p><strong>Program Start Time: </strong>
                  <% if (currentEvent.eventStartTime) { %>
                     <%= currentEvent.eventStartTime %>
                  <% } %>
                  </p>
               </div>
               <div class="col-xs-6">
                  <p><strong>Program Time Zone: </strong>
                     <% if (currentEvent.timezone) { %>
                        <%= currentEvent.timezone%>
                     <% } %>
                  </p>
               </div>
            </div>

             <div class="row">
               <div class="col-xs-4">
                  <p><strong>Program Date Preference 1: </strong>
                     <% if (currentEvent.eventDatePref1) { %>
                        <%= currentEvent.eventDatePref1%>
                     <% } %>
                  </p>
               </div>

                <div class="col-xs-4">
                  <p><strong>Program Date Preference 2: </strong>
                     <% if (currentEvent.eventDatePref2) { %>
                        <%= currentEvent.eventDatePref2%>
                     <% } else {%>
                        N/A
                     <% } %>
                  </p>
               </div>

                <div class="col-xs-4">
                  <p><strong>Program Date Preference 3: </strong>
                     <% if (currentEvent.eventDatePref3) { %>
                        <%= currentEvent.eventDatePref3%>
                     <% } else {%>
                        N/A
                     <% } %>
                  </p>
               </div>
            </div> <!-- / row -->

            <% if (currentEvent.dateLocationComments) { %>
               <div class="form">
                  <div class="form-group">
                     <label for="">Date and Location Comments:</label>
                     <p>
                     <label data-bind="dateLocationComments"/>
                           <%= currentEvent.dateLocationComments%>
                      </label>
                     </p>
                  </div>
               </div> <!-- / form -->
            <% } %>

            <div class="row">
               <div class="col-xs-12">
                  <div class="img-rounded card">
                     <div class="row">
                        <%if (currentEvent.potentialSpeakers) {%>
                           <% for (var i = 0, ii = currentEvent.potentialSpeakers.length; i < ii; i++) { %>
                              <div class="col-xs-4">
                                 <p><strong>Speaker Preference <%= i + 1%>: </strong>
                                    <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[i] && currentEvent.potentialSpeakers[i].speakerName) { %>
                                    <%= currentEvent.potentialSpeakers[i].speakerName %>
                                    <% } %>
                                 </p>
                                  <p><strong>Status: </strong>
                                    <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[i] && currentEvent.potentialSpeakers[i].status) { %>
                                       <%= speakerStatusArray[currentEvent.potentialSpeakers[i].status].label %>
                                    <% } else { %>
                                       N/A
                                    <% } %>
                                 </p>
                                 <p><strong>Travel Arrangements: </strong>
                                    <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[i] && currentEvent.potentialSpeakers[i].travelType) { %>
                                       <%= currentEvent.potentialSpeakers[i].travelType %>
                                    <% } else { %>
                                       N/A
                                    <% } %>
                                 </p>
                                 <p><strong>Ground Transportation: </strong>
                                    <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[i] && currentEvent.potentialSpeakers[i].groundTransportation) { %>
                                       <%= currentEvent.potentialSpeakers[i].groundTransportation %>
                                    <% } else { %>
                                       N/A
                                    <% } %>
                                 </p>
                                 <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[i] && currentEvent.potentialSpeakers[i].comments) { %>
                                    <p><strong>Comments: </strong>
                                       <%= currentEvent.potentialSpeakers[i].comments %>
                                    </p>
                                 <% } %>
                              </div>
                           <% } %>
                        <% } %>
                     </div>
                  </div>
               </div>
            </div> <!-- row -->

         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps" >
   <% if (venue && venue.venueName) { %>
   <div class="col-xs-6">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Venue</h3>
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-6">
                  <p>
                     <% if (venue && venue.venueName) { %>
                        <%= venue.venueName %>
                     <% } %>
                  </p>
                  <p>
                     <% if (venue && venue.addresses && venue.addresses[0] && venue.addresses[0].address1) { %>
                        <%= venue.addresses[0].address1 %>
                     <% } %>
                  </p>
                  <p>
                     <% if (venue && venue.addresses && venue.addresses[0] && venue.addresses[0].address2) { %>
                         <%= venue.addresses[0].address2 %> 
                     <% } %>
                  </p>
                  <p>
                      <% if (venue && venue.addresses && venue.addresses[0] && venue.addresses[0].city) { %>
                         <%= venue.addresses[0].city %> 
                     <% } %>
                     <% if (venue && venue.addresses && venue.addresses[0] && venue.addresses[0].state) { %>
                        <%= venue.addresses[0].state %> 
                     <% } %>
                     <% if (venue && venue.addresses && venue.addresses[0] && venue.addresses[0].postalCode) { %>
                        <%= venue.addresses[0].postalCode %> 
                     <% } %>
                  </p>
                  <p>
                     <% if (venue && venue.phoneNumbers && venue.phoneNumbers[0] && venue.phoneNumbers[0].number) { %>
                        <%= venue.phoneNumbers[0].number %> 
                     <% } %>
                  </p>

                  <p> <strong>Status:</strong>
                     <% if (currentEvent.venueStatus) { %>
                        <%= currentEvent.venueStatus %>
                     <% } else {%>
                        N/A
                     <% } %>
                  </p>
               </div>
               <div class="col-xs-6">
                  <p>
                     <% if (venue && venue.contact && venue.contact[0] && venue.contact[0].firstName) { %>
                      <%= venue.contact[0].firstName %>
                     <% } %> 
                     <% if (venue && venue.contact && venue.contact[0] && venue.contact[0].middleName) { %>
                      <%= venue.contact[0].middleName %>
                     <% } %> 
                     <% if (venue && venue.contact && venue.contact[0] && venue.contact[0].lastName) { %>
                      <%= venue.contact[0].lastName %>
                     <% } %>
                  </p>
                  <p><% if (venue && venue.contact && venue.contact[0].title) { %>
                           <%= venue.contact[0].title %>
                     <% } %>
                  </p>
                  <p>
                     <% if (venue && venue.contact && venue.contact[0] && venue.contact[0].phoneNumbers && venue.contact[0].phoneNumbers[0] && venue.contact[0].phoneNumbers[0].number) { %>
                      <%= venue.contact[0].phoneNumbers[0].number %>
                     <% } %> 
                  </p>
                  <p>
                    <% if (venue && venue.contact && venue.contact[0] && venue.contact[0].emailAddresses && venue.contact[0].emailAddresses[0] && venue.contact[0].emailAddresses[0].email) { %>
                      <%= venue.contact[0].emailAddresses[0].email %>
                     <% } %> 
                  </p>
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->

      <% if (currentEvent.venueComments) { %>
      <div class="col-xs-6" >
         <div class="form">
            <div class="form-group">
               <label for="">Venue/Catering Comments: </label>
               <p>
                  <label data-bind="venueComments"/>
                       
                         <%= currentEvent.venueComments %>
                   </label>
               </p>
            </div>
         </div>    
      </div>
   <% } %>
   </div> <!-- / col -->
   <% } %> 

   <% if (caterer && caterer.venueName) { %>
   <div class="col-xs-6" >
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Caterer</h3>
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-6">
                  <p>
                     <% if (caterer && caterer.venueName) { %>
                        <%= caterer.venueName %>
                     <% } %>
                  </p>
                  <p>
                     <% if (caterer && caterer.addresses && caterer.addresses[0] && caterer.addresses[0].address1) { %>
                        <%= caterer.addresses[0].address1 %>
                     <% } %>
                  </p>
                  <p>
                     <% if (caterer && caterer.addresses && caterer.addresses[0] && caterer.addresses[0].address2) { %>
                         <%= caterer.addresses[0].address2 %> 
                     <% } %>
                  </p>
                  <p>
                      <% if (caterer && caterer.addresses && caterer.addresses[0] && caterer.addresses[0].city) { %>
                         <%= caterer.addresses[0].city %> 
                     <% } %>
                     <% if (caterer && caterer.addresses && caterer.addresses[0] && caterer.addresses[0].state) { %>
                        <%= caterer.addresses[0].state %> 
                     <% } %>
                     <% if (caterer && caterer.addresses && caterer.addresses[0] && caterer.addresses[0].postalCode) { %>
                        <%= caterer.addresses[0].postalCode %> 
                     <% } %>
                  </p>
                  <p>
                     <% if (caterer && caterer.phoneNumbers && caterer.phoneNumbers[0] && caterer.phoneNumbers[0].number) { %>
                        <%= caterer.phoneNumbers[0].number %> 
                     <% } %>
                  </p>

                  <p> <strong>Status:</strong>
                     <% if (currentEvent.catererStatus) { %>
                        <%= currentEvent.catererStatus %>
                     <% } else {%>
                        N/A
                     <% } %>
                  </p>
               </div>
               <div class="col-xs-6">
                  <p>
                     <% if (caterer && caterer.contact && caterer.contact[0] && caterer.contact[0].firstName) { %>
                      <%= caterer.contact[0].firstName %>
                     <% } %> 
                     <% if (caterer && caterer.contact && caterer.contact[0] && caterer.contact[0].middleName) { %>
                      <%= caterer.contact[0].middleName %>
                     <% } %> 
                     <% if (caterer && caterer.contact && caterer.contact[0] && caterer.contact[0].lastName) { %>
                      <%= caterer.contact[0].lastName %>
                     <% } %>
                  </p>
                  <p>
                     <% if (caterer && caterer.contact && caterer.contact[0] && caterer.contact[0].phoneNumbers && caterer.contact[0].phoneNumbers[0] && caterer.contact[0].phoneNumbers[0].number) { %>
                      <%= caterer.contact[0].phoneNumbers[0].number %>
                     <% } %> 
                  </p>
                  <p>
                     <% if (caterer && caterer.contact && caterer.contact[0] && caterer.contact[0].emailAddresses && caterer.contact[0].emailAddresses[0] && caterer.contact[0].emailAddresses[0].email) { %>
                      <%= caterer.contact[0].emailAddresses[0].email %>
                     <% } %>
                  </p>
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
   <% } %> 
<!-- 
   <% if (currentEvent.venueAVStatus) { %>
      <div class="col-xs-6" >
         <div class="form">
            <div class="form-group">
               <label for="">Audio/Visual Status: </label>
               <p>
                  <label data-bind="venueComments"/>
                     <%= currentEvent.venueAVStatus %>
                   </label>
               </p>
            </div>
         </div>    
      </div>
   <% } %>
</div> --> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Invitations and Audience Recruitment</h3>
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-6">
                  <p><strong>Estimated Attendance: </strong>
                     <% if (currentEvent.expectedNumberAttendees) { %>
                        <%= currentEvent.expectedNumberAttendees %>
                     <% } %>
                  </p>
                  <% if (currentEvent.estimatedMealCost) { %>
                     <p><strong>Estimated Meal Cost per Attendee: </strong>
                        <%= currentEvent.estimatedMealCost %>
                     </p>
                  <% } %>

                  <p><strong>Hard Copy Version to Sales Representative (qty 25):</strong> <% if (currentEvent.invitationsHardcopyRep) { %> Yes <% } else { %> N/A<% } %></p>
               </div>
               <div class="col-xs-6">
                  <p><strong>Sales Representative Mailing Address:</strong></p>
                  <p>
                     <% if (rep && rep.addresses) { %>
                        <%=rep.addresses[0].address1%> 
                     <% } %>
                  </p>
                  <p>
                     <% if (rep && rep.addresses) {%>
                        <%=rep.addresses[0].address2%>
                     <% } %>
                  </p>
                  <p>
                     <% if (rep && rep.addresses) {%>
                        <%=rep.addresses[0].city%>
                     <% } %>
                     <% if (rep && rep.addresses) {%>
                        <%=rep.addresses[0].state%>
                     <% } %>
                     <% if (rep && rep.addresses) {%> 
                        <%=rep.addresses[0].postalCode%>
                     <% } %>
                     </p>
               </div>
            </div>

            <% if (currentEvent.invitationsComments) { %>
               <div class="row">
                  <div class="col-xs-6">
                     <div class="form">
                        <div class="form-group">
                           <label for="">Invitations Comments: </label>
                           <p>
                              <%= currentEvent.invitationsComments %>
                           </p>
                        </div>
                     </div> <!-- / form -->
                  </div>
               </div>
            <% } %>

            <% if (currentEvent.repMailingAddressEdits) { %>
               <div class="row">
                  <div class="col-xs-6">
                     <div class="form">
                        <div class="form-group">
                           <label for="">Mailing Address Comments: </label>
                           <p>
                              <%= currentEvent.repMailingAddressEdits %>
                           </p>
                        </div>
                     </div> <!-- / form -->
                  </div>
               </div>
            <% } %>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<% if (displayEmailColumn || displayHardCopyColumn || displayInvitationPoolColumn) { %>
<div class="row steps st-e-oth">
   <div class="col-xs-6 <% if (!displayEmailColumn){%>hidden<%}%>">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">E-mail Invitations - Total: <% if (currentEvent.emailInvitations) { %><%= currentEvent.emailInvitations.length %><% } %></h3>
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-12">
                  <div class="form">
                     <div class="form-group">
                        <% if (currentEvent.emailInvitations){%>
                           <% for (var i = 0, ii = currentEvent.emailInvitations.length; i < ii; i++) { %>
                           <label><%if (currentEvent.emailInvitations[i].firstName){%> <%=currentEvent.emailInvitations[i].firstName%> <%}%> <%if (currentEvent.emailInvitations[i].lastName){%> <%=currentEvent.emailInvitations[i].lastName%> <%}%></label>
                           <br>
                         <% } }%> 
                     </div>
                  </div> <!-- / form-inline -->
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->

      <% if (currentEvent.audienceRecruitmentComments) { %>
      <div class="col-xs-12">
         <div class="form">
            <div class="form-group">
               <label for="">Audience Recruitment Comments: </label>
               <p>
                     <%= currentEvent.audienceRecruitmentComments %>
               </p>
            </div>
         </div> <!-- / form-inline -->
      </div>
      <% } %>
   </div> <!-- / col -->
   <div class="col-xs-6 <% if (!displayHardCopyColumn){%>hidden<%}%>">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Hard Copy Invitations - Total: <% if (currentEvent.hardcopyInvitations) { %><%= currentEvent.hardcopyInvitations.length %><% } %></h3>
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-12">
                  <div class="form">
                     <div class="form-group">
                        <% if (currentEvent.hardcopyInvitations){%>
                           <% for (var i = 0, ii = currentEvent.hardcopyInvitations.length; i < ii; i++) { %>
                           <label><%if (currentEvent.hardcopyInvitations[i].firstName){%> <%=currentEvent.hardcopyInvitations[i].firstName%> <%}%> <%if (currentEvent.hardcopyInvitations[i].lastName){%> <%=currentEvent.hardcopyInvitations[i].lastName%> <%}%></label>
                           <br>
                         <% } }%> 
                     </div>
                  </div> <!-- / form-inline -->
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->

   <div class="col-xs-6 <% if (!displayInvitationPoolColumn){%>hidden<%}%>">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Invitation Pool - Total: <% if (currentEvent.emailPDFInvitations) { %><%= currentEvent.emailPDFInvitations.length %><% } %></h3>
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-12">
                  <div class="form">
                     <div class="form-group">
                        <% if (currentEvent.emailPDFInvitations){%>
                           <% for (var i = 0, ii = currentEvent.emailPDFInvitations.length; i < ii; i++) { %>
                           <label><%if (currentEvent.emailPDFInvitations[i].firstName){%> <%=currentEvent.emailPDFInvitations[i].firstName%> <%}%> <%if (currentEvent.emailPDFInvitations[i].lastName){%> <%=currentEvent.emailPDFInvitations[i].lastName%> <%}%></label>
                           <br>
                         <% } }%> 
                     </div>
                  </div> <!-- / form-inline -->
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->
<%}%>

<% if(eventRequestMode) { %>
   <div class="row steps">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h3 class="panel-title">Verification</h3>
            </div>
            <div class="panel-body">
               <div class="form">
                  <div class="form-group">
                     <label class="checkbox-inline">
                       <input id="verifyCheck" type="checkbox">
                       I verify that the information provided is correct and understand that unless subsequent updates are communicated to CRG, it will be included on program materials exactly as it appears above.
                     </label>
                  </div>
               </div>
            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->
<% } %>
</div>
<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <% if(eventRequestMode) { %>
            <div class="text-center">
                <button class="btn btn-primary js-next" onclick="submitRequest();return false;" > Submit </button>
            </div>

         <% } else { %>
         <div class="text-center">
                <button class="btn btn-primary js-next" onclick="goEventDetails();return false;" > Submit </button>
            </div>
         <% } %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->
</div>
