<% if(!eventRequestMode) { %>
   <div class="row">
       <div class="col-xs-12">
           <div class="row alert alert-info">
               <div class="col-xs-10">
                   <h3>Event: <%= currentEvent.jobNumber%> <% if (currentEvent.confirmedDate){ %> (<%= currentEvent.confirmedDate%>) <%}%></h3>
               </div>
           </div>
       </div>
   </div> <!-- / title -->
<% } %>

<%- partial('app/views/components/steps/header', { 
   headerTitle: "Venue and Logistical Information - Step 3 of 6",
   backButtonFunction: 'goEventStep2()',
   nextButtonFunction: 'validateEventStep3(goEventStep4)'
   })
%>

<% if(eventRequestMode) { %>
   <%- partial('app/views/events/requestHeader',{currentEvent:currentEvent,currentRep: currentRep, currentManager: currentManager, currentProgram: currentProgram}) %>
<% } %>

<div data-event-type="<%-currentEvent.eventType%>" class="hidden"></div>

<!-- store the curren venue id saved to the event from each tab selected-->
<div data-eventRequestMode='<%= eventRequestMode%>' class="hidden"></div>
<div data-requireVenueInfo='<%= requireVenueInfo%>' class="hidden"></div>
<div data-currentVenue='<%-JSON.stringify(currentVenue)%>' class="hidden"></div>
<div data-currentVenueStatus='<%=currentEvent.venueStatus%>' class="hidden"></div>
<div data-currentVenueCRGStatus='<%=currentEvent.venueCRGStatus%>' class="hidden"></div>
<div data-potentialVenue='<%-JSON.stringify(potentialVenue)%>' class="hidden"></div>
<div data-newEditingTabCurrentVenueId='' class="hidden"></div>

<!-- store the curren venue id saved to the event from each tab selected-->
<div data-currentCaterer='<%-JSON.stringify(currentCaterer)%>' class="hidden"></div>
<div data-potentialCaterer='<%-JSON.stringify(potentialCaterer)%>' class="hidden"></div>
<div data-currentCatererStatus='<%=currentEvent.catererStatus%>' class="hidden"></div>
<div data-currentCatererCRGStatus='<%=currentEvent.catererCRGStatus%>' class="hidden"></div>
<div data-newEditingTabCurrentCatererId='' class="hidden"></div>

<div class="row steps">
   <div class="col-xs-12">
      <p class="bg-info">Certain states, such as Massachusetts, Minnesota, and Vermont, have restrictions on pharmaceutical-HCP interactions where meals or transfers of value are offered</p>
   </div>
</div> <!-- / row -->


<%- partial('app/views/events/webcastInfo') %>

<div class="row">
   <div class="col-xs-12">
      <label><span class="required">* Denotes Required Field</span></label>
   </div>
</div> <!-- / row -->


<form id="eventStep3ValidateForm" class="formular">
   <% if (!eventRequestMode) { %>
      <%- partial('app/views/events/venueInformation',{states:states,venueTypes:venueTypes,currentVenue:currentVenue,venues:venues}) %>
     
   <div class="row ">
        <div class="col-sm-6 ">
      <%- partial('app/views/events/catererInformation',{venues:caterers,currentCaterer:currentCaterer}) %>
   <% } else { %>
      <%- partial('app/views/events/venueInformationEventRequest',{states:states,venueTypes:venueTypes, currentVenue:currentVenue}) %>
      
   <div class="row ">
        <div class="col-sm-6 ">
      <%- partial('app/views/events/catererInformationEventRequest',{currentCaterer:currentCaterer}) %>
   <% } %>
   </div>
   <div class="col-sm-6 ">
        
   <%- partial('app/views/events/attendanceInfo',{venueAVStatus:venueAVStatus,currentVenue:currentVenue}) %>

        </div>
   </div>

<div class="text-center">
         <button class="btn btn-primary js-next" onclick="validateEventStep3(goEventStep4);return false;" > Validate and Process </button>
</div>
</form>

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goEventStep2()',
            nextButtonFunction: 'validateEventStep3(goEventStep4)'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->