<%- partial('app/views/components/steps/header', { 
   headerTitle: "New Event Note- Step 1 of 1",
   backButtonFunction: 'goToEventNotes()',
   nextButtonFunction: 'goToEventNotes()',
   nextButtonLabel: "Done"
   })
%>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Note</h3>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="accountExecutive">Account Executive: </label>
                  <input type="text" class="js-note-property form-control" name="accountExecutive" value="<%if(currentNote){%><%=currentNote.accountExecutive%><%}%>">
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="category">Category: </label>
                  <input type="text" class="js-note-property form-control" name="category" value="<%if(currentNote){%><%=currentNote.category%><%}%>">
               </div>
            </div>
            <div class="form-inline row-space-xs">
                 <div class="form-group">
                  <label for="details">Details: </label>
                  <textarea class="js-note-property form-control" cols='60' rows='4' name="details"><%if(currentNote){%><%=currentNote.details%><% }%></textarea>
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goToEventNotes()',
            nextButtonFunction: 'goToEventNotes()',
            nextButtonLabel: "Done"
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->