<% if(!eventRequestMode) { %>
   <div class="row">
       <div class="col-xs-12">
           <div class="row alert alert-info">
               <div class="col-xs-10">
                   <h3>Event: <%= currentEvent.jobNumber%> <% if (currentEvent.confirmedDate){ %> (<%= currentEvent.confirmedDate%>) <%}%></h3>
               </div>
           </div>
       </div>
   </div> <!-- / title -->
<% } %>

<%- partial('app/views/components/steps/header', { 
   headerTitle: "Invitation Selection - Step 4 of 6",
   backButtonFunction: 'goEventStep3()',
   nextButtonFunction: 'validateEventStep4(goEventStep5)'
   })
%>

<% if(eventRequestMode) { %>
   <%- partial('app/views/events/requestHeader',{currentEvent:currentEvent,currentRep: currentRep, currentManager: currentManager, currentProgram: currentProgram}) %>
   <div class="row steps">
      <div class="col-xs-12">
         	<p class="bg-info">
         		For effective audience recruitment, please plan on at least 6 weeks prior to program date.<br/><br/>
   	   		A minimum # of registrants is needed by the required # of days before a program starts.<br/><br/>
               Invitations will be sent based on the selected preferences once your RSM has approved the Program Request and CRG has verified that all information for the program is complete.
   		</p>
      </div>
   </div> <!-- / row -->
<% } %>

<div class="row">
   <div class="col-xs-12">
      <label><span class="required">* Denotes Required Field</span></label>
   </div>
</div> <!-- / row -->

<div class="row " id="eventStep4ValidateForm">
    <div class="col-sm-4 ">
            <div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Invitations</h3>
            
         </div>
         <div class="panel-body">
            <p><strong>Estimated Attendance: </strong><span data-bind="expectedNumberAttendees"></span></p>

            <div class="row steps">
               <div class="col-xs-12">
                  <div class="panel panel-warning">
                    <div class="panel-heading">
            			<h3 class="panel-title"><span class="required">* </span>Please Select All that Apply (selection of individual HCPs will be chosen in step 5)</h3>
                    </div>
                    <div class="panel-body">
                     <form id="EventStep4ValidateForm" class="formular">
                    	   <%- partial('app/views/events/invitations', {deliveryTypes: currentProgram.invitationDeliveries}) %>
                     </form>

         			</div> <!-- / panel-body -->
         		 </div> <!-- / panel -->
				</div> <!-- / col -->
			</div> <!-- / row -->
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->
    </div>
    <div class="col-sm-8">
        <div class="row ">
            <div class="col-sm-12 ">
                <% if (currentProgram.invitationDeliveries.indexOf('PDF Version Via E-mail to Sales Representative') == -1){%>
  <div class="row steps">
     <div class="col-xs-12">
        	<p class="bg-info">
        		Please confirm the mailing address for 25 hard copy versions (if selected above). <br/><br/> If incorrect or an alternate address is requested, please complete the Address Edits text box below.
  		</p>
     </div>
  </div> <!-- / row -->

  <div class="row steps">
     <div class="col-xs-12">
        <div class="panel panel-warning">
           <div class="panel-heading">
              <h3 class="panel-title">Mailing Information</h3>
           </div>
           <div class="panel-body">
              <%- partial('app/views/events/requestMailingAddress', {rep: requestingRep}) %>
           </div> <!-- / panel-body -->
        </div> <!-- / panel -->
     </div> <!-- / col -->
  </div> <!-- / row -->
<%}%>
            </div>
        </div>
    </div>


<div class="text-center">
         <button class="btn btn-primary js-next" onclick="validateEventStep4(goEventStep5);return false;" > Validate and Process </button>
</div>
</div>







<div class="row">
   <div class="col-xs-12">
      <div class="pull-right" style="display:none;">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goEventStep3()',
            nextButtonFunction: 'validateEventStep4(goEventStep5)'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->