<%- partial('app/views/components/steps/services',{services:services, deleteFunction: 'deleteClonedRow(this,deleteElement)'}) %>

<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-10">
                <h3>Event: <%= jobNumber%> <% if (confirmedDate){ %> (<%= confirmedDate%>) <%}%></h3>
            </div>
        </div>
    </div>
</div> <!-- / title -->

<%- partial(
   'app/views/components/steps/header', { 
      headerTitle: headerTitle,
      backButtonFunction: 'goEventDetails()',
      nextButtonFunction: 'validateEventStep1Event(goEventStep2)'
   })
%>

<div class="row">
   <div class="col-xs-12">
      <label><span class="required">* Denotes Required Field</span></label>
   </div>
</div> <!-- / row -->

<form id="EventStep1ValidateForm" class="formular">
   <div class="row">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-body">
               <div class="form-inline row-space-xs">
                  <div class="form-group">
                     <label for=""><span class="required">* </span>Event Type: </label>
                     <select name="eventType" class="form-control js-event-property" data-bind="eventType">
                        <option disabled selected>Please Select One</option>
                        <% for(var index in eventTypes) { %>
                           <option><%=eventTypes[index].type %></option>
                        <% } %>
                     </select>
                  </div>
               </div>
               <div class="form-inline row-space-xs"> 
                  <div class="form-group">
                     <label for=""><span class="required">* </span>Brand: </label>
                     <select name="brand" class="form-control js-event-property validate[required]" data-bind="brand">
                        <option disabled selected>Please Select One</option>
                        <% for(var index in currentClient.brands) { %>
                           <option><%= currentClient.brands[index].brandName %></option>
                        <% } %>
                     </select>
                  </div>
                  <div class="form-group">
                     <label for=""><span class="required">* </span>Presentation Title: </label>
                     <select name="presentationTitle" class="form-control js-event-property validate[required]" data-bind="presentationTitle">
                        <option disabled selected>Please Select One</option>
                        <% for(var index in currentClient.presentationTitles) { %>
                           <option><%= currentClient.presentationTitles[index].titleName %></option>
                        <% } %>
                     </select>
                  </div>
                  <div class="form-group">
                     <label for=""><span class="required">* </span>Job Number:</label>
                     <input type="text" name="jobNumber" class="form-control js-event-property validate[required]" data-bind="jobNumber" />
                  </div>
               </div>
               <div class="form-inline row-space-xs">
                  <div class="form-group">
                     <label for="">Event Status: </label>
                     <select name="status" class="form-control js-event-property" data-bind="status">
                        <!--option disabled selected>Please Select One</option-->
                        <% for(var index in eventStatus) { %>
                           <option value=<%=eventStatus[index].value%>><%= eventStatus[index].type %></option>
                        <% } %>
                     </select>
                  </div>
                  <div class="form-group">
                     <label for="">CRG % of Fee:</label>
                     <input type="text" name="crgPercentageFee" class="form-control js-percentage-property js-percentage-field" data-bind="crgPercentageFee"/>
                  </div>

                  <div class="form-group">
                     <label><span class="required">* </span>CRG Event Manager: </label>
                     <select id='crgProgramManager' name="crgProgramManager" class="js-event-property form-control validate[required]" data-bind='crgProgramManager'>
                        <option disabled selected>Please Select One</option>
                        <% for(var index in crgUsers) { %>
                              <option value="<%= crgUsers[index].email %>">
                                 <%= crgUsers[index].firstName %> <%= crgUsers[index].lastName %>
                              </option>
                        <% } %> 
                     </select>
                  </div>
               </div>

               <div class="form-inline row-space-xs">
                  <div class="form-group">
                     <label for="optOut">Send Registration Confirmation to Attendees:</label>
                     <input id='YesSendRegistration' type="radio" name="sendRegistrationRadios" class="js-sendRegistrationRadio" value="Yes"/><label class="CheckboxLabel" for="true"> Yes</label>
                     <input id='NoSendRegistration' type="radio" name="sendRegistrationRadios" class="js-sendRegistrationRadio" value="No" checked/><label class="CheckboxLabel" for="false"> No</label>
                  </div>
               </div>

               <div class="form-inline row-space-xs">
                  <div class="form-group">
                     <label for=""><span class="required">* </span>Requesting Field Force: </label>
                     <select name="requestingRepId" class="form-control js-event-property js-rep-select validate[required]" data-bind="requestingRepId">
                        <option disabled selected>Please Select One</option>
                        <% for(var index in reps) { %>
                           <option 
                              data-repEmail="<%if(reps[index].emailAddresses && reps[index].emailAddresses.length > 0 && reps[index].emailAddresses[0].email){%><%=reps[index].emailAddresses[0].email%><%}%>"
                              data-repPhone="<%if(reps[index].phoneNumbers && reps[index].phoneNumbers.length > 0 && reps[index].phoneNumbers[0].number){%><%=reps[index].phoneNumbers[0].number%><%}%>"
                              value="<%=reps[index].id%>"
                              ><%=reps[index].lastName%> <%=reps[index].firstName%></option>
                        <% } %>
                     </select>
                  </div>
               </div>
               <div class="form-inline row-space-xs">
                  <div class="form-group">
                     <label for="">Field Force Phone: </label>
                     <label data-bind="requestingRepPhone">No info available</label>
                  </div>
                  <div class="form-group">
                     <label for="">Field Force Email: </label>
                     <label data-bind="requestingRepEmail">No info available</label>
                  </div>
               </div>
            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->


   <div class="row">
      <div class="col-xs-12">
         <div class="panel panel-warning js-add-button-container">
            <div class="panel-heading">
               <h3 class="panel-title">Services</h3>
            </div>
            <div data-clone="services" class="panel-body">
            <!-- clone element container-->
            </div> <!-- / panel-body -->
            <button class="js-add-button Disable btn btn-primary" onclick='cloneRow(this,initEventStep1FieldListeners,initEventStep1FieldChangeListeners)' disabled>Add Another Service</button>
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->

   <div class="row">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h3 class="panel-title">Date and Location</h3>
            </div>
            <div class="panel-body">
               <div class="form-inline row-space-xs">
                  <div class="form-group">
                     <label for=""><span id="asteriskCity" class="required">* </span>City: </label>
                     <input type="text" name="city" class="form-control js-event-property validate[required]" data-bind="city" />
                  </div>
                  <div class="form-group">
                     <label for=""><span id="asteriskState" class="required">* </span>State/Province: </label>
                     <select name="state" class="form-control js-event-property validate[required]" data-bind="state">
                        <option disabled selected>Please Select One</option>
                        <% for(var index in states) { %>
                           <option><%=states[index].name %></option>
                        <% } %>
                     </select>
                  </div>
               </div>
               <div class="form-inline row-space-xs">
                  <div class="form-group">
                     <label for=""><span class="required">* </span>Start Time: </label>
                     <input type="text" name="eventStartTime" class="form-control js-eventStartTime validate[required]" data-bind="eventStartTime"/>
                  </div>
                  <div class="form-group">
                     <label for=""><span class="required">* </span>Time Zone: </label>
                     <select name="timezone" class="form-control js-event-property validate[required]" data-bind="timezone">
                        <option disabled selected>Please Select One</option>
                        <% for(var index in timeZones) { %>
                           <option><%=timeZones[index].label%></option>
                        <% } %>   
                     </select>
                  </div>
               </div>
               <div class="form-inline row-space-xs">
                  <div class="form-group">
                     <label for=""><span class="required">* </span>Date Preference 1: </label>
                     <input type="text" name="eventDatePref1" class="form-control js-eventDatePref1 js-event-property validate[required]" data-bind="eventDatePref1"/>
                     <input type="checkbox" name="" class="js-date-pref-chkbox1"/><label class="CheckboxLabel">Confirmed</label>
                  </div>
               </div>
               <div class="form-inline row-space-xs">
                  <div class="form-group">
                     <label for="">Date Preference 2: </label>
                     <input type="text" name="eventDatePref2" class="form-control js-eventDatePref2 js-event-property" data-bind="eventDatePref2"/>
                     <input type="checkbox" name="" class="js-date-pref-chkbox2"/><label class="CheckboxLabel" for="datePref2">Confirmed</label>
                  </div>
               </div>
               <div class="form-inline row-space-xs">
                  <div class="form-group">
                     <label for="">Date Preference 3: </label>
                     <input type="text" name="eventDatePref3" class="form-control js-eventDatePref3 js-event-property" data-bind="eventDatePref3"/>
                     <input type="checkbox" name="" class="js-date-pref-chkbox3"/><label class="CheckboxLabel" for="datePref3">Confirmed</label>
                  </div>
               </div>
               <div class="form-group">
                  <label for="">Date and Location Comments: </label>
                  <textarea name="dateLocationComments" class="form-control js-event-property" rows="3" data-bind="dateLocationComments"></textarea>
               </div>
            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->
</form>

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goEventDetails()',
            nextButtonFunction: 'validateEventStep1Event(goEventStep2)'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->