<%- partial('app/views/components/steps/header', { 
   headerTitle: headerTitle,
   backButtonFunction: 'goToRepProgramDetails()',
   nextButtonFunction: 'validateEventStep1Event(goEventStep2)'
   })
%>

<%- partial('app/views/events/requestHeader', {step1:true, currentRep: currentRep, currentManager: currentManager}) %>

<form id="EventStep1ValidateForm" class="formular">
   <div class="row">
      <div class="col-xs-12">
         <label><span class="required">* Denotes Required Field</span></label>
      </div>
   </div> <!-- / row -->

   <div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Date and Location</h3>
            <h6>For the most expedient approval, check in with your RSM before requesting a program.</h6>
            <h6>For effective audience recruitment, please plan on at least 6 weeks prior to program date.</h6>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs">
            <div class="row">
            
            <div class="col-sm-7">
                <div class="row ">
                <div class=" col-sm-12 row-space-xs">
                    <div class="form-group">
                    <label for=""><span class="required">* </span>Program: </label>
                    <select name="programId" class="form-control js-event-property js-event-program-property" data-bind="programId">
                        <option disabled selected>Please Select One</option>
                        <% for(var index in programs) { %>
                            <option value=<%=programs[index].id%> ><%= programs[index].programName %></option>
                        <% } %>
                    </select>
                    </div>
                </div>

                <div class=" col-sm-12 row-space-xs">
                <div class="form-group">
                  <label for=""><span class="required">* </span>Event Type: </label>
                  <select name="eventType" class="form-control js-event-property" data-bind="eventType">
                     <option disabled selected>Please Select One</option>
                     <% for(var index in eventTypes) { %>
                        <option><%= eventTypes[index].type %></option>
                     <% } %>
                  </select>
               </div>
                </div>
                <div class=" col-sm-12 row-space-xs">
                <div class="form-group">
                  <label for=""><span class="required">* </span>Brand: </label>
                  <select name="brand" class="form-control js-event-property validate[required]" data-bind="brand">
                     <option disabled selected>Please Select One</option>
                     <% for(var index in currentClient.brands) { %>
                        <option><%= currentClient.brands[index].brandName %></option>
                     <% } %>
                  </select>
               </div>
                </div>
                <div class=" col-sm-12 row-space-xs">
                <div class="form-group">
                  <label for=""><span class="required">* </span>Presentation Title: </label>
                  <select name="presentationTitle" class="form-control js-event-property validate[required]" data-bind="presentationTitle">
                     <option disabled selected>Please Select One</option>
                     <% for(var index in currentClient.presentationTitles) { %>
                        <option><%= currentClient.presentationTitles[index].titleName %></option>
                     <% } %>
                  </select>
               </div>
                </div>
                



                </div>
            </div>

            <div class="col-sm-5">
            <div class="row ">
                <div class=" col-sm-12 row-space-xs">
                <div class="form-group">
                              <label for=""><span id="asteriskCity" class="required">* </span>City: </label>
                              <input type="text" name="city" class="form-control js-event-property validate[required]" data-bind="city" />
                           </div>
                </div>
                <div class=" col-sm-12 row-space-xs">
                <div class="form-group">
                              <label for=""><span id="asteriskState" class="required">* </span>State/Province: </label>
                              <select name="state" class="form-control js-event-property validate[required]" data-bind="state">
                                 <option disabled selected>Please Select One</option>
                                 <% for(var index in states) { %>
                                    <option><%= states[index].name %></option>
                                 <% } %>
                              </select>
                           </div>
                </div>
                <div class=" col-sm-12 row-space-xs">
                    <div class="form-group">
                              <label for=""><span class="required">* </span>Start Time: </label>
                              <input type="text" name="eventStartTime" class="form-control js-eventStartTime validate[required]" data-bind="eventStartTime"/>
                           </div>
                </div>
                <div class=" col-sm-12 row-space-xs">
                <div class="form-group">
                              <label for=""><span class="required">* </span>Time Zone: </label>
                              <select name="timezone" class="form-control js-event-property validate[required]" data-bind="timezone">
                                 <option disabled selected>Please Select One</option>
                                 <% for(var index in timeZones) { %>
                                    <option><%= timeZones[index].label %></option>
                                 <% } %>   
                              </select>
                           </div>
                </div>
                

                


                
                </div>
            </div>

            </div>

               
               
            </div> <!-- / form-inline -->

            <div class="row ">
                <div class="col-sm-4 row-space-xs">
                <div class="form-group">
                              <label for=""><span class="required">* </span>Date Preference 1: </label>
                              <input type="text" name="eventDatePref1" class="form-control js-eventDatePref1 js-event-property validate[required]" data-bind="eventDatePref1"/>
                           </div>
                </div>
                <div class="col-sm-4 row-space-xs">
                <div class="form-group">
                              <label for="">Date Preference 2: </label>
                              <input type="text" name="eventDatePref2" class="form-control js-eventDatePref2 js-event-property" data-bind="eventDatePref2"/>
                           </div>
                </div>
                <div class="col-sm-4 row-space-xs">
                <div class="form-group">
                              <label for="">Date Preference 3: </label>
                              <input type="text" name="eventDatePref3" class="form-control js-eventDatePref3 js-event-property" data-bind="eventDatePref3"/>
                           </div>
                </div>

                <div class="col-sm-12 ">
                <div class="form-group">
                           <label for="">Date and Location Comments: </label>
                           <textarea name="dateLocationComments" class="form-control js-event-property" rows="3" data-bind="dateLocationComments"></textarea>
                        </div>
                </div>

            </div>

<div class="text-center">
         <button class="btn btn-primary js-next" onclick="validateEventStep1Event(goEventStep2);return false;" > Validate and Process </button>
</div>


            
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
         <div class="row ">
                <div class="col-sm-12 ">
                    <div class="row alert alert-warning ">
                        <div class="col-sm-11">
                            <h3>Speaker Preference </h3>
                        </div>
                        <div class="col-sm-1 text-right">
                            <h3>+</h3>
                        </div>
                        <div id="step2content">
                        </div>
                    </div>
                    <div class="row alert alert-warning ">
                        <div class="col-sm-11">
                            <h3>Venue Information</h3>
                        </div>
                        <div class="col-sm-1 text-right">
                            <h3>+</h3>
                        </div>

                        <div id="step3content">
                        </div>
                    </div>
                    <div class="row alert alert-warning ">
                        <div class="col-sm-11">
                            <h3>Invitations</h3>
                        </div>
                        <div class="col-sm-1 text-right">
                            <h3>+</h3>
                        </div>

                        <div id="step4content">
                        </div>
                    </div>
                    <div class="row alert alert-warning ">
                        <div class="col-sm-11">
                            <h3>Audience Recruitment</h3>
                        </div>
                        <div class="col-sm-1 text-right">
                            <h3>+</h3>
                        </div>

                        <div id="step5content">
                        </div>
                    </div>
                    <div class="row alert alert-warning ">
                        <div class="col-sm-11">
                            <h3>Confirmation</h3>
                        </div>
                        <div class="col-sm-1 text-right">
                            <h3>+</h3>
                        </div>

                        <div id="step6content">
                        </div>
                    </div>
                </div>
            </div>
   </div> <!-- / col -->
   </div> <!-- / row -->
</form>   


<div class="row">
   <div class="col-xs-12">
      <div class="pull-right" style="display:none">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goToRepProgramDetails()',
            nextButtonFunction: 'validateEventStep1Event(goEventStep2)'
         })%>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->