<span data-eventRequestMode="<%=eventRequestMode%>" class="hidden"/>


<% if(eventRequestMode) { %>
  <%- partial('app/views/events/eventStep1Requesting', { 
      headerTitle: "Date and Location Selection - Step 1 of 6",
      eventTypes: eventTypes,
      timeZones: timeZones,
      programs:programs,
      states: states,
      currentRep: currentRep,
      currentManager: currentManager,
      currentClient: currentClient,
      })
   %>                      
<% } else { %>
   <%- partial('app/views/events/eventStep1Event', { 
      headerTitle: "Date and Location Selection - Step 1 of 6",
      eventStatus: eventStatus,
      eventTypes: eventTypes,
      timeZones: timeZones,
      services:services,
      states: states,
      reps: reps,
      currentClient: currentClient,
      crgUsers: crgUsers,
      jobNumber: jobNumber,
      confirmedDate: confirmedDate
      })
   %>
<% } %>
