<% if(!eventRequestMode) { %>
   <div class="row">
       <div class="col-xs-12">
           <div class="row alert alert-info">
               <div class="col-xs-10">
                   <h3>Event: <%= currentEvent.jobNumber%> <% if (currentEvent.confirmedDate){ %> (<%= currentEvent.confirmedDate%>) <%}%></h3>
               </div>
           </div>
       </div>
   </div> <!-- / title -->
<% } %>

<%- partial('app/views/components/steps/header', { 
   headerTitle: "Speaker Selection - Step 2 of 6",
   backButtonFunction: 'goEventStep1()',
   nextButtonFunction: 'validateEventStep2(goEventStep3)'
   })
%>

<% if(eventRequestMode) { %>
   <%- partial('app/views/events/requestHeader',{currentEvent:currentEvent,currentRep: currentRep, currentManager: currentManager, currentProgram: currentProgram}) %>
<% } %>


<div id='speakerRequiredMessage' class="row steps row-space-xs">
   <div class="col-xs-12">
      <p class="bg-info">You must provide at least 1 Speaker for the Event</p>
   </div>
</div> <!-- / row -->

<form id="EventStep2ValidateForm" class="formular">
<div data-event-type="<%-currentEvent.eventType%>" class="hidden"></div>
   <div class="row">
      <div class="col-xs-12">
         <label><span class="required">* Denotes Required Field</span></label>
      </div>
   </div> <!-- / row -->
  
   <%- partial('app/views/events/speakerSelection', {preferenceNumber: '1', speakers:speakers, speakerStatusFieldForce: speakerStatusFieldForce, speakerStatus: speakerStatus, eventRequestMode: eventRequestMode}) %>


   <div class="row">
      <div class="col-xs-12">
         <label id="speakerRequiredMessage2" class="hidden"><span class="required">* Denotes Required Field</span></label>
      </div>
   </div> <!-- / row -->

   <%- partial('app/views/events/speakerSelectionOthers', {preferenceNumber: '2', speakers:speakers, speakerStatusFieldForce: speakerStatusFieldForce, speakerStatus: speakerStatus, speakerRequired: false, eventRequestMode: eventRequestMode}) %>

   <div class="row">
      <div class="col-xs-12">
         <label id="speakerRequiredMessage3" class="hidden"><span class="required">* Denotes Required Field</span></label>
      </div>
   </div> <!-- / row -->

   <%- partial('app/views/events/speakerSelectionOthers', {preferenceNumber: '3', speakers:speakers, speakerStatusFieldForce: speakerStatusFieldForce, speakerStatus: speakerStatus, speakerRequired: false, eventRequestMode: eventRequestMode}) %>


<div class="text-center">
         <button class="btn btn-primary js-next" onclick="validateEventStep2(goEventStep3);return false;" > Validate and Process </button>
</div>
</form>



<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goEventStep1()',
            nextButtonFunction: 'validateEventStep2(goEventStep3)'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->