<% if(!eventRequestMode) { %>
   <div class="row">
       <div class="col-xs-12">
           <div class="row alert alert-info">
               <div class="col-xs-10">
                   <h3>Event: <%= currentEvent.jobNumber%> <% if (currentEvent.confirmedDate){ %> (<%= currentEvent.confirmedDate%>) <%}%></h3>
               </div>
           </div>
       </div>
   </div> <!-- / title -->
<% } %>

<%- partial('app/views/components/steps/header', { 
   headerTitle: "Audience Recruitment  - Step 5 of 6",
   backButtonFunction: 'goEventStep4()',
   nextButtonFunction: 'goEventStep6()'
   })
%>
<% if(eventRequestMode) { %>
   <%- partial('app/views/events/requestHeader',{currentEvent:currentEvent,currentRep: currentRep, currentManager: currentManager, currentProgram: currentProgram}) %>
<% } %>

<div class="row steps">
   <div class="col-xs-12">
      <p class="bg-info">
         For effective audience recruitment, please plan on at least 6 weeks prior to program date.<br/><br/>
         A minimum # of registrants is needed by the required # of days before a program starts.<br/><br/>
         Consider any state compliance/transfers of value reporting guidelines/restrictions before selecting your proposed audience.<br/><br/>
         <% if (displayEmailColumn || displayHardCopyColumn) { %>Using the search fields, please select those HCPs who should receive an e-mail version of the invitation and/or a hard copy version of the invitation, once all the request details are confirmed.<%}%>
      </p>
   </div>
</div> <!-- / row -->

<div class="row steps" id="eventStep5ValidateForm">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Audience Recruitment</h3>
         </div>
         <div class="panel-body">
            <% if (displayEmailColumn || displayHardCopyColumn || displayInvitationPoolColumn) { %>


               <%- partial('app/views/events/audienceRecruitment', {audience: audience, searchAudienceProperties:searchAudienceProperties, 
                  currentPage:currentPage,
                  totalPages:totalPages,
                  currentEvent:currentEvent,
                  displayEmailColumn: displayEmailColumn,
                  displayInvitationPoolColumn: displayInvitationPoolColumn,
                  displayHardCopyColumn: displayHardCopyColumn}) %>

               <% if(eventRequestMode) { %>
                  <div class="form">
                     <div class="form-group">
                        <p>Invitations will be sent based on the selected preferences once your RSM has approved the Program Request and CRG has verified that all information for the program is complete.</p>
                     </div>
                  </div> <!-- / form-inline --> 
               <% } %>   





               <div class="form">
                  <div class="form-group">
                     <label for="">Audience Recruitment Comments: </label>
                     <textarea name="audienceRecruitmentComments" class="form-control js-event-property" rows="3" data-bind="audienceRecruitmentComments"></textarea>
                  </div>
               </div> <!-- / form-inline -->
            <% } else {%>
               <div class="form">
                  <div class="form-group">
                     <p>In order to select an audience, you need to select <b>PDF Version Via E-mail Direct to HCPs</b> or <b>Hard Copy Version Via Direct Mail to HCPs</b> on the previous step.</p>
                  </div>
               </div> <!-- / form-inline --> 
            <% } %>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
   <div class="text-center">
         <button class="btn btn-primary js-next" onclick="goEventStep6();return false;" > Validate and Process </button>
</div>

</div> <!-- / row -->

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goEventStep4()',
            nextButtonFunction: 'goEventStep6()'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->