<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-10">
                <h3>Finances / Invoices: <%= currentEvent.jobNumber%> <% if (currentEvent.confirmedDate){ %> (<%= currentEvent.confirmedDate%>) <%}%></h3>
            </div>
        </div>
    </div>
</div> <!-- / title -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="form-inline row-space-xs">
         <div class="form-group">
            <label for="CurrentName">Speaker: <%= confirmedSpeaker%></label>
         </div>
      </div>
   </div>
</div>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Fee for Service</h3>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="CurrentName">Amount: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="feeService" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].feeService%><%}%>">
               </div>

               <div class="form-group">   
                  <label for="CurrentName">Check #: </label>
                  <input type="text" class="form-control js-number-only js-finance-property-number" name="feeCheck" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].feeCheck%><%}%>">
               </div>

               <div class="form-group">
                  <label for="CurrentName">Date Paid: </label>
                  <input type="text" class="form-control js-dateField"  name="feeDatePaid" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].feeDatePaid%><%}%>">
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->


<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Expenses</h3>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="CurrentName">Amount: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="expenseAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].expenseAmount%><%}%>">
               </div>

               <div class="form-group">
                  <label for="CurrentName">Check #: </label>
                  <input type="text" class="form-control js-number-only js-finance-property-number" name="expenseCheck" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].expenseCheck%><%}%>">
               </div>

               <div class="form-group">
                  <label for="CurrentName">Date Paid: </label>
                  <input type="text" class="form-control js-dateField" name="expenseDatePaid" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].expenseDatePaid%><%}%>">
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="CurrentName">Air: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="airAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].airAmount%><%}%>">
               </div>

               <div class="form-group">
                  <label for="CurrentName">Ground: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="groundAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].groundAmount%><%}%>">
               </div>

               <div class="form-group">
                  <label for="CurrentName">Hotel: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="hotelAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].hotelAmount%><%}%>">
               </div>

               <div class="form-group">
                  <label for="CurrentName">Hotel/Airport Parking: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="parkingAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].parkingAmount%><%}%>">
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="CurrentName">Meals: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="mealsAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].mealsAmount%><%}%>">
               </div>

               <div class="form-group">
                  <label for="CurrentName">Mileage: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="mileageAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].mileageAmount%><%}%>">
               </div>

               <div class="form-group">
                  <label for="CurrentName">Misc: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="miscAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].miscAmount%><%}%>">
               </div>

               <div class="form-group">
                  <label for="CurrentName">Tolls: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="tollsAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].tollsAmount%><%}%>">
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="CurrentName">Venue Total: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="venueTotalAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].venueTotalAmount%><%}%>">
               </div>

               <div class="form-group">
                  <label for="CurrentName">Venue Room Rental: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="venueRentalAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].venueRentalAmount%><%}%>">
               </div>

               <div class="form-group">
                  <label for="CurrentName">Caterer Total: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="catererTotalAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].catererTotalAmount%><%}%>">
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="VenueAV">Venue AV: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="venueAVTotalAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].venueAVTotalAmount%><%}%>">
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">CGR Paid</h3>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="CurrentName">Air: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="crgAirAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].crgAirAmount%><%}%>">
               </div>

               <div class="form-group">
                  <label for="CurrentName">Ground: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="crgGroundAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].crgGroundAmount%><%}%>">
               </div>

               <div class="form-group">
                  <label for="CurrentName">Hotel: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="crgHotelAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].crgHotelAmount%><%}%>">
               </div>

               <div class="form-group">
                  <label for="CurrentName">Travel Management: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="travelManagementFee" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].travelManagementFee%><%}%>">
               </div>
            </div>

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="AV">AV:: </label>
                  <input type="text" class="form-control js-monetary-only js-finance-property" name="avAmount" value="<% if(currentEvent && currentEvent.invoices && currentEvent.invoices.length > 0) {%><%= currentEvent.invoices[0].avAmount%><%}%>">
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

