<!-- Header -->
<div class="col-xs-12" <% if(currentClient.reps.length != 0) {%> 
    hidden 
    <% } %>>
  <p class="bg-danger" 
    >This client does not have any Field Force members. You need at least one before being able to create an event.</p>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-10">
            <h3><%= currentClient.name%> - <%=currentProgram.programName%> - Events %></h3>
        </div>
        <div class="col-xs-2">
            <div class="pull-right">
                <button type="button" class="btn btn-info" onclick="createNewEvent()" <% if(currentClient.reps.length == 0) {%> disabled <% } %>>Create New Event</button>
            </div>
        </div>
    </div>
</div>

<!-- Advanced Search -->
<% if (events && events.length > 0) {%> 
    <%- partial('app/views/components/search/advancedSearch', {searchProperties: searchEventProperties, elementSearchArray:events, actionURL:'/events/search'}) %>
<% } %>


<div class="js-selection-container">
    <% if (session.get('userId') && ( (session.get('userRoleId') == geddy.constants.roles.SUPER_ADMIN.label ) ) ){ %>
        <!-- Display events -->
        <div class="row row-space-xs">
          <div class="col-xs-12">
            <div class="form-inline">
               <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
            </div>
         </div>
        </div>
    <%}%>


    <!-- Table -->
    <div class="row">
        <div class="col-xs-12">
           <div class="table-sorter-wrapper">
            <table class="mainTable">
                <thead>
                    <tr class="info">
                        <th class="filter-false sorter-false" data-bind="&lt;input type='checkbox' name='selectedReps[]' value='{id}'/&gt;">
                            <input type="checkbox" class="selectall" />
                        </th>
                        <th data-bind="{approvalStatus}">Approval Status</th>
                        <th data-bind="{presentationTitle}">Event</th>
                        <th data-bind="{jobNumber}">Job Number</th>
                        <th data-bind="{crgProgramManager}">CRG Event Manager</th>
                        <th data-bind="{confirmedDate}">Event Date</th>
                        <th data-bind="{speakerName}"><span>Speaker</span></th>
                        <th data-bind="{venueName}">Venue</th>
                        <th data-bind="{status}">Status</th>
                        <th data-bind="{requestingRepName}">Field Force</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0, ii = events.length; i < ii; i++) { %>
                    <tr>
                        <td class="checkBoxTd">
                            <input type="checkbox" class="selectElement" value="<%=events[i].id%>" />
                        </td>
                        <td>
                            <% for (var index in eventApprovalStatusArray) { %>
                              <% if (eventApprovalStatusArray[index].value == events[i].approvalStatus) { %>
                                  <%= eventApprovalStatusArray[index].type%>
                              <% } %>
                            <% } %>
                        </td>
                        <td>
                            <%=events[i].presentationTitle%>
                        </td>
                        <td>
                            <%=events[i].jobNumber%>
                        </td>
                        <td>
                            <% for(var index in crgUsers) { %>
                                <% if (crgUsers[index].email == events[i].crgProgramManager) {%> 
                                    <%= crgUsers[index].firstName %> <%= crgUsers[index].lastName %>
                                <% } %> 
                            <% } %> 
                        </td>
                        <td>
                            <% if (events[i].confirmedDate) { %>
                                <%=events[i].confirmedDate%>
                            <%}%>
                        </td>
                        <td>
                            <% if (events[i].potentialSpeakers){%>
                                <%for (var j = 0, jj = events[i].potentialSpeakers.length; j < jj; j++) {%>
                                  <% if (events[i].potentialSpeakers[j].crgStatus == '1'){%>
                                    <%= events[i].potentialSpeakers[j].speakerName%>
                                  <%}%>
                                <%}%>
                            <%}%>
                        </td>

                        <td>
                            <% for (var index in venues) { %>
                                <% if (venues[index].id == events[i].venueId) { %>
                                    <%= venues[index].venueName%>
                                <% } %>
                            <% } %>
                        </td>
                        <td>
                            <% for (var index in eventStatusArray) { %>
                              <% if (eventStatusArray[index].value == events[i].status) { %>
                                  <%= eventStatusArray[index].type%>
                              <% } %>
                            <% } %>
                        </td>
                        <td><%= events[i].requestingRepName%></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
         <%-partial('app/views/components/pagination/paginationControl',{backPageFunction:'getElementListByPage',
            nextPageFunction:'getElementListByPage',
            currentPage:currentPage,
            totalPages:totalPages,
       }) %>
        </div>
    </div>
</div>