<div class="form">
  <% if (deliveryTypes.indexOf('PDF Version Via E-mail Direct to HCPs (max 50)') != -1) {%>
     <div class="form-group">
        <label class="checkbox-inline">
          <input type="checkbox" name="invitationCheckbox" data-bind='invitationsPDF' class="js-invites-event-property validate[minCheckbox[1]]"> PDF Version Via E-mail Direct to HCPs (max 50)
        </label>
     </div>
  <%}%>

   <% if (deliveryTypes.indexOf('PDF Version Via E-mail to Sales Representative') != -1) {%> 
    <div class="form-group">
       <label class="checkbox-inline">
         <input type="checkbox" name="invitationCheckbox" data-bind='invitationsPDFRep' class="js-invites-event-property validate[minCheckbox[1]]"> PDF Version Via E-mail to Sales Representative
       </label>
    </div>
  <%}%>


   <% if (deliveryTypes.indexOf('Hard Copy Version Via Direct Mail to HCPs (max 50)') != -1) {%> 
     <div class="form-group">
        <label class="checkbox-inline">
          <input type="checkbox" name="invitationCheckbox" data-bind='invitationsHardcopyDirect' class="js-invites-event-property validate[minCheckbox[1]]"> Hard Copy Version Via Direct Mail to HCPs (max 50)
        </label>
     </div>
  <%}%>
     
   <% if (deliveryTypes.indexOf('Hard Copy Version to Sales Representative (qty 25)') != -1) {%> 
      <div class="form-group">
        <label class="checkbox-inline">
          <input type="checkbox" name="invitationCheckbox" data-bind='invitationsHardcopyRep' class="js-invites-event-property validate[minCheckbox[1]]"> Hard Copy Version to Sales Representative (qty 25)
        </label>
     </div>
  <%}%>
</div> <!-- / form -->