<%- partial('app/views/components/dialogs/deleteSelected') %>

<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-10">
            <h3>Notes: <%= currentEvent.jobNumber%> <% if (currentEvent.confirmedDate){ %> (<%= currentEvent.confirmedDate%>) <%}%></h3>
        </div>
        <div class="col-xs-2">
            <div class="pull-right">
                <button type="button" class="btn btn-info" onclick="createNewNote()">New Note</button>
            </div>
        </div>
    </div>
</div>

<div class="js-selection-container">
  <div class="row row-space-xs">
      <div class="col-xs-12">
        <div class="form-inline">
           <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
        </div>
     </div>
  </div>


  <!-- Table -->
  <div class="row">
     <div class="col-xs-12">
        <table class="mainTable">
           <thead>
              <tr class="info">
                <th><input type="checkbox" class="selectall"/></th>
                <th data-bind="{createdAt}">Date</th>
                <th data-bind="{accountExecutive}">Account Executive</th>
                <th data-bind="{category}">Category</th>
                <th data-bind="{details}">Notes</th>
              </tr>
           </thead>
           <tbody>
            <% if (currentEvent.notes && currentEvent.notes.length > 0) { %>
              <% for (var i = 0, ii = currentEvent.notes.length; i < ii; i++) { %>
              <tr>
                <td class="checkBoxTd"><input type="checkbox" class="selectElement" value='<%= i %>' /> </td>
                <td><%= currentEvent.notes[i].createdAt.toLocaleDateString()%></td>
                <td><%= currentEvent.notes[i].accountExecutive%></td>
                <td><%= currentEvent.notes[i].category%></td>
                <td><%= currentEvent.notes[i].details%></td>
               </tr>
              <%}%>
            <%}%>
           </tbody>
        </table>
     </div>
  </div>
</div>