<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-10">
                <h3>PRF Details: <%= currentEvent.jobNumber%> <% if (currentEvent.confirmedDate){ %> (<%= currentEvent.confirmedDate%>) <%}%></h3>
            </div>
        </div>
    </div>
</div> <!-- / title -->

<%if (!currentEvent) {%>
  <h4><span class="label label-default">No PRF information is available</span></h4>
<%} else {%>
<div class="row row-space-md row-separator">
   <div class="col-xs-4">
      <h3>Event Information</h3>
      <ul class="pull-left img-rounded card">
         <li><label>Brand: </label>
             <label data-bind="brand">
               <%if (currentEvent.brand) {%>
                   <%= currentEvent.brand %><sup>TM</sup>
               <%}%>
           </label>
         </li>
         <li>
             <label>Presentation Title: </label>
             <label data-bind="presentationTitle"/>
                 <%if (currentEvent.presentationTitle) {%>
                   <%= currentEvent.presentationTitle %>
                 <%}%>
             </label>
         </li>
         <li>
            <label>Event Type: </label>
            <label data-bind="eventType">
                <%if (currentEvent.eventType) {%>
                  <%= currentEvent.eventType %>
                <%}%>
            </label>
         </li>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->
   <div class="col-xs-4">
      <h3>Field Force Information</h3>
      <ul class="pull-left img-rounded card">
         <li><label>Requesting Field Force: </label>
             <label data-bind="rep.firstName">
               <%if (rep && rep.firstName) {%>
                   <%= rep.firstName %>
               <%}%>
               <%if (rep && rep.middleName) {%>
                   <%= rep.middleName %>
               <%}%>
               <%if (rep && rep.lastName) {%>
                   <%= rep.lastName %>
               <%}%>
           </label>
         </li>
         <li>
             <label>E-mail: </label>
             <label data-bind="rep.emailAddresses[0]"/>
                 <%if (rep && rep.emailAddresses && rep.emailAddresses[0] && rep.emailAddresses[0].email) {%>
                   <%= rep.emailAddresses[0].email %>
                 <%}%>
             </label>
         </li>
         <li>
             <label>Phone: </label>
             <label data-bind="rep.phoneNumbers[0]"/>
                 <%if (rep && rep.phoneNumbers && rep.phoneNumbers[0] && rep.phoneNumbers[0].number) {%>
                   <%= rep.phoneNumbers[0].number %>
                 <%}%>
             </label>
         </li>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->
   <div class="col-xs-4">
      <h3>Date and Location</h3>
      <ul class="pull-left img-rounded card">
         <li><label>City: </label>
             <label data-bind="city">
               <%if (currentEvent.city) {%>
                   <%= currentEvent.city %>
               <%}%>
           </label>
         </li>
         <li>
             <label>State/Province: </label>
             <label data-bind="state"/>
                 <%if (currentEvent.state) {%>
                   <%= currentEvent.state %>
                 <%}%>
             </label>
         </li>
         <li>
            <label>Start Time: </label>
            <label data-bind="eventStartTime"/>
               <%if (currentEvent.eventStartTime) {%>
                  <%= currentEvent.eventStartTime %>
               <%}%>
             </label>
         </li>
         <li>
            <label>Time Zone: </label>
            <label data-bind="timezone"/>
               <%if (currentEvent.timezone) {%>
                  <%= currentEvent.timezone%>
               <%}%>
             </label>
         </li>
          <li>
            <label>Date Preference 1: </label>
            <label data-bind="eventDatePref1"/>
               <%if (currentEvent.eventDatePref1) {%>
                  <%= currentEvent.eventDatePref1%>
               <%}%>
             </label>
         </li>
         <li>
            <label>Date Preference 2: </label>
            <label data-bind="eventDatePref2"/>
               <%if (currentEvent.eventDatePref2) {%>
                  <%= currentEvent.eventDatePref2%>
               <%}%>
             </label>
         </li>
         <li>
            <label>Date Preference 3: </label>
            <label data-bind="eventDatePref3"/>
               <%if (currentEvent.eventDatePref3) {%>
                  <%= currentEvent.eventDatePref3%>
               <%}%>
             </label>
         </li>
         <li>
            <label>Date and Location Comments: </label>
            <br>
            <label data-bind="dateLocationComments"/>
               <%if (currentEvent.dateLocationComments) {%>
                  <%= currentEvent.dateLocationComments%>
               <%}%>
             </label>
         </li>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->
</div> <!-- / row -->

<%if (currentEvent.potentialSpeakers ){%>
  <div class="row row-space-md row-separator">
    <%if (currentEvent.potentialSpeakers[0]) {%>
      <div class="col-xs-4">
        <h3>Speaker Preference 1</h3>
        <ul class="pull-left img-rounded card">
           <li><label>First Name: </label>
              <label data-bind="currentEvent.potentialSpeakers[0].firstName">
                 <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[0] && currentEvent.potentialSpeakers[0].speakerName) {%>
                     <%= currentEvent.potentialSpeakers[0].speakerName %>
                 <%}%>
              </label>
           </li>
           <li>
              <label>Status: </label>
              <label data-bind=""/>
               <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[0] && currentEvent.potentialSpeakers[0].status) {%>
                  <%= speakerStatusArray[currentEvent.potentialSpeakers[0].status].label %>
              <%} else {%>
                      N/A
                   <%}%>
              </label>
           </li>
           <li>
              <label>Travel Type: </label>
              <label data-bind=""/>
               <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[0] && currentEvent.potentialSpeakers[0].travelType) {%>
                  <%= currentEvent.potentialSpeakers[0].travelType %>
              <%} else {%>
                      N/A
                   <%}%>
              </label>
           </li>
           <li>
              <label>Ground Transportation: </label>
              <label data-bind=""/>
               <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[0] && currentEvent.potentialSpeakers[0].groundTransportation) {%>
                  <%= currentEvent.potentialSpeakers[0].groundTransportation %>
              <%} else {%>
                      N/A
                   <%}%>
              </label>
           </li>
           <li>
              <label>Comments: </label>
              <br>
              <label data-bind=""/>
               <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[0] && currentEvent.potentialSpeakers[0].comments) {%>
                  <%= currentEvent.potentialSpeakers[0].comments %>
              <%}%>
              </label>
           </li>
        </ul> <!-- / rounded card -->
      </div> <!-- / col -->
    <%}%>
  </div> <!-- / row -->
  <%if (currentEvent.potentialSpeakers[1]) {%>
     <div class="col-xs-4">
        <h3>Speaker Preference 2</h3>
        <ul class="pull-left img-rounded card">
           <li><label>First Name: </label>
              <label data-bind="currentEvent.potentialSpeakers[0].firstName">
                 <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[1] && currentEvent.potentialSpeakers[1].speakerName) {%>
                     <%= currentEvent.potentialSpeakers[1].speakerName %>
                 <%}%>
              </label>
           </li>
           <li>
              <label>Status: </label>
              <label data-bind=""/>
               <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[1] && currentEvent.potentialSpeakers[1].status) {%>
                  <%= speakerStatusArray[currentEvent.potentialSpeakers[1].status].label %>
              <%} else {%>
                      N/A
                   <%}%>
              </label>
           </li>
           <li>
              <label>Travel Type: </label>
              <label data-bind=""/>
               <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[1] && currentEvent.potentialSpeakers[1].travelType) {%>
                  <%= currentEvent.potentialSpeakers[1].travelType %>
              <%} else {%>
                      N/A
                   <%}%>
              </label>
           </li>
           <li>
              <label>Ground Transportation: </label>
              <label data-bind=""/>
               <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[1] && currentEvent.potentialSpeakers[1].groundTransportation) {%>
                  <%= currentEvent.potentialSpeakers[1].groundTransportation %>
              <%} else {%>
                      N/A
                   <%}%>
              </label>
           </li>
           <li>
              <label>Comments: </label>
              <br>
              <label data-bind=""/>
               <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[1] && currentEvent.potentialSpeakers[1].comments) {%>
                  <%= currentEvent.potentialSpeakers[1].comments %>
              <%}%>
              </label>
           </li>
        </ul> <!-- / rounded card -->
     </div> <!-- / col -->
  <%}%>
  <%if (currentEvent.potentialSpeakers[2]) {%>
   <div class="col-xs-4" >
      <h3>Speaker Preference 3</h3>
      <ul class="pull-left img-rounded card">
         <li><label>First Name: </label>
            <label data-bind="currentEvent.potentialSpeakers[0].firstName">
               <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[2] && currentEvent.potentialSpeakers[2].speakerName) {%>
                   <%= currentEvent.potentialSpeakers[2].speakerName %>
               <%}%>
            </label>
         </li>
         <li>
            <label>Status: </label>
            <label data-bind=""/>
             <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[2] && currentEvent.potentialSpeakers[2].status) {%>
                <%= speakerStatusArray[currentEvent.potentialSpeakers[2].status].label %>
            <%} else {%>
                    N/A
                 <%}%>
            </label>
         </li>
         <li>
            <label>Travel Type: </label>
            <label data-bind=""/>
             <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[2] && currentEvent.potentialSpeakers[2].travelType) {%>
                <%= currentEvent.potentialSpeakers[2].travelType %>
            <%} else {%>
                    N/A
                 <%}%>
            </label>
         </li>
         <li>
            <label>Ground Transportation: </label>
            <label data-bind=""/>
             <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[2] && currentEvent.potentialSpeakers[2].groundTransportation) {%>
                <%= currentEvent.potentialSpeakers[2].groundTransportation %>
            <%} else {%>
                    N/A
                 <%}%>
            </label>
         </li>
         <li>
            <label>Comments: </label>
            <br>
            <label data-bind=""/>
             <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[2] && currentEvent.potentialSpeakers[2].comments) {%>
                <%= currentEvent.potentialSpeakers[2].comments %>
            <%}%>
            </label>
         </li>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->
   <%}%>
<%}%>

<div class="row row-space-md row-separator">
   <div class="col-xs-6">
      <h3>Venue Information</h3>
      <ul class="pull-left img-rounded card">
        <%if (currentEvent.potentialVenue && currentEvent.potentialVenue.length > 0) {%>
         <li><label>Venuessss: </label>
             <label data-bind="">
               <%if (currentEvent.potentialVenue[0].venueName) {%>
                   <%= currentEvent.potentialVenue[0].venueName %>
               <%}%>
           </label>
         </li>
         <li><label>VenueType: </label>
             <label data-bind="">
               <%if (currentEvent.potentialVenue[0].venueType) {%>
                   <%= currentEvent.potentialVenue[0].venueType %>
               <%}%>
           </label>
         </li>
         <li><label>Street Address: </label>
             <label data-bind="">
               <%if (currentEvent.potentialVenue[0].addresses && currentEvent.potentialVenue[0].addresses[0] && currentEvent.potentialVenue[0].addresses[0].address1) {%>
                   <%= currentEvent.potentialVenue[0].addresses[0].address1 %>
               <%}%>
           </label>
         </li>
         <li>
             <label>Address Line 2: </label>
             <label data-bind=""/>
               <%if (currentEvent.potentialVenue[0].addresses && currentEvent.potentialVenue[0].addresses[0] && currentEvent.potentialVenue[0].addresses[0].address2) {%>
                   <%= currentEvent.potentialVenue[0].addresses[0].address2 %>
               <%}%>
             </label>
         </li>
         <li>
             <label>City: </label>
             <label data-bind=""/>
               <%if (currentEvent.potentialVenue[0].addresses && currentEvent.potentialVenue[0].addresses[0] && currentEvent.potentialVenue[0].addresses[0].city) {%>
                   <%= currentEvent.potentialVenue[0].addresses[0].city %>
               <%}%>
             </label>
         </li>
         <li>
             <label>State/Province: </label>
             <label data-bind=""/>
               <%if (currentEvent.potentialVenue[0].addresses && currentEvent.potentialVenue[0].addresses[0] && currentEvent.potentialVenue[0].addresses[0].state) {%>
                   <%= currentEvent.potentialVenue[0].addresses[0].state %>
               <%}%>
             </label>
         </li>
         <li>
             <label>Postal Code: </label>
             <label data-bind=""/>
               <%if (currentEvent.potentialVenue[0].addresses && currentEvent.potentialVenue[0].addresses[0] && currentEvent.potentialVenue[0].addresses[0].postalCode) {%>
                   <%= currentEvent.potentialVenue[0].addresses[0].postalCode %>
               <%}%>
             </label>
         </li>
         <li>
             <label>Phone: </label>
             <label data-bind=""/>
                 <%if (currentEvent.potentialVenue[0].phoneNumbers && currentEvent.potentialVenue[0].phoneNumbers[0] && currentEvent.potentialVenue[0].phoneNumbers[0].number) {%>
                   <%= currentEvent.potentialVenue[0].phoneNumbers[0].number %>
                  <%}%>
             </label>
         </li>
         <li>
             <label>Contact Name: </label>
             <label data-bind=""/>
                 <%if (currentEvent.potentialVenue[0].contact && currentEvent.potentialVenue[0].contact[0] && currentEvent.potentialVenue[0].contact[0].firstName) {%>
                   <%= currentEvent.potentialVenue[0].contact[0].firstName %>
                  <%}%>
                  <%if (currentEvent.potentialVenue[0].contact && currentEvent.potentialVenue[0].contact[0] && currentEvent.potentialVenue[0].contact[0].middleName) {%>
                   <%= currentEvent.potentialVenue[0].contact[0].middleName %>
                  <%}%>
                  <%if (currentEvent.potentialVenue[0].contact && currentEvent.potentialVenue[0].contact[0] && currentEvent.potentialVenue[0].contact[0].lastName) {%>
                   <%= currentEvent.potentialVenue[0].contact[0].lastName %>
                  <%}%>
             </label>

              <br>
             <label data-bind=""/>
                  Phone:
                 <%if (currentEvent.potentialVenue[0].contact && currentEvent.potentialVenue[0].contact[0] && currentEvent.potentialVenue[0].contact[0].phoneNumbers && currentEvent.potentialVenue[0].contact[0].phoneNumbers[0] && currentEvent.potentialVenue[0].contact[0].phoneNumbers[0].number) {%>
                   <%= currentEvent.potentialVenue[0].contact[0].phoneNumbers[0].number %>
                  <%}%>
             </label>
             <br>
             <label data-bind=""/>
                  E-mail:
                 <%if (currentEvent.potentialVenue[0].contact && currentEvent.potentialVenue[0].contact[0] && currentEvent.potentialVenue[0].contact[0].emailAddresses && currentEvent.potentialVenue[0].contact[0].emailAddresses[0] && currentEvent.potentialVenue[0].contact[0].emailAddresses[0].email) {%>
                   <%= currentEvent.potentialVenue[0].contact[0].emailAddresses[0].email %>
                  <%}%>
             </label>
         </li>
        <%} else {%>
          No venue information provided.
        <%}%>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->


   <div class="col-xs-6">
      <h3>Caterer Information</h3>
      <ul class="pull-left img-rounded card">
          <%if (caterer) {%>}
           <li><label>Caterer Name: </label>
               <label data-bind="brand">
                 <%if (caterer && caterer.venueName) {%>
                     <%= caterer.venueName %>
                 <%}%>
             </label>
           </li>
           <li>
              <label>Caterer Status: </label>
               <label data-bind="catererStatus">
                 <%if (currentEvent.catererStatus) {%>
                     <%= currentEvent.catererStatus %>
                 <%}%>
             </label>
           </li>
           <li>
               <label>Contact Info: </label>
               <label data-bind=""/>
                   <%if (caterer && caterer.contact && caterer.contact[0] && caterer.contact[0].firstName) {%>
                     <%= caterer.contact[0].firstName %>
                    <%}%>
                    <%if (caterer && caterer.contact && caterer.contact[0] && caterer.contact[0].middleName) {%>
                     <%= caterer.contact[0].middleName %>
                    <%}%>
                    <%if (caterer && caterer.contact && caterer.contact[0] && caterer.contact[0].lastName) {%>
                     <%= caterer.contact[0].lastName %>
                    <%}%>
               </label>

                <br>
               <label data-bind=""/>
                    Phone:
                   <%if (caterer && caterer.contact && caterer.contact[0] && caterer.contact[0].phoneNumbers && caterer.contact[0].phoneNumbers[0] && caterer.contact[0].phoneNumbers[0].number) {%>
                     <%= caterer.contact[0].phoneNumbers[0].number %>
                    <%}%>
               </label>
               <br>
               <label data-bind=""/>
                    E-mail:
                   <%if (caterer && caterer.contact && caterer.contact[0] && caterer.contact[0].emailAddresses && caterer.contact[0].emailAddresses[0] && caterer.contact[0].emailAddresses[0].email) {%>
                     <%= caterer.contact[0].emailAddresses[0].email %>
                    <%}%>
               </label>
           </li>
         <%} else {%>
          No caterer information provided.
        <%}%>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->


  <%if (currentEvent.venueComments && currentEvent.venueComments.length != 0) {%>
    <div class="col-xs-6" >
      <h3>Venue/Catering Comment</h3>
      <ul class="pull-left img-rounded card">
         <label data-bind="venueComments"/>
             <%if (currentEvent.venueComments) {%>
               <%= currentEvent.venueComments %>
             <%}%>
         </label>
      </ul> <!-- / rounded card -->
    </div> <!-- / col -->
  <%}%>
</div> <!-- / row -->


<div class="row row-space-md row-separator">
   <div class="col-xs-6">
      <h3>Attendance Information</h3>
      <ul class="pull-left img-rounded card">
         <li><label>Estimated Meal Cost per Attendee: </label>
             <label data-bind="estimatedMealCost">
               <%if (currentEvent.estimatedMealCost) {%>
                   <%= currentEvent.estimatedMealCost %>
                <%} else {%>
                    N/A
                 <%}%>
           </label>
         </li>
         <li><label>Estimated Attendance: </label>
             <label data-bind="expectedNumberAttendees">
               <%if (currentEvent.expectedNumberAttendees) {%>
                   <%= currentEvent.expectedNumberAttendees %>
                <%} else {%>
                    N/A
                 <%}%>
           </label>
         </li>
         <li>
             <label>Audio/Visual Status: </label>
             <label data-bind="venueAVStatus"/>
                 <%if (currentEvent.venueAVStatus) {%>
                   <%= currentEvent.venueAVStatus %>
                 <%} else {%>
                    N/A
                 <%}%>
             </label>
         </li>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->


   <div class="col-xs-6">
      <h3>Invitations Information</h3>
      <ul class="pull-left img-rounded card">
         <li><label>PDF Version Via E-mail Direct to HCPs (max 50): </label>
            <label data-bind="">
               <%if (currentEvent.invitationsPDF) {%>
                  Yes
               <%} else {%>
                  No
               <%}%>
           </label>
         </li>
         <li><label>Hard Copy Version Via Direct Mail to HCPs: </label>
             <label data-bind="invitationsHardcopyDirect">
               <%if (currentEvent.invitationsHardcopyDirect) {%>
                  Yes
               <%} else {%>
                  No
               <%}%>
           </label>
         </li>
         <li>
             <label>Hard Copy Version to Sales Representative: </label>
             <label data-bind="invitationsHardcopyRep"/>
                 <%if (currentEvent.invitationsHardcopyRep) {%>
                  Yes
               <%} else {%>
                  No
                 <%}%>
             </label>
         </li>

          <%if (currentEvent.invitationsComments) {%>
            <li>
              <label>Comments: </label>
              <br>
              <label data-bind="venueComments"/>
                  <%= currentEvent.invitationsComments %>
              </label>
            </li>
          <%}%>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
   <div class="col-xs-12">
      <h3>Mailing Info</h3>
      <ul class="pull-left img-rounded card">
         <li><strong>Street Address: </strong>
         <%if (rep && rep.addresses) {%>
            <%=rep.addresses[0].address1%>
         <%}%>
         </li>
         <li><strong>Address Line 2: </strong>
            <%if (rep && rep.addresses) {%>
               <%=rep.addresses[0].address2%>
            <%}%>
         </li>
         <li><strong>City: </strong>
            <%if (rep && rep.addresses) {%>
               <%=rep.addresses[0].city%>
            <%}%>
         </li>
         <li><strong>State/Province: </strong>
            <%if (rep && rep.addresses) {%>
               <%=rep.addresses[0].state%>
            <%}%>
         </li>
         <li><strong>Postal Code: </strong>
            <%if (rep && rep.addresses) {%>
               <%=rep.addresses[0].postalCode%>
            <%}%>
         </li>
         <li><strong>Phone: </strong>
            <%if (rep && rep.phoneNumbers) {%>
               <%=rep.phoneNumbers[0].number%>
            <%}%>
         </li>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->
</div> <!-- / row -->
<%}%>