<div class="row">
   <div class="col-xs-12">
      <p><strong>Street Address: </strong>
         <% if (rep && rep.addresses) { %>
            <%=rep.addresses[0].address1%> 
         <% } %>
      </p>
   </div>
   <div class="col-xs-12">
      <p><strong>Address Line 2: </strong>
         <% if (rep && rep.addresses) {%>
            <%=rep.addresses[0].address2%>
         <% } %>
      </p>
   </div>
   <div class="col-xs-3">
      <p><strong>City: </strong>
         <% if (rep && rep.addresses) {%>
            <%=rep.addresses[0].city%>
         <% } %>
      </p>
   </div>
   <div class="col-xs-3">
      <p><strong>State/Province: </strong>
         <% if (rep && rep.addresses) {%>
            <%=rep.addresses[0].state%>
         <% } %>
      </p>
   </div>
   <div class="col-xs-3">
      <p><strong>Postal Code: </strong>
         <% if (rep && rep.addresses) {%> 
            <%=rep.addresses[0].postalCode%>
         <% } %>
      </p>
   </div>
   <div class="col-xs-3">
      <p><strong>Phone: </strong>
         <% if (rep && rep.phoneNumbers && rep.phoneNumbers.length > 0) {%>
            <%=rep.phoneNumbers[0].number%>
         <% } %>
      </p>
   </div>
</div> <!-- / row -->
<div class="form">
   <div class="form-group">
      <label for="">Make Address Edits Here: </label>
      <textarea name='repMailingAddressEdits' class="form-control js-event-property" rows="3" data-bind='repMailingAddressEdits'></textarea>
   </div>
   <div class="form-group">
      <label for="">Invitation Comments: </label>
      <textarea name='invitationsComments' class="form-control js-event-property" rows="3" data-bind='invitationsComments'></textarea>
   </div>
</div> <!-- / form-inline -->