<div class="row">
   <div class="col-xs-12">
      <ul class="pull-left img-rounded card">
         <li><h3><%=currentRep.firstName%> <%= currentRep.lastName%></h3></li>
         <li><strong>Territory Name: </strong><%= currentRep.territoryName%></li>
         <li><strong>Phone: </strong><%= currentRep.defaultPhoneNumber%></li>
         <li><strong>E-mail: </strong><a href=""><%= currentRep.defaultEmail%></a></li>
      </ul>
      <%if (currentManager.id != -1) { %>
      <ul class="pull-left img-rounded card">
         <li><h3>RSM: <%= currentManager.firstName%> <%= currentManager.lastName%></h3></li>
         <li><strong>Territory Name: </strong><%= currentRep.territoryName%></li>
         <li><strong>Phone: </strong><%= currentManager.defaultPhoneNumber%></li>
         <li><strong>E-mail: </strong><a href=""><%= currentManager.defaultEmail%></a></li>
      </ul>
      <% } %>
   </div>
</div>

<%if (typeof step1 =="undefined") {%>
   <div class="row ">
      <div class="col-xs-5">
         <p><strong>Brand: </strong><%if (currentEvent.brand){%><%=currentEvent.brand%><%}%></p>
      </div>
      <div class="col-xs-5">
         <p><strong>Presentation Title: </strong><%if (currentEvent.presentationTitle){%><%=currentEvent.presentationTitle%><%}%></p>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-5">
         <p><strong>Program Type: </strong><%if (currentProgram.programName){%><%=currentProgram.programName%><%}%></p>
      </div>
      <div class="col-xs-5">
         <p><strong>Event Type: </strong><%if (currentEvent.eventType){%><%=currentEvent.eventType%><%}%></p>
      </div>
   </div> <!-- / row -->
<%}%>