<div class="form-inline row-space-xs">
   <div class="form-group">
      <label for="">Room Name:</label>
      <input type="text" name="venueRoomName" class="form-control js-event-property" data-bind="venueRoomName"/>
   </div>
   <div class="form-group">
      <label for="">Guaranteed #:</label>
      <input type="text" name="venueGuranteedNumber" class="form-control js-event-property js-number-only" data-bind="venueGuranteedNumber"/>
   </div>
</div> <!-- / form-inline -->