<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-10">
                <h3>Event Details: <%= currentEvent.jobNumber%> <% if (currentEvent.confirmedDate){ %> (<%= currentEvent.confirmedDate%>) <%}%></h3>
            </div>
            <%if (
                    (currentSection != geddy.constants.sections.CONTACT_PORTAL_EVENT_DETAILS)
                    &&
                    (currentSection == geddy.constants.sections.EVENT_DETAILS &&
                      (
                        (currentEvent.approvalStatus != geddy.constants.NOT_SUBMITED) &&
                        (currentEvent.approvalStatus != geddy.constants.PENDING_APPROVAL) &&
                        (currentEvent.approvalStatus != geddy.constants.DENIED)
                      )
                    )
                    ||
                    (
                      (currentSection == geddy.constants.sections.REP_PORTAL_EVENT_DETAILS || currentSection == geddy.constants.sections.MANAGER_PORTAL_EVENT_DETAILS) &&
                      (
                        (currentEvent.approvalStatus == geddy.constants.DENIED && (currentEvent.submitingTimes < 3)) ||
                        (currentEvent.approvalStatus == geddy.constants.NOT_SUBMITTED)
                      )
                    )

                  ){%>
                <div class="col-xs-2">
                  <div class="pull-right">
                      <button id="editContactBtn" class="btn btn-info" onclick='editEvent()' <% if (editing == true){%> disabled <%}%>>Edit</button>
                  </div>
                </div>
            <%}%>
        </div>
    </div>
</div> <!-- / title -->

<% if (editing) {%>
<div class="row">
   <div class="col-xs-12">
      <label class='bg-danger'>Currently being edited by: <%= editor %></label>
   </div>
</div>
<%}%>

<!-- We display this section when the event's status is set to DENIED -->
<% if ( (Number(currentEvent.approvalStatus)) == geddy.constants.DENIED) {%>
  <div>
    <% if (currentSection == geddy.constants.sections.REP_PORTAL_EVENT_DETAILS) {%>
      <div class="row steps" >
         <div class="col-xs-12">
            <p class="bg-danger">Unfortunately, your Program Request as outlined below has not been approved.</li>
         </div>
      </div> <!-- / row -->
    <% } %>

    <div class="row steps">
      <div class="col-xs-12">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Resolution</h3>
                <%- contentTag('p', currentEvent.historical[currentEvent.historical.length - 1].comment) %>
          </div>
        </div> <!-- panel -->
      </div> <!-- / col -->
    </div> <!-- / row -->
  </div>
<%}%>

<div class="row row-space-md row-separator">
   <div class="col-xs-4">
      <h3>Event Information</h3>
      <ul class="pull-left img-rounded card">
         <li>
            <label>Brand: </label>
            <span data-bind="brand">
               <% if (currentEvent.brand) { %>
                  <%= currentEvent.brand %>
               <% } %>
            </span>
         </li>
         <li>
             <label>Presentation Title: </label>
             <span data-bind="presentationTitle"/>
                 <% if (currentEvent.presentationTitle) { %>
                   <%= currentEvent.presentationTitle %>
                 <% } %>
             </span>
         </li>
         <li>
            <label>Event Type: </label>
            <span data-bind="eventType">
                <% if (currentEvent.eventType) { %>
                  <%= currentEvent.eventType %>
                <% } %>
            </span>
         </li>
         <li>
            <label>Job Number:</label>
            <span data-bind="jobNumber"/>
                <% if (currentEvent.jobNumber) { %>
                  <%= currentEvent.jobNumber %>
                <% } %>
            </span>
         </li>
         <li>
            <div>
              <label>Approval Status: </label>
              <span data-bind="approvalStatus">
                <% if (statusApprovalLabel) { %>
                    <%=statusApprovalLabel %>
                  <% } %>
              </span>
            </div>

            <%if (currentSection != geddy.constants.sections.EVENT_PRF){%>
              <div>
                <label>Event Status: </label>
                <span data-bind="status" <%if (statusLabel == 'Not Confirmed') {%> class='required'<%} else {%> style='color:green'<%}%>>
                  <% if (statusLabel) { %>
                      <%=statusLabel %>
                    <% } %>
                </span>
              </div>
            <%}%>
         </li>

         <!-- only for CRG -->
         <% if (currentSection == geddy.constants.sections.EVENT_DETAILS) {%>
           <li>
              <label>CRG % of Fee:</label>
              <span data-bind="crgPercentageFee"/>
                  <% if (currentEvent.crgPercentageFee) { %>
                    <%= currentEvent.crgPercentageFee %>
                  <% } %>
              </span>
           </li>
         <% }%>

         <% if (currentSection == geddy.constants.sections.EVENT_DETAILS) {%>
           <li>
              <label>CRG Program Manager:</label>
                  <% if (currentEvent.crgProgramManagerName) { %>
                    <%= currentEvent.crgProgramManagerName %>
                  <% } %>
           </li>
         <% }%>
         <li>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->


   <div class="col-xs-4">
      <h3>Field Force Information</h3>
      <ul class="pull-left img-rounded card">
         <li><label>Requesting Field Force: </label>
             <span data-bind="rep.firstName">
               <% if (rep && rep.firstName) { %>
                   <%= rep.firstName %>
               <% } %>
               <% if (rep && rep.middleName) { %>
                   <%= rep.middleName %>
               <% } %>
               <% if (rep && rep.lastName) { %>
                   <%= rep.lastName %>
               <% } %>
           </span>
         </li>
         <li>
             <label>E-mail: </label>
             <span data-bind="rep.emailAddresses[0]"/>
                 <% if (rep && rep.emailAddresses && rep.emailAddresses[0] && rep.emailAddresses[0].email) { %>
                   <%= rep.emailAddresses[0].email %>
                 <% } %>
             </span>
         </li>

          <li>
             <label>Phone: </label>
             <span data-bind="rep.phoneNumbers[0]"/>
                 <% if (rep && rep.phoneNumbers && rep.phoneNumbers[0] && rep.phoneNumbers[0].number) { %>
                   <%= rep.phoneNumbers[0].number %>
                 <% } %>
             </span>
         </li>

      </ul> <!-- / rounded card -->

 <%if (currentSection != geddy.constants.sections.EVENT_PRF){%>
      <h3>Attendee Statistics</h3>
      <ul class="pull-left img-rounded card">
         <li>
              <label>Total Invited: </label>
              <span >
                    <%=totalAttendeesInvited %>
              </span>
         </li>

         <li>
              <label>Total Attended: </label>
              <span >
                    <%=totalAttendeesAttended %>
              </span>
         </li>

         <li>
              <label>Total Walk-ins: </label>
              <span >
                    <%=totalAttendeesWalkIn %>
              </span>
         </li>

         <li>
              <label>Total Pending: </label>
              <span >
                    <%=totalAttendeesPending %>
              </span>
         </li>

         <li>
              <label>Total Registered: </label>
              <span >
                    <%=totalAttendeesRegistered %>
              </span>
         </li>
         <li>
              <label>Total Canceled: </label>
              <span >
                    <%=totalAttendeesCanceled %>
              </span>
         </li>
         <li>
              <label>Total No Show: </label>
              <span >
                    <%=totalAttendeesNoShow %>
              </span>
         </li>
         <li>
              <label>Total Declined: </label>
              <span >
                    <%=totalAttendeesDeclined %>
              </span>
         </li>
         

      </ul> <!-- / rounded card -->
   <%}%>
   </div> <!-- / col -->


   <div class="col-xs-4">
      <h3>Date and Location</h3>
      <ul class="pull-left img-rounded card">
         <li><label>City: </label>
             <span data-bind="city">
               <% if (currentEvent.city) { %>
                   <%= currentEvent.city %>
               <% } %>
           </span>
         </li>
         <li>
             <label>State/Province: </label>
             <span data-bind="state"/>
                 <% if (currentEvent.state) { %>
                   <%= currentEvent.state %>
                 <% } %>
             </span>
         </li>
         <li>
            <label>Start Time: </label>
            <span data-bind="eventStartTime"/>
               <% if (currentEvent.eventStartTime) { %>
                  <%= currentEvent.eventStartTime %>
               <% } %>
             </span>
         </li>
         <li>
            <label>Time Zone: </label>
            <span data-bind="timezone"/>
               <% if (currentEvent.timezone) { %>
                  <%= currentEvent.timezone%>
               <% } %>
             </span>
         </li>
         <%if (currentSection != geddy.constants.sections.EVENT_PRF){%>
          <li>
            <label>Confirmed Date: </label>
            <span data-bind="confirmedDate"/>
               <% if (currentEvent.confirmedDate) { %>
                  <span style='color:green'><%= currentEvent.confirmedDate%></span>
               <% } %>
             </span>
          </li>
        <%}%>
          <%if (currentSection != geddy.constants.sections.CONTACT_PORTAL_EVENT_DETAILS){%>
            <li>
              <label>Date Preference 1: </label>
              <span data-bind="eventDatePref1"/>
                 <% if (currentEvent.eventDatePref1) { %>
                    <%= currentEvent.eventDatePref1%>
                 <% } %>
               </span>
           </li>
           <li>
              <label>Date Preference 2: </label>
              <span data-bind="eventDatePref2"/>
                 <% if (currentEvent.eventDatePref2) { %>
                    <%= currentEvent.eventDatePref2%>
                 <% } %>
               </span>
           </li>
           <li>
              <label>Date Preference 3: </label>
              <span data-bind="eventDatePref3"/>
                 <% if (currentEvent.eventDatePref3) { %>
                    <%= currentEvent.eventDatePref3%>
                 <% } %>
               </span>
           </li>
          <%}%>
         <li>
            <label>Date and Location Comments: </label>
            <br>
            <span data-bind="dateLocationComments"/>
               <% if (currentEvent.dateLocationComments) { %>
                  <%= currentEvent.dateLocationComments%>
               <% } %>
             </span>
         </li>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->
</div> <!-- / row -->


<%if (currentSection != geddy.constants.sections.CONTACT_PORTAL_EVENT_DETAILS) {%>
<% if (currentEvent.potentialSpeakers ){%>
   <div class="row row-space-md row-separator">
      <% if (currentEvent.potentialSpeakers[0]) { %>
         <div class="col-xs-4">
            <h3>Speaker Preference 1</h3>
            <ul class="pull-left img-rounded <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[0] && currentEvent.potentialSpeakers[0].crgStatus && currentEvent.potentialSpeakers[0].crgStatus == 1) {%> confirmedCard <%} else {%>card<%}%>">
              <li><label>Name: </label>
                 <span data-bind="currentEvent.potentialSpeakers[0].firstName">
                    <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[0] && currentEvent.potentialSpeakers[0].speakerName) { %>
                        <%= currentEvent.potentialSpeakers[0].speakerName %>
                    <% } %>
                 </span>
              </li>
              <li>
                 <label>Status: </label>
                 <span data-bind=""/>
                  <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[0] && !currentEvent.potentialSpeakers[0].crgStatus) { %>
                    <%if (currentEvent.potentialSpeakers[0].status) {%>
                      <%= speakerStatusArray[currentEvent.potentialSpeakers[0].status].label %>
                    <%} else {%>
                        N/A
                    <%}%>
                 <% } else if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[0] && currentEvent.potentialSpeakers[0].crgStatus){ %>
                      <%= speakerCRGStatusArray[currentEvent.potentialSpeakers[0].crgStatus].label %>
                  <% } else {%>
                         N/A
                      <% } %>
                 </span>
              </li>
              <li>
                 <label>Travel Type: </label>
                 <span data-bind=""/>
                  <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[0] && currentEvent.potentialSpeakers[0].travelType) { %>
                     <%= currentEvent.potentialSpeakers[0].travelType %>
                 <% } else { %>
                         N/A
                      <% } %>
                 </span>
              </li>
              <li>
                 <label>Ground Transportation: </label>
                 <span data-bind=""/>
                  <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[0] && currentEvent.potentialSpeakers[0].groundTransportation) { %>
                     <%= currentEvent.potentialSpeakers[0].groundTransportation %>
                 <% } else { %>
                         N/A
                      <% } %>
                 </span>
              </li>
              <li>
                 <label>Comments: </label>
                 <br>
                 <span data-bind=""/>
                  <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[0] && currentEvent.potentialSpeakers[0].comments) { %>
                     <%= currentEvent.potentialSpeakers[0].comments %>
                 <% } %>
                 </span>
              </li>
            </ul> <!-- / rounded card -->
         </div> <!-- / col -->
      <%}%>
      <% if (currentEvent.potentialSpeakers[1]) { %>
         <div class="col-xs-4">
            <h3>Speaker Preference 2</h3>
            <ul class="pull-left img-rounded <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[1] && currentEvent.potentialSpeakers[1].crgStatus && currentEvent.potentialSpeakers[1].crgStatus == 1) {%> confirmedCard <%} else {%>card<%}%>">
              <li><label>Name: </label>
                 <span data-bind="currentEvent.potentialSpeakers[0].firstName">
                    <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[1] && currentEvent.potentialSpeakers[1].speakerName) { %>
                        <%= currentEvent.potentialSpeakers[1].speakerName %>
                    <% } %>
                 </span>
              </li>
              <li>
                 <label>Status: </label>
                 <span data-bind=""/>
                  <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[1] && !currentEvent.potentialSpeakers[1].crgStatus) { %>
                     <% if (currentEvent.potentialSpeakers[1].status) {%>
                      <%= speakerStatusArray[currentEvent.potentialSpeakers[1].status].label %>
                    <%} else {%>
                      N/A
                    <%}%>
                 <% } else if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[1] && currentEvent.potentialSpeakers[1].crgStatus){ %>
                      <%= speakerCRGStatusArray[currentEvent.potentialSpeakers[1].crgStatus].label %>
                  <% } else {%>
                         N/A
                      <% } %>
                 </span>
              </li>
              <li>
                 <label>Travel Type: </label>
                 <span data-bind=""/>
                  <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[1] && currentEvent.potentialSpeakers[1].travelType) { %>
                     <%= currentEvent.potentialSpeakers[1].travelType %>
                 <% } else { %>
                         N/A
                      <% } %>
                 </span>
              </li>
              <li>
                 <label>Ground Transportation: </label>
                 <span data-bind=""/>
                  <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[1] && currentEvent.potentialSpeakers[1].groundTransportation) { %>
                     <%= currentEvent.potentialSpeakers[1].groundTransportation %>
                 <% } else { %>
                         N/A
                      <% } %>
                 </span>
              </li>
              <li>
                 <label>Comments: </label>
                 <br>
                 <span data-bind=""/>
                  <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[1] && currentEvent.potentialSpeakers[1].comments) { %>
                     <%= currentEvent.potentialSpeakers[1].comments %>
                 <% } %>
                 </span>
              </li>
            </ul> <!-- / rounded card -->
         </div> <!-- / col -->
      <%}%>
      <% if (currentEvent.potentialSpeakers[2]) { %>
      <div class="col-xs-4" >
         <h3>Speaker Preference 3</h3>
         <ul class="pull-left img-rounded <%if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[2] && currentEvent.potentialSpeakers[2].crgStatus && currentEvent.potentialSpeakers[2].crgStatus == 1) {%> confirmedCard <%} else {%>card<%}%>">
            <li><label>Name: </label>
               <span data-bind="currentEvent.potentialSpeakers[0].firstName">
                  <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[2] && currentEvent.potentialSpeakers[2].speakerName) { %>
                      <%= currentEvent.potentialSpeakers[2].speakerName %>
                  <% } %>
               </span>
            </li>
            <li>
               <label>Status: </label>
               <span data-bind=""/>
                  <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[2] && !currentEvent.potentialSpeakers[2].crgStatus) { %>
                     <%if (currentEvent.potentialSpeakers[2].crgStatus){%>
                      <%= speakerStatusArray[currentEvent.potentialSpeakers[2].status].label %>
                    <%} else {%>
                      N/A
                    <%}%>
                 <% } else if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[2] && currentEvent.potentialSpeakers[2].crgStatus){ %>
                      <%= speakerCRGStatusArray[currentEvent.potentialSpeakers[2].crgStatus].label %>
                  <% } else {%>
                         N/A
                      <% } %>
                 </span>
            </li>
            <li>
               <label>Travel Type: </label>
               <span data-bind=""/>
                <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[2] && currentEvent.potentialSpeakers[2].travelType) { %>
                   <%= currentEvent.potentialSpeakers[2].travelType %>
               <% } else { %>
                       N/A
                    <% } %>
               </span>
            </li>
            <li>
               <label>Ground Transportation: </label>
               <span data-bind=""/>
                <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[2] && currentEvent.potentialSpeakers[2].groundTransportation) { %>
                   <%= currentEvent.potentialSpeakers[2].groundTransportation %>
               <% } else { %>
                       N/A
                    <% } %>
               </span>
            </li>
            <li>
               <label>Comments: </label>
               <br>
               <span data-bind=""/>
                <% if (currentEvent.potentialSpeakers && currentEvent.potentialSpeakers[2] && currentEvent.potentialSpeakers[2].comments) { %>
                   <%= currentEvent.potentialSpeakers[2].comments %>
               <% } %>
               </span>
            </li>
         </ul> <!-- / rounded card -->
      </div> <!-- / col -->
      <%}%>
   </div> <!-- / row -->
<%}%>
<%}%>

<div class="row row-space-md row-separator">
   <div class="col-xs-6">
      <h3>Venue Information</h3>
      <ul class="pull-left img-rounded <%if (currentEvent && currentEvent.venueCRGStatus && currentEvent.venueCRGStatus == 'Confirmed') {%> confirmedCard <%} else {%>card<%}%>">
        <% if (venue ) { %>
         <li><label>Venue: </label>
             <span data-bind="">
               <% if (venue && venue.venueName) { %>
                   <%= venue.venueName %>
               <% } %>
           </span>
         </li>
         <li><label>VenueType: </label>
             <span data-bind="">
               <% if (venue && venue.venueType) { %>
                   <%= venue.venueType %>
               <% } %>
           </span>
         </li>
         <li><label>Street Address: </label>
             <span data-bind="">
               <% if (venue && venue.addresses && venue.addresses[0] && venue.addresses[0].address1) { %>
                   <%= venue.addresses[0].address1 %>
               <% } %>
           </span>
         </li>
         <li>
             <label>Address Line 2: </label>
             <span data-bind=""/>
               <% if (venue && venue.addresses && venue.addresses[0] && venue.addresses[0].address2) { %>
                   <%= venue.addresses[0].address2 %>
               <% } %>
             </span>
         </li>
         <li>
             <label>City: </label>
             <span data-bind=""/>
               <% if (venue && venue.addresses && venue.addresses[0] && venue.addresses[0].city) { %>
                   <%= venue.addresses[0].city %>
               <% } %>
             </span>
         </li>
         <li>
             <label>State/Province: </label>
             <span data-bind=""/>
               <% if (venue && venue.addresses && venue.addresses[0] && venue.addresses[0].state) { %>
                   <%= venue.addresses[0].state %>
               <% } %>
             </span>
         </li>
         <li>
             <label>Postal Code: </label>
             <span data-bind=""/>
               <% if (venue && venue.addresses && venue.addresses[0] && venue.addresses[0].postalCode) { %>
                   <%= venue.addresses[0].postalCode %>
               <% } %>
             </span>
         </li>
         <li>
             <label>Phone: </label>
             <span data-bind=""/>
                 <% if (venue && venue.phoneNumbers && venue.phoneNumbers[0] && venue.phoneNumbers[0].number) { %>
                   <%= venue.phoneNumbers[0].number %>
                  <% } %>
             </span>
         </li>
         <li>
             <label>Contact Name: </label>
             <span data-bind=""/>
                 <% if (venue && venue.contact && venue.contact[0] && venue.contact[0].firstName) { %>
                   <%= venue.contact[0].firstName %>
                  <% } %>
                  <% if (venue && venue.contact && venue.contact[0] && venue.contact[0].middleName) { %>
                   <%= venue.contact[0].middleName %>
                  <% } %>
                  <% if (venue && venue.contact && venue.contact[0] && venue.contact[0].lastName) { %>
                   <%= venue.contact[0].lastName %>
                  <% } %>
             </span>

              <br>
             <span data-bind=""/>
                  <label>Phone:</label>
                 <% if (venue && venue.contact && venue.contact[0] && venue.contact[0].number) { %>
                   <%= venue.contact[0].number %>
                  <% } %>
             </span>
             <br>
             <span data-bind=""/>
                  <label>E-mail:</label>
                 <% if (venue && venue.contact && venue.contact[0] && venue.contact[0].email) { %>
                   <%= venue.contact[0].email %>
                  <% } %>
             </span>
         </li>
        <% } else {%>
          No venue information provided.
        <% } %>

      </ul> <!-- / rounded card -->
   </div> <!-- / col -->


<%if (currentSection != geddy.constants.sections.EVENT_PRF){%>
<div class="row row-space-md row-separator">
   <div class="col-xs-6">
      <h3>Fee For Service Information</h3>
      <ul class="pull-left img-rounded card">
         <li><label>Amount: </label>
             <span data-bind="feeService">
               <% if (currentEvent.invoices && currentEvent.invoices[0].feeService) { %>
                   <%= currentEvent.invoices[0].feeService%>
                <% } else { %>
                    N/A
                 <% } %>
           </span>
         </li>
         <li><label>Check #: </label>
             <span data-bind="feeCheck">
               <% if (currentEvent.invoices && currentEvent.invoices[0].feeCheck) { %>
                   <%= currentEvent.invoices[0].feeCheck%>
                <% } else { %>
                    N/A
                 <% } %>
           </span>
         </li>
         <li>
             <label>Date Paid: </label>
             <span data-bind="feeDatePaid"/>
                 <% if (currentEvent.invoices && currentEvent.invoices[0].feeDatePaid) { %>
                   <%= currentEvent.invoices[0].feeDatePaid%>
                 <% } else { %>
                    N/A
                 <% } %>
             </span>
         </li>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->


   <div class="col-xs-6">
      <h3>Expenses Information</h3>
      <ul class="pull-left img-rounded card">
         <li><label>Amount: </label>
             <span data-bind="expenseAmount">
               <% if (currentEvent.invoices && currentEvent.invoices[0].expenseAmount) { %>
                   <%= currentEvent.invoices[0].expenseAmount%>
                <% } else { %>
                    N/A
                 <% } %>
           </span>
         </li>
         <li><label>Check #: </label>
             <span data-bind="expenseCheck">
               <% if (currentEvent.invoices && currentEvent.invoices[0].expenseCheck) { %>
                   <%= currentEvent.invoices[0].expenseCheck%>
                <% } else { %>
                    N/A
                 <% } %>
           </span>
         </li>
         <li>
             <label>Date Paid: </label>
             <span data-bind="expenseDatePaid"/>
                 <% if (currentEvent.invoices && currentEvent.invoices[0].expenseDatePaid) { %>
                   <%= currentEvent.invoices[0].expenseDatePaid%>
                 <% } else { %>
                    N/A
                 <% } %>
             </span>
         </li>

         <li>
             <label>Air: </label>
             <span data-bind="airAmount"/>
                 <% if (currentEvent.invoices && currentEvent.invoices[0].airAmount) { %>
                   <%= currentEvent.invoices[0].airAmount%>
                 <% } else { %>
                    N/A
                 <% } %>
             </span>
         </li>
         <li>
             <label>Ground: </label>
             <span data-bind="groundAmount"/>
                 <% if (currentEvent.invoices && currentEvent.invoices[0].groundAmount) { %>
                   <%= currentEvent.invoices[0].groundAmount%>
                 <% } else { %>
                    N/A
                 <% } %>
             </span>
         </li>
      </ul>
      <ul class="pull-left img-rounded card">
         <li>
             <label>Hotel: </label>
             <span data-bind="hotelAmount"/>
                 <% if (currentEvent.invoices && currentEvent.invoices[0].hotelAmount) { %>
                   <%= currentEvent.invoices[0].hotelAmount%>
                 <% } else { %>
                    N/A
                 <% } %>
             </span>
         </li>
          <li>
             <label>Hotel/Airport Parking: </label>
             <span data-bind="parkingAmount"/>
                 <% if (currentEvent.invoices && currentEvent.invoices[0].parkingAmount) { %>
                   <%= currentEvent.invoices[0].parkingAmount%>
                 <% } else { %>
                    N/A
                 <% } %>
             </span>
         </li>
         <li>
             <label>Meals: </label>
             <span data-bind="mealsAmount"/>
                 <% if (currentEvent.invoices && currentEvent.invoices[0].mealsAmount) { %>
                   <%= currentEvent.invoices[0].mealsAmount%>
                 <% } else { %>
                    N/A
                 <% } %>
             </span>
         </li>
         <li>
             <label>Mileage: </label>
             <span data-bind="mileageAmount"/>
                 <% if (currentEvent.invoices && currentEvent.invoices[0].mileageAmount) { %>
                   <%= currentEvent.invoices[0].mileageAmount%>
                 <% } else { %>
                    N/A
                 <% } %>
             </span>
         </li>
          <li>
             <label>Misc: </label>
             <span data-bind="miscAmount"/>
                 <% if (currentEvent.invoices && currentEvent.invoices[0].miscAmount) { %>
                   <%= currentEvent.invoices[0].miscAmount%>
                 <% } else { %>
                    N/A
                 <% } %>
             </span>
         </li>
         <li>
             <label>Tolls: </label>
             <span data-bind="tollsAmount"/>
                 <% if (currentEvent.invoices && currentEvent.invoices[0].tollsAmount) { %>
                   <%= currentEvent.invoices[0].tollsAmount%>
                 <% } else { %>
                    N/A
                 <% } %>
             </span>
         </li>

      </ul> <!-- / rounded card -->
   </div> <!-- / col -->
</div> <!-- / row -->
<%}%>


  <%if (currentSection != geddy.constants.sections.CONTACT_PORTAL_EVENT_DETAILS){%>
   <div class="col-xs-6">
      <h3>Caterer Information</h3>
      <ul class="pull-left img-rounded <%if (currentEvent && currentEvent.catererCRGStatus && currentEvent.catererCRGStatus == 'Confirmed') {%> confirmedCard <%} else {%>card<%}%>">
          <% if (caterer) { %>
           <li><label>Caterer Name: </label>
               <span data-bind="brand">
                 <% if (caterer && caterer.venueName) { %>
                     <%= caterer.venueName %>
                 <% } %>
             </span>
           </li>
           <li>
              <label>Caterer Status: </label>
               <span data-bind="catererStatus">
                 <% if (currentEvent.catererStatus) { %>
                     <%= currentEvent.catererStatus %>
                 <% } %>
             </span>
           </li>

           <li>
               <label>Contact Info: </label>
               <span data-bind=""/>
                   <% if (caterer && caterer.contact && caterer.contact[0] && caterer.contact[0].firstName) { %>
                     <%= caterer.contact[0].firstName %>
                    <% } %>
                    <% if (caterer && caterer.contact && caterer.contact[0] && caterer.contact[0].middleName) { %>
                     <%= caterer.contact[0].middleName %>
                    <% } %>
                    <% if (caterer && caterer.contact && caterer.contact[0] && caterer.contact[0].lastName) { %>
                     <%= caterer.contact[0].lastName %>
                    <% } %>
               </span>

                <br>
               <span data-bind=""/>
                   <label> Number:</label>
                   <% if (caterer && caterer.contact && caterer.contact[0] && caterer.contact[0].number) { %>
                     <%= caterer.contact[0].number %>
                    <% } %>
               </span>
               <br>
               <span data-bind=""/>
                   <label>Email:</label>
                   <% if (caterer && caterer.contact && caterer.contact[0] && caterer.contact[0].email) { %>
                     <%= caterer.contact[0].email %>
                    <% } %>
               </span>
           </li>
         <% } else {%>
          No caterer information provided.
        <% } %>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->



  <% if (currentEvent.venueComments && currentEvent.venueComments.length != 0) {%>
    <div class="col-xs-6" >
      <h3>Venue/Catering Comment</h3>
      <ul class="pull-left img-rounded card">
         <span data-bind="venueComments"/>
             <% if (currentEvent.venueComments) { %>
               <%= currentEvent.venueComments %>
             <% } %>
         </span>
      </ul> <!-- / rounded card -->
    </div> <!-- / col -->
  <% } %>
</div> <!-- / row -->



<div class="row row-space-md row-separator">
   <div class="col-xs-6">
      <h3>Attendance Information</h3>
      <ul class="pull-left img-rounded card">
         <li><label>Estimated Meal Cost per Attendee: </label>
             <span data-bind="estimatedMealCost">
               <% if (currentEvent.estimatedMealCost) { %>
                   <%= currentEvent.estimatedMealCost %>
                <% } else { %>
                    N/A
                 <% } %>
           </span>
         </li>
         <li><label>Estimated Attendance: </label>
             <span data-bind="expectedNumberAttendees">
               <% if (currentEvent.expectedNumberAttendees) { %>
                   <%= currentEvent.expectedNumberAttendees %>
                <% } else { %>
                    N/A
                 <% } %>
           </span>
         </li>
         <li>
             <label>Audio/Visual Status: </label>
             <span data-bind="venueAVStatus"/>
                 <% if (currentEvent.venueAVStatus) { %>
                   <%= currentEvent.venueAVStatus %>
                 <% } else { %>
                    N/A
                 <% } %>
             </span>
         </li>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->


   <div class="col-xs-6">
      <h3>Invitations Information</h3>
      <ul class="pull-left img-rounded card">
         <li><label>PDF Version Via E-mail Direct to HCPs (max 50): </label>
            <span data-bind="">
               <% if (currentEvent.invitationsPDF) { %>
                  Yes
               <% } else { %>
                  No
               <% } %>
           </span>
         </li>
         <li><label>Hard Copy Version Via Direct Mail to HCPs: </label>
             <span data-bind="invitationsHardcopyDirect">
               <% if (currentEvent.invitationsHardcopyDirect) { %>
                  Yes
               <% } else { %>
                  No
               <% } %>
           </span>
         </li>
         <li>
             <label>Hard Copy Version to Sales Representative: </label>
             <span data-bind="invitationsHardcopyRep"/>
                 <% if (currentEvent.invitationsHardcopyRep) { %>
                  Yes
               <% } else { %>
                  No
                 <% } %>
             </span>
         </li>

          <li><label>PDF Version Via E-mail to Sales Representative (max 50): </label>
            <span data-bind="">
               <% if (currentEvent.invitationsPDFRep) { %>
                  Yes
               <% } else { %>
                  No
               <% } %>
           </span>
         </li>

          <% if (currentEvent.invitationsComments) { %>
            <li>
              <label>Comments: </label>
              <br>
              <span data-bind="venueComments"/>
                  <%= currentEvent.invitationsComments %>
              </span>
            </li>
          <% } %>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
   <div class="col-xs-6">
      <h3>Mailing Info</h3>
      <ul class="pull-left img-rounded card">
         <li><strong>Street Address: </strong>
         <% if (rep && rep.addresses) { %>
            <%=rep.addresses[0].address1%>
         <% } %>
         </li>
         <li><strong>Address Line 2: </strong>
            <% if (rep && rep.addresses) {%>
               <%=rep.addresses[0].address2%>
            <% } %>
         </li>
         <li><strong>City: </strong>
            <% if (rep && rep.addresses) {%>
               <%=rep.addresses[0].city%>
            <% } %>
         </li>
         <li><strong>State/Province: </strong>
            <% if (rep && rep.addresses) {%>
               <%=rep.addresses[0].state%>
            <% } %>
         </li>
         <li><strong>Postal Code: </strong>
            <% if (rep && rep.addresses) {%>
               <%=rep.addresses[0].postalCode%>
            <% } %>
         </li>
         <li><strong>Phone: </strong>
            <% if (rep && rep.phoneNumbers && rep.phoneNumbers.length > 0) {%>
               <%=rep.phoneNumbers[0].number%>
            <% } %>
         </li>
      </ul> <!-- / rounded card -->
   </div> <!-- / col -->

  <% if (currentEvent.repMailingAddressEdits) { %>
      <div class="col-xs-6">
         <h3>Mailing Address Comments</h3>
         <ul class="pull-left img-rounded card">
            <li><%= currentEvent.repMailingAddressEdits %></li>
         </ul> <!-- / rounded card -->
      </div> <!-- / col -->
  <% } %>
</div> <!-- / row -->


<% if (!displayPRF) {%>
<div class="row row-space-md">
   <div class="col-md-12">
     <h3>Attendees</h3>
     <%if (attendees && attendees.length > 0) {%>
      <div class="table-sorter-wrapper">
         <table class="mainTable">
             <thead>
                 <tr class="info">
                     <th><span>Last Name</span></th>
                     <th><span>First Name</span></th>
                     <th><span>Degrees</span></th>
                     <th><span>City</span></th>
                     <th><span>State</span></th>
                     <th><span>Status</span></th>
                 </tr>
             </thead>
             <tbody>
                  <%if(attendees){%>
                   <%for (var i = 0, ii = attendees.length; i < ii; i++) {%>
                       <tr>
                           <td><%if(attendees[i].contact && attendees[i].contact.lastName){%><%=attendees[i].contact.lastName%><%}%></td>
                           <td><%if(attendees[i].contact && attendees[i].contact.firstName){%><%=attendees[i].contact.firstName%><%}%></td>
                           <td><%if(attendees[i].contact && attendees[i].contact.degrees){%><%=attendees[i].contact.degrees%><%}%></td>
                           <td><%if (attendees[i].contact && attendees[i].contact.addresses && attendees[i].contact.addresses.length > 0) { %><%=attendees[i].contact.addresses[0].city%><%}%></td>
                           <td><%if (attendees[i].contact && attendees[i].contact.addresses && attendees[i].contact.addresses.length > 0) { %><%=attendees[i].contact.addresses[0].state%><%}%></td>
                           <td><%if(statusTypes && statusTypes.length > 0 && attendees[i].status && statusTypes[attendees[i].status] ){%><%=statusTypes[attendees[i].status].label%><%}%></td>
                       </tr>
                   <%}%>
                 <%}%>
             </tbody>
         </table>
        </div>
      <%} else {%>
            <h4><span class="label label-default">No attendees selected</span></h4>
        <%}%>
   </div> <!-- / col -->
</div> <!-- / row -->
<%}%>
<%}%>



<%if (session.get('userRoleId') == geddy.constants.roles.MANAGER.label && currentEvent.approvalStatus == geddy.constants.PENDING_APPROVAL){%>
   <div class="row">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h3 class="panel-title">Resolution</h3>
            </div>
            <div class="panel-body">
               <div class="radio">
                  <input type="radio" name="resolutionGroup" value="approved" class="js-approve">
                  <label>I am approving this Program Request Form.</label>
               </div>
               <div class="radio">
                  <input type="radio" name="resolutionGroup" value="rejected">
                  <label>
                     I am not approving this Program Request Form for the following reason:
                  </label>
               </div>
               <div class="radio radio-nest">
                  <input type="radio" name="rejectedSelection" class="js-resolutionCheckbox" value="0">
                  <label>
                     The program date is too soon, and there will not be sufficient time for audience recruitment.<br><strong>Action: </strong>Edit the Program Request, and resubmit for my approval.
                  </label>
               </div>
               <div class="radio radio-nest">
                  <input type="radio" name="rejectedSelection" class="js-resolutionCheckbox" value="1">
                  <label>
                     The program details as outlined are not compliant.<br><strong>Action: </strong>Contact me via e-mail or phone to review and resubmit for approval.
                  </label>
               </div>
               <div class="radio radio-nest">
                  <input type="radio" name="rejectedSelection" class="js-resolutionCheckbox" value="2">
                  <label>
                     Other, please enter comments below.
                  </label>
               </div>
               <div class="form-group">
                  <textarea class="form-control js-other-comment"></textarea>
               </div>
               <div class="pull-right">
                  <button class="btn btn-primary" onclick='cancelEventAction()'>Back</button>
                  <button class="btn btn-primary js-submit" onclick='submitEventResolution()'>Submit</button>
               </div>
            </div> <!-- / panel body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->
<%}%>
