<div class="row steps row-space-md">
   <div class="col-xs-12">
      <div class="panel panel-info js-speaker-container">
         <div class="panel-heading">
            <h3 class="panel-title" data-prefNumber="<%= preferenceNumber %>">Speaker Preference <%= preferenceNumber %></h3>
         </div>

         <% if (speakers && speakers.length > 0) {%>
            <div class="panel-body">
               <div class="form-inline row-space-xs">
                    <div class="form-inline row-space-xs">
                        <p>
                        <div class="form-group">
                           <label for="">Speaker Name: </label>
                           <span data-bind="speakerName">No info available</span>
                        </div>
                        </p>
                        <!-- <p>
                        <div class="form-group">
                           <label for="">Speaker Specialty: </label>
                           <span data-bind="speakerSpecialty">No info available</span>
                        </div>
                        <div class="form-group">
                           <label for="">Speaker Affiliation: </label>
                           <span data-bind="speakerAffiliation">No info available</span>
                        </div>
                        </p> -->
                        <p>
                        <div class="form-group">
                           <label for="">Speaker City: </label>
                           <span data-bind="speakerCity">No info available</span>
                        </div>
                        <div class="form-group">
                           <label for="">Speaker State/Province: </label>
                           <span data-bind="speakerState">No info available</span>
                        </div>
                        </p>

                         <div class="form-group <% if (eventRequestMode == true) {%>hidden<%}%>">
                           <label for="">Speaker Status (as provided by Field Force): </label>
                           <span data-bind="speakerStatus">No info available</span>
                        </div>
                     </div> <!-- / form-inline -->

                     

                     <div class="form-group">
                           <div class="table-sorter-wrapper">
                               <table class="mainTable">
                                    <thead>
                                      <tr class="info">
                                          <th data-bind="{lastName}">Last Name</th>
                                          <th data-bind="{firstName}">First Name</th>
                                          <th data-bind="{degrees}">Degrees</th>
                                          <th data-bind="{specialties.*}">Specialty</th>
                                          <th data-bind="{affiliations.*.affiliationName}">Affiliation</th>
                                          <th data-bind="{addresses[0].city}">City</th>
                                          <th data-bind="{addresses[0].state}">State</th>
                                          <th data-bind="{addresses[0].postalCode}">Postal Code</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                       <% for (var i = 0, ii = speakers.length; i < ii; i++) { %>
                                         <tr data-bind='<%= speakers[i].id%>'>
                                             <td class="js-lastName">
                                                 <%=speakers[i].lastName%>
                                             </td>
                                             <td class="js-firstName">
                                                 <%=speakers[i].firstName%>
                                             </td>
                                             <td class="js-degrees">
                                                 <%=speakers[i].degrees%>
                                             </td>
                                             <td class="js-specialties">
                                                 <% if (speakers[i].specialties) {%>
                                                 <% for (var j=0,  jj = speakers[i].specialties.length; j < jj; j++) { %>
                                                 <%=speakers[i].specialties[j]%>
                                                 <br />
                                                 <% } %>
                                                 <% } %>
                                             </td>
                                             <td class="js-affiliations">
                                                 <% if (speakers[i].affiliations) {%>
                                                 <% for (var j=0,  jj = speakers[i].affiliations.length; j < jj; j++) { %>
                                                 <%=speakers[i].affiliations[j].affiliationName%>
                                                 <br />
                                                 <% } %>
                                                 <% } %>
                                             </td>
                                             <td class="js-city">
                                                 <% if (speakers[i].addresses) {%>
                                                 <%=speakers[i].addresses[0].city%>
                                                 <% } %>
                                             </td>
                                             <td class="js-state">
                                                 <% if (speakers[i].addresses) {%>
                                                 <%=speakers[i].addresses[0].state%>
                                                 <% } %>
                                             </td>
                                             <td class="js-country">
                                                 <% if (speakers[i].addresses) {%>
                                                  <%=speakers[i].addresses[0].postalCode%>
                                                 <% } %>
                                             </td>
                                          </tr>
                                       <% } %>
                                    </tbody>
                                 </table>
                           </div>
                     </div>
                  </div> <!-- / form-inline -->

                  

<div class="row "> 
    <div class="col-sm-4 ">

                        <div class="form-inline row-space-xs" <% if (!eventRequestMode) {%> hidden <%}%>>
                           <div class="form-group">
                              <label><span class="required">* </span>Speaker Status: </label>
                              <select id="fieldForceSpeakerSelectedStatus" name="status" class="form-control js-speaker-status validate[required]" data-bind='potentialSpeakers[0].status'>
                                 <option disabled selected>Please Select One</option>
                                 <% for (var index in speakerStatusFieldForce) { %>
                                    <option value='<%=speakerStatusFieldForce[index].value%>'><%= speakerStatusFieldForce[index].label%></option>
                                 <% } %>
                              </select>
                           </div>
                        </div>

                        <div class="form-inline row-space-xs" <% if (eventRequestMode) {%> hidden <%}%>>
                           <div class="form-group">
                              <label><span class="required">* </span>Speaker Status: </label>
                              <select id="crgStatusComboBox" name="crgStatus" class="form-control js-speaker-status validate[required]" data-bind='potentialSpeakers[0].crgStatus'>
                                 <option disabled selected>Please Select One</option>
                                 <% for (var index in speakerStatus) { %>
                                    <option value='<%=speakerStatus[index].value%>'><%= speakerStatus[index].label%></option>
                                 <% } %>
                              </select>
                           </div>
                        </div>
    </div>
    <div class="col-sm-3 ">


                  <div class="row steps">
                     <div class="col-xs-12">
                        <div class="panel panel-warning">
                           <div class="panel-heading">
                              <h3 class="panel-title"><span class="required">* </span>Travel Type</h3>
                           </div>
                           <div class="panel-body">
                              <div class="form-inline">
                                 <div class="form-group">
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="travel<%=preferenceNumber%>>" class="checkbox js-travel-radio-button validate[required]" value="Driving" data-bind="travelType">
                                          Driving
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="travel<%=preferenceNumber%>>" class="checkbox js-travel-radio-button validate[required]" value="Flying" data-bind="travelType">
                                          Flying
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="travel<%=preferenceNumber%>>" class="checkbox js-travel-radio-button validate[required]" value="Don't know yet" data-bind="travelType">
                                          Don't know yet
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="travel<%=preferenceNumber%>>" class="checkbox js-travel-radio-button js-na validate[required]" value="N/A" data-bind="travelType">
                                          <span>N/A</span>
                                       </label>
                                    </div>
                                 </div>
                              </div>
                           </div> <!-- / panel-body -->
                        </div> <!-- / panel -->
                     </div> <!-- / col -->
                  </div> <!-- / row -->

    </div>
    <div class="col-sm-5">

        <div class="row steps">
                     <div class="col-xs-12">
                        <div class="panel panel-warning">
                           <div class="panel-heading">
                              <h3 class="panel-title"><span class="required">* </span>Ground Transportation</h3>
                           </div>
                           <div class="panel-body">
                              <div class="form-inline">
                                 <div class="form-group">
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="trans<%=preferenceNumber%>>" class="checkbox js-transportation-radio-button validate[required]" value="Car Service" data-bind="groundTransportation">
                                          Car Service
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="trans<%=preferenceNumber%>>" class="checkbox js-transportation-radio-button validate[required]" value="Personal Car" data-bind="groundTransportation">
                                          Personal Car
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="trans<%=preferenceNumber%>>" class="checkbox js-transportation-radio-button validate[required]" value="Rental Car" data-bind="groundTransportation">
                                          Rental Car
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="trans<%=preferenceNumber%>>" class="checkbox js-transportation-radio-button validate[required]" value="Sales Representative" data-bind="groundTransportation">
                                          Sales Representative
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="trans<%=preferenceNumber%>>" class="checkbox js-transportation-radio-button validate[required]" value="Taxi" data-bind="groundTransportation">
                                          Taxi
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="trans<%=preferenceNumber%>>" class="checkbox js-transportation-radio-button validate[required] js-na" value="N/A" data-bind="groundTransportation">
                                           <span>N/A</span>
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="trans<%=preferenceNumber%>>" class="checkbox js-transportation-radio-button validate[required]" value="Don't know yet" data-bind="groundTransportation">
                                          Don't know yet
                                       </label>
                                    </div>
                                 </div>
                              </div>
                           </div> <!-- / panel-body -->
                        </div> <!-- / panel -->
                     </div> <!-- / col -->
                  </div> <!-- / row -->

    </div>

    <div class="col-sm-12 ">


                  <div class="row steps">
                     <div class="col-xs-12">
                        <div class="panel panel-warning">
                           <div class="panel-heading">
                              <h3 class="panel-title">Speaker Preference <%= preferenceNumber %> Comments</h3>
                           </div>
                           <div class="panel-body">
                              <div class="form row-space-xs">
                                 <div class="form-group">
                                    <textarea class="form-control js-event-property" rows="3" name='comments' data-bind='comments'></textarea>
                                 </div>
                              </div> <!-- / form-inline -->
                           </div> <!-- / panel-body -->
                        </div> <!-- / panel -->
                     </div> <!-- / col -->
                  </div> <!-- / row -->

    </div>

</div>






                  


            </div> <!-- / panel-body -->
         <% } else { %>
            There are no speakers available at this time. Please see Speakers section.
         <% } %>
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->