<div class="row steps js-venue-component">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Venue Information</h3>
         </div>
         
         <div class="panel-body">
            <div id="venueTabs">
               <ul>
                  <li><a href="#fragment-1"><span>Select Existing Venue</span></a></li>
                  <li><a href="#fragment-2"><span>Create a New Venue</span></a></li>
               </ul>
               <div id="fragment-1">
                  <div id="repProvidedVenueData" class="col-xs-12" hidden>
                     <div class="form-group">
                         <label> Please review information provided by Field Force, and match to existing venue. If you cannot find the venue in the system, please create a new one.</label>
                     </div>

                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <label for="">Venue Type:</label>
                           <label id="venueTypeRepProvided"></label>
                        </div>
                        <br>
                         <div class="form-group">
                           <label for="">Venue Name:</label>
                           <label id="venueNameRepProvided"></label>
                        </div>

                        <br>

                        <div class="form-group">
                           <label for="">Street Address: </label>
                           <label id="venueStreetAddress1RepProvided"><span></span></label>
                        </div>
                        <div class="form-group">
                           <label for="">Address Line 2: </label>
                           <label id="venueStreetAddress2RepProvided"></label>
                        </div>
                        <br>

                        <div class="form-group">
                           <label for="">City: </label>
                           <label id="venueCityRepProvided"></label>
                        </div>
                        <div class="form-group">
                           <label for="">State/Province: </label>
                           <label id="venueStateRepProvided"></label>
                           </select>
                        </div>
                        <div class="form-group">
                           <label for="">Postal Code: </label>
                           <label id="venuePostalCodeRepProvided"></label>
                        </div>

                        <div class="form-group">
                           <label for="">Venue Phone Number: </label>
                           <label id="venuePhoneNumberRepProvided"></label>
                        </div>
                     </div> <!-- / form-inline -->

                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <label for="">Venue Contact Name: </label>
                           <label id="venueContactFirstNameRepProvided"></label> <label id="venueContactLastNameRepProvided"></label>
                        </div>

                        <div class="form-group">
                           <label for="">Venue Contact Number: </label>
                           <label id="venueContactNumberRepProvided"></label>
                        </div>
                        <div class="form-group">
                           <label for="">Venue Contact E-mail: </label>
                           <label id="venueContactEmailRepProvided"></label>
                        </div>
                     </div> <!-- / form-inline -->
                  </div>

                  <div class="form-group col-xs-12">
                     <label for=""><span class="required">* </span>Choose existing venue</label>
                     <div id='venuesTableWrapper' class="table-sorter-wrapper">
                         <table id='venuesTable' class="mainTable">
                          <thead>
                             <tr class="info">
                               <th data-bind="{venueName}"><span>Name</span></th>
                               <th data-bind="{venueType}"><span>Type</span></th>
                               <th data-bind="{foodType}"><span>Food Type</span></th>
                               <th data-bind="{addresses[0].city}"><span>City</span></th>
                               <th data-bind="{addresses[0].state}"><span>State</span></th>
                             </tr>
                          </thead>
                          <tbody>
                           <% if (venues && venues.length > 0) { %>
                             <% for (var i = 0, ii = venues.length; i < ii; i++) { %>
                             <tr data-venue="<%=venues[i]%>" <%if(currentVenue && (currentVenue.id == venues[i].id)){%>class='selected'<%}%> >
                               <td><%= venues[i].venueName%></td>
                               <td><%= venues[i].venueType%></td>
                               <td><%= venues[i].foodType%></td>
                               <td><% if (venues[i].addresses && venues[i].addresses.length > 0) { %><%= venues[i].addresses[0].city%><%}%></td>
                               <td><% if (venues[i].addresses && venues[i].addresses.length > 0) { %><%= venues[i].addresses[0].state%><%}%></td>
                              </tr>
                             <%}%>
                           <%}%>

                          </tbody>
                       </table>
                     </div>
                  </div>

                  <div class="col-xs-6">
                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <label for="">Venue Type:</label>
                           <label id="venueTypeOfficial"></label>
                        </div>
                        <br>
                        <div class="form-group">
                           <label for="">Venue Name:</label>
                           <label id="venueNameOfficial"></label>
                        </div>
                     </div> <!-- / form-inline -->

                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <label for="">Street Address: </label>
                           <label id="venueStreetAddress1Official"><span></span></label>
                        </div>
                        <br>
                        <div class="form-group">
                           <label for="">Address Line 2: </label>
                           <label id="venueStreetAddress2Official"></label>
                        </div>
                        
                        <br>

                        <div class="form-group">
                           <label for="">City: </label>
                           <label id="venueCityOfficial"></label>
                        </div>
                        <br>
                        <div class="form-group">
                           <label for="">State/Province: </label>
                           <label id="venueStateOfficial"></label>
                           </select>
                        </div>
                        <br>
                        <div class="form-group">
                           <label for="">Postal Code: </label>
                           <label id="venuePostalCodeOfficial" ></label>
                        </div>
                     </div> <!-- / form-inline -->
                  </div>
                  <div class="col-xs-6">
                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <label for="">Venue Phone Number: </label>
                           <label id="venuePhoneNumberOfficial"></label>
                        </div>
                        <br>

                        <div class="form-group">
                           <label for="">Venue Contact Name: </label>
                           <label id="venueContactFirstNameOfficial"></label> <label id="venueContactLastNameOfficial"></label>
                        </div>

                        <br>
                        <div class="form-group">
                           <label for="">Venue Contact Number: </label>
                           <label id="venueContactNumberOfficial"></label>
                        </div>
                        <br>
                        <div class="form-group">
                           <label for="">Venue Contact E-mail: </label>
                           <label id="venueContactEmailOfficial"></label>
                        </div>
                     </div> <!-- / form-inline -->
                  </div>
                  
                  <div class="form-inline col-xs-12">
                     <div class="form-group">
                        <label for="">Venue Status: </label>
                        <select id="venueStatusSelectOfficial" name="venueCRGStatus" class="form-control js-event-property" data-bind="venueCRGStatus">
                           <option disabled selected>Please Select One</option>
                           <option>Confirmed</option>
                           <option>Needs to be arranged</option>
                        </select>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <p>
                        <%- partial('app/views/events/roomAndGuaranteed') %>
                     </p>
                     </div> <!-- / form-group -->
                  </div> <!-- / form-inline -->
               </div><!-- / fragment-1 -->
               
               <div id="fragment-2">
                  <div id="repProvidedVenueDataNew" class="col-xs-12" hidden>
                     <div class="form-group">
                         <label> Use the information provided by Field Force to create a new Venue in the system. Remember that as you enter values in the field, the system will create the new venue and link it to this event.</label>
                     </div>

                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <label for="">Venue Type:</label>
                           <label id="venueTypeNew"></label>
                        </div>
                        <br>
                         <div class="form-group">
                           <label for="">Venue Name:</label>
                           <label id="venueNameNew"></label>
                        </div>

                        <br>

                        <div class="form-group">
                           <label for="">Street Address: </label>
                           <label id="venueStreetAddress1New"><span></span></label>
                        </div>
                        <div class="form-group">
                           <label for="">Address Line 2: </label>
                           <label id="venueStreetAddress2New"></label>
                        </div>
                        <br>

                        <div class="form-group">
                           <label for="">City: </label>
                           <label id="venueCityNew"></label>
                        </div>
                        <div class="form-group">
                           <label for="">State/Province: </label>
                           <label id="venueStateNew"></label>
                           </select>
                        </div>

                        <div class="form-group">
                           <label for="">Postal Code: </label>
                           <label id="venuePostalCodeNew" ></label>
                        </div>

                        <div class="form-group">
                           <label for="">Venue Phone Number: </label>
                           <label id="venuePhoneNumberNew"></label>
                        </div>
                     </div> <!-- / form-inline -->

                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <label for="">Venue Contact Name: </label>
                           <label id="venueContactFirstNameNew"></label> <label id="venueContactLastNameNew"></label>
                        </div>

                        <div class="form-group">
                           <label for="">Venue Contact Number: </label>
                           <label id="venueContactNumberNew"></label>
                        </div>
                        <div class="form-group">
                           <label for="">Venue Contact E-mail: </label>
                           <label id="venueContactEmailNew"></label>
                        </div>
                     </div> <!-- / form-inline -->
                  </div>

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for=""><span class="required">* </span>Venue Type: </label>
                        <select name="venueType" class="form-control js-event-venue-property validate[required]">
                           <option disabled selected>Please Select One</option>
                           <% for(var index in venueTypes) { %>
                           <option <%if(currentVenue && currentVenue.venueType &&(currentVenue.venueType == venueTypes[index].type)){%>selected<%}%> ><%= venueTypes[index].type %></option>
                            <% } %> 
                        </select>
                     </div>
                     <div class="form-group">
                        <label for="">Venue Name: </label>
                        <input type="text" name="venueName" class="form-control js-event-venue-property input-more-width validate[required]"/>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for=""><span class="required">* </span>Street Address: </label>
                        <input type="text" name="address1" class="form-control js-event-venue-address-property validate[required]" />
                     </div>
                     <div class="form-group">
                        <label for="">Address Line 2: </label>
                        <input type="text" name="address2" class="form-control js-event-venue-address-property" />
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for=""><span class="required">* </span>City: </label>
                        <input type="text" name="city" class="form-control js-event-venue-address-property validate[required]" />
                     </div>
                     <div class="form-group">
                        <label for=""><span class="required">* </span>State/Province: </label>
                        <select name="state" class="form-control js-event-venue-address-property validate[required]">
                           <option disabled selected>Please Select One</option>
                            <% for(var stateIndex in states) { %>
                              <option><%= states[stateIndex].name %></option>
                           <% } %>
                        </select>
                     </div>
                  </div>

                  <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <label for=""><span class="required">* </span>Postal Code: </label>
                           <input type="text" name="postalCode" class="form-control js-event-venue-address-property validate[required]" />
                        </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for=""><span class="required">* </span>Venue Phone Number: <br> (i.e. (XXX) XXX-XXXX)</label>
                        <input type="text" name="number" class="form-control js-event-venue-phone-number PhoneNumber validate[required]" />
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Venue Contact First Name: </label>
                        <input type="text" name="firstName" class="form-control js-event-venue-contact-property" />
                     </div>
                     <div class="form-group">
                        <label for="">Venue Contact Last Name: </label>
                        <input type="text" name="lastName" class="form-control js-event-venue-contact-property" />
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Venue Contact Number: <br> (i.e. (XXX) XXX-XXXX)</label>
                        <input type="text" name="number" class="form-control js-event-venue-contact-property PhoneNumber " />
                     </div>
                     <div class="form-group">
                        <label for="">Venue Contact E-mail: </label>
                        <input type="text" name="email" class="form-control js-event-venue-contact-property validate[custom[email]]"/>
                     </div>
                  </div> <!-- / form-inline -->
                  
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for=""><span class="required">* </span>Venue Status: </label>
                        <select name="venueStatus" class="form-control js-event-property validate[required]">
                           <option disabled selected>Please Select One</option>
                           <option>Confirmed</option>
                           <option>Needs to be arranged</option>
                        </select>
                     </div>
                  </div> <!-- / form-inline -->
                  
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <%- partial('app/views/events/roomAndGuaranteed') %>
                     </div>
                  </div> <!-- / form-inline -->

               </div><!-- / fragment-2 -->
            </div>
         </div> <!-- / panel-body -->
       </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->