<div class="row steps js-venue-component">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Venue Information</h3>
         </div>
         
         <div class="panel-body">
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for=""><span class="required">* </span>Venue Type: </label>
                        <select id="venueTypeComboBoxRequest" name="venueType" class="form-control js-event-potential-venue-property validate[required]">
                           <option disabled selected>Please Select One</option>
                           <% for(var index in venueTypes) { %>
                           <option <%if(currentVenue && currentVenue.venueType &&(currentVenue.venueType == venueTypes[index].type)){%>selected<%}%> ><%= venueTypes[index].type %></option>
                            <% } %> 
                        </select>
                     </div>
                     <div class="form-group">
                        <label for=""><span class="required">* </span>Venue Name: </label>
                        <input id="venueNameRequest" type="text" name="venueName" class="form-control js-event-potential-venue-property input-more-width validate[required]"/>
                     </div>
                  </div> <!-- / form-inline -->


                  <div class="row "> 

                      <div class="col-sm-4 form-inline row-space-xs">
                          <div class="form-group">
                        <label for=""><span class="required">* </span>Street Address: </label>
                        <input id="venueStreetAddress1Request" type="text" name="address1" class="form-control js-event-potential-venue-address-property validate[required]" />
                     </div>
                      </div>
                      <div class="col-sm-4 form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Address Line 2: </label>
                        <input id="venueStreetAddress2Request" type="text" name="address2" class="form-control js-event-potential-venue-address-property validate[]" />
                     </div>
                      </div>
                      <div class="col-sm-4 form-inline row-space-xs">
                                <div class="form-group">
                        <label for=""><span class="required">* </span>City: </label>
                        <input id="venueCityRequest" type="text" name="city" class="form-control js-event-potential-venue-address-property validate[required]" />
                     </div>
                      </div>
                      <div class="col-sm-4 form-inline row-space-xs">
                                      <div class="form-group">
                        <label for=""><span class="required">* </span>State/Province: </label>
                        <select id="venueStateComboBoxRequest" name="state" class="form-control js-event-potential-venue-address-property validate[required]">
                           <option disabled selected>Please Select One</option>
                            <% for(var stateIndex in states) { %>
                              <option><%= states[stateIndex].name %></option>
                           <% } %>
                        </select>
                     </div>
                      </div>
                      <div class="col-sm-4 form-inline row-space-xs ">
                            <div class="form-group">
                        <label for=""><span class="required">* </span>Postal Code: </label>
                        <input id="venuePostalCodeRequest" type="text" name="postalCode" class="form-control js-event-potential-venue-address-property validate[required]" />
                     </div>
                     </div>


                  </div>


                  <div class="row form-inline row-space-xs">
                      <div class="col-sm-4 form-inline row-space-xs">
                        <div class="form-group">
                        <label for=""><span class="required">* </span>Venue Phone Number: <br> (i.e. (XXX) XXX-XXXX)</label>
                        <input id="venuePhoneNumberRequest" type="text" name="number" class="form-control js-event-potential-venue-phone-number PhoneNumber validate[required]" />
                     </div>
                      </div>
                      <div class="col-sm-4 form-inline row-space-xs">
                              <div class="form-group">
                        <label for="">Venue Contact First Name: </label>
                        <input id="venueContactFirstNameRequest" type="text" name="firstName" class="form-control js-event-potential-venue-contact-property" />
                     </div>
                      </div>
                      <div class="col-sm-4 form-inline row-space-xs">
                            <div class="form-group">
                        <label for="">Venue Contact Last Name: </label>
                        <input id="venueContactLastNameRequest" type="text" name="lastName" class="form-control js-event-potential-venue-contact-property" />
                     </div>
                      </div>
                      <br/><br/><br/><br/><br/>
                      <div class="col-sm-4 form-inline row-space-xs">
                              <div class="form-group">
                        <label for="">Venue Contact Number: <br> (i.e. (XXX) XXX-XXXX) </label>
                        <input id="venueContactNumberRequest" type="text" name="number" class="form-control js-event-potential-venue-contact-property PhoneNumber " />
                     </div>
                      </div>
                      <div class="col-sm-4 form-inline row-space-xs">
                            <div class="form-group">
                        <label for="">Venue Contact E-mail: </label>
                        <input id="venueContactEmailRequest" type="text" name="email" class="form-control js-event-potential-venue-contact-property validate[custom[email]]"/>
                     </div>
                      </div>
                      <div class="col-sm-4 form-inline row-space-xs">
                            <div class="form-group">
                        <label for=""><span class="required">* </span>Venue Status: </label>
                        <select id="venueStatusRequest" name="venueStatus" class="form-control js-event-potential-venue-property validate[required]">
                           <option disabled selected>Please Select One</option>
                           <option>Confirmed</option>
                           <option>Needs to be arranged</option>
                        </select>
                     </div>
                      </div>


                  </div>
                  
         </div> <!-- / panel-body -->
       </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->