<div class="hero-unit">
  <form id="setting-form" class="form-horizontal" action="/settings/<%= params.id %>?_method=PUT" method="POST">
    <fieldset>
      <legend>Update this Setting</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>

      <%- partial('form', {setting: setting}) %>

      <div class="form-actions">
        <%- contentTag('input', 'Save', {type: 'submit', class: 'btn btn-primary'}) %>
        <%- contentTag('button', 'Remove', {type: 'submit', formaction: '/settings/' + params.id + '?_method=DELETE', formmethod: 'POST', class: 'btn btn-danger'}) %>
      </div>
    </fieldset>
  </form>
</div>
