<div class="control-group">
  <label for="globalEmailAddress" class="control-label">globalEmailAddress</label>
  <div class="controls">
    <%- contentTag('input', setting.globalEmailAddress, {type:'text', class:'span6', name:'globalEmailAddress'}) %>
  </div>
</div>
