<div class="row">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Settings</h3>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="globalEmailAddress">General Email Address: </label>
                  <input type="text" class="js-settingsProperty form-control input-more-width" name="globalEmailAddress" value="<%if(settings){%><%=settings.globalEmailAddress%><% }%>"/>
               </div>

               <div class="form-group">
                  <input type="checkbox" name="showMessage" class="js-settingsCheckBox form-control  checkbox" value="showMessage" 
                     <% if (settings && settings.showMessage) { %>
                      checked 
                     <% } %>
                     />

                  <label for="maintenanceMessage">Display Maintenance Message: </label>
                  <textarea class="js-settingsProperty form-control" cols='85' rows='10' name="maintenanceMessage"><%if(settings){%><%=settings.maintenanceMessage%><% }%></textarea>
               </div>

               <div class="form-group">
                   <a class='js-settingsViewLog' href="#">View Communications Log File</a>
               </div>
            </div>

         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->
