<div class="hero-unit">
  <h2 class="id"><%= setting.id %></h2>
  <%- linkTo('Edit this setting', editSettingPath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', settingPath(''), {class: 'btn pull-right'}); %>
</div>

<h2>Setting Properties</h2>
<% for(var i in setting) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= setting[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>