<style type="text/css">

  .css-table{
    border: solid 1px #00ff00;
  }



<style type="text/css">
table.gridtable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
 
var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
        , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
        , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
        , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name, filename) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }

            document.getElementById("dlink").href = uri + base64(format(template, ctx));
            document.getElementById("dlink").download = filename;
            document.getElementById("dlink").click();

        }
    })();


  $(function() {
    var rep = {
      firstName:"testing rep",
      lastName:"last testing name",
      phoneNumber:"855-454-454"
    };
    var rep1 = {
      firstName:"testing rep1",
      lastName:"last testing name1",
      phoneNumber:"855-11111"
    };
    var rep2= {
      firstName:"testing rep2",
      lastName:"last testing name2",
      phoneNumber:"855-2222 222"
    };

    var kol = {
      firstName:"testing kol",
      lastName:"last testing name",
      phoneNumber:"855-454-454",
      testProperty:"asdfkjasdfdsafdsadfasdff"
    };
    var kol2 = {
      firstName:"testing kol1",
      lastName:"last testing name1",
      phoneNumber:"855-11111",
      testProperty:"asdfkjasdfdsafdsf"
    };
    var kol3= {
      firstName:"testing kol2",
      lastName:"last testing name2",
      phoneNumber:"855-2222 222",
      testProperty:"asdfkjasd"
    };
    var reps = [];
    reps.push(rep);
    reps.push(rep1);
    reps.push(rep2);

    var kols = [];
    kols.push(kol);
    kols.push(kol2);
    kols.push(kol3);


    generateTable(kols);
  });
  

  function humanNameProp(stringElement)
  {
    stringElement = stringElement.replace(/([A-Z])/g," $1");
    stringElement = stringElement.substring(0,1).toUpperCase() + stringElement.substring(1,stringElement.length); 
    return stringElement;
  }

  function generateTable(objectArray)
  {

    //create header 
    if (objectArray.length > 0)
    {

      var tempObject = objectArray[0];
      var propertiesArray = Object.getOwnPropertyNames(tempObject);

      /*      
      getOwnPropertyNames 
      Feature   Firefox (Gecko)   Chrome  Internet Explorer   Opera   Safari
      Basic support   4 (2.0)        5        9                 12      5
      */
      for (i= 0; i < propertiesArray.length; i++) {
          var tempProp = 
         $('.js-properties-header').append("<th>"+humanNameProp(propertiesArray[i])+"</th>");
      }

      for (j= 0; j < objectArray.length; j++) {
        var newElement = "<tr>";
        for (k= 0; k < propertiesArray.length; k++) {
          newElement += "<td>"+objectArray[j][propertiesArray[k]]+"</td>";
        }
        newElement += "</tr>";
         $('.js-table-container').append(newElement);
      }
      console.log("test");
    }

  }



</script>
<!-- Header -->
  <!-- Table -->
  <div >
     <div >
      <div >
      <!--Important to export -->
      <a id="dlink"  style="display:none;"></a>
      <input type="button" onclick="tableToExcel('tableToExport', 'export', 'export.xls')" value="Export to Excel">
        <!-- table needs an id -->
        <table id="tableToExport" class="js-report-table gridtable">
           <thead>
              <tr class="js-properties-header">
              </tr>
           </thead>
           <tbody class="js-table-container">
           </tbody>
        </table>
      </div>
     </div>
  </div>
</div>