<%- partial('app/views/components/dialogs/deleteSelected') %>
<%- partial('app/views/components/dialogs/linkToVenue', {venues:allVenues}) %>

<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-6">
            <h3><%= currentClient.name%> - Venues %></h3>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
                <button type="button" class="btn btn-info" onclick="addVenueToClient()">Add Existing Venue</button>
                <button type="button" class="btn btn-info" onclick="createNewVenue()">Create New Venue</button>
            </div>
        </div>
    </div>
</div>

<!-- Search/Create -->
<% if (venues && venues.length > 0) {%> 
   <%- partial('app/views/components/search/advancedSearch', {searchProperties: searchVenueProperties, elementSearchArray:venues, actionURL:'/venues/search'}) %>
<% } %>
  
<div class="js-selection-container">  
  <!-- Display venues -->
  <div class="row row-space-xs">
      <div class="col-xs-12">
        <div class="form-inline">
           <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
        </div>
     </div>
  </div>


  <!-- Table -->
  <div class="row">
     <div class="col-xs-12">
        <div class="table-sorter-wrapper">
          <table class="mainTable">
           <thead>
              <tr class="info">
                <th class="filter-false sorter-false" data-bind="&lt;input type='checkbox' name='selectedVenues[]' value='{id}'/&gt;"><input type="checkbox" class="selectall"/></th>
                <th data-bind="{venueName}"><span>Name</span></th>
                <th data-bind="{chain}"><span>Chain</span></th>
                <th data-bind="{venueType}"><span>Type</span></th>
                <th data-bind="{foodType}"><span>Food Type</span></th>
                <th data-bind="{addresses[0].city}"><span>City</span></th>
                <th data-bind="{addresses[0].state}"><span>State</span></th>
              </tr>
           </thead>
           <tbody>
            <% if (venues && venues.length > 0) { %>
              <% for (var i = 0, ii = venues.length; i < ii; i++) { %>
              <tr>
                <td class="checkBoxTd"><input type="checkbox" name="selectedVenues[]" class="selectElement" value="<%=venues[i].id%>" /> </td>
                <td><%= venues[i].venueName%></td>
                <td><%= venues[i].chain%></td>
                <td><%= venues[i].venueType%></td>
                <td><%= venues[i].foodType%></td>
                <td><% if (venues[i].addresses && venues[i].addresses.length > 0) { %><%= venues[i].addresses[0].city%><%}%></td>
                <td><% if (venues[i].addresses && venues[i].addresses.length > 0) { %><%= venues[i].addresses[0].state%><%}%></td>
               </tr>
              <%}%>
            <%}%>
           </tbody>
        </table>
     </div>
      <%- partial('app/views/components/pagination/paginationControl',{backPageFunction:'getElementListByPage',
      nextPageFunction:'getElementListByPage',
      currentPage:currentPage,
      totalPages:totalPages,
       }) %>
     </div>
  </div>
</div>