<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-6">
                <h3>Venue Details</h3>
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                    <button id="editContactBtn" class="btn btn-info" onclick="editVenue()" <% if (editing == true){%> disabled <%}%>>Edit</button>
                </div>
            </div>
        </div>
    </div>
</div> <!-- / title -->

<% if (editing) {%>
<div class="row">
   <div class="col-xs-12">
      <label class='bg-danger'>Currently being edited by: <%= editor %></label>
   </div>
</div>
<%}%>

<div class="row row-space-md row-separator">

    <div class="col-md-10">
        <h3>
            <strong><%=currentVenue.venueName%></strong>
        </h3>
        <h4> <%=currentVenue.website %></h4>
        <h4> <%=currentVenue.chain %> - <%=currentVenue.brand %></h4>
        <h5>
         <%if (currentVenue.addresses && currentVenue.addresses.length > 0) { %>
            <%if (currentVenue.addresses[0].address1) { %>
               <%=currentVenue.addresses[0].address1%><br/>
            <%}%>

            <%if (currentVenue.addresses[0].address2) { %>
               <%=currentVenue.addresses[0].address2%><br/>
            <%}%>

            <%=currentVenue.addresses[0].city%>, <%=currentVenue.addresses[0].state%>  <%=currentVenue.addresses[0].postalCode%><br>

            <%if (currentVenue.addresses[0].international && currentVenue.addresses[0].country != selectPrompt) { %>
               <%=currentVenue.addresses[0].country%>
            <%}%>
         <%}%>
        </h5>
        <h6 class="text-muted show-modified"><strong>Last Modified: </strong><%if (currentVenue.updatedAt) { %><%=currentVenue.updatedAt.toLocaleDateString()%><%}%></h6>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">
      <h3>Venue Information</h3>
      <%if (currentVenue.venueType){ %>
         <ul class="pull-left img-rounded card">
            <li><strong>Venue Type </strong></li>
            <%=currentVenue.venueType %>
         </ul>
        <%}%>

      <%if (currentVenue.foodType){ %>
          <ul class="pull-left img-rounded card">
            <li><strong>Food Type </strong></li>
            <%=currentVenue.foodType %>
          </ul>
        <%}%>

      <%if (currentVenue.pharmaMenuAvailable){ %>
          <ul class="pull-left img-rounded card">
            <li><strong>Pharma Menu Available </strong></li>
            <%=currentVenue.pharmaMenuAvailable %>
          </ul>
        <%}%>

      <%if (currentVenue.stateSalesTax){ %>
          <ul class="pull-left img-rounded card">
            <li><strong>State Sales Tax </strong></li>
            <%=currentVenue.stateSalesTax %> %
          </ul>
        <%}%>

      <%if (currentVenue.serviceGratuity){ %>
         <ul class="pull-left img-rounded card">
            <li><strong>Service Gratuity </strong></li>
            <%=currentVenue.serviceGratuity %> %
         </ul>
        <%}%>

      <%if (currentVenue.rating){ %>
          <ul class="pull-left img-rounded card">
            <li><strong>Rating </strong></li>
            <%=currentVenue.rating %>
          </ul>
        <%}%>

      <%if (currentVenue.roomRate){ %>
         <ul class="pull-left img-rounded card">
            <li><strong>Room Rate (Accomodations) </strong></li>
            $<%=currentVenue.roomRate %>
         </ul>
        <%}%>

      <%if (currentVenue.venueAV){ %>
         <ul class="pull-left img-rounded card">
            <li><strong>Venue AV </strong></li>
            <%=currentVenue.venueAV.split(',') %>
         </ul>
        <%}%>

      <%if (currentVenue.venueNotes){ %>
         <ul class="pull-left img-rounded card">
            <li><strong>Venue Notes </strong></li>
            <%=currentVenue.venueNotes %>
         </ul>
        <%}%>

      <%if (currentVenue.avNotes){ %>
         <ul class="pull-left img-rounded card">
            <li><strong>AV Notes </strong></li>
            <%=currentVenue.avNotes %>
         </ul>
        <%}%>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">
      <h3>Contact Information</h3>
         <%if (currentVenue && currentVenue.contact) { %>
               <ul class="pull-left img-rounded card">
                    <li><strong>Primary Contact</strong></li>
                    <li><%=currentVenue.contact[0].firstName%> <%=currentVenue.contact[0].middleName%> <%=currentVenue.contact[0].lastName%></li>
                     <li><%=currentVenue.contact[0].title%></li>
                    <li><%=currentVenue.contact[0].department%></li>
                    <a href='mailto:<%=currentVenue.contact.email%>'><%=currentVenue.contact[0].email%></a></li>
                    <%if (currentVenue.contact[0].phoneNumbers && currentVenue.contact[0].phoneNumbers.length > 0) { %>
                       <%for (var index in currentVenue.contact[0].phoneNumbers) { %>
                         <li><%=currentVenue.contact[0].phoneNumbers[index].phoneType%>: <%=currentVenue.contact[0].phoneNumbers[index].number%></li>
                     <%}%>
                  <%}%>
                </ul>
            <%}%>

         <%if (currentVenue.phoneNumbers && currentVenue.phoneNumbers.length > 0) { %>
               <ul class="pull-left img-rounded card">
                   <li><strong>Contact Number</strong></li>
                  <%for (var index in currentVenue.phoneNumbers) { %>
                      <li><%=currentVenue.phoneNumbers[index].phoneType%>: <%=currentVenue.phoneNumbers[index].number%></li>
                  <%}%>
               </ul>
           <%}%>

           <%if (currentVenue && currentVenue.mainEmail) { %>
                <ul class="pull-left img-rounded card">
                    <li><strong>Main Email</strong></li>
                    <a href='mailto:<%=currentVenue.mainEmail%>'><%=currentVenue.mainEmail%></a></li>
                </ul>
            <%}%>
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">
      <h3>Hours of Operation</h3>
         <%if (hours && hours.length > 0) { %>
            <% for (var i=0; i < daysOfWeek.length; i++) { %>
               <ul class="pull-left img-rounded card">
                  <li><strong><%= daysOfWeek[i].label%></strong></li>
                  <%if (hours[i * 2] != 0) { %>
                     <%=hours[i * 2]%>
                  <% } else {%>
                     n/a
                  <%}%>
                  -
                  <%if (hours[(i * 2) + 1] != 0) { %>
                     <%=hours[(i * 2) + 1]%>
                  <% } else {%>
                     n/a
                  <%}%>
               </ul>
            <%}%>
         <% } else {%>
            <% for (var i=0; i < daysOfWeek.length; i++) { %>
               <ul class="pull-left img-rounded card">
                  <li><strong><%= daysOfWeek[i].label%></strong></li>
                  n/a
               </ul>
            <%}%>
         <%}%>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">
      <h3>Parking Availability</h3>
         <%if (parking && parking.length > 0) { %>
            <% for (var i=0; i < parkingOptions.length; i++) { %>
               <ul class="pull-left img-rounded card">
                  <li><strong><%= parkingOptions[i].label%></strong></li>
                  <%if (parking[i] != 0) { %>
                     $<%=parking[i]%>
                  <% } else {%>
                     n/a
                  <%}%>
               </ul>
            <%}%>
         <% } else {%>
            <% for (var i=0; i < parkingOptions.length; i++) { %>
               <ul class="pull-left img-rounded card">
                  <li><strong><%= parkingOptions[i].label%></strong></li>
                  n/a
               </ul>
               <%}%>
            <%}%>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">
      <h3>Space Information</h3>
         <%if (currentVenue && currentVenue.rooms && currentVenue.rooms.length > 0) { %>
            <% for (var index in currentVenue.rooms) { %>
               <ul class="pull-left img-rounded card">
                  <li><strong><%=currentVenue.rooms[index].roomName%></strong></li>
                  <li>Type: <%=currentVenue.rooms[index].roomType%></li>
                  <li>Location: <%=currentVenue.rooms[index].location%></li>
                  <li>Size: <%=currentVenue.rooms[index].size%></li>
                  <li>Dimensions: <%=currentVenue.rooms[index].dimensions%></li>
                  <li>Head Count Minimum: <%=currentVenue.rooms[index].headcountMin%></li>
                  <li>Food and Beverage Minimum: <%=currentVenue.rooms[index].foodBeverageMin%></li>
                  <li>In room AV: <%if (currentVenue.rooms[index].inRoomAV){%><%=currentVenue.rooms[index].inRoomAV.split(',')%><%}%></li>
                  <h5>Room Max Capacity</h5>
                     <%for (var i=0; i < roomCapacityOptions.length; i++) { %>
                        <%if (roomsMaxCapacities && roomsMaxCapacities[index] && roomsMaxCapacities[index].length > 0 && roomsMaxCapacities[index][i] != 0) { %>
                           <li><%=roomCapacityOptions[i].label%>: <%= roomsMaxCapacities[index][i] %></li>
                        <%}%>
                     <%}%>

                  <h5>AV Costs</h5>
                  <%for (var i=0; i < roomAVCostOptions.length; i++) { %>
                     <%if (roomsAVCosts.length > 0 && roomsAVCosts[index][i] != 0) { %>
                        <li><%=roomAVCostOptions[i].label%>: $<%= roomsAVCosts[index][i] %></li>
                     <%}%>
                  <%}%>
               </ul>
            <%}%>
         <% } else {%>
                <h4><span class="label label-default">No space information available</span></h4>
            <%}%>
    </div> <!-- / col -->
</div> <!-- / row -->