<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 2 of 4",
   backButtonFunction: 'goVenueStep1()',
   nextButtonFunction: 'goVenueStep3()'
   })
%>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Hours of Operation</h3>
         </div>
         <div class="panel-body">
   
            <div id="ContactNumberContainer">
               <p><label>Please check all that apply and enter hours</label></p>

               <% for (var i=0; i < daysOfWeek.length; i++) { %>
                  <div class="form-inline row-space-xs">
                     <input type="checkbox" name="days[]" class="daysGroup" value="<%= daysOfWeek[i].label%>" 
                     <% if (currentVenue && hours.length > 0 && (hours[i * 2] != 0 || hours[(i * 2) + 1] != 0)) {%>
                        checked 
                     <% }%> 
                     /><label class="CheckboxLabel" for="<%= daysOfWeek[i].label%>"><%= daysOfWeek[i].label%></label>

                     <input class="startTime form-control" 
                        <% if (!currentVenue || hours.length == 0 || (hours[i * 2] == 0 && hours[(i * 2) + 1] == 0)) {%>
                           disabled 
                        <% } %> 
                         value="<% if (currentVenue && hours.length > 0 && hours[i * 2] != 0) {%><%= hours[i * 2] %><%}%>"/>
                       to 
                      <input class="endTime form-control" 
                        <% if (!currentVenue || hours.length == 0 || (hours[i * 2] == 0 && hours[(i * 2) + 1] == 0)) {%>
                           disabled 
                        <% } %> 
                         value="<% if (currentVenue && hours.length > 0 && hours[(i * 2) + 1] != 0) {%><%= hours[(i * 2) + 1] %><%}%>"/>
                  </div>
               <% } %>
            </div>

         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->  
   

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Other Info</h3>
         </div>
         <div class="panel-body">

            <div class="form-inline row-space-xs">
                <label for="rating">Rating:</label>
                <input type="text" class="venueProperty form-control" name="rating" value="<%if(currentVenue){%><%=currentVenue.rating%><% }%>"/>
                <label for="name">Room Rate (Accomodations):</label>
                <input type="text" class="currency form-control" name="roomRate" value="<%if(currentVenue){%><%=currentVenue.roomRate%><% }%>"/>
            </div>

            <div class="form-inline row-space-xs">
                <label>Parking Availability (check all that apply and enter cost):</label>
                <% for (var i=0; i < parkingOptions.length; i++) { %>
                   <div class="form-inline row-space-xs">
                      <input type="checkbox" name="parking[]" class="parkingGroup form-control" value="<%= parkingOptions[i].label%>" 
                        <% if (currentVenue && parking.length > 0 && parking[i] != 0) {%>
                           checked 
                        <% }%> 
                      /><label class="CheckboxLabel" for="<%= parkingOptions[i].label%>" ><%= parkingOptions[i].label%></label>
                      <input class="parkingRate form-control" 
                      <% if (!currentVenue || parking.length == 0 || parking[i] == 0) {%>
                           disabled 
                        <% } %>
                        value="<% if (currentVenue && parking.length > 0 && parking[i] != 0) {%><%= parking[i] %><%}%>"/>
                  </div>
               <% } %>
            </div>

            <div class="form-inline row-space-xs">
                <label for="stateTax">State Sales Tax:</label>
                <input type="text" class="percentage form-control" name="stateSalesTax" value="<%if(currentVenue){%><%=currentVenue.stateSalesTax%><% }%>"/>
                <label for="gratuity">Service Gratuity:</label>
                <input type="text" class="percentage form-control" name="serviceGratuity" value="<%if(currentVenue){%><%=currentVenue.serviceGratuity%><% }%>"/>
            </div>

            <div class="form-inline row-space-xs">
               <label>Venue AV (check all that apply):</label>
                <input type="checkbox" name="venueAV[]" class="venueAVGroup form-control" value="In room" 
                   <% if (currentVenue && currentVenue.venueAV && currentVenue.venueAV.indexOf('In room') != -1) {%>
                     checked 
                  <% }%> 
                /><label class="CheckboxLabel" for="Valet">In room</label>

                 <input type="checkbox" name="venueAV[]" class="venueAVGroup form-control" value="Rental" 
                   <% if (currentVenue && currentVenue.venueAV && currentVenue.venueAV.indexOf('Rental') != -1) {%>
                     checked 
                  <% }%> 
                /><label class="CheckboxLabel" for="Valet">Rental</label>
            </div>

         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->  
   

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Notes</h3>
         </div>
         <div class="panel-body">

            <div class="form-inline row-space-xs">
               <label>AV Notes:</label>
               <textarea class="venueProperty form-control" cols='40' rows='4' name="avNotes"><%if(currentVenue){%><%=currentVenue.avNotes%><% }%></textarea>
            </div>

            <div class="form-inline row-space-xs">
               <label>Venue Notes:</label>
               <textarea class="venueProperty form-control" cols='40' rows='4' name="venueNotes"><%if(currentVenue){%><%=currentVenue.venueNotes%><% }%></textarea>
            </div>

         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->  

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goVenueStep1()',
            nextButtonFunction: 'goVenueStep3()'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->  
