<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 3 of 4",
   backButtonFunction: 'goVenueStep2()',
   nextButtonFunction: 'goVenueStep4()'
   })
%>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Space Information</h3>
         </div>
         <div class="panel-body">

          <div class="js-selection-container">  
             <!-- Display client contacts -->
             <div class="row row-space-xs">
                <div class="col-xs-6">
                  <div class="form-inline">
                     <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
                  </div>
               </div>
               <div class="col-xs-6">
                  <div class="pull-right">
                     <button type="button" class="btn btn-info" onclick="createNewRoom()">Add New Room</button>
                  </div>
               </div>
             </div>

            <!-- Table -->
            <div class="row">
               <div class="col-xs-12">
                  <table class="mainTable">
                     <thead>
                        <tr class="info">
                          <th class="filter-false sorter-false"><input type="checkbox" class="selectall"/></th>
                          <th data-bind="{roomName}"><span>Room Name</span></th>
                          <th data-bind="{roomType}"><span>Room Type</span></th>
                          <th data-bind="{maxCapacity}"><span>Max Capacity</span></th>
                          <th data-bind="{inRoomAV}"><span>In Room AV</span></th>
                        </tr>
                     </thead>
                     <tbody>
                         <% if (currentVenue && currentVenue.rooms && currentVenue.rooms.length > 0) { %>
                            <% for (var i = 0, ii = currentVenue.rooms.length; i < ii; i++) { %>
                               <tr>
                                  <td class="checkBoxTd"><input type="checkbox" name="selectedCurrentContactClients[]" class="selectElement" value="<%=i%>"/></td>
                                  <td><%= currentVenue.rooms[i].roomName%></td>
                                  <td><%= currentVenue.rooms[i].roomType%></td>
                                  <td><%= currentVenue.rooms[i].maxCapacity%></td>
                                  <td><%= currentVenue.rooms[i].inRoomAV%></td>
                               </tr>
                            <%}%>
                         <%}%>
                     </tbody>
                  </table>
               </div>
            </div> <!-- / row -->
          </div><!-- / js-selection-container -->
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->  
      
<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goVenueStep2()',
            nextButtonFunction: 'goVenueStep4()'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->  