<%- partial ('app/views/components/steps/header', { 
   headerTitle: "Contact Clients Details",
   backButtonFunction: 'goVenueStep3()',
   nextButtonFunction: 'goVenueStep3()',
   nextButtonLabel: "Done"
   })
%>
<div id="VenueRoomContainer">
  <div class="FormRowBackground">
     <div class="form-inline row-space-xs">
        <label for="type">Type:</label>
        <select name="roomType" class="venueRoomProperty form-control">
           <option value disabled selected><%=selectPrompt%></option>
              <option <%if(currentRoom && currentRoom.roomType == roomTypes[0].label){%>selected<%}%> ><%=roomTypes[0].label%></option>
              <option <%if(currentRoom && currentRoom.roomType == roomTypes[1].label){%>selected<%}%> ><%=roomTypes[1].label%></option>
        </select>
     </div>

     <div class="form-inline row-space-xs">
        <label for="roomName">Room Name:</label>
        <input type="text" class="venueRoomProperty form-control" name="roomName" value="<%if(currentRoom){%><%=currentRoom.roomName%><% }%>"/>
     </div>

     <div class="form-inline row-space-xs">
        <label for="rating">Room Location:</label>
        <input type="text" class="venueRoomProperty form-control" name="location" value="<%if(currentRoom){%><%=currentRoom.location%><% }%>"/>
     </div>

     <div class="form-inline row-space-xs">
        <label for="rating">Room size:</label>
        <input type="text" class="venueRoomProperty form-control" name="size" value="<%if(currentRoom){%><%=currentRoom.size%><% }%>"/>

        <label for="rating">Room Dimensions:</label>
        <input type="text" class="venueRoomProperty form-control" name="dimensions" value="<%if(currentRoom){%><%=currentRoom.dimensions%><% }%>"/>
     </div>

     <div class="form-inline row-space-xs">
        <label>Room Max Capacity (check all that apply and enter count):</label>
        <% for (var i=0; i < roomCapacityOptions.length; i++) { %>
           <div class="form-inline row-space-xs">
              <input type="checkbox" name="roomCapacity[]" class="maxCapacityGroup form-control" value="<%= roomCapacityOptions[i].label%>" 
                 <% if (currentRoom && roomMaxCapacities.length > 0 && roomMaxCapacities[i] != 0) {%>
                    checked 
                 <% }%> 
               /><label class="CheckboxLabel" for="<%= roomCapacityOptions[i].label%>" ><%= roomCapacityOptions[i].label%></label>

               <input type="text" class="capacity" 
                 <% if (!currentRoom || roomMaxCapacities.length == 0 || roomMaxCapacities[i] == 0) {%>
                    disabled 
                 <% } %>
                 value="<% if (currentRoom && roomMaxCapacities.length > 0 && roomMaxCapacities[i] != 0) {%><%= roomMaxCapacities[i] %><%}%>"/>
           </div>
        <% } %>
     </div>

     <div class="form-inline row-space-xs">
         <label for="headcountMin">Headcount Minimum:</label>
         <input type="text" class="venueRoomProperty form-control" name="headcountMin" value="<%if(currentRoom){%><%=currentRoom.headcountMin%><% }%>"/>
     </div>

     <div class="form-inline row-space-xs">
         <label for="foodBeverageMin">Food and Beverage Minimum:</label>
         <input type="text" class="currency form-control" name="foodBeverageMin" value="<%if(currentRoom){%><%=currentRoom.foodBeverageMin%><% }%>"/>
     </div>

     <div class="form-inline row-space-xs">
         <label for="roomFee">Room Fee:</label>
         <input type="text" class="currency form-control" name="roomFee" value="<%if(currentRoom){%><%=currentRoom.roomFee%><% }%>"/>
     </div>

     <div class="form-inline row-space-xs">
         <label for="roomFee">In room AV (check all that apply):</label>
     </div>
         
     <div class="form-inline row-space-xs">
         <input type="checkbox" name="inRoomAV[]" class="inRoomAVGroup form-control" value="flatscreen" 
           <% if (currentRoom && currentRoom.inRoomAV && currentRoom.inRoomAV.indexOf('flatscreen') != -1) {%>
              checked 
           <% }%>  
         /><label class="CheckboxLabel" for="flatscreen" >Flatscreen TV</label>

         <input type="checkbox" name="inRoomAV[]" class="inRoomAVGroup form-control" value="projector" 
           <% if (currentRoom && currentRoom.inRoomAV && currentRoom.inRoomAV.indexOf('projector') != -1) {%>
              checked 
           <% }%> 
         /><label class="CheckboxLabel" for="projector" >Projector Screen</label>

         <input type="checkbox" name="inRoomAV[]" class="inRoomAVGroup form-control" value="speakers" 
           <% if (currentRoom && currentRoom.inRoomAV && currentRoom.inRoomAV.indexOf('speakers') != -1) {%>
              checked 
           <% }%>
         /><label class="CheckboxLabel" for="speakers" >Audio Speakers</label>
     </div>


     <div class="form-inline row-space-xs">
         <label for="roomFee">AV Costs (check all that apply):</label>
        
        <% for (var i=0; i < roomAVCostOptions.length; i++) { %>
           <div class="form-inline row-space-xs">
               <input type="checkbox" name="avCosts[]" class="avCostsGroup form-control" value="< % = roomAVCostOptions[i].label%>" 
                 <% if (currentRoom && roomAVCosts && roomAVCosts.length > 0 && roomAVCosts[i] != 0) {%>
                    checked 
                 <% }%> 
               /><label class="CheckboxLabel" for="<%= roomAVCostOptions[i].label%>" ><%= roomAVCostOptions[i].label%></label>

               <input type="text" class="avCost"
                 <% if (!currentRoom || !roomAVCosts || roomAVCosts.length == 0 || roomAVCosts[i] == 0) {%>
                    disabled 
                 <% } %>
                 value="<% if (currentRoom && roomAVCosts && roomAVCosts.length > 0 && roomAVCosts[i] != 0) {%><%=  roomAVCosts[i] %><%}%>"/>
           </div>
        <% } %>
     </div>
  </div>
</div>

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goVenueStep3()',
            nextButtonFunction: 'goVenueStep3()',
            nextButtonLabel: "Done"
            })
         %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->