<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 1 of 4",
   backButtonFunction: 'validateVenueStep1(goVenueDetails)',
   nextButtonFunction: 'validateVenueStep1(goVenueStep2)'
   })
%>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Venue Info</h3>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <label for="type">Type:</label>
               <select name="venueType" class="venueProperty form-control">
                  <option value disabled selected><%=selectPrompt%></option>
                  <%for (var index in venueTypes) {%>
                     <option <%if(currentVenue && (currentVenue.venueType == venueTypes[index].type)){%>selected<%}%> ><%= venueTypes[index].type %></option>
                  <%}%> 
               </select>
            </div>
            <div class="form-inline row-space-xs">
               <p>
                  <label for="name">Chain:</label>
                  <input type="text" class="venueProperty form-control  input-more-width" name="chain" value="<%if(currentVenue){%><%=currentVenue.chain%><% }%>"/>
               </p>

               <p>
                  <label for="name">Brand:</label>
                  <input type="text" class="venueProperty form-control  input-more-width" name="brand" value="<%if(currentVenue){%><%=currentVenue.brand%><% }%>"/>
               </p>
               
               <p>
                  <label for="name">Name:</label>
                  <input type="text" class="venueProperty form-control  input-more-width" name="venueName" value="<%if(currentVenue){%><%=currentVenue.venueName%><% }%>"/>
               </p>
            </div>
            <div class="form-inline row-space-xs">
               <p>
                  <label for="name">Website:</label>
                  <input type="text" class="venueProperty form-control input-more-width" id="website" name="website" value="<%if(currentVenue){%><%=currentVenue.website%><% }%>"/>
               </p>
               
               <label for="name">Food Type:</label>
               <select name="foodType" class="venueProperty form-control">
                  <option value disabled selected><%=selectPrompt%></option>
                  <%for (var index in foodTypes) {%>
                     <option <%if(currentVenue && (currentVenue.foodType == foodTypes[index].label)){%>selected<%}%> ><%= foodTypes[index].label %></option>
                  <%}%> 
                </select>
            </div>
            <div class="form-inline row-space-xs">
                <label for="name">Pharma Menu Available:</label>
                <select name="pharmaMenuAvailable" class="venueProperty form-control">
                  <option value disabled selected><%=selectPrompt%></option>
                  <option <%if(currentVenue && (currentVenue.pharmaMenuAvailable == 'Yes')){%>selected<%}%> >Yes</option>
                  <option <%if(currentVenue && (currentVenue.pharmaMenuAvailable == 'No')){%>selected<%}%> >No</option>
                </select>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->         
   
<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Address</h3>
         </div>
         <div class="panel-body js-add-button-container" id="AddressContainer">
            <%if ( currentVenue && currentVenue.addresses && currentVenue.addresses.length > 0){
               for(var index in currentVenue.addresses) { %>

                  <div class="FormRowBackground js-venue-row">
                     <input value="<%=index%>" class="Index hidden form-control"></input>

                     <div class="form-inline row-space-xs">
                        <input type="checkbox" class="internationalVenueCheckbox form-control" value="true" <%if(currentVenue.addresses[index].international=='true'){%>checked<%}%> />
                        <label class="CheckboxLabel">International</label>
                        <label for="Country" class="<%if(!currentVenue.addresses[index].international || currentVenue.addresses[index].international == 'false'){%>hidden<%}%>">Country:</label>
                        <select name="country" class="AddressElement form-control country js-element <%if(!currentVenue.addresses[index].international || currentVenue.addresses[index].international=='false'){%>hidden<%}%>" >
                           <option disabled selected><%=selectPrompt%></option>
                             <% for(var countryIndex in countries) { %>
                                 <option <%if(currentVenue.addresses[index].country && currentVenue.addresses[index].country.indexOf(countries[countryIndex].name)>-1){%>selected<%}%> ><%= countries[countryIndex].name %> (<%= countries[countryIndex].countryCode %>)</option>
                           <% } %>
                        </select>  
                         <%if (currentVenue.addresses.length > 1){%>
                           <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteVenueAddress(this)'>X</button>
                        <%}%>
                     </div>

                     <div class="form-inline row-space-xs">
                        <label for="StreetAddress">Street Address:</label>
                        <input type="text" name="address1" class="AddressElement form-control js-element" value="<%=currentVenue.addresses[index].address1%>"/>
                        <label for="StreetAddress2">Address Line 2:</label>
                        <input type="text" name="address2" class="AddressElement form-control js-element" value="<%=currentVenue.addresses[index].address2%>"/>
                     </div>
            
                     <div class="form-inline row-space-xs">
                        <label for="City">City:</label>
                        <input type="text" name="city" class="AddressElement form-control js-element" value="<%=currentVenue.addresses[index].city%>"/>
                         <label for="State" class="stateLabel"><%if(!currentVenue.addresses[index].international || currentVenue.addresses[index].international=='false'){%>State: <% } else {%> State/Provice:  <% } %></label>
                         <input type="text" name="state" class="AddressElement form-control State js-element <%if(!currentVenue.addresses[index].international || currentVenue.addresses[index].international=='false'){%> hidden <% } %>" value="<%=currentVenue.addresses[index].state%>">
                         <select name="state" class="AddressElement form-control State js-element <%if(currentVenue.addresses[index].international=='true'){%> hidden <% } %>">
                           <option disabled selected><%=selectPrompt%></option>
                             <% for(var stateIndex in states) { %>
                              <option <%if(currentVenue.addresses[index].state==states[stateIndex].name){%>selected<%}%>><%= states[stateIndex].name %></option>
                           <% } %>
                         </select>
                     </div>

                     <div class="form-inline row-space-xs">
                        <label for="PostalCode">Postal Code:</label>
                        <input type="text" name="postalCode" class="AddressElement form-control PostalCode js-element" value="<%=currentVenue.addresses[index].postalCode%>"/>
                     </div>
                     
                  </div>
               <% }%>
               <button class="addButton btn btn-primary" onclick='javascript:addRepAddress(this)' >Add Another Address</button>
            <%}else{%> 
               <div class="FormRowBackground js-venue-row">
                  <input value="0" class="Index hidden form-control"></input>

                  <div class="form-inline row-space-xs">
                     <input type="checkbox" class="internationalVenueCheckbox"/><label class="CheckboxLabel">International</label> 
                     <label for="Country" class="hidden">Country:</label>
                     <select name="country" class="hidden AddressElement form-control country js-element ">
                        <option disabled selected><%=selectPrompt%></option>
                        <% for(var countryIndex in countries) { %>
                           <option><%= countries[countryIndex].name %></option>
                        <%}%>
                     </select>
                  </div>
                  <div class="form-inline row-space-xs">
                     <label for="StreetAddress">Street Address:</label>
                     <input type="text" name="address1" class="AddressElement form-control js-element"/>
                     <label for="StreetAddress2">Address Line 2:</label>
                     <input type="text" name="address2" class="AddressElement form-control js-element"/>
                  </div>
         
                  <div class="form-inline row-space-xs">
                     <label for="City">City:</label>
                     <input type="text" name="city" class="AddressElement form-control js-element"/>
                     <label for="State" class="stateLabel">State:</label>
                     <input type="text" name="state" class="AddressElement form-control State js-element hidden" value="">
                     <select type="text" name="state" class="AddressElement form-control State js-element">
                        <option disabled selected><%=selectPrompt%></option>
                        <% for(var stateIndex in states) { %>
                           <option><%= states[stateIndex].name %></option>
                        <%}%>
                     </select>
                  </div>

                  <div class="form-inline row-space-xs">
                     <label for="PostalCode">Postal Code:</label>
                     <input type="text" name="postalCode" class="AddressElement form-control PostalCode js-element"/>
                  </div>
               </div>
               <button class="addButton btn btn-primary Disable" onclick='javascript:addRepAddress(this)' disabled>Add Another Address</button>
            <%}%>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->  
   
<form id="VenueStep1Form" class="formular">   
   <div class="row steps">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h3 class="panel-title">Contact Info</h3>
            </div>
            <div class="panel-body">
               <div class="form-inline row-space-xs">
                   <label for="mainEmail">Main email:</label>
                  <input type="text" class="venueProperty form-control validate[custom[email]]" name="mainEmail" value="<%if(currentVenue){%><%=currentVenue.mainEmail%><% }%>"/>
               </div>
               <div id="VenueContactNumberContainer" class="js-add-button-container">
                  <%if (currentVenue && currentVenue.phoneNumbers && currentVenue.phoneNumbers.length > 0) {%>
                     <% for(var index in currentVenue.phoneNumbers) { %>
                     <div class="FormRowBackground js-venue-row">
                        <input value="<%=index%>" class="Index hidden form-control"></input>
                        <div class="form-inline row-space-xs">
                           <label for="Number">Number:</label>
                           <input type="text" name="number" value="<%= currentVenue.phoneNumbers[index].number%>" class="PhoneElement PhoneNumber form-control js-element"/>
                           <label for="phoneType">Type:</label>
                            <select name="phoneType" class="PhoneElement form-control js-element">
                              <option disabled selected><%=selectPrompt%></option>
                                <% for(var phoneIndex in phoneTypes) { %>
                                    <option <%if(currentVenue.phoneNumbers[index].phoneType==phoneTypes[phoneIndex].type){%>selected<%}%> ><%= phoneTypes[phoneIndex].type %></option>
                              <% } %>
                            </select>
                            <% if (currentVenue.phoneNumbers.length > 1){%>
                             <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteVenueContactNumber(this)'>X</button>
                           <%}%>
                        </div>

                        <% for(var phoneNumberIndex in currentVenue.phoneNumbers[index].clients) { %>
                           <div class="ItemDisplay Left">
                              <div class="ClientTag" id="<%= currentVenue.phoneNumbers[index].clients[phoneNumberIndex].id %>" onclick="javascript:removeClientId(this.id, 'phoneNumbers')"><%= currentVenue.phoneNumbers[index].clients[phoneNumberIndex].name %></div>
                           </div>
                        <% } %>
                        
                     </div>
                     <% } %>
                     <button class="addButton btn btn-primary" onclick='javascript:addVenueNumber(this)'>Add Another Number</button>
                     <% } else { %>
                        <div class="FormRowBackground js-venue-row">
                           <input value="0" class="Index hidden"></input>
                           <div class="form-inline row-space-xs">
                              <label for="Number">Number:</label>
                              <input type="text" name="number" class="PhoneElement PhoneNumber form-control js-element"/>
                              <label for="phoneType">Type:</label>
                               <select name="phoneType" class="PhoneElement form-control js-element">
                                 <option disabled selected><%=selectPrompt%></option>
                                   <% for(var index in phoneTypes) { %>
                                       <option><%= phoneTypes[index].type %></option>
                                 <% } %>
                               </select>
                           </div>
                             
                        </div>
                        <button class="addButton btn btn-primary Disable" onclick='javascript:addVenueNumber(this)' disabled>Add Another Number</button>
                     <% } %>
               </div>
            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->
</form>

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'validateVenueStep1(goVenueDetails)',
            nextButtonFunction: 'validateVenueStep1(goVenueStep2)'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->  