<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 4 of 4",
   backButtonFunction: 'validateVenueStep4(goVenueStep3)',
   nextButtonFunction: 'validateVenueStep4(goVenueDetails)',
   nextButtonLabel: 'Done'
   })
%>

<form id="VenueStep4ValidateForm" class="formular">
  <div class="row steps">
     <div class="col-xs-12">
        <div class="panel panel-warning">
           <div class="panel-heading">
              <h3 class="panel-title">Primary Venue Contact</h3>
           </div>
           <div class="panel-body">

              <div class="form-inline row-space-xs">
                  <label for="FirstName">First Name:</label>
                  <input type="text" class="venuePrimaryContactProperty form-control" name="firstName" value="<%if(currentVenue && currentVenue.contact && currentVenue.contact[0].firstName){%><%=currentVenue.contact[0].firstName%><% }%>"/>
                  
                  <label for="MiddleName">Middle Name:</label>
                  <input type="text" class="venuePrimaryContactProperty form-control" name="middleName" value="<%if(currentVenue && currentVenue.contact && currentVenue.contact[0].middleName){%><%=currentVenue.contact[0].middleName%><% }%>"/>
                  
                  <label for="LastName">Last Name:</label>
                  <input type="text" class="venuePrimaryContactProperty form-control" name="lastName" value="<%if(currentVenue && currentVenue.contact &&currentVenue.contact[0].lastName){%><%=currentVenue.contact[0].lastName%><% }%>"/>
                   <% if (currentVenue && currentVenue.contact && currentVenue.contact.length > 1){%>
                       <input class="DeleteButtonX Right" type="button" value="X" onclick="javascript:deleteClientContact(this)"></input>
                 <%}%> 
              </div>

              <div class="form-inline row-space-xs">
                  <label for="Title">Title:</label>
                  <input type="text" class="venuePrimaryContactProperty form-control" name="title" value="<%if(currentVenue && currentVenue.contact && currentVenue.contact[0].title){%><%=currentVenue.contact[0].title%><% }%>"/>
                  <label for="Department">Department:</label>
                  <input type="text" class="venuePrimaryContactProperty form-control" name="department" value="<%if(currentVenue && currentVenue.contact && currentVenue.contact[0].department){%><%=currentVenue.contact[0].department%><% }%>"/>
              </div>
             
              <div class="form-inline row-space-xs">
                 <label for="Email">Email Address:</label>
                 <input type="text" name="email" class="venuePrimaryContactProperty form-control validate[custom[email]]" value="<%if(currentVenue && currentVenue.contact && currentVenue.contact[0].email){%><%=currentVenue.contact[0].email%><% }%>"/>
              </div>

              <div id="VenuePrimaryContactNumberContainer" class="js-add-button-container">
                 <%if (currentVenue && currentVenue.contact && currentVenue.contact[0].phoneNumbers && currentVenue.contact[0].phoneNumbers.length > 0) {%>
                    <% for(var index in currentVenue.contact[0].phoneNumbers) { %>
                          <div class="FormRowBackground js-venue-row">
                             <input value="<%=index%>" class="Index hidden"></input>
                             <div class="form-inline row-space-xs">
                                <label for="venueContactNumber">Number:</label>
                                <input type="text" class="VenuePrimaryContactNumberElement PhoneNumber form-control js-element" name="number" value="<%=currentVenue.contact[0].phoneNumbers[index].number%>"/>
                                <label for="clientContactNumberType">Type:</label>
                                 <select name="phoneType" class="VenuePrimaryContactNumberElement form-control js-element">
                                   <option disabled selected><%=selectPrompt%></option>
                                     <% for(var phoneIndex in phoneTypes) { %>
                                         <option <%if(currentVenue.contact[0].phoneNumbers[index].phoneType==phoneTypes[phoneIndex].type){%>selected<%}%>>
                                         <%= phoneTypes[phoneIndex].type %></option>
                                   <% } %>
                                 </select>
                                 <% if (currentVenue.contact[0].phoneNumbers.length > 1){%>
                                 <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteVenuePrimaryContactNumber(this)'>X</button>
                                <%}%>
                             </div>
                               <div class="Clear"></div>
                          </div>
                    <% } %>
                    <button class="addButton btn btn-primary" onclick='javascript:addVenuePrimaryContactNumber(this)'>Add Another Number</button>
                 <% } else { %>
                    <div class="FormRowBackground">
                       <input value="0" class="Index hidden form-control"/>
                       <div class="form-inline row-space-xs">
                          <label for="venueContactNumber">Number:</label>
                             <input type="text" class="VenuePrimaryContactNumberElement PhoneNumber form-control js-element" name="number"/>
                             <label for="venueContactNumberType">Type:</label>
                              <select name="phoneType" class="VenuePrimaryContactNumberElement form-control js-element">
                                <option disabled selected><%=selectPrompt%></option>
                                  <% for(var index in phoneTypes) { %>
                                      <option><%= phoneTypes[index].type %></option>
                                <% } %>
                              </select>
                       </div>
                    </div>
                      <button class="addButton Disable btn btn-primary" onclick='javascript:addVenuePrimaryContactNumber(this)' disabled>Add Another Number</button>
                 <% } %>
              </div>

           </div> <!-- / panel-body -->
        </div> <!-- / panel -->
     </div> <!-- / col -->
  </div> <!-- / row -->  
</form>

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'validateVenueStep4(goVenueStep3)',
            nextButtonFunction: 'validateVenueStep4(goVenueDetails)',
            nextButtonLabel: 'Done'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row --> 