<%- partial('app/views/reps/show',{allReps:allReps, currentRep: currentRep, displayEdit: false, editing: editing, editor: editor}) %>

<div class="row">
   <div class="col-xs-12">
      <h3>Changes to Information</h3>
      <div class="form-group">
         <textarea id="edits" class="form-control" placeholder="Enter any edits here"></textarea>
      </div>
      <button class="btn btn-primary" onclick='submitRepProfileChanges("<%=currentRep.firstName%> <%= currentRep.lastName%>", "<%=currentRep.defaultEmail%>")'>Submit Changes</button>
   </div>
</div>