<%- scriptLink('/js/global/global.js', {type:'text/javascript'}) %>

<%- scriptLink('/js/portals/reps/repDetails.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/portals/reps/repProgramDetails.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/portals/reps/repResources.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/reps/show.js', {type:'text/javascript'}) %>

<%- scriptLink('/js/venues/venues.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/events/show.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/events/events.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/events/eventStep1.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/events/eventStep2.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/events/eventStep3.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/events/eventStep4.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/events/eventStep5.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/events/eventStep6.js', {type:'text/javascript'}) %>

<script type="text/javascript">setPrompt('<%=selectPrompt%>');</script>

<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-12">
                <div class="pull-right">
                  <button type="button" class="btn btn-info" onclick="createNewProgramRequest()">Create New Program Request</button>
                </div>
            </div>
        </div>
    </div> <!-- col -->
</div> <!-- / row -->

<div class="row">
   <div class="col-xs-12">
      <div class="table-sorter-wrapper">
          <table class="mainTable">
               <thead>
                  <tr>
                     <th data-bind="{statusApprovalDisplay}<input class='SelectItem' type='hidden' value='{eventInfo.id}'>">Approval Status</th>
                     <th data-bind="{eventInfo.confirmedDate}">Confirmed Date</th>
                     <th data-bind="{eventInfo.confirmedSpeaker}">Confirmed Speaker</th>
                     <th data-bind="{eventInfo.city}">City</th>
                     <th data-bind="{eventInfo.state}">State</th>
                     <th data-bind="{eventInfo.eventType}">Type</th>
                     <th data-bind="{eventInfo.eventStartTime}">Start Time</th>
                     <th data-bind="{statusDisplay}">Status</th>
                     <th data-bind="{eventInfo.presentationTitle}">Title</th>
                  </tr>
               </thead>
               <tbody>
               </tbody>
            </table>
      </div>
   </div>
</div>