<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-6">
            <h3>Resources</h3>
        </div>
    </div>
</div>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning js-resource-container">
            <div class="panel-body">
              <div class="form-inline row-space-xs js-selection-container">
                <table class="mainTable">
                   <thead>
                      <tr class="info">
                        <th><span>Name</span></th>
                        <th><span>Notes</span></th>
                        <th><span>Date Uploaded</span></th>
                      </tr>
                   </thead>
                   <tbody>
                    <% if (repResources && repResources.length > 0) { %>
                      <% for (var i = 0, ii = repResources.length; i < ii; i++) { %>
                      <tr class='js-filePath' data-path='<%=repResources[i].pathToFile%>' data-displayName='<%=repResources[i].name%>'>
                        <td>
                          <% if (repResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= repResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= repResources[i].name%></a>
                          <%} else {%>
                            <%= repResources[i].name%>
                          <%}%>
                        </td>
                        <td>
                          <% if (repResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= repResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= repResources[i].notes%></a>
                          <%} else {%>
                            <%= repResources[i].notes%>
                            <%}%>
                        </td>
                        <td>
                          <% if (repResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= repResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= repResources[i].createdAt.toLocaleDateString()%></a>
                          <%} else {%>
                            <%= repResources[i].createdAt.toLocaleDateString()%>
                          <%}%>
                        </td>
                       </tr>
                      <%}%>
                    <%}%>
                   </tbody>
                </table>
              </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->