<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Dietary Restrictions</h3>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <textarea name="dietaryRestrictions" cols='40' rows='4' class="TextProperty form-control"><%if(currentContact){%><%=currentContact.dietaryRestrictions%><% }%></textarea>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Special Needs</h3>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <textarea name="specialNeeds" cols='40' rows='4' class="TextProperty form-control"><%if(currentContact){%><%=currentContact.specialNeeds%><% }%></textarea>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Travel Information</h3>
         </div>
         <div class="panel-body">

         <div id="TravelAirContainer" class="separator">

            <%if(currentContact && currentContact.airlines && currentContact.airlines.length > 0) { %>
               <% for(var index in currentContact.airlines) { %>
                  <div class="FormRowBackground">
                     <input value="<%=index%>" class="Index hidden form-control"></input>
                     <div class="form-inline row-space-xs">
                        <label for="Airline">Airline:</label>
                        <input type="text" class="AirlineElement form-control" name="airlineName" value="<%= currentContact.airlines[index].airlineName %>"/>
                        <label for="FFNumber">Frequent Flyer #:</label>
                        <input type="text" class="AirlineElement form-control" name="ffNumber" value="<%= currentContact.airlines[index].ffNumber%>"/>
                        <% if (currentContact.airlines.length > 1){%>
                           <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteAirline(this)'>X</button>
                        <%}%>
                     </div>
                  </div>
               <% } %>
               
               <button class="addButton btn btn-primary" onclick='javascript:addAirline(this)'>Add Another Airline</button>

             <% } else {%>
               <div class="FormRowBackground">
                     <input value="0" class="Index hidden form-control"/>
                     <div class="form-inline row-space-xs">
                        <label for="Airline">Airline:</label>
                        <input type="text" class="AirlineElement form-control" name="airlineName" />
                        <label for="FFNumber">Frequent Flyer #:</label>
                        <input type="text"class="AirlineElement form-control" name="ffNumber" />
                     </div>
               </div>
                <button class="addButton btn btn-primary Disable" onclick='javascript:addAirline(this)' disabled>Add Another Airline</button>
             <% } %>
         </div>

         <div id="TravelHotelContainer">
            <%if(currentContact && currentContact.hotels && currentContact.hotels.length > 0) { %>
               <% for(var index in currentContact.hotels) { %>
                  <div id="HotelRow" class="FormRowBackground">
                     <input value="<%=index%>" class="Index hidden form-control"></input>
                     <div class="form-inline row-space-xs">
                        <label for="Hotel">Hotel Preference:</label>
                        <input type="text" class="HotelElement form-control" name="hotelName" value="<%= currentContact.hotels[index].hotelName %>"/>

                        <label for="RewardsNumber">Hotel Rewards #:</label>
                        <input type="text" class="HotelElement form-control" name="rewardsNumber" value="<%= currentContact.hotels[index].rewardsNumber %>" />

                        <% if (currentContact.hotels.length > 1){%>
                        <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteHotel(this)'>X</button>
                        <%}%>
                        
                     </div>
                  </div>
               <% } %>
               <button class="addButton btn btn-primary" onclick='javascript:addHotel(this)'>Add Another Hotel</button>
            <% } else {%>
               <div class="FormRowBackground">
                  <input value="0" class="Index hidden form-control"/>
                  <div class="form-inline row-space-xs">
                        <label for="Hotel">Hotel Prerence:</label>
                     <input type="text" class="HotelElement form-control" name="hotelName" />

                     <label for="RewardsNumber">Hotel Rewards #:</label>
                     <input type="text" class="HotelElement form-control" name="rewardsNumber" />
                  </div>
                </div>
               <button class="addButton btn btn-primary Disable" onclick='javascript:addHotel(this)' disabled>Add Another Hotel</button>
            <% } %>
         </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->         

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">TSA Information</h3>
         </div>
         <div class="panel-body">

            <div id="TSAContainer">
               <div class="form-inline row-space-xs">
                  <label for="TSAName">Name:</label>
                  <input type="text" class="TextProperty form-control" name="tsaName" value="<%if(currentContact){%><%=currentContact.tsaName%><% }%>" />
                  
                  <label for="DOB">Date of Birth:</label>
                  <input type="text" name="tsaDOB" id="tsaDOB" class="TextProperty form-control" value="<%if(currentContact){%><%=currentContact.tsaDOB%><% }%>" />
                  <label for="Gender">Gender:</label>
                  <input type="radio" name="tsaGender" class="checkbox" value="Male" <%if (currentContact && currentContact.tsaGender == "Male"){%> checked <% } %>> Male
                  <input type="radio" name="tsaGender" class="checkbox" value="Female" <%if(currentContact && currentContact.tsaGender == "Female"){%> checked <% } %>> Female<br>
               </div>
            </div>
            <div id="PassportContainer">
               <%if(currentContact && currentContact.passports && currentContact.passports.length > 0) { %>
                  <% for(var index in currentContact.passports) { %>
                     <div class="FormRowBackground separator">
                        <input value="<%=index%>" class="Index hidden form-control"></input>
                        <div class="form-inline row-space-xs">
                           <label for="Passport">Passport #:</label>
                           <input type="text" class="PassportElement form-control" name="number" value="<%= currentContact.passports[index].number %>" size="23"/>   
                           <label for="Country">Issuing Country:</label>
                           <select class="PassportElement country form-control" name="country">
                               <option disabled="disabled" selected><%=selectPrompt%></option>
                               <% for(var countryIndex in countries) { %>
                                    <option <%if(currentContact.passports[index].country == countries[countryIndex].name){%>selected<%}%>  >
                                       <%=countries[countryIndex].name%>
                                    </option>
                              <% } %>
                             </select>
                             <% if (currentContact.passports.length > 1){%>
                             <button class="DeleteButtonX btn btn-danger" onclick='javascript:deletePassport(this)'>X</button>
                           <%}%>
                        </div>
                        <div  class="form-inline row-space-xs">
                             <label for="Expiration">Expiration Date:</label>
                             <input id="passportExpirationDate<%=index%>" type="text" class="TextProperty js-expiration-datepicker form-control"  name="expirationDate" value="<%= currentContact.passports[index].expirationDate %>"/>
                         </div>
                     </div>
                  <% } %>
                  <button class="addButton btn btn-primary" onclick='javascript:addPassport(this)'>Add Another Passport</button>
                <% } else {%>
                  <div class="FormRowBackground separator">
                     <input value="0" class="Index hidden form-control"/>
                     <div class="form-inline row-space-xs">
                        <label for="Passport">Passport #:</label>
                        <input type="text" class="PassportElement form-control" name="number" size='23'/>
                        
                        <label for="Country">Issuing Country:</label>
                        <select class="PassportElement country form-control" name="country" >
                            <option disabled="disabled" selected><%=selectPrompt%></option>
                            <% for(var countryIndex in countries) { %>
                                 <option>
                                    <%=countries[countryIndex].name%>
                                 </option>
                           <% } %>
                          </select>
                      </div>
                       <div class="form-inline row-space-xs">
                          <label for="Expiration">Expiration Date:</label>
                          <input id="passportExpirationDate0" class="TextProperty js-expiration-datepicker form-control"  type="text" name="expirationDate" />
                     </div>    
                  </div>
                  <button class="addButton btn btn-primary Disable" onclick='javascript:addPassport(this)' disabled>Add Another Passport</button>
                  <% } %>
             </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->     

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Associated Rep</h3>
         </div>
         <div class="panel-body">
        <div id="RepContainer">
         <%if(currentContact && currentContact.reps && currentContact.reps.length > 0) { %>
            <% for(var index in currentContact.reps) { %>
               <div class="FormRowBackground">
                  <input value="<%=index%>" class="Index hidden form-control"></input>
                  <div class="form-inline row-space-xs">
                     <label for="RepName">Name:</label>
                     <select class="RepElement form-control" name="rep">
                        <option disabled="disabled" selected><%=selectPrompt%></option>
                        <% for(var repIndex in reps) { %>
                              <option value="<%= reps[repIndex].id %>" <%if(currentContact.reps[index] == reps[repIndex].id){%>selected<%}%>>
                                 <%= reps[repIndex].firstName %> <%= reps[repIndex].lastName %></option>
                        <% } %>
                       </select>

                       <% if (currentContact.reps.length > 1){%>
                        <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteRep(this)'>X</button>
                     <%}%>
                   </div>
               </div>
            <% } %>
            <button class="addButton btn btn-primary" onclick='javascript:addRep(this)'>Add Another Rep</button>
         <% } else { %>
               <div class="FormRowBackground">
                  <input value="0" class="Index hidden form-control"/>
                  <div class="form-inline row-space-xs">
                     <label for="RepName">Name:</label>
                     <select class="RepElement form-control" name="rep">
                        <option disabled="disabled" selected><%=selectPrompt%></option>
                        <% for(var index in reps) { %>
                              <option value='<%= reps[index].id %>' ><%= reps[index].firstName %> <%= reps[index].lastName %></option>
                        <% } %>
                       </select>
                  </div>
               </div>
               <button class="addButton btn btn-primary Disable" onclick='javascript:addRep(this)' disabled>Add Another Rep</button>
         <% } %>

         </div> 
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->  