<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">CV</h3>
            <div class="pull-right">
               <button type="button" class="btn btn-info btn-xs" onClick="javascript:prepareUploadFile(this,
                  <%if (currentContact) {%>
                     <%if (currentContact.id) {%>
                     '<%=currentContact.id%>'<%}}else {%> 0 <%}%>,
                     'file', 'cvs'
                     )">
                  Upload CV
                  <span class="glyphicon glyphicon-upload"></span>
               </button>
            </div>
         </div>
         <div class="panel-body">
            <div class="js-selection-container">
               <button id="deleteCVsButton" type="button" class="btn btn-danger btn-xs deleteSelectedBtn">Delete Selected</button>
               <br><br>
               <table class="mainTable">
                  <thead>
                     <tr class="info">
                        <th class="filter-false sorter-false"><input type="checkbox" class="selectall"/></th>
                        <th><span>Name</span></th>
                        <th><span>File Name</span></th>
                        <th><span>Date Uploaded</span></th>
                     </tr>
                  </thead>
                  <tbody>
                     <% if (currentContact && currentContact.cvs && currentContact.cvs.length > 0) { %>
                        <% for (var i = 0, ii = currentContact.cvs.length; i < ii; i++) { %>
                           <tr>
                              <td class="checkBoxTd" data-path="<%=currentContact.cvs[i].pathToFile%>">
                                 <input type="checkbox" class="selectElement" value="<%= i %>" /> 
                              </td>
                              <td><%= currentContact.cvs[i].name%></td>
                              <td><%= currentContact.cvs[i].pathToFile.slice(currentContact.cvs[i].pathToFile.lastIndexOf('/') + 1, currentContact.cvs[i].pathToFile.length)%></td>
                              <td><%= currentContact.cvs[i].createdAt.toLocaleDateString()%></td>
                           </tr>
                        <%}%>
                     <%}%>
                  </tbody>
               </table>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Bio</h3>
            <div class="pull-right">
               <button type="button" class="btn btn-info btn-xs"  onClick="prepareUploadFile(this,
                  <%if(currentContact) {%>
                  <%if(currentContact.id) {%>
                  '<%=currentContact.id%>'<%}}else {%> 0 <%}%>,
                  'file', 'bios'
                  )">
                  Upload Bio
                  <span class="glyphicon glyphicon-upload"></span>
               </button>
            </div>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs js-selection-container">
               <button id="deleteBiosButton" type="button" class="btn btn-danger btn-xs deleteSelectedBtn">Delete Selected</button>
               <br><br>
               <table class="mainTable">
                  <thead>
                     <tr class="info">
                        <th class="filter-false sorter-false"><input type="checkbox" class="selectall"/></th>
                        <th><span>Name</span></th>
                        <th><span>File Name</span></th>
                        <th><span>Date Uploaded</span></th>
                     </tr>
                  </thead>
                  <tbody>
                     <% if (currentContact && currentContact.bios && currentContact.bios.length > 0) { %>
                        <% for (var i = 0, ii = currentContact.bios.length; i < ii; i++) { %>
                           <tr>
                              <td class="checkBoxTd" data-path="<%=currentContact.bios[i].pathToFile%>">
                                 <input type="checkbox" class="selectElement" value="<%= i %>" /> 
                              </td>
                              <td><%= currentContact.bios[i].name%></td>
                              <td><%= currentContact.bios[i].pathToFile.slice(currentContact.bios[i].pathToFile.lastIndexOf('/') + 1, currentContact.bios[i].pathToFile.length)%></td>
                              <td><%= currentContact.bios[i].createdAt.toLocaleDateString()%></td>
                           </tr>
                        <%}%>
                     <%}%>
                  </tbody>
               </table>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Fact Sheet</h3>
            <div class="pull-right">
                <button type="button" class="btn btn-info btn-xs"  onClick="prepareUploadFile(this,
                  <%if(currentContact) {%>
                  <%if(currentContact.id) {%>
                  '<%=currentContact.id%>'<%}}else {%> 0 <%}%>,
                  'file', 'factSheets'
                  )">
                  Fact Sheet
                  <span class="glyphicon glyphicon-upload"></span>
               </button>
            </div>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs js-selection-container">
               <button id="deleteFactSheetsButton" type="button" class="btn btn-danger btn-xs deleteSelectedBtn">Delete Selected</button>
               <br><br>
               <table class="mainTable">
                  <thead>
                     <tr class="info">
                        <th class="filter-false sorter-false"><input type="checkbox" class="selectall"/></th>
                        <th><span>Name</span></th>
                        <th><span>File Name</span></th>
                        <th><span>Date Uploaded</span></th>
                     </tr>
                  </thead>
                  <tbody>
                     <% if (currentContact && currentContact.factSheets && currentContact.factSheets.length > 0) { %>
                        <% for (var i = 0, ii = currentContact.factSheets.length; i < ii; i++) { %>
                           <tr>
                              <td class="checkBoxTd" data-path="<%=currentContact.factSheets[i].pathToFile%>">
                                 <input type="checkbox" class="selectElement" value="<%= i %>" /> 
                              </td>
                              <td><%= currentContact.factSheets[i].name%></td>
                              <td><%= currentContact.factSheets[i].pathToFile.slice(currentContact.factSheets[i].pathToFile.lastIndexOf('/') + 1, currentContact.factSheets[i].pathToFile.length)%></td>
                              <td><%= currentContact.factSheets[i].createdAt.toLocaleDateString()%></td>
                           </tr>
                        <%}%>
                     <%}%>
                  </tbody>
               </table>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">W9/W8</h3>
            <div class="pull-right">
                <button type="button" class="btn btn-info btn-xs"  onClick="prepareUploadFile(this,
                  <%if(currentContact) {%>
                  <%if(currentContact.id) {%>
                  '<%=currentContact.id%>'<%}}else {%> 0 <%}%>,
                  'w9', 'taxForms'
                  )">
                  Upload W9/W8
                  <span class="glyphicon glyphicon-upload"></span>
               </button>
            </div>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs js-selection-container">
               <button id="deleteW8W9Button" type="button" class="btn btn-danger btn-xs deleteSelectedBtn">Delete Selected</button>
               <br><br>
               <table class="mainTable">
                  <thead>
                     <tr class="info">
                        <th class="filter-false sorter-false"><input type="checkbox" class="selectall"/></th>
                        <th><span>Name</span></th>
                        <th><span>File Name</span></th>
                        <th><span>Date Uploaded</span></th>
                     </tr>
                  </thead>
                  <tbody>
                     <% if (currentContact && currentContact.taxForms && currentContact.taxForms.length > 0) { %>
                        <% for (var i = 0, ii = currentContact.taxForms.length; i < ii; i++) { %>
                           <tr>
                              <td class="checkBoxTd" data-path="<%=currentContact.taxForms[i].pathToFile%>">
                                 <input type="checkbox" class="selectElement" value="<%= i %>" />
                              </td>
                              <td><%= currentContact.taxForms[i].name%></td>
                              <td><%= currentContact.taxForms[i].uploadedFile[0].pathToFile.slice(currentContact.taxForms[i].uploadedFile[0].pathToFile.lastIndexOf('/') + 1, currentContact.taxForms[i].uploadedFile[0].pathToFile.length)%></td>
                              <td><%= currentContact.taxForms[i].createdAt.toLocaleDateString()%></td>
                           </tr>
                        <%}%>
                     <%}%>
                  </tbody>
               </table>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Photo</h3>
            <div class="pull-right">
                <button type="button" id="uploadPhotoBtn" class="btn btn-info btn-xs" onClick="prepareUploadFile(this,
                  <%if(currentContact) {%>
                  <%if(currentContact.id) {%>
                  '<%=currentContact.id%>'<%}}else {%> 0 <%}%>,
                  'photo', 'photos'
                  )">Upload Photo
                  <span class="glyphicon glyphicon-upload"></span>
               </button>
            </div>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs js-selection-container">
               <button id="deletePhotoButton" type="button" class="btn btn-danger btn-xs deleteSelectedBtn">Delete Selected</button>
               <br><br>
               <table id="photoTable" class="mainTable">
                  <thead>
                     <tr class="info">
                        <th class="filter-false sorter-false"><input type="checkbox" class="selectall"/></th>
                        <!-- <th><span>Default Photo</span></th> -->
                        <th><span>Name</span></th>
                        <th><span>Date Uploaded</span></th>
                     </tr>
                  </thead>
                  <tbody>
                     <% if (currentContact && currentContact.photos && currentContact.photos.length > 0) { %>
                        <% for (var i = 0, ii = currentContact.photos.length; i < ii; i++) { %>
                           <tr>
                              <td class="checkBoxTd" data-path="<%=currentContact.photos[i].pathToFile%>" >
                                 <input type="checkbox" class="selectElement" value="<%= i %>" /> 
                              </td>
                              <!-- <td>We need a checkbox here</td> -->
                              <td><%=currentContact.photos[i].name%></td>
                              <td><%= currentContact.photos[i].createdAt.toLocaleDateString()%></td>
                           </tr>
                        <%}%>
                     <%}%>
                  </tbody>
               </table>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->