<div class="row row-space-xs">
    <div class="col-xs-12">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label id="linkedClients" for="Sufix" mode="<%= linkedtoClient %>">Editing KOL data linked to </label>
                <% if (currentContact && clientIds) {%>
                    <select name="clientList" id="clientList" class="form-control">
                        <% for(var index in clientIds) { %>
                            <option <%if (currentClient.id == clientIds[index].id) {%> selected <%}%> value="<%= clientIds[index].id %>">
                                <%= clientIds[index].name %>
                            </option>
                        <% } %>
                    </select>
                <% } else { %>
                    <% if (currentClient) { %>
                        <strong><%= currentClient.name %></strong>
                    <% } %>
                <% } %>
            </div>
        </form>
    </div>
</div>