<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Other Information - Step 4 of 5",
   backButtonFunction: 'goContactStep3()',
   nextButtonFunction: 'goContactStep5()'
   })
%>

<%- partial('contactStepHeader', {currentContact:currentContact,clientIds:clientIds, linkedtoClient:linkedtoClient,mode:mode,currentClient:currentClient, allClients:allClients}) %>
   
<%- partial('app/views/contacts/contactStep4Partial', {currentContact: currentContact, countries: countries, reps: reps, selectPrompt: selectPrompt, currentClient: currentClient})%> 

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goContactStep3()',
            nextButtonFunction: 'goContactStep5()'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->