<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Contact Information - Step 2 of 5",
   backButtonFunction: 'validateStep2(goContactStep1)',
   nextButtonFunction: 'validateStep2(goContactStep3)'
   })
%>

<%- partial('contactStepHeader', {currentContact:currentContact,clientIds:clientIds, linkedtoClient:linkedtoClient,mode:mode,currentClient:currentClient, allClients:allClients}) %>

<%- partial('app/views/contacts/contactStep2Partial', {currentContact: currentContact, phoneTypes: phoneTypes, states: states, countries: countries, addressTypes: addressTypes, selectPrompt: selectPrompt, currentClient: currentClient})%>

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'validateStep2(goContactStep1)',
            nextButtonFunction: 'validateStep2(goContactStep3)'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->