<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Other Information - Step 3 of 5",
   backButtonFunction: 'validateStep3(goContactStep2)',
   nextButtonFunction: 'validateStep3(goContactStep4)'
   })
%>

<%- partial('contactStepHeader', {currentContact:currentContact,clientIds:clientIds, linkedtoClient:linkedtoClient,mode:mode,currentClient:currentClient, allClients:allClients}) %>

<%- partial('app/views/contacts/contactStep3Partial', {currentContact: currentContact, phoneTypes: phoneTypes, states: states, selectPrompt: selectPrompt, currentClient: currentClient})%>

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'validateStep3(goContactStep2)',
            nextButtonFunction: 'validateStep3(goContactStep4)'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->