<form id="ContactStep3ValidateForm" class="formular">
   <div class="row steps">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h3 class="panel-title">Emergency Contact</h3>
            </div>
            <div id="EmergencyContactContainer" class="panel-body">
            
               <% if ( currentContact && currentContact.emergencyContacts && (currentContact.emergencyContacts.length>0)){
               for(var emergencyIndex in currentContact.emergencyContacts) { %>
                  <div class="FormRowBackground separator">
                     <input value="<%=emergencyIndex%>" class="Index hidden form-control"></input>
                     <div class="form-inline row-space-xs">
                        <label for="Name">Name:</label>
                        <input type="text" class="EmergencyContactElement form-control" name="fullName" value="<%=currentContact.emergencyContacts[emergencyIndex].fullName%>"/>
                        <label for="Email">Email:</label>
                        <input type="text" class="EmergencyContactElement form-control validate[custom[email]]" name="email" value="<%=currentContact.emergencyContacts[emergencyIndex].email%>"/>
                         <% if (currentContact.emergencyContacts.length > 1){%>
                           <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteEmergencyContact(this)'>X</button>
                        <%}%>
                     </div>
                     <div class="form-inline row-space-xs">
                        <label for="Number">Number:</label> 
                        <input type="text" name="number" class="EmergencyContactNumberElement PhoneNumber form-control"
                           <% if ( currentContact.emergencyContacts[emergencyIndex].phoneNumbers && currentContact.emergencyContacts[emergencyIndex].phoneNumbers.length > 0 ) {%>
                           value="<%=currentContact.emergencyContacts[emergencyIndex].phoneNumbers[0].number%>"
                           <%}%>/>
                        <label for="NumberType">Type:</label>
                         <select name="phoneType" class="EmergencyContactNumberElement form-control">
                           <option disabled selected><%=selectPrompt%></option>
                             <% for(var phoneIndex in phoneTypes) { %>
                                 <option <%if(currentContact.emergencyContacts[emergencyIndex].phoneNumbers && currentContact.emergencyContacts[emergencyIndex].phoneNumbers.length > 0   && currentContact.emergencyContacts[emergencyIndex].phoneNumbers[0].phoneType == phoneTypes[phoneIndex].type){%>selected<%}%>>
                                 <%= phoneTypes[phoneIndex].type %></option>
                           <% } %>
                         </select>
                     </div>
                     <div class="form-inline row-space-xs">
                        <label for="Relationship">Relationship:</label>
                        <input id="Relationship" type="text" name="relationship" class="EmergencyContactElement form-control" value="<%=currentContact.emergencyContacts[emergencyIndex].relationship%>"/>
                     </div>
                  </div>
               <% }%>
                  <button class="addButton btn btn-primary" onclick='javascript:addEmergencyContact(this)'>Add Another Contact</button>
                 <%}else{ %> 
                  <div class="FormRowBackground separator">
                     <input value="0" class="Index hidden form-control"></input>
                     <div class="form-inline row-space-xs">
                        <label for="Name">Name:</label>
                        <input type="text" class="EmergencyContactElement form-control" name="fullName" />
                        <label for="Email">Email:</label>
                        <input type="text" class="EmergencyContactElement form-control validate[custom[email]]" name="email"/>
                     </div>
                     <div class="form-inline row-space-xs">
                        <label for="Number">Number:</label> 
                        <input type="text" name="number" class="EmergencyContactNumberElement PhoneNumber form-control"/>
                        <label for="NumberType">Type:</label>
                         <select name="phoneType" class="EmergencyContactNumberElement form-control">
                           <option disabled selected><%=selectPrompt%></option>
                             <% for(var phoneIndex in phoneTypes) { %>
                                 <option>
                                 <%= phoneTypes[phoneIndex].type %></option>
                           <% } %>
                         </select>
                     </div>
                     <div class="form-inline row-space-xs">
                        <label for="Relationship">Relationship:</label>
                        <input id="Relationship" type="text" name="relationship" class="EmergencyContactElement form-control"/>
                     </div>
                       
                  </div>
                     <button class="addButton btn btn-primary Disable" onclick='javascript:addEmergencyContact(this)' disabled>Add Another Contact</button>
                  <% }%> 

            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->
</form> 

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Specialties</h3>
         </div>
         <div id="SpecialtyContainer" class="panel-body">

            <%if (currentContact && currentContact.specialties && currentContact.specialties.length > 0) {%>
               <% for(var index in currentContact.specialties) { %>
               <div class="FormRowBackground">
                  <input value="<%=index%>" class="Index hidden form-control"/>
                  <div class="form-inline row-space-xs">
                     <label for="Specialty">Name:</label>
                     <input type="text" name="speciality" class="SpeacialtyElement form-control" value="<%= currentContact.specialties[index]%>"/>
                     <% if (currentContact.specialties.length > 1){%>
                        <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteSpecialty(this)'>X</button>
                     <%}%>
                  </div>
                    
               </div>
               <% } %>
                  <button class="addButton btn btn-primary" onclick='javascript:addSpecialty(this)'>Add Another Specialty</button>
            <% } else { %>
               <div class="FormRowBackground">
                  <input value="0" class="Index hidden form-control"/>
                  <div class="form-inline row-space-xs">
                     <label for="Specialty">Name:</label>
                     <input type="text" name="speciality" class="SpeacialtyElement form-control"/>
                  </div>
                    
               </div>
                  <button class="addButton btn btn-primary Disable" onclick='javascript:addSpecialty(this)' disabled>Add Another Specialty</button>
            <% } %>

         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Therapeutic Interests</h3>
         </div>
         <div id="InterestContainer" class="panel-body">

              <%if (currentContact && currentContact.therapeuticInterests && currentContact.therapeuticInterests.length > 0) {%>
               <% for(var index in currentContact.therapeuticInterests) { %>
               <div class="FormRowBackground">
                  <input value="<%=index%>" class="Index hidden form-control"/>
                  <div class="form-inline row-space-xs">
                     <label for="Interest">Name:</label>
                     <input type="text" name="therapeuticInterests" class="InterestElement form-control" value="<%= currentContact.therapeuticInterests[index]%>"/>
                     <% if (currentContact.therapeuticInterests.length > 1){%>
                        <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteInterest(this)'>X</button>
                     <%}%>
                  </div>
               </div>
               <% } %>
                  <button class="addButton btn btn-primary" onclick='javascript:addInterest(this)'>Add Another Interest</button>
            <% } else { %>
               <div class="FormRowBackground">
                  <input value="0" class="Index hidden form-control"/>
                  <div class="form-inline row-space-xs">
                     <label for="Interest">Name:</label>
                     <input type="text" name="therapeuticInterests" class="InterestElement form-control"/>
                  </div>
               </div>
                  <button class="addButton btn btn-primary Disable" onclick='javascript:addInterest(this)' disabled>Add Another Interest</button>
            <% } %>

         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">US Medical Licenses</h3>
         </div>
         <div id="USLicensesContainer" class="panel-body">

           <%if (currentContact && currentContact.medicalLicenses && currentContact.medicalLicenses.length > 0) {%>
            <% for(var medicalIndex in currentContact.medicalLicenses) { %>
            <div class="FormRowBackground">
               <input value="<%=medicalIndex%>" class="Index hidden form-control"/>
               <div class="form-inline row-space-xs">
                  <label for="license">Number:</label>
                  <input type="text" name="number" class="USLicenseElement form-control" value="<%= currentContact.medicalLicenses[medicalIndex].number%>"/>
                  <label for="State">State:</label>
                  <select name="state" class="USLicenseElement State form-control">
                     <option value disabled selected><%=selectPrompt%></option>
                       <% for(var index in states) { %>
                           <option <%if(currentContact.medicalLicenses[medicalIndex].state==states[index].name){%>selected<%}%>>
                           <%= states[index].name %></option>
                     <% } %>
                  </select>
                  <% if (currentContact.medicalLicenses.length > 1){%>
                     <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteUSLicense(this)'>X</button>
                  <%}%>
               </div>
                 
            </div>
            <% } %>
               <button class="addButton btn btn-primary" onclick='javascript:addUSLicense(this)'>Add Another License</button>
         <% } else { %>
            <div class="FormRowBackground">
               <input value="0" class="Index hidden form-control"/>
               <div class="form-inline row-space-xs">
                  <label for="Interest">Number:</label>
                  <input type="text" name="number" class="USLicenseElement form-control"/>
                  <label for="State">State:</label>
                  <select name="state" class="USLicenseElement form-control">
                     <option value disabled selected><%=selectPrompt%></option>
                       <% for(var index in states) { %>
                           <option>
                           <%= states[index].name %></option>
                     <% } %>
                  </select>
               </div>
                 
            </div>
               <button class="addButton btn btn-primary Disable" onclick='javascript:addUSLicense(this)' disabled>Add Another License</button>
         <% } %>

         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Other Medical Licenses</h3>
         </div>
         <div id="OtherLicensesContainer" class="panel-body">

           <%if (currentContact && currentContact.otherMedicalLicenses && currentContact.otherMedicalLicenses.length > 0) {%>
            <% for(var index in currentContact.otherMedicalLicenses) { %>
            <div class="FormRowBackground">
               <input value="<%=index%>" class="Index hidden form-control"/>
               <div class="form-inline row-space-xs">
                  <label for="license">Number:</label>
                  <input type="text" name="number" class="OtherLicenseElement form-control" value="<%= currentContact.otherMedicalLicenses[index].number%>"/>
                  <label for="type">Type:</label>
                  <input type="text" name="otherMedicalLicenseType" class="OtherLicenseElement form-control" value="<%= currentContact.otherMedicalLicenses[index].otherMedicalLicenseType%>"/>
                  <% if ( currentContact.medicalLicenses && currentContact.medicalLicenses.length > 1){%>
                     <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteOtherLicense(this)'>X</button>
                  <%}%>

               </div>
            </div>
            <% } %>
               <button class="addButton btn btn-primary" onclick='javascript:addOtherLicense(this)'>Add Another License</button>
         <% } else { %>
            <div class="FormRowBackground">
               <input value="0" class="Index hidden form-control"/>
               <div class="form-inline row-space-xs">
                  <label for="license">Number:</label>
                  <input type="text" name="number" class="OtherLicenseElement form-control"/>
                  <label for="type">Type:</label>
                  <input type="text" name="otherMedicalLicenseType" class="OtherLicenseElement form-control"/>
               </div>
                 
            </div>
            <button class="addButton btn btn-primary Disable" onclick='javascript:addOtherLicense(this)' disabled>Add Another License</button>
         <% } %>

         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Identification Numbers</h3>
         </div>
         <div id="OthersContainer" class="panel-body">
   
            <div id="OthersRow">
               <div class="form-inline row-space-xs">
                  <label for="DEA">DEA:</label>
                  <input id="DEA" type="text" class="contactProperty form-control" name="dea" value="<%if(currentContact){%><%=currentContact.dea%><% }%>"/>
                  <label for="NPI">NPI:</label>
                  <input id="NPI" type="text" class="js-npi form-control js-number-only" name="npi" value="<%if(currentContact){%><%=currentContact.npi%><% }%>" />
                  <label id="npiError" class="bg-danger" hidden>NPI number needs to be 10 digits long.</label>

                  <label for="Taxonomy">Taxonomy Code:</label>
                  <input id="Taxonomy" type="text" class="contactProperty form-control" name="taxonomyCode" value="<%if(currentContact){%><%=currentContact.taxonomyCode%><% }%>"/>

               </div>
            </div>

         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->