<%- partial('app/views/components/dialogs/linkToClient', {clients:allClients, displayEdit: true}) %>

<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Basic Information - Step 1 of 5",
   backButtonFunction: 'goContactDetails()',
   nextButtonFunction: 'goContactStep2()'
   })
%>

<%- partial('contactStepHeader', {currentContact:currentContact,clientIds:clientIds, linkedtoClient:linkedtoClient, currentClient:currentClient, allClients:allClients}) %>

<%- partial('app/views/contacts/contactStep1Partial', {currentContact: currentContact, suffixes: suffixes, states: states, salutations: salutations, selectPrompt: selectPrompt})%>

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goContactDetails()',
            nextButtonFunction: 'goContactStep2()'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->