<%- partial('app/views/components/dialogs/taxForm', {selectPrompt:selectPrompt, states:states, countries:countries}) %>

<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Documents - Step 5 of 5",
   backButtonFunction: 'goContactStep4()',
   nextButtonFunction: 'goContactDetails()',
   nextButtonLabel: 'Done'
   })
%>

<%- partial('contactStepHeader', {currentContact:currentContact,clientIds:clientIds, linkedtoClient:linkedtoClient,mode:mode,currentClient:currentClient, allClients:allClients}) %>
   
<%- partial('app/views/contacts/contactStep5Partial', {currentContact: currentContact, countries: countries, states: states, selectPrompt: selectPrompt, currentClient: currentClient})%> 

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goContactStep4()',
            nextButtonFunction: 'goContactDetails()',
            nextButtonLabel: 'Done'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->