<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Basic Info</h3>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="FirstName">First Name:</label>
                  <input type="text" class="contactProperty form-control" name="firstName" value="<%if(currentContact){%><%=currentContact.firstName%><% }%>"/>
               </div>
               <div class="form-group">
                  <label for="MiddleName">Middle Name:</label>
                  <input type="text" class="contactProperty form-control" name="middleName" value="<%if(currentContact){%><%=currentContact.middleName%><% }%>"/>
               </div>
               <div class="form-group">
                  <label for="LastName">Last Name:</label>
                  <input type="text" class="contactProperty form-control" name="lastName" value="<%if(currentContact){%><%=currentContact.lastName%><% }%>"/>
               </div>
            </div>
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="Suffix">Suffix:</label>
                  <select name="suffix" class="contactProperty form-control">
                     <option disabled selected><%=selectPrompt%></option>
                     <% for (var index in suffixes) { %>
                        <option <%if(currentContact && (currentContact.suffix==suffixes[index].text)){%>selected<%}%> ><%= suffixes[index].text %></option>
                     <% } %>
                  </select>
               </div>
               <div class="form-group">
                  <label for="Salutation">Salutation:</label>
                  <select name="salutation" class="contactProperty form-control">
                     <option value disabled selected><%=selectPrompt%></option>
                     <% for (var index in salutations) { %>
                        <option <%if(currentContact && (currentContact.salutation==salutations[index].text)){%>selected<%}%> ><%= salutations[index].text %></option>
                     <% } %> 
                  </select>
               </div>
            </div>
            <div class="form-inline row-space-xs">
               <label>Degree:</label>
               <input type="checkbox" name="degrees[]" class="DegreesGroup checkbox" value="MD" 
               <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('MD') != -1) { %>
                checked 
               <% } %>
               />
               <label class="CheckboxLabel" for="MD">MD</label>
               <input type="checkbox" name="degrees[]" class="DegreesGroup checkbox" value="PhD" 
               <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('PhD') != -1) { %>
                checked 
               <% } %>
               />
               <label class="CheckboxLabel" for="PhD">PhD</label>
               <input type="checkbox" name="degrees[]" class="DegreesGroup checkbox" value="DO" 
               <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('DO') != -1) { %>
                checked 
               <% } %>
               />
               <label class="CheckboxLabel" for="DO">DO</label>
               <input type="checkbox" name="degrees[]" class="DegreesGroup checkbox" value="MS" 
               <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('MS') != -1) { %>
                checked 
               <% } %>
               />
               <label class="CheckboxLabel" for="MS">MS</label>
               <input type="checkbox" name="degrees[]" class="DegreesGroup checkbox" value="MPH" 
               <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('MPH') != -1) { %>
                checked 
               <% } %>
               />
               <label class="CheckboxLabel" for="MPH">MPH</label>
               <input type="checkbox" name="degrees[]" class="DegreesGroup checkbox" value="PharmD" 
               <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('PharmD') != -1) { %>
                checked 
               <% } %>
               />
               <label class="CheckboxLabel" for="PharmD">PharmD</label>
               <input type="checkbox" name="degrees[]" class="DegreesGroup checkbox" value="RPh" 
               <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('RPh') != -1) { %>
                checked 
               <% } %>
               />
               <label class="CheckboxLabel" for="RPh">RPh</label>
               <label for=""></label>
               <input type="checkbox" name="degrees[]" class="DegreesGroup checkbox" value="MBChB" 
               <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('MBChB') != -1) { %>
                checked 
               <% } %>
               />
               <label class="CheckboxLabel" for="MBChB">MBChB</label>
               <input type="checkbox" name="degrees[]" class="DegreesGroup checkbox" value="RN" 
               <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('RN') != -1) { %>
                checked 
               <% } %>
               />
               <label class="CheckboxLabel" for="RN">RN</label>
               <input type="checkbox" name="degrees[]" class="DegreesGroup checkbox" value="NP" 
               <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('NP') != -1) { %>
                checked 
               <% } %>
               />
               <label class="CheckboxLabel" for="NP">NP</label>
               <input type="checkbox" name="degrees[]" class="DegreesGroup checkbox" value="PA" 
               <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('PA') != -1) { %>
                checked 
               <% } %>
               />
               <label class="CheckboxLabel" for="PA">PA</label>
               <input type="checkbox" name="degrees[]" class="DegreesGroup checkbox" value="MBA" 
               <% if (currentContact && currentContact.degrees && currentContact.degrees.indexOf('MBA') != -1) { %>
                checked 
               <% } %>
               />
               <label class="CheckboxLabel" for="MBA">MBA</label>
               <input id="OtherDegreeCheckbox" name="otherCheckbox" type="checkbox" value="Other" 
               <% if (currentContact && currentContact.otherDegree && currentContact.otherDegree != '') { %>
                checked 
               <% } %>
               />
               <label class="CheckboxLabel" for="Other">Other</label>
               <input type="text" id="OtherDegree" name="otherDegree"
               class="checkbox contactProperty form-control <% if (  currentContact && currentContact.otherDegree && currentContact.otherDegree != '') {}else{%>
                hidden
               <%}%>" value="<%if(currentContact && currentContact.otherDegree){%><%=currentContact.otherDegree%><%}%>">
            </div>
            <div class="form-inline">
               <div class="form-group">
                  <label for="QuickBooksName">Quickbooks Name:</label>
                  <input type="text" class="contactProperty form-control" name="quickbooksName" value="<%if(currentContact){%><%=currentContact.quickbooksName%><%}%>">
               </div>

               <div class="form-group">
                  <label for="optOut">Opt-out:</label>
                  <input type="radio" name="optOutRadios" class="js-optOutRadio" value="Yes" <% if (currentContact && currentContact.optOut) {%>checked<% } %>/><label class="CheckboxLabel" for="true"> Yes</label>
                  <input type="radio" name="optOutRadios" class="js-optOutRadio" value="No" <% if (currentContact && !currentContact.optOut) {%>checked<% } %>/><label class="CheckboxLabel" for="false"> No</label>
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Affiliations</h3>
         </div>
         <div id="AffiliationContainer" class="panel-body">
            <% if (currentContact && currentContact.affiliations && currentContact.affiliations.length > 0) {
               for (var index in currentContact.affiliations) { %>
               <div class="FormRowBackground separator">
                  <input value="<%=index%>" class="Index hidden form-control"></input>
                  <div class="form-inline row-space-xs">
                     <label for="affiliation">Affiliation Name: </label>
                     <input class="AffiliationElement form-control input-more-width" type="text" name="affiliationName" value="<%=currentContact.affiliations[index].affiliationName%>"/>
                     <label for="title">Title: </label>
                     <input class="AffiliationElement form-control" type="text" name="title" value="<%=currentContact.affiliations[index].title%>"/>
                     <% if (currentContact.affiliations.length > 1) { %>
                        <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteAffiliation(this)'>X</button>
                     <% } %>
                  </div>
                  <div class="form-inline row-space-xs">
                     <label for="city">City: </label>
                     <input class="AffiliationElement form-control" type="text" name="city" value="<%=currentContact.affiliations[index].city%>"/>
                     <label for="Country">State/Province: </label>
                     <select class="AffiliationElement state form-control" name="state">
                        <option disabled selected><%=selectPrompt%></option>
                        <% for(var stateIndex in states) { %>
                           <option <%if(currentContact.affiliations[index].state == states[stateIndex].name){%>selected<%}%>  >
                              <%=states[stateIndex].name%>
                           </option>
                        <% } %>
                     </select>
                  </div>
               </div>
               <% } %>
               <button class="addButton btn btn-primary" onclick='javascript:addAffiliation(this)'>Add Another Affiliation</button>
            <% } else { %> 
               <div class="FormRowBackground separator">
                  <div class="form-inline row-space-xs">
                     <input value="0" class="Index hidden form-control"/>
                     <label for="affiliation">Affiliation Name: </label>
                     <input type="text" class="AffiliationElement form-control" name="affiliationName" />
                     <label for="title">Title </label>
                     <input type="text" class="AffiliationElement form-control" name="title" />
                  </div>
                  <div class="form-inline row-space-xs">
                     <label for="city">City: </label>
                     <input type="text" class="AffiliationElement form-control" name="city" />
                     <label for="Country">State/Province: </label>
                     <select class="AffiliationElement country form-control" name="state">
                        <option disabled selected><%=selectPrompt%></option>
                        <% for(var index in states) { %>
                           <option><%= states[index].name %></option>
                        <% } %>
                     </select>
                  </div>
               </div>
               <button class="addButton Disable btn btn-primary" onclick='javascript:addAffiliation(this)' disabled>Add Another Affiliation</button>
            <% } %> 
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Notes</h3>
         </div>
         <div class="panel-body">
            <div class="form-inline">
               <div class="form-group">
                  <textarea class="contactProperty form-control" cols='40' rows='4' name="notes"><%if(currentContact){%><%=currentContact.notes%><% }%></textarea>
                  <p><strong>* Notes are only visible to admins</strong></p>
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->