<form id="ContactStep2ValidateForm" class="formular">
   <div class="row steps">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h3 class="panel-title">Email</h3>
            </div>
            <div id="EmailContainer" class="panel-body">
               <%if (currentContact && currentContact.emailAddresses && currentContact.emailAddresses.length > 0) {%>
                  <% for(var index in currentContact.emailAddresses) { %>
                        <div class="FormRowBackground separator">
                           <input value="<%=index%>" class="Index hidden form-control"/>
                           <p class='<% if (currentContact.emailAddresses.length == 1) {%>hidden<%}%>'>
                              <label>
                                 <input type="radio" name="defaultEmail" class='js-default-email'
                                 <%if (currentContact && currentContact.defaultEmail) {%>
                                    <%if (currentContact.emailAddresses[index].preferred == 'true' || currentContact.emailAddresses.length == 1) {%>
                                       checked 
                                    <%}%> 
                                 <%}%>
                                 >Preferred Email</label>
                           </p>
                           <div class="form-inline row-space-xs">
                              <label for="Email">Email Address: </label>
                              <input class="MailElement form-control validate[custom[email]]" type="text" name="email" value="<%= currentContact.emailAddresses[index].email%>" />
                              <% for(var emailClientIdIndex in currentContact.emailAddresses[index].clients) { %>
                                 <div class="ItemDisplay">
                                    <span class="ClientTag badge <% if(currentClient.id == currentContact.emailAddresses[index].clients[emailClientIdIndex].id) { %> alert-info <% } %>" id="<%= currentContact.emailAddresses[index].clients[emailClientIdIndex].id %>" onclick="javascript:removeClientId(this.id, 'emailAddresses')"><%= currentContact.emailAddresses[index].clients[emailClientIdIndex].name %></span>
                                 </div>
                              <% } %>
                              <% if (currentContact.emailAddresses.length > 1){%>
                                    <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteEmail(this)'>X</button>
                              <%}%>
                           </div>
                        </div>
                  <% } %>
                  <button class="addButton btn btn-primary" onclick='javascript:addEmail(this)'>Add Another Email</button>
               <% } else { %>
                  <div class="FormRowBackground separator">
                     <input value="0" class="Index hidden form-control"/>
                     <input type="radio" name="defaultEmail" class='js-default-email hidden' checked></input>
                     <div class="form-inline row-space-xs">
                        <label for="Email">Email Address: </label>
                        <input type="text" name="email" class="MailElement form-control validate[custom[email]]"/>
                     </div>
                  </div>
                  <button class="addButton Disable btn btn-primary" onclick='javascript:addEmail(this)' disabled>Add Another Email</button>
               <% } %>
            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->

   <div class="row steps">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h3 class="panel-title">Contact Number</h3>
            </div>
            <div id="ContactNumberContainer" class="panel-body">
               <%if (currentContact && currentContact.phoneNumbers && currentContact.phoneNumbers.length > 0) {%>
                  <% for(var index in currentContact.phoneNumbers) { %>
                  <div class="FormRowBackground separator">
                     <input value="<%=index%>" class="Index hidden form-control"></input>
                     <p class='<% if (currentContact.phoneNumbers.length == 1) {%>hidden<%}%>'>
                        <label>
                           <input type="radio" name="defaultPhoneNumber" class='js-default-phoneNumber'
                           <%if (currentContact && currentContact.defaultPhoneNumber) {%>
                              <%if (currentContact.phoneNumbers[index].preferred == 'true' || currentContact.phoneNumbers.length == 1) {%>
                                 checked 
                              <%}%> 
                           <%}%>
                           >Preferred Number</label>
                     </p>
                     <div class="form-inline row-space-xs">
                        <label for="Number">Number: </label>
                        <input type="text" name="number" value="<%= currentContact.phoneNumbers[index].number%>" class="PhoneElement PhoneNumber form-control"/>
                        <label for="phoneType">Type: </label>
                        <select name="phoneType" class="PhoneElement form-control">
                           <option disabled selected><%=selectPrompt%></option>
                           <% for(var phoneIndex in phoneTypes) { %>
                              <option <%if(currentContact.phoneNumbers[index].phoneType==phoneTypes[phoneIndex].type){%>selected<%}%> ><%= phoneTypes[phoneIndex].type %></option>
                           <% } %>
                        </select>
                        <% for (var phoneNumberIndex in currentContact.phoneNumbers[index].clients) { %>
                           <div class="ItemDisplay">
                              <span class="ClientTag badge <% if(currentClient.id == currentContact.phoneNumbers[index].clients[phoneNumberIndex].id) { %> alert-info <% } %>" id="<%= currentContact.phoneNumbers[index].clients[phoneNumberIndex].id %>" onclick="javascript:removeClientId(this.id, 'phoneNumbers')"><%= currentContact.phoneNumbers[index].clients[phoneNumberIndex].name %></span>
                           </div>
                        <% } %>
                        <% if (currentContact.phoneNumbers.length > 1){%>
                           <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteContactNumber(this)'>X</button>
                        <% } %>
                     </div>
                  </div>
                  <% } %>
                  <button class="addButton btn btn-primary" onclick='javascript:addContactNumber(this)'>Add Another Number</button>
               <% } else { %>
                  <div class="FormRowBackground separator">
                     <input value="0" class="Index hidden form-control"></input>
                     <input type="radio" name="defaultPhoneNumber" class='js-default-phoneNumber hidden' checked></input>
                     <div class="form-inline row-space-xs">
                        <label for="Number">Number: </label>
                        <input type="text" name="number" class="PhoneElement PhoneNumber form-control"/>
                        <label for="phoneType">Type: </label>
                        <select name="phoneType" class="PhoneElement form-control">
                           <option disabled selected><%=selectPrompt%></option>
                           <% for(var index in phoneTypes) { %>
                              <option><%= phoneTypes[index].type %></option>
                           <% } %>
                        </select>
                     </div>
                  </div>
                  <button class="addButton Disable btn btn-primary" onclick='javascript:addContactNumber(this)' disabled>Add Another Number</button>
               <% } %>
            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->

   <div class="row steps">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h3 class="panel-title">Address</h3>
            </div>
            <div id="AddressContainer" class="panel-body">
               <% if (currentContact && currentContact.addresses && currentContact.addresses.length > 0) {
                  for(var index in currentContact.addresses) { %>
                     <div class="FormRowBackground separator">
                        <input value="<%=index%>" class="Index hidden form-control"></input>
                        <p class='<% if (currentContact.addresses.length == 1) {%>hidden<%}%>'>
                           <label>
                              <input type="radio" name="defaultAddress" class='js-default-address'
                              <%if (currentContact && currentContact.defaultAddress) {%>
                                 <%if (currentContact.addresses[index].preferred == 'true' || currentContact.addresses.length == 1) {%>
                                    checked 
                                 <%}%> 
                              <%}%>
                              >Preferred Address</label>
                        </p>

                        <div class="form-inline row-space-xs">
                           <input type="checkbox" class="internationalCheckbox checkbox" value="true" <%if(currentContact.addresses[index].international=='true'){%>checked<%}%> />
                           <label class="CheckboxLabel">International</label>
                           <label for="Country" class="<%if(!currentContact.addresses[index].international || currentContact.addresses[index].international == 'false'){%>hidden<%}%>">Country:</label>
                           <select name="country" class="AddressElement form-control country <%if(!currentContact.addresses[index].international || currentContact.addresses[index].international=='false'){%>hidden<%}%>" >
                              <option disabled selected><%=selectPrompt%></option>
                              <% for(var countryIndex in countries) { %>
                                 <option <%if(currentContact.addresses[index].country==countries[countryIndex].name){%>selected<%}%> > <%= countries[countryIndex].name %> (<%= countries[countryIndex].countryCode %>)</option>
                              <% } %>
                            </select>  
                           <% if (currentContact.addresses.length > 1){%>
                              <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteAddress(this)'>X</button>
                           <%}%>       
                        </div>
                        <div class="form-inline row-space-xs">
                           <label for="StreetAddress">Street Address: </label>
                           <input type="text" name="address1" class="AddressElement form-control js-street-address" value="<%=currentContact.addresses[index].address1%>"/>
                           <label for="StreetAddress2">Address Line 2: </label>
                           <input type="text" name="address2" class="AddressElement form-control" value="<%=currentContact.addresses[index].address2%>"/>
                        </div>
                        <div class="form-inline row-space-xs">
                           <label for="City">City: </label>
                           <input type="text" name="city" class="AddressElement form-control" value="<%=currentContact.addresses[index].city%>"/>
                           <label for="State" class="stateLabel"><%if(!currentContact.addresses[index].international || currentContact.addresses[index].international=='false'){%>State: <% } else {%> State/Provice: <% } %></label>
                           <input type="text" name="state" class="AddressElement form-control State <%if(!currentContact.addresses[index].international || currentContact.addresses[index].international=='false'){%> hidden <% } %>" value="<%=currentContact.addresses[index].state%>">
                           <select name="state" class="AddressElement form-control State <%if(currentContact.addresses[index].international=='true'){%> hidden <% } %>">
                              <option disabled selected><%=selectPrompt%></option>
                                <% for(var stateIndex in states) { %>
                                    <option <%if(currentContact.addresses[index].state==states[stateIndex].name){%>selected<%}%>>
                                    <%= states[stateIndex].name %></option>
                              <% } %>
                            </select>
                        </div>
                        <div class="form-inline row-space-xs">
                           <label for="PostalCode">Postal Code: </label>
                           <input type="text" name="postalCode" class="AddressElement PostalCode form-control" value="<%=currentContact.addresses[index].postalCode%>"/>
                           <label for="AddressType">Type: </label>
                           <select name="addressType" class="AddressElement form-control">
                              <option disabled selected><%=selectPrompt%></option>
                              <% for(var addressIndex in addressTypes) { %>
                                 <option <%if(currentContact.addresses[index].addressType == addressTypes[addressIndex].type){%>selected<%}%> ><%= addressTypes[addressIndex].type %></option>
                              <% } %>
                           </select>  
                        </div>
                        <% for(var addressesIndex in currentContact.addresses[index].clients) { %>
                           <div class="ItemDisplay form-inline">
                              <span class="ClientTag badge <% if(currentClient.id == currentContact.addresses[index].clients[addressesIndex].id) { %> alert-info <% } %>" id="<%= currentContact.addresses[index].clients[addressesIndex].id %>" onclick="javascript:removeClientId(this.id, 'addresses')"><%= currentContact.addresses[index].clients[addressesIndex].name %></span>
                           </div>
                           <br>
                        <% } %>
                     </div>
                  <% } %>
                  <button class="addButton btn btn-primary" onclick='javascript:addAddress(this)'>Add Another Address</button>
               <% } else { %>
               <div class="FormRowBackground">
                  <input value="0" class="Index hidden"></input>
                  <input type="radio" name="defaultAddress" class='js-default-address hidden' checked></input>

                  <div class="form-inline row-space-xs">
                     <input type="checkbox" class="internationalCheckbox checkbox"/><label class="CheckboxLabel">International</label> 
                     <label for="Country" class="hidden">Country:</label>
                     <select name="country" class="hidden AddressElement country form-control">
                        <option disabled selected><%=selectPrompt%></option>
                        <% for(var countryIndex in countries) { %>
                           <option><%= countries[countryIndex].name %></option>
                        <% } %>
                     </select>
                  </div>
                  <div class="form-inline row-space-xs">
                     <label for="StreetAddress">Street Address: </label>
                     <input type="text" name="address1" class="AddressElement form-control"/>
                     <label for="StreetAddress2">Address Line 2: </label>
                     <input type="text" name="address2" class="AddressElement form-control"/>
                  </div>
                  <div class="form-inline row-space-xs">
                     <label for="City">City: </label>
                     <input type="text" name="city" class="AddressElement form-control"/>
                     <label for="State" class="stateLabel">State: </label>
                     <input type="text" name="state" class="AddressElement form-control State hidden" value="">
                     <select type="text" name="state" class="AddressElement form-control State">
                        <option disabled selected><%=selectPrompt%></option>
                        <% for (var stateIndex in states) { %>
                           <option><%= states[stateIndex].name %></option>
                        <% } %>
                     </select>
                  </div>
                  <div class="form-inline row-space-xs">
                     <label for="PostalCode">Postal Code: </label>
                     <input type="text" name="postalCode" class="AddressElement form-control PostalCode"/>
                     <label for="AddressType">Type: </label>
                     <select name="addressType" class="AddressElement form-control">
                        <option disabled selected><%=selectPrompt%></option>
                        <% for(var addressIndex in addressTypes) { %>
                           <option><%= addressTypes[addressIndex].type %></option>
                        <% } %>
                     </select>  
                  </div>
               </div>
               <button class="addButton Disable btn btn-primary" onclick='javascript:addAddress(this)' disabled>Add Another Address</button>
               <% } %>
            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->

   <div class="row steps">
      <div class="col-xs-12">
         <div class="panel panel-warning">
            <div class="panel-heading">
               <h3 class="panel-title">Office Staff Contact</h3>
            </div>
            <div class="panel-body">
               <div class="FormRowBackground">
                  <input value="0" class="Index hidden form-control"></input>
                  <div class="form-inline row-space-xs">
                     <label for="OfficeContactName">Name:</label>
                     <input type="text" class="StaffElement form-control" name="fullName" value="<%if ( currentContact && currentContact.officeStaffContact && (currentContact.officeStaffContact.length>0) && currentContact.officeStaffContact[0].fullName) {%><%=currentContact.officeStaffContact[0].fullName%><%}%>"/>
                     <label for="OfficeContactTitle">Title:</label>
                     <input type="text" class="StaffElement form-control" name="title" value="<%if ( currentContact && currentContact.officeStaffContact && (currentContact.officeStaffContact.length>0) && currentContact.officeStaffContact[0].title) {%><%=currentContact.officeStaffContact[0].title%><%}%>"/>
                     <label for="OfficeContactEmail">Email:</label>
                     <input type="text" class="StaffElement form-control validate[custom[email]]" name="email" value="<%if ( currentContact && currentContact.officeStaffContact && (currentContact.officeStaffContact.length>0) && currentContact.officeStaffContact[0].email) {%><%=currentContact.officeStaffContact[0].email%><%}%>"/>
                  </div>
               </div>
               <div id="OfficeContactNumberContainer">
                  <% if ( currentContact && currentContact.officeStaffContact && (currentContact.officeStaffContact.length>0) && currentContact.officeStaffContact[0].phoneNumbers && currentContact.officeStaffContact[0].phoneNumbers.length > 0){
                  for(var staffNumberIndex in currentContact.officeStaffContact[0].phoneNumbers) { %>
                     <div class="FormRowBackground separator">
                        <input value="<%=staffNumberIndex%>" class="Index hidden form-control"></input>
                        <div class="form-inline row-space-xs">
                           <label for="OfficeContactNumber">Number:</label>
                           <input type="text" class="StaffNumberElement PhoneNumber form-control" name="number" value="<%=currentContact.officeStaffContact[0].phoneNumbers[staffNumberIndex].number%>"/>
                           <label for="OfficeContactNumberType">Type:</label>
                           <select name="phoneType" class="StaffNumberElement form-control">
                              <option disabled selected><%=selectPrompt%></option>
                                 <% for(var phoneIndex in phoneTypes) { %>
                                    <option <%if(currentContact.officeStaffContact[0].phoneNumbers[staffNumberIndex].phoneType==phoneTypes[phoneIndex].type){%>selected<%}%>><%= phoneTypes[phoneIndex].type %></option>
                                 <% } %>
                           </select>
                           <% if (currentContact.officeStaffContact[0].phoneNumbers.length > 1){%>
                              <button class="DeleteButtonX btn btn-danger" onclick='javascript:deleteStaff(this)'>X</button>
                           <% } %>
                        </div>
                     </div>
                  <% } %>
                  <button class="addButton btn btn-primary" onclick='addKOLOfficeContactNumber(this)'>Add Another Number</button>
                  <% } else { %> 
                     <div class="FormRowBackground">
                        <input value="0" class="Index hidden form-control"></input>
                        <div class="form-inline row-space-xs">
                           <label for="OfficeContactNumber">Number:</label>
                           <input type="text" class="StaffNumberElement PhoneNumber form-control" name="number"/>
                           <label for="OfficeContactNumberType">Type:</label>
                           <select name="phoneType" class="StaffNumberElement form-control">
                              <option disabled selected><%=selectPrompt%></option>
                                 <% for(var index in phoneTypes) { %>
                                    <option><%= phoneTypes[index].type %></option>
                                 <% } %>
                           </select>
                        </div>
                     </div>
                     <button class="addButton btn btn-primary Disable" onclick='addKOLOfficeContactNumber(this)' disabled>Add Another Number</button>
                  <% } %> 
               </div>
            </div> <!-- / panel-body -->
         </div> <!-- / panel -->
      </div> <!-- / col -->
   </div> <!-- / row -->

</form>