<!-- <link rel="Stylesheet" href="/css/style.css" />
<link rel="Stylesheet" href="/css/menu.css" /> -->

<style>
    .DiffContainer
    {
        display: block;
        width: 100%;
    }

    .SideATabs li,
    .SideBTabs li {
        list-style: none;
    }

    .SideA
    {
        float: left;
        margin-right: 20px;
    }
    .SideB
    {
        float: left;
    }

    .progress
    {
        position: relative;
        width: 400px;
        border: 1px solid #ddd;
        padding: 1px;
        border-radius: 3px;
    }
    .bar
    {
        background-color: #B4F5B4;
        width: 0%;
        height: 20px;
        border-radius: 3px;
    }
    .percent
    {
        position: absolute;
        display: inline-block;
        top: 3px;
        left: 48%;
    }

    .Diferent
    {
        border: 1px #f00 solid;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-6">
                <h3>Import KOLs</h3>
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                    <button class="btn btn-primary" onclick="goContactsList()">Back <span class="glyphicon glyphicon-chevron-left"></span></button>
                </div>
            </div>
        </div>
    </div> <!-- col -->
</div> <!-- / row -->

<div class="row steps">
    <div class="col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">1. Client Selection</h3>
            </div>
            <div class="panel-body">
                <div class="form-inline row-space-xs">
                    <div class="form-group">
                        <label for="">These KOLs will be linked to: </label>
                        <select id="clientListForImport">
                            <% if(clients) { %>
                                <option disabled selected><%=selectPrompt%></option>
                                <% for(var index in clients) { %>
                                    <option value="<%= clients[index].id %>"><%= clients[index].name %></option>
                                <% } %>
                            <%  } %>
                        </select>
                    </div>
                </div>

                <div class="form-inline row-space-xs">
                    <div class="form-group">
                        <label for="">KOLs type: </label>
                        <input type="radio" name="kolType" class="js-kol-type checkbox" value="kol"/><label class="CheckboxLabel" for="kol"> KOL</label>
                        <input type="radio" name="kolType" class="js-kol-type checkbox" value="attendee" /><label class="CheckboxLabel" for="attendee"> Universe of Doctors</label>
                    </div>
                </div>
            </div> <!-- / panel-body -->
        </div> <!-- / panel -->
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">2. File Upload</h3>
            </div>
            <div class="panel-body">
                <div class="form-inline row-space-xs">
                    <div class="form-group">
                         <div class="SuccessContainer">
                            All KOL data has been imported.
                        </div>
                        
                        <div id="uploadDisabled">
                            Please select a client and KOL type on step 1 before uploading data.
                        </div>

                        <div class="UploadContainer">
                            <label for="">Select file to upload: </label>
                            <form id="UploadExcel" action="/contacts/processFile" method="post" enctype="multipart/form-data">
                            <input type="file" name="ExcelFile" /><br>
                            <input type="submit" value="Upload File to Server" />
                            </form>
                            <div class="progress">
                                <div class="bar">
                                </div>
                                <div class="percent">
                                    0%</div>
                            </div>
                            <div id="status">
                            </div>
                        </div>
                        <div class="DiffMain">
                            <div id="DiffTemplate" class="DiffContainer" style="display: none;">
                                <div class="SideA" style="width: 100%">
                                    <h4>Instructions:</h4>
                                    <p> Please review each information tab to find any items marked in red.  Items marked in red are different from each other.</p>
                                    <p> Make the necessary changes to the data in the "KOL Data to Save" section.  Once all the changes are ready, click the save button, then click Next to go to the next record (if any).</p>
                                    <p><b>Note</b>: If there are no differences, but the KOL is being linked to a different Client, you need to click the save button for the linking to occur.
                                    <h3>Incoming KOL Data</h3>
                                    <label>Notes:</label>
                                    <br/>
                                    <textarea cols='60' rows='4' class="notes" disabled></textarea>
                                    <div class="SideATabs">
                                        <ul>
                                            <li class="basic"><a href="#basic">Basic</a></li>
                                            <li class="contact"><a href="#contact">Contact</a></li>
                                            <li class="affiliation"><a href="#affiliation">Affiliation</a></li>
                                            <li class="address"><a href="#address">Address</a></li>
                                            <li class="special"><a href="#special">Special</a></li>
                                            <li class="medicalLicenses"><a href="#medicalLicenses">Medical Licenses</a></li>
                                        </ul>
                                        <div id="basic">
                                            <ul>
                                                <li><span>Last Name: </span>
                                                    <input class="LastName" />
                                                </li>
                                                <li><span>Middle: </span>
                                                    <input class="MiddleName" />
                                                </li>
                                                <li><span>First Name: </span>
                                                    <input class="FirstName" />
                                                </li>
                                                <li><span>Suffix: </span>
                                                    <input class="Suffix" />
                                                </li>
                                                <li><span>Degrees: </span>
                                                    <input class="Degrees input-more-width" />
                                                </li>
                                                <li><span>Salutation: </span>
                                                    <input class="Salutation" />
                                                </li>
                                                <li><span>Therapeutic Area/Area(s) of Interest: </span>
                                                    <input class="therapeuticInterests input-more-width" />
                                                </li>
                                            </ul>
                                            <ul>
                                                <li><span>TSA: Name on Photo: </span>
                                                    <input class="TsaName" />
                                                </li>
                                                <li><span>TSA: Gender: </span>
                                                    <input class="TsaGender" />
                                                </li>
                                                <li><span>TSA: Date of Birth (DOB): </span>
                                                    <input class="TsaDOB" />
                                                </li>
                                            </ul>
                                            <ul>
                                                <li><span>Specialty 1: </span>
                                                    <input class="Specialty1" />
                                                </li>
                                                <li><span>Specialty 2: </span>
                                                    <input class="Specialty2" />
                                                </li>
                                                <li><span>Specialty 3: </span>
                                                    <input class="Specialty3" />
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="contact">
                                            <div class="EmergencyContact">
                                                <ul>
                                                    <li><span>Emergency Contact Name: </span>
                                                        <input class="EmergencyContactName" />
                                                    </li>
                                                    <li><span>Emergency Contact #: </span>
                                                        <input class="EmergencyContactPhone" />
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="EMailAdress">
                                                <ul>
                                                    <li><span>Preferred Email Address: </span>
                                                        <input class="Email1" />
                                                    </li>
                                                    <li><span>Secondary Email Address: </span>
                                                        <input class="Email2" />
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="PhoneNumbers">
                                                <ul>
                                                    <li><span>Office Phone: </span>
                                                        <input class="OfficePhone" />
                                                    </li>
                                                    <li><span>Fax: </span>
                                                        <input class="FaxPhone" />
                                                    </li>
                                                    <li><span>Home: </span>
                                                        <input class="HomePhone" />
                                                    </li>
                                                    <li><span>Cell: </span>
                                                        <input class="CellPhone" />
                                                    </li>
                                                    <li><span>Other Contact: </span>
                                                        <input class="OtherContactPhone" />
                                                    </li>
                                                </ul>
                                            </div>
                                            <ul>
                                                <li>
                                                    <h2>
                                                        Office Staff Contact</h2>
                                                </li>
                                                <li><span>Contact: </span>
                                                    <input class="officeStaffContact" />
                                                </li>
                                                <li><span>Email: </span>
                                                    <input class="officeStaffContactEmail" />
                                                </li>
                                                <li><span>Tel #: </span>
                                                    <input class="officeStaffContactPhone" />
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="affiliation">
                                            <div class="Affiliations">
                                                <ul>
                                                    <li><span>Affiliation: </span>
                                                        <input class="Affiliation input-more-width" />
                                                    </li>
                                                    <li><span>Title: </span>
                                                        <input class="AffiliationTitle" />
                                                    </li>
                                                    <li><span>City: </span>
                                                        <input class="AffiliationCity" />
                                                    </li>
                                                    <li><span>State: </span>
                                                        <input name="AffiliationState[]" class="AffiliationState" />
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="Affiliations">
                                                <ul>
                                                    <li><span>Aditional Affiliation: </span>
                                                        <input class="AditionalAffiliation input-more-width" />
                                                    </li>
                                                    <li><span>Aditional Title: </span>
                                                        <input class="AditionalAffiliationTitle" />
                                                    </li>
                                                    <li><span>Aditional City: </span>
                                                        <input class="AditionalAffiliationCity" />
                                                    </li>
                                                    <li><span>State: </span>
                                                        <input name="AffiliationState[]" class="AditionalAffiliationState" />
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="address">
                                            <div class="Address">
                                                <ul>
                                                    <li><span>Address Type: </span></li>
                                                    <li>
                                                        <input class="AddressType" /></li>
                                                    <li><span>Address 1: </span></li>
                                                    <li>
                                                        <input class="Address1 input-more-width" /></li>
                                                    <li><span>Address 2: </span></li>
                                                    <li>
                                                        <input class="Address2 input-more-width" /></li>
                                                    <li><span>City: </span></li>
                                                    <li>
                                                        <input class="City" /></li>
                                                    <li><span>State: </span></li>
                                                    <li>
                                                        <input class="State" /></li>
                                                    <li><span>Zip: </span></li>
                                                    <li>
                                                        <input class="Zip" /></li>
                                                    <li><span>Country: </span></li>
                                                    <li>
                                                        <input class="country" /></li>
                                                </ul>
                                                <!--State (spelled out)-->
                                            </div>
                                        </div>
                                        <div id="special">
                                            <ul>
                                                <li>
                                                    <h2>
                                                        Special Needs</h2>
                                                </li>
                                                <li><span>Dietary Restrictions: </span>
                                                    <input class="dietaryRestrictions input-more-width" />
                                                </li>
                                                <li><span>Special Needs: </span>
                                                    <input class="specialNeeds input-more-width" />
                                                </li>
                                                <li>
                                                    <h2>
                                                        Frequent Flyer: </h2>
                                                </li>
                                                <li><span>Frequent Flyer Airline: </span>
                                                    <input class="FrequentFlyerAirline" />
                                                </li>
                                                <li><span>Frequent Flyer #: </span>
                                                    <input class="FrequentFlyerNum" />
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="medicalLicenses">
                                            <ul>
                                                <li><span>Medical License #1: </span>
                                                    <input class="medicalLicenses1" />
                                                </li>
                                                <li><span>Licensing State #1: </span>
                                                    <input class="medicalLicenseState1" />
                                                </li>
                                                <li><span>Medical License #2: </span>
                                                    <input class="medicalLicenses2" />
                                                </li>
                                                <li><span>Licensing State #2: </span>
                                                    <input class="medicalLicenseState2" />
                                                </li>
                                                <li><span>NPI # (10-digit): </span>
                                                    <input class="npi" />
                                                </li>
                                                <li><span>DEA #: </span>
                                                    <input class="dea" />
                                                </li>
                                                <li><span>ME #: </span>
                                                    <input class="meNumber" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="SideB" style="width: 100%;">
                                    <div class="Existing">
                                        <h3>KOL Data to Save</h3>
                                        <label>Notes:</label>
                                        <br/>
                                        <textarea cols='60' rows='4' class="notesB" disabled></textarea>
                                        <div class="SideBTabs">
                                            <form class="diffForm" action="/contacts/saveDiff" method="post">
                                            <ul>
                                                <li class="basic"><a href="#Existingbasic">Basic</a></li>
                                                <li class="contact"><a href="#ExistingContact">Contact</a></li>
                                                <li class="affiliations"><a href="#ExistingAffiliations">Affiliations</a></li>
                                                <li class="existingAddress"><a href="#ExistingAddress">Address</a></li>
                                                <li class="existingSpecial"><a href="#ExistingSpecial">Special</a></li>
                                                <li class="existingmedicalLicenses"><a href="#ExistingMedicalLicenses">Medical Licenses</a></li>
                                            </ul>
                                            <div id="Existingbasic">
                                                <input type="hidden" name="id" />
                                                <ul>
                                                    <input name="clientId" class="linkingToClientId" hidden/>
                                                    <input name="clientName" class="linkingToClientName" hidden/>

                                                    <li><span>Linked already to client(s):</span>
                                                        <input  class="linkedToClientName input-more-width" />
                                                    </li>
    
                                                    <li><span>Last Name: </span>
                                                        <input name="lastName" class="LastName" />
                                                    </li>
                                                    <li><span>Middle: </span>
                                                        <input name="middleName" class="MiddleName" />
                                                    </li>
                                                    <li><span>First Name: </span>
                                                        <input name="firstName" class="FirstName" />
                                                    </li>
                                                    <li><span>Suffix: </span>
                                                        <input name="suffix" class="Suffix" />
                                                    </li>
                                                    <li><span>Degrees: </span>
                                                        <input name="degrees" class="Degrees input-more-width" />
                                                    </li>
                                                    <li><span>Salutation: </span>
                                                        <input name="salutation" class="Salutation" />
                                                    </li>
                                                    <li><span>Therapeutic Area/Area(s) of Interest: </span>
                                                        <input name="therapeuticInterests" class="therapeuticInterests input-more-width" />
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><span>TSA: Name on Photo: </span>
                                                        <input name="tsaName" class="TsaName" />
                                                    </li>
                                                    <li><span>TSA: Gender: </span>
                                                        <input name="tsaGender" class="TsaGender" />
                                                    </li>
                                                    <li><span>TSA: Date of Birth (DOB): </span>
                                                        <input name="tsaDOB" class="TsaDOB" />
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li><span>Specialty 1: </span>
                                                        <input name="specialty[]" class="Specialty" />
                                                    </li>
                                                    <li><span>Specialty 2: </span>
                                                        <input name="specialty[]" class="Specialty" />
                                                    </li>
                                                    <li><span>Specialty 3: </span>
                                                        <input name="specialty[]" class="Specialty" />
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="ExistingContact">
                                                <div class="EmergencyContact">
                                                    <ul>
                                                        <li><span>Emergency Contact Name: </span>
                                                            <input name="emergencyContactName" class="EmergencyContactName" />
                                                        </li>
                                                        <li><span>Emergency Contact #:</span>
                                                            <input name="emergencyContactPhones" class="EmergencyContactPhone" />
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="EMailAdress">
                                                    <ul>
                                                        <li><span>Email: </span>
                                                            <input name="email[]" class="Email" />
                                                        </li>
                                                        <li>
                                                            <input name="preferredEmail[]" type="checkbox" class="PreferredEmail" />
                                                            <span>Preferred: </span> </li>
                                                    </ul>
                                                </div>
                                                <div class="PhoneNumbers">
                                                    <ul>
                                                        <li><span class="phoneType"></span>
                                                            <input name="phoneNumber[]" class="PhoneNumber" />
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ul>
                                                    <li>
                                                        <h2>
                                                            Office Staff Contact: </h2>
                                                    </li>
                                                    <li><span>Contact: </span>
                                                        <input name="officeStaffContact" class="officeStaffContact" />
                                                    </li>
                                                    <li><span>Email: </span>
                                                        <input name="officeStaffContactEmail" class="officeStaffContactEmail" />
                                                    </li>
                                                    <li><span>Tel #: </span>
                                                        <input name="officeStaffContactPhone" class="officeStaffContactPhone" />
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="ExistingAffiliations">
                                                <div class="Affiliations">
                                                    <ul>
                                                        <li><span>Affiliation: </span>
                                                            <input name="affiliation[]" class="Affiliation input-more-width" />
                                                        </li>
                                                        <li><span>Title: </span>
                                                            <input name="affiliationTitle[]" class="AffiliationTitle" />
                                                        </li>
                                                        <li><span>City: </span>
                                                            <input name="affiliationCity[]" class="AffiliationCity" />
                                                        </li>
                                                        <li><span>State: </span>
                                                            <input name="affiliationState[]" class="AffiliationState" />
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div id="ExistingAddress">
                                                <div class="Address">
                                                    <ul>
                                                        <li><span>Address Type: </span></li>
                                                        <li>
                                                            <input name="addressType[]" class="AddressType " /></li>
                                                        <li><span>Address 1: </span></li>
                                                        <li>
                                                            <input name="address1[]" class="Address1 input-more-width" /></li>
                                                        <li><span>Address 2: </span></li>
                                                        <li>
                                                            <input name="address2[]" class="Address2 input-more-width" /></li>
                                                        <li><span>City: </span></li>
                                                        <li>
                                                            <input name="city[]" class="City" /></li>
                                                        <li>
                                                            <input name="state[]" class="State" /></li>
                                                        <li><span>Zip: </span></li>
                                                        <li>
                                                            <input name="zip[]" class="Zip" /></li>
                                                        <li><span>Country: </span></li>
                                                        <li>
                                                            <input name="country[]" class="country" /></li>
                                                    </ul>
                                                    <!--State (spelled out)-->
                                                </div>
                                            </div>
                                            <div id="ExistingSpecial">
                                                <ul>
                                                    <li>
                                                        <h2>
                                                            Special Needs: </h2>
                                                    </li>
                                                    <li><span>Dietary Restrictions: </span>
                                                        <input name="dietaryRestrictions" class="dietaryRestrictions input-more-width" />
                                                    </li>
                                                    <li><span>Special Needs</span>
                                                        <input name="specialNeeds" class="specialNeeds input-more-width" />
                                                    </li>
                                                    <li>
                                                        <h2>
                                                            Frequent Flyer: </h2>
                                                    </li>
                                                    <li><span>Frequent Flyer Airline: </span>
                                                        <input name="frequentFlyerAirline" class="FrequentFlyerAirline" />
                                                    </li>
                                                    <li><span>Frequent Flyer #: </span>
                                                        <input name="frequentFlyerNum" class="FrequentFlyerNum" />
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="ExistingMedicalLicenses">
                                                <ul>
                                                    <li><span>Medical License #1: </span>
                                                        <input name="medicalLicenses[]" class="medicalLicenses1" />
                                                    </li>
                                                    <li><span>Licensing State #1: </span>
                                                        <input name="medicalLicenseState[]" class="medicalLicenseState1" />
                                                    </li>
                                                    <li><span>Medical License #2: </span>
                                                        <input name="medicalLicenses[]" class="medicalLicenses2" />
                                                    </li>
                                                    <li><span>Licensing State #2: </span>
                                                        <input name="medicalLicenseState[]" class="medicalLicenseState2" />
                                                    </li>
                                                    <li><span>NPI # (10-digit): </span>
                                                        <input name="npi" class="npi" />
                                                    </li>
                                                    <li><span>DEA #: </span>
                                                        <input name="dea" class="dea" />
                                                    </li>
                                                    <li><span>ME #: </span>
                                                        <input name="meNumber" class="meNumber" />
                                                    </li>
                                                </ul>
                                            </div>
                                            </form>
                                        </div>

                                        <input class="Save" type="button" value="Save" />
                                    </div>
                                </div>
                            </div>
                            <div id="diff">
                            </div>
                            <div style="clear: both">
                                &nbsp;</div>
                            <input id="PrevDiff" type="button" value="Prev" />
                            <input id="NextDiff" type="button" value="Next" />
                        </div>
                    </div>
                </div>
            </div> <!-- / panel-body -->
        </div> <!-- / panel -->
    </div> <!-- / col -->
</div> <!-- / row -->