<%- partial('app/views/components/dialogs/deleteSelected') %>

<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-6">
                <h3>KOLs</h3>
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                    <button class="btn btn-info" onclick="createNewContact()">Create New KOL <span class="glyphicon glyphicon-plus-sign"></span></button>
                    <button class="btn btn-info" onclick="importContacts()">Import KOLs <span class="glyphicon glyphicon-import"></span></button>
                    <button class="btn btn-info" onclick="exportContacts()">Export <span class="glyphicon glyphicon-import"></span></button>
                </div>
            </div>
        </div>
    </div> <!-- col -->
</div> <!-- / row -->

<% if (contacts && contacts.length > 0) {%>
   <%- partial('app/views/components/search/advancedSearch', {searchProperties: searchKolProperties, elementSearchArray:contacts, actionURL:'/contacts/search'}) %>
<% } %>

<div class="js-selection-container">
    <div class="row row-space-xs">
        <div class="col-xs-12">
             <div class="form-inline">
                <label>Display </label>
                <select class="form-control" name="client">
                   <option selected>All Clients</option>
                   <% if(clients) { %>
                      <% for(var index in clients) { %>
                         <option value="<%= clients[index].id; %>"><%= clients[index].name; %></option>
                      <% } %>
                   <% } %>
                </select>
                <% if (session.get('userId') && ( (session.get('userRoleId') == geddy.constants.roles.SUPER_ADMIN.label ) ) ){ %>
                    <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
                <%}%>
             </div>
       </div> <!-- col -->
    </div> <!-- row -->

    <div class="row">
        <div class="col-xs-12">
            <div class="table-sorter-wrapper">
                <table class="mainTable">
                    <thead>
                        <tr class="info">
                            <th class="filter-false sorter-false" data-bind="&lt;input type='checkbox' name='selectedContacts[]' value='{id}'/&gt;">
                                <input type="checkbox" class="selectall" />
                            </th>
                            <th data-bind="{lastName}">Last Name</th>
                            <th data-bind="{firstName}">First Name</th>
                            <th data-bind="{specialties.*}">Specialty</th>
                            <th data-bind="{affiliations.*.affiliationName}">Affiliation</th>
                            <th data-bind="{addresses[0].city}">City</th>
                            <th data-bind="{addresses[0].state}">State</th>
                            <th data-bind="{addresses[0].postalCode}">Postal Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if(contacts){%>
                            <% for (var i = 0, ii = contacts.length; i < ii; i++) { %>
                            <tr>
                                <td class="checkBoxTd">
                                    <input type="checkbox" name="selectedContacts[]" class="selectElement" value="<%=contacts[i].id%>" />
                                </td>
                                <td>
                                    <%=contacts[i].lastName%>
                                </td>
                                <td>
                                    <%=contacts[i].firstName%>
                                </td>
                                <td>
                                    <% if (contacts[i].specialties) {%>
                                    <% for (var j=0,  jj = contacts[i].specialties.length; j < jj; j++) { %>
                                    <%=contacts[i].specialties[j]%>
                                    <br />
                                    <% } %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (contacts[i].affiliations) {%>
                                    <% for (var j=0,  jj = contacts[i].affiliations.length; j < jj; j++) { %>
                                    <%=contacts[i].affiliations[j].affiliationName%>
                                    <br />
                                    <% } %>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (contacts[i].addresses) {%>
                                    <%=contacts[i].addresses[0].city%>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (contacts[i].addresses) {%>
                                    <%=contacts[i].addresses[0].state%>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (contacts[i].addresses && contacts[i].addresses[0].postalCode) { %>
                                        <%=contacts[i].addresses[0].postalCode%>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                        <%}%>
                    </tbody>
                </table>
            </div>
            <%- partial('app/views/components/pagination/paginationControl',{backPageFunction:'getElementListByPage',
               nextPageFunction:'getElementListByPage',
               currentPage:currentPage,
               totalPages:totalPages,
            }) %>
        </div>
    </div> <!-- table -->
</div>
