<%- partial('app/views/components/dialogs/linkToClient', {clients:clients, displayEdit: displayEdit}) %>

<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-6">
                <h3>KOL Details</h3>
            </div>
            <div class="col-xs-6" <%if (displayEdit == false) {%> hidden <%}%>>
                <div class="pull-right">
                    <button id="editContactBtn" class="btn btn-info" <% if (editing == true){%> disabled <%}%>>Edit <span class="glyphicon glyphicon-pencil"></span></button>
                    <button id="exportContactBtn" class="btn btn-info">Export <span class="glyphicon glyphicon-export"></span></button>
                    <button id="linkToClientBtn" class="btn btn-info">Link to Another Client <span class="glyphicon glyphicon-link"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-space-md row-separator">

     <div class="col-md-2">
        <img class="img-rounded show-profile-photo" id="contactImg" data-pathToFile="<% if (currentContact.photos && currentContact.photos.length > 0) {%><%=currentContact.photos[0].pathToFile%><%}%>"  width="125" height="125" />
    </div> <!-- col -->

    <div class="col-md-10">
        <h3>
            <%if(currentContact.salutation) {%>
                <strong><%=currentContact.salutation%></strong>
            <%}%>
            <%=currentContact.firstName%>
            <%=currentContact.middleName%>
            <%=currentContact.lastName%>
            <%=currentContact.suffix%>
        </h3>
        <h4>
        <%if (currentContact.degrees && currentContact.degrees.length) {%>
            <%for (var index in currentContact.degrees) {%>
                <span class="badge alert-warning"><%=currentContact.degrees[index]%></span><%if (index < currentContact.degrees.length - 1) {%>,<%}%>
            <%}%>
            <%if (currentContact.otherDegree) {%>
                <span class="badge alert-warning"><%=currentContact.otherDegree%></span>
            <%}%>
        <%}%>
        </h4>
        <h6 class="text-muted show-modified"><strong>Last Modified: </strong><%if (currentContact.updatedAt) {%><%=currentContact.updatedAt.toLocaleDateString()%><%}%></h6>
        <% if (editing) {%><h6 class="text-muted show-modified"><strong>Currently being edited by: </strong><%= editor %></h6><%}%>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator" <%if (displayLinks == false) {%> hidden <%}%>>
    <div class="col-xs-12">
        <h3>Linked to Clients</h3>
        <%if (currentContact.clients && currentContact.clients.length > 0) {
            for(var index in currentContact.clients) {%>
                <ul class="pull-left img-rounded card">
                    <li><strong><%=currentContact.clients[index].name%></strong></li>
                </ul>
            <%}%>
        <%}%>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">
        <h3>Affiliations</h3>
        <%if (currentContact.affiliations && currentContact.affiliations.length > 0) {
            for(var index in currentContact.affiliations) {%>
                <ul class="pull-left img-rounded card">
                    <li><strong><%=currentContact.affiliations[index].affiliationName%></strong></li>
                    <li><%=currentContact.affiliations[index].title%></li>
                    <li><%=currentContact.affiliations[index].city%>, <%=currentContact.affiliations[index].postalCode%> <%=currentContact.affiliations[index].state%></li>
                </ul>
            <%}%>
        <%} else {%>
            <h4><span class="label label-default">No Affiliations information available</span></h4>
        <%}%>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">
         <h3>Contact Information</h3>
         <%if (currentContact && currentContact.emailAddresses && currentContact.emailAddresses.length > 0) {%>
             <ul class="pull-left img-rounded card">
                 <li><strong>Email</strong></li>
                 <%for (var index in currentContact.emailAddresses) {%>
                     <li><a href='mailto:<%=currentContact.emailAddresses[index].email%>'><%=currentContact.emailAddresses[index].email%></a></li>
                 <%}%>
             </ul>
         <%} else {%>
             <h4><span class="label label-default">No Email information available</span></h4>
         <%}%>

        <%if (currentContact.phoneNumbers && currentContact.phoneNumbers.length > 0) {%>
            <ul class="pull-left img-rounded card">
                <li><strong>Contact Number</strong></li>
            <%for (var index in currentContact.phoneNumbers) {%>
                <li><%=currentContact.phoneNumbers[index].phoneType%>: <%=currentContact.phoneNumbers[index].number%></li>
            <%}%>
            </ul>
        <%} else {%>
            <h4><span class="label label-default">No Phone Number information available</span></h4>
        <%}%>

        <%if (currentContact.addresses && currentContact.addresses.length > 0) {%>
            <ul class="pull-left img-rounded card">
                <li><strong>Address</strong></li>
                <%for (var index in currentContact.addresses) {%>
                    <li><strong><%=currentContact.addresses[index].addressType%></strong></li>
                    <li><%=currentContact.addresses[index].address1%></li>
                    <%if (currentContact.addresses[index].address2) {%>
                    <li><%= currentContact.addresses[index].address2 %></li>
                    <%}%>
                    <li><%=currentContact.addresses[index].city%>, <%=currentContact.addresses[index].state%>  <%=currentContact.addresses[index].postalCode%></li>
                    <%if (currentContact.addresses[index].international) {%>
                    <li><%=currentContact.addresses[index].country%></li>
                    <%}%>
                <%}%>
            </ul>
        <%} else {%>
            <h4><span class="label label-default">No Address information available</span></h4>
        <%}%>

    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">
        <h3>Office Staff Contact</h3>
        <%if (currentContact && currentContact.officeStaffContact) {%>
        <ul class="pull-left img-rounded card">
            <li><strong><%= currentContact.officeStaffContact[0].fullName %> - <%= currentContact.officeStaffContact[0].title %></strong></li>
            <li>Email: <%= currentContact.officeStaffContact[0].email %></li>
            <%if (currentContact.officeStaffContact[0].phoneNumbers && currentContact.officeStaffContact[0].phoneNumbers.length > 0) {%>
                <%for (var index in currentContact.officeStaffContact[0].phoneNumbers) {%>
                    <p><%= currentContact.officeStaffContact[0].phoneNumbers[index].phoneType %> : <%= currentContact.officeStaffContact[0].phoneNumbers[index].number %></li>
                <%}%>
            <%}%>
        </ul>
        <%} else {%>
            <h4><span class="label label-default">No office staff contact information available</span></h4>
        <%}%>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">
        <h3>Emergency Contact</h3>
        <%if (currentContact && currentContact.emergencyContacts && currentContact.emergencyContacts.length > 0) {%>
            <%for (var index in currentContact.emergencyContacts) {%>
                <ul class="pull-left img-rounded card">
                    <li><strong><%=currentContact.emergencyContacts[index].fullName %> - <%=currentContact.emergencyContacts[index].relationship%></strong></li>
                    <%if (currentContact.emergencyContacts[index].email){%>
                        <li>Email: <%=currentContact.emergencyContacts[index].email%></li>
                    <% } %>
                    <%if (currentContact.emergencyContacts[index].phoneNumbers && currentContact.emergencyContacts[index].phoneNumbers.length > 0) {%>
                        <li><%=currentContact.emergencyContacts[index].phoneNumbers[0].phoneType%>: <%=currentContact.emergencyContacts[index].phoneNumbers[0].number%></li>
                    <%}%>
                </ul>
            <%}%>
        <%} else {%>
            <h4><span class="label label-default">No emergency contact information available</span></h4>
        <%}%>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">
        <h3>Associated Field Force</h3>
        <%if (reps && reps.length > 0) {%>
            <%for (var index in reps) {%>
                <ul class="pull-left img-rounded card">
                        <li><strong><%= reps[index].firstName %> <%= reps[index].lastName %></strong></li>
                        <li>Client 1</li>
                        <%for (var emailIndex in reps[index].emailAddresses) {%>
                            <li>Email: <%= reps[index].emailAddresses[emailIndex].email %></li>
                        <%}%>
                        <%for (var phoneIndex in reps[index].phoneNumbers) {%>
                            <li><%= reps[index].phoneNumbers[phoneIndex].phoneType%> Number: <%= reps[index].phoneNumbers[phoneIndex].number %></li>
                        <%}%>
                </ul>
            <%}%>
        <%} else {%>
            <h4><span class="label label-default">No associated field force information available</span></h4>
        <%}%>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">
        <h3>Specialties</h3>
        <%if (currentContact.specialties && currentContact.specialties.length > 0){
            for(var index in currentContact.specialties) {%>
                <ul class="pull-left img-rounded card">
                    <li><%=currentContact.specialties[index]%></li>
                </ul>
            <% }
        } else {%>
            <h4><span class="label label-default">No specialities information available</span></h4>
        <%}%>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">
        <h3>Therapeutic Interests</h3>
        <%if (currentContact.therapeuticInterests && currentContact.therapeuticInterests.length > 0){
            for(var index in currentContact.therapeuticInterests) {%>
                <ul class="pull-left img-rounded card">
                    <li><%=currentContact.therapeuticInterests[index]%></li>
                </ul>
            <% }
        } else {%>
            <h4><span class="label label-default">No therapeutic interests information available</span></h4>
      <%}%>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">
        <h3>US Medical Licenses</h3>
        <%if (currentContact.medicalLicenses && currentContact.medicalLicenses.length > 0){
            for(var index in currentContact.medicalLicenses) {%>
                <ul class="pull-left img-rounded card">
                    <li><%=currentContact.medicalLicenses[index].number%> - <%=currentContact.medicalLicenses[index].state%></li>
                </ul>
            <% }
        } else {%>
            <h4><span class="label label-default">No medical license information available</span></h4>
        <%}%>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">
    <h3>Other Medical Licenses</h3>
    <%if (currentContact.otherMedicalLicenses && currentContact.otherMedicalLicenses.length > 0){
        for(var index in currentContact.otherMedicalLicenses) {%>
            <ul class="pull-left img-rounded card">
                <li><%=currentContact.otherMedicalLicenses[index].number%> - <%=currentContact.otherMedicalLicenses[index].otherMedicalLicenseType%></li>
            </ul>
        <% }
        } else {%>
            <h4><span class="label label-default">No medical license information available</span></h4>
        <%}%>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row">
    <div class="col-xs-12">
        <h3>Other Information</h3>

        <ul class="pull-left img-rounded card">
            <li><strong>DEA: </strong>
            <%if (currentContact && currentContact.dea) {%>
                <%=currentContact.dea%>
            <%} else {%>
                N/A
            <%}%>
            </li>
        </ul> <!-- / col -->

        <ul class="pull-left img-rounded card">
            <li><strong>NPI: </strong>
            <%if (currentContact && currentContact.npi) {%>
                <%=currentContact.npi%>
            <%} else {%>
                N/A
            <%}%>
            </li>
        </ul> <!-- / col -->

        <ul class="pull-left img-rounded card <%if (displayEdit == false) {%> hidden <%}%>">
            <li><strong>Quickbooks Name: </strong>
            <%if (currentContact && currentContact.quickbooksName) {%>
                <%=currentContact.quickbooksName%>
            <%} else {%>
                N/A
            <%}%>
            </li>
        </ul> <!-- / col -->

        <ul class="pull-left img-rounded card">
            <li><strong>Taxonomy Code: </strong>
            <%if (currentContact && currentContact.taxonomyCode) {%>
                <%=currentContact.taxonomyCode%>
            <%} else {%>
                N/A
            <%}%>
            </li>
        </ul> <!-- / col -->

    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator" <%if (displayEdit == false) {%> hidden <%}%>>
    <div class="col-xs-12">
        <ul class="pull-left img-rounded card">
            <li><strong>Notes (CRG only): </strong>
            <%if (currentContact && currentContact.notes) {%>
                <%=currentContact.notes%><br/>
            <%} else {%>
                N/A
            <%}%>
            </li>
        </ul>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">
        <h3>Traveling Information</h3>
    </div> <!-- / col -->

    <div class="col-xs-6">
        <p><strong>Airlines</strong></p>
        <%if (currentContact && currentContact.airlines) {%>
            <%for (var index in currentContact.airlines) {%>
                <ul class="pull-left img-rounded card">
                    <li>Airline: <%=currentContact.airlines[index].airlineName %></li>
                    <li>Frequent Flyer #: <%=currentContact.airlines[index].ffNumber %></li>
                </ul>
            <%}%>
        <%} else {%>
            <h4><span class="label label-default">No information available</span></h4>
        <%}%>
    </div> <!-- / col -->

    <div class="col-xs-6">
        <p><strong>Hotels</strong></p>
        <%if (currentContact && currentContact.hotels) {%>
            <%for (var index in currentContact.hotels) {%>
                <ul class="pull-left img-rounded card">
                    <li>Hotel: <%=currentContact.hotels[index].hotelName %></li>
                    <li>Rewards #: <%=currentContact.hotels[index].rewardsNumber %></li>
                </ul>
            <%}%>
        <%} else {%>
            <h4><span class="label label-default">No information available</span></h4>
        <%}%>
    </div> <!-- / col -->

</div> <!-- / row -->

<div class="row">
    <div class="col-xs-12">

        <h3>TSA Information</h3>

        <ul class="pull-left img-rounded card">
            <li><strong>Name: </strong>
            <%if (currentContact && currentContact.tsaName) {%>
                <%= currentContact.tsaName %>
            <%} else {%>
                N/A
            <%}%>
            </li>
        </ul> <!-- / col -->

        <ul class="pull-left img-rounded card">
            <li><strong>Date of Birth: </strong>
            <%if (currentContact && currentContact.tsaDOB) {%>
                <%= currentContact.tsaDOB %>
            <%} else {%>
                N/A
            <%}%>
            </li>
        </ul> <!-- / col -->

        <ul class="pull-left img-rounded card">
            <li><strong>Gender: </strong>
            <%if (currentContact && currentContact.tsaGender) {%>
                <%= currentContact.tsaGender %>
            <%} else {%>
                N/A
            <%}%>
            </li>
        </ul> <!-- / col -->

    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-xs-12">

        <%if (currentContact && currentContact.passports) {%>
            <%for (var index in currentContact.passports) {%>
                <ul class="pull-left img-rounded card">
                    <li><strong>Passport #: </strong><%=currentContact.passports[index].number %></li>
                    <li><strong>Expiration Date: </strong><%=currentContact.passports[index].expirationDate %></li>
                    <li><strong>Country of Issuance: </strong><%=currentContact.passports[index].country %></li>
                </ul>
            <%}%>
        <%} else {%>
            <h4><span class="label label-default">No passport information available</span></h4>
        <%}%>

    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">
    <div class="col-md-6">
        <h3>Dietary Restrictions</h3>
        <%if (currentContact && currentContact.dietaryRestrictions) {%>
            <ul class="pull-left img-rounded card">
                <li><%=currentContact.dietaryRestrictions %></li>
            </ul>
        <%} else {%>
            <h4><span class="label label-default">No information available</h4></span>
        <%}%>
    </div> <!-- / col -->
    <div class="col-md-6">
        <h3>Special Needs</h3>
        <%if (currentContact && currentContact.specialNeeds) {%>
            <ul class="pull-left img-rounded card">
                <li><%=currentContact.specialNeeds %></li>
            </ul>
        <%} else {%>
            <h4><span class="label label-default">No information available</h4></span>
        <%}%>
    </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-md row-separator">

    <div class="col-md-12">
        <h3>Uploaded Documents</h3>
    </div> <!-- / col -->

    <div class="col-md-12">
        <p><strong>CV</strong></p>
        <%if (currentContact.cvs && currentContact.cvs.length > 0) {%>
            <table class="mainTable">
                <thead>
                    <tr class="info">
                        <th><span>Name</span></th>
                        <th><span>File Name</span></th>
                        <th><span>Date Uploaded</span></th>
                    </tr>
                </thead>
                <tbody>
                    <%for (var i = 0, ii = currentContact.cvs.length; i < ii; i++) {%>
                        <tr>
                            <td><%= currentContact.cvs[i].name%></td>
                            <td class='js-filePath' data-path="<%=currentContact.cvs[i].pathToFile%>"><%= currentContact.cvs[i].pathToFile.slice(currentContact.cvs[i].pathToFile.lastIndexOf('/') + 1, currentContact.cvs[i].pathToFile.length)%></td>
                            <td><%= currentContact.cvs[i].createdAt.toLocaleDateString()%></td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        <%} else {%>
            <h4><span class="label label-default">No documents available</span></h4>
        <%}%>
    </div> <!-- / col -->

    <div class="col-md-12">
        <p><strong>Bio</strong></p>
        <%if (currentContact.bios && currentContact.bios.length > 0) {%>
            <table class="mainTable">
                <thead>
                    <tr class="info">
                        <th><span>Name</span></th>
                        <th><span>File Name</span></th>
                        <th><span>Date Uploaded</span></th>
                    </tr>
                </thead>
                <tbody>
                    <%for (var i = 0, ii = currentContact.bios.length; i < ii; i++) {%>
                        <tr>
                            <td><%= currentContact.bios[i].name%></td>
                            <td class='js-filePath' data-path="<%=currentContact.bios[i].pathToFile%>"><%= currentContact.bios[i].pathToFile.slice(currentContact.bios[i].pathToFile.lastIndexOf('/') + 1, currentContact.bios[i].pathToFile.length)%></td>
                            <td><%= currentContact.bios[i].createdAt.toLocaleDateString()%></td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        <%} else {%>
            <h4><span class="label label-default">No documents available</span></h4>
        <%}%>
    </div> <!-- / col -->

    <div class="col-md-12">
        <p><strong>Fact Sheet</strong></p>
        <%if (currentContact.factSheets && currentContact.factSheets.length > 0) {%>
            <table class="mainTable">
                <thead>
                    <tr class="info">
                        <th><span>Name</span></th>
                        <th><span>File Name</span></th>
                        <th><span>Date Uploaded</span></th>
                    </tr>
                </thead>
                <tbody>
                    <%for (var i = 0, ii = currentContact.factSheets.length; i < ii; i++) {%>
                        <tr>
                            <td><%= currentContact.factSheets[i].name%></td>
                            <td class='js-filePath' data-path="<%=currentContact.factSheets[i].pathToFile%>"><%= currentContact.factSheets[i].pathToFile.slice(currentContact.factSheets[i].pathToFile.lastIndexOf('/') + 1, currentContact.factSheets[i].pathToFile.length)%></td>
                            <td><%= currentContact.factSheets[i].createdAt.toLocaleDateString()%></td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        <%} else {%>
            <h4><span class="label label-default">No documents available</span></h4>
        <%}%>
    </div> <!-- / col -->

    <div class="col-md-12">
        <p><strong>W9 / W8</strong></p>
        <%if (currentContact.taxForms && currentContact.taxForms.length > 0) {%>
            <table class="mainTable">
                <thead>
                    <tr class="info">
                        <th><span>Name</span></th>
                        <th><span>File Name</span></th>
                        <th><span>Date Uploaded</span></th>
                    </tr>
                </thead>
                <tbody>
                    <%for (var i = 0, ii = currentContact.taxForms.length; i < ii; i++) {%>
                        <tr>
                            <td><%= currentContact.taxForms[i].name%></td>
                            <td class='js-filePath' data-path="<%=currentContact.taxForms[i].uploadedFile[0].pathToFile%>"><%= currentContact.taxForms[i].uploadedFile[0].pathToFile.slice(currentContact.taxForms[i].uploadedFile[0].pathToFile.lastIndexOf('/') + 1, currentContact.taxForms[i].uploadedFile[0].pathToFile.length)%></td>
                            <td><%= currentContact.taxForms[i].createdAt.toLocaleDateString()%></td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        <%} else {%>
            <h4><span class="label label-default">No documents available</span></h4>
        <%}%>
    </div> <!-- / col -->

    <div class="col-md-12">
        <p><strong>Contracts</strong></p>
        <%if (contracts && contracts.length > 0) {%>
            <%for (var i=0; i < contracts.length; i++) {%>
                <table class="mainTable">
                    <thead>
                        <tr class="info">
                            <th><span>Status</span></th>
                            <th><span>File Name</span></th>
                            <th><span>Date Uploaded</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for (var i = 0, ii = contracts.length; i < ii; i++) {%>
                            <tr>
                                <td><%if (contracts[i].status) {%><%= contracts[i].status%><%} else {%> N/A<%}%></td>
                                <%if(contracts[i].contractFile) {%>
                                    <td class='js-filePath' data-path="<%=contracts[i].contractFile[0].pathToFile%>"><%= contracts[i].contractFile[0].pathToFile.slice(contracts[i].contractFile[0].pathToFile.lastIndexOf('/') + 1, contracts[i].contractFile[0].pathToFile.length)%></td>
                                <%} else {%>
                                    <td> No file uploaded </td>
                                <%}%>
                                <td><%= contracts[i].createdAt.toLocaleDateString()%></td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            <%}%>
        <%} else {%>
            <h4><span class="label label-default">No documents available</span></h4>
        <%}%>
    </div> <!-- / col -->

</div> <!-- / row -->