<div class="control-group">
  <label for="contactTypeName" class="control-label">contactTypeName</label>
  <div class="controls">
    <%- contentTag('input', contactType.contactTypeName, {type:'text', class:'span6', name:'contactTypeName'}) %>
  </div>
</div>
