<div class="hero-unit">
  <h2>All ContactTypes</h2>
  <%- linkTo('Create a new ContactType', addContactTypePath, {class: 'btn pull-right'}); %>
</div>

<div id="contactTypes-list">
<% if (contactTypes) { %>
<% for (var i = 0, ii = contactTypes.length; i < ii; i++) { %>
  <div class="row list-item" id="contactType-<%= contactTypes[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(contactTypes[i].contactTypeName, contactTypePath(contactTypes[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= contactTypes[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>