<div class="hero-unit">
  <h2 class="contactTypeName"><%= contactType.contactTypeName %></h2>
  <%- linkTo('Edit this contactType', editContactTypePath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', contactTypePath(''), {class: 'btn pull-right'}); %>
</div>

<h2>ContactType Properties</h2>
<% for(var i in contactType) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= contactType[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>