<div class="row">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-6">
                <h3>Export KOLs</h3>
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                    <button class="btn btn-info" onclick="exportContactsOnly()">Export KOLs <span class="glyphicon glyphicon-export"></span></button>
                    <button class="btn btn-info" onclick="exportAttendeesOnly()">Export Attendees <span class="glyphicon glyphicon-export"></span></button>
                </div>
            </div>
        </div>
    </div> <!-- col -->
</div> <!-- / row -->

<div class="js-selection-container">
    <div class="row row-space-xs">
        <div class="col-xs-12">
             <div class="form-inline">
                <label>Display </label>
                <select class="form-control" name="client">
                   <% if(clients) { %>
                      <% for(var index in clients) { %>
                         <option value="<%= clients[index].id; %>"><%= clients[index].name; %></option>
                      <% } %>
                   <% } %>
                </select>
             </div>
       </div> <!-- col -->
    </div> <!-- row -->
</div>