<h2>Error: <%= statusCode %> <%= statusText %></h2>
<% if (stack) { %>

   <li class="logout"><span class="glyphicon glyphicon-remove"></span> <%- linkTo('Log Out', logoutPath) %></li>

<code><%= stack %></code>
<% } else if (typeof message != 'undefined') { %>
<code><%= message %></code>
<% } %>

