<!--STUTZENV3-->
<div class="row ">
    <div class="col-xs-12">
        <div class="row alert alert-info">
            <div class="col-xs-10">
                <h3>Home</h3>
            </div>
        </div>
    </div>
</div>

<div class="row speakers ">

    <div class="col-md-12 ">
        <div class="row ">
            <div class="col-sm-12 ">

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Filters</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <div class="row ">
                                <div class="col-sm-2 element-options ">
                                    <select class="form-control selecelem">
                                        <option  value="0">Select Type:</option>
                                        <option <%=params.type==1?'selected':''%> value="1">KOL</option>
                                        <option <%=params.type==2?'selected':''%> value="2">Client</option>
                                        <option <%=params.type==3?'selected':''%> value="3">User</option>
                                        <option <%=params.type==4?'selected':''%> value="4">Program</option>
                                    </select>
                                </div>
<% if (params.type==1) {%>
                                <div class="col-sm-10">
                                    <div class="row ">
                                        <div class="col-sm-12 ">
   <%- partial('app/views/components/search/advancedSearch', {searchProperties: searchKOLProperties, elementSearchArray:[{}], actionURL:'/contacts/search'}) %>
                                        </div>
                                    </div>
                                </div>
<% } %>
<% if (params.type==2) {%>
                                <div class="col-sm-10">
                                    <div class="row ">
                                        <div class="col-sm-12 ">
   <%- partial('app/views/components/search/advancedSearch', {searchProperties: searchClientProperties , elementSearchArray:[{}], actionURL:'/clients/search'}) %>
                                        </div>
                                    </div>
                                </div>
<% } %>
<% if (params.type==3) {%>
                                <div class="col-sm-10">
                                    <div class="row ">
                                        <div class="col-sm-12 ">
   <%- partial('app/views/components/search/advancedSearch', {searchProperties: searchUserProperties, elementSearchArray:[{}], actionURL:'/users/search'}) %>
                                        </div>
                                    </div>
                                </div>
<% } %>
<% if (params.type==4) {%>
                                <div class="col-sm-10">
                                    <div class="row ">
                                        <div class="col-sm-12 ">
   <%- partial('app/views/components/search/advancedSearch', {searchProperties: searchProgramProperties, elementSearchArray:[{}], actionURL:'/programs/search'}) %>
                                        </div>
                                    </div>
                                </div>
<% } %>
                               
                            </div>
                        </div>
                    </div> <!-- / panel-body -->
                </div> <!-- / panel -->


            </div>
        </div>
        <div class="js-selection-container">

            <!-- Table -->
            <div class="row">
                <div class="col-xs-12 ">
                    <table class="mainTable">
           <thead>
              <tr class="info">
<% if (params.type==1) {%>
<th class="filter-false sorter-false" data-bind="<input type='checkbox' class='selectElement' style='display:none;' value='{id}'/>"> </th>
                    <th data-bind="{lastName}">Last Name</th>
                    <th data-bind="{firstName}">First Name</th>
                    <th data-bind="{specialties.*}">Specialty</th>
                    <th data-bind="{affiliations.*.affiliationName}">Affiliation</th>
                    <th data-bind="{addresses[0].city}">City</th>
                    <th data-bind="{addresses[0].state}">State</th>
                    <th data-bind="{addresses[0].postalCode}">Postal Code</th>
<% } %>
<% if (params.type==2) {%>
                    <th class="filter-false sorter-false" data-bind="<input type='checkbox' class='selectElement' style='display:none;' value='{id}'/>"> </th>
                    <th data-bind="{name}">Client Name</th>
                    <th data-bind="{crgBusinessDevelopmentName}">CRG Business Development</th>
                    <th data-bind="{products.*.productName}">Products</th>
                    <th data-bind="{addresses[0].address1}">Address</th>
                    <th data-bind="{addresses[0].city}">City</th>
                    <th data-bind="{addresses[0].state}">State</th>
                    <th data-bind="{addresses[0].postalCode}">Postal Code</th>
                    <th data-bind="{crgPrefixCode}">CRG Prefix Code</th>
<% } %>
<% if (params.type==3) {%>
                    <th class="filter-false sorter-false" data-bind="<input type='checkbox' class='selectElement' style='display:none;' value='{id}'/>"> </th>
                    <th data-bind="{roleId}">Role</th>
                    <th data-bind="{lastName}">Last Name</th>
                    <th data-bind="{firstName}">First Name</th>
                    <th data-bind="{email}">Email</th>
                    <th data-bind="{state}">Status</th>
<% } %>
<% if (params.type==4) {%>
                <th class="filter-false sorter-false" data-bind="<input type='checkbox' class='selectElement' style='display:none;' value='{id}'/>"> </th>
                <th data-bind="{programName}">Program Name</th>
                <th data-bind="{businessOwnerName}">Business Owner</th>
                <th data-bind="{programTypeName}">Type</th>
                <th data-bind="{name}">Date of Next Event</th>
                <th data-bind="{poNumber}">PO Number</th>
                <th data-bind="{crgJobNumber}">CRG Job Code</th>
<% } %>

              </tr>
           </thead>
           <tbody>
           </tbody>
        </table>
                </div>
                <%- partial('app/views/components/pagination/paginationControl',{backPageFunction:'getElementListByPage',
      nextPageFunction:'getElementListByPage',
      currentPage:currentPage,
      totalPages:totalPages,
       }) %>
            </div>
        </div>


    </div> <!-- / col -->
</div> <!-- / row -->




<style type="text/css">
    .nav-tabs .close-ico {}
    .nav-tabs .close-active {display: none;}
    .nav-tabs li.active .close-active {display: inline-block;}
    .nav-tabs li.active .close-ico {display: none;}
    .nav-tabs li.dash.func {display: block;}

    .img {}

    .row.func {display: none;}
    .row.func.show {display: block;}
    .col-sm-2-5  {    width: 20%; float: left; padding: 0 10px 10px; }
    .nav .func {display: none;}
    .nav .func.show {display: block;}

    /*.panel-body .col-sm-2-5 {display: none;}*/
    .panel-body .col-sm-2-5.search-btn {display: block;}

</style>

