<%- partial('app/views/components/dialogs/deleteSelected') %>
<%- partial('app/views/components/dialogs/uploadFile') %>

<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-10">
            <h3><%= currentClient.name%> - Resources %></h3>
        </div>
    </div>
</div>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning js-resource-container">
         <div class="panel-heading">
            <h3 class="panel-title">KOL Resources</h3>
            <div class="pull-right">
               <button type="button" class="btn btn-info btn-xs" onClick="createNewClientResource(this,'kolResources','<%= currentClient.id%>')">
                  Upload New Resource
                  <span class="glyphicon glyphicon-upload"></span>
               </button>
            </div>
          </div>
            <div class="panel-body">
              <div class="form-inline js-selection-container">
                <div class="row row-space-xs">
                  <div class="col-xs-12">
                     <button id="deleteKolResourceButton" type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
                  </div>
                </div>

                <table class="mainTable">
                   <thead>
                      <tr class="info">
                        <th class="filter-false sorter-false"><input type="checkbox" class="selectall"/></th>
                        <th><span>Name</span></th>
                        <th><span>File Name</span></th>
                        <th><span>Notes</span></th>
                        <th><span>Date Uploaded</span></th>
                      </tr>
                   </thead>
                   <tbody>
                    <% if (currentClient.kolResources && currentClient.kolResources.length > 0) { %>
                      <% for (var i = 0, ii = currentClient.kolResources.length; i < ii; i++) { %>
                      <tr>
                        <!-- currentClient.kolResources[i].pathToFile %>" -->
                        <td class="checkBoxTd" data-path="<%=currentClient.kolResources[i].pathToFile%>" data-displayName='<%=currentClient.kolResources[i].name%>'>
                          <input type="checkbox"  class="selectElement" value="<%=i%>"/> 
                        </td>
                        <td>
                           <% if (currentClient.kolResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= currentClient.kolResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentClient.kolResources[i].name%></a>
                          <%} else {%>
                            <%= currentClient.kolResources[i].name%>
                          <%}%>
                        </td>

                        <td>
                           <% if (currentClient.kolResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= currentClient.kolResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentClient.kolResources[i].pathToFile.slice(currentClient.kolResources[i].pathToFile.lastIndexOf('/') + 1, currentClient.kolResources[i].pathToFile.length)%></a>
                          <%} else {%>
                           <%= currentClient.kolResources[i].pathToFile.slice(currentClient.kolResources[i].pathToFile.lastIndexOf('/') + 1, currentClient.kolResources[i].pathToFile.length)%>
                          <%}%>
                        </td>
                        <td>
                          <% if (currentClient.kolResources[i].pathToFile.indexOf('.key') != -1){ %>
                            <a href="<%= currentClient.kolResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentClient.kolResources[i].notes%></a>
                          <%} else {%>
                            <%= currentClient.kolResources[i].notes%>
                          <%}%>
                        </td>
                        <td>
                           <% if (currentClient.kolResources[i].pathToFile.indexOf('.key') != -1){ %>
                            <a href="<%= currentClient.kolResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentClient.kolResources[i].createdAt.toLocaleDateString()%></a>
                          <%} else {%>
                           <%= currentClient.kolResources[i].createdAt.toLocaleDateString()%>
                          <%}%>
                        </td>
                       </tr>
                      <%}%>
                    <%}%>
                   </tbody>
                </table>
              </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->


<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning js-resource-container">
         <div class="panel-heading">
            <h3 class="panel-title">Field Force Resources</h3>
            <div class="pull-right">
               <button type="button" class="btn btn-info btn-xs" onClick="createNewClientResource(this,'repResources','<%= currentClient.id%>')">
                  Upload New Resource
                  <span class="glyphicon glyphicon-upload"></span>
               </button>
            </div>
          </div>
            <div class="panel-body">
              <div class="form-inline js-selection-container">

                <div class="row row-space-xs">
                     <div class="col-xs-12">
                        <button id="deleteRepResourceButton" type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
                        <br></br>
                     </div>
                </div>

                <table class="mainTable">
                   <thead>
                      <tr class="info">
                        <th class="filter-false sorter-false"><input type="checkbox" class="selectall"/></th>
                        <th><span>Name</span></th>
                        <th><span>File Name</span></th>
                        <th><span>Notes</span></th>
                        <th><span>Date Uploaded</span></th>
                      </tr>
                   </thead>
                   <tbody>
                    <% if (currentClient.repResources && currentClient.repResources.length > 0) { %>
                      <% for (var i = 0, ii = currentClient.repResources.length; i < ii; i++) { %>
                      <tr>
                        <td class="checkBoxTd" data-path="<%= currentClient.repResources[i].pathToFile %>" data-displayName='<%=currentClient.repResources[i].name%>'>
                          <input type="checkbox" class="selectElement"  value="<%=i%>"/> 
                        </td>
                        <td>
                          <% if (currentClient.repResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= currentClient.repResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentClient.repResources[i].name%></a>
                          <%} else {%>
                            <%= currentClient.repResources[i].name%>
                          <%}%>
                        </td>
                        <td>
                           <% if (currentClient.repResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= currentClient.repResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentClient.repResources[i].pathToFile.slice(currentClient.repResources[i].pathToFile.lastIndexOf('/') + 1, currentClient.repResources[i].pathToFile.length)%></a>
                          <%} else {%>
                            <%= currentClient.repResources[i].pathToFile.slice(currentClient.repResources[i].pathToFile.lastIndexOf('/') + 1, currentClient.repResources[i].pathToFile.length)%>
                          <%}%>
                        </td>
                        <td>
                          <% if (currentClient.repResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= currentClient.repResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentClient.repResources[i].notes%></a>
                          <%} else {%>
                            <%= currentClient.repResources[i].notes%>
                          <%}%>
                        </td>
                        <td>
                          <% if (currentClient.repResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= currentClient.repResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentClient.repResources[i].createdAt.toLocaleDateString()%></a>
                          <%} else {%>
                            <%= currentClient.repResources[i].createdAt.toLocaleDateString()%>
                          <%}%>
                        </td>
                       </tr>
                      <%}%>
                    <%}%>
                   </tbody>
                </table>
              </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->


<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning js-resource-container">
         <div class="panel-heading">
            <h3 class="panel-title">RSM Resources</h3>
            <div class="pull-right">
               <button type="button" class="btn btn-info btn-xs" onClick="createNewClientResource(this,'rsmResources','<%= currentClient.id%>')">
                  Upload New Resource
                  <span class="glyphicon glyphicon-upload"></span>
               </button>
            </div>
          </div>
            <div class="panel-body">
              <div class="form-inline js-selection-container">

                <div class="row row-space-xs">
                    <div class="col-xs-12">
                      <div class="form-inline">
                           <button id="deleteRSMResourceButton" type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
                      </div>
                   </div>
                </div>

                <table class="mainTable">
                   <thead>
                      <tr class="info">
                        <th class="filter-false sorter-false"><input type="checkbox" class="selectall"/></th>
                        <th><span>Name</span></th>
                        <th><span>File Name</span></th>
                        <th><span>Notes</span></th>
                        <th><span>Date Uploaded</span></th>
                      </tr>
                   </thead>
                   <tbody>
                    <% if (currentClient.rsmResources && currentClient.rsmResources.length > 0) { %>
                      <% for (var i = 0, ii = currentClient.rsmResources.length; i < ii; i++) { %>
                      <tr>
                        <td class="checkBoxTd" data-path="<%= currentClient.rsmResources[i].pathToFile %>" data-displayName='<%=currentClient.rsmResources[i].name%>'>
                          <input type="checkbox" class="selectElement" 
                           value="<%=i%>"/> </td>
                        <td>
                          <% if (currentClient.rsmResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= currentClient.rsmResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentClient.rsmResources[i].name%></a>
                          <%} else {%>
                            <%= currentClient.rsmResources[i].name%>
                          <%}%>
                        </td>
                        <td>
                          <% if (currentClient.rsmResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= currentClient.rsmResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentClient.rsmResources[i].pathToFile.slice(currentClient.rsmResources[i].pathToFile.lastIndexOf('/') + 1, currentClient.rsmResources[i].pathToFile.length)%></a>
                          <%} else {%>
                            <%= currentClient.rsmResources[i].pathToFile.slice(currentClient.rsmResources[i].pathToFile.lastIndexOf('/') + 1, currentClient.rsmResources[i].pathToFile.length)%>
                          <%}%>
                        </td>
                        <td>
                          <% if (currentClient.rsmResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= currentClient.rsmResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentClient.rsmResources[i].notes%></a>
                          <%} else {%>
                            <%= currentClient.rsmResources[i].notes%>
                          <%}%>
                        </td>
                        <td>
                          <% if (currentClient.rsmResources[i].pathToFile.indexOf('.key') != -1){ %>
                               <a href="<%= currentClient.rsmResources[i].link%>" target="_blank" style="text-decoration: none; color: #534747"><%= currentClient.rsmResources[i].createdAt.toLocaleDateString()%></a>
                          <%} else {%>
                            <%= currentClient.rsmResources[i].createdAt.toLocaleDateString()%>
                          <%}%>
                        </td>
                       </tr>
                      <%}%>
                    <%}%>
                   </tbody>
                </table>
              </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->