<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Other Information</h3>
         </div>
         <div class="panel-body">
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="">Estimated Meal Cost per Attendee: </label>
                  <input type="text" name="estimatedMealCost" class="form-control  js-webcast-non-show-element js-event-property js-monetary-value" data-bind="estimatedMealCost"/>
               </div>
               <div class="form-group">
                  <label for="">Estimated Attendance: </label>
                  <input type="text" name="expectedNumberAttendees" class="form-control js-event-property js-number-only validate[required]" data-bind="expectedNumberAttendees"/>
               </div>
            </div> <!-- / form-inline -->

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="">Audio/Visual Status: </label>
                  <select name="venueAVStatus" class="form-control js-webcast-non-show-element js-event-property" data-bind="venueAVStatus">
                     <option disabled selected>Please Select One</option>
                      <% for(var index in venueAVStatus) { %>
                        <option <%if(currentVenue && (currentVenue.venueAVStatus == venueAVStatus[index].type)){%>selected<%}%> ><%= venueAVStatus[index].type %></option>
                         <% } %> 
                  </select>
               </div>
            </div> <!-- / form-inline -->

            <div class="form">
               <div class="form-group">
                  <label for="">Venue/Catering Comments: </label>
                  <textarea name="venueComments" class="form-control js-webcast-non-show-element js-event-property"  data-bind="venueComments" rows="3"></textarea>
               </div>
            </div> <!-- / form-inline -->
         </div> <!-- / panel-body -->
       </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->