<div class="row steps js-caterer-component">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Caterer Information</h3>
         </div>
         <div class="panel-body">
            <div id="catererTabs">
               <ul>
                  <li><a href="#fragment-1"><span>Select existing caterer</span></a></li>
                  <li><a href="#fragment-2"><span>Create a new caterer</span></a></li>
               </ul>
               <div id="fragment-1">
                  <div class="form row-space-xs">
                     <div class="form-group">
                        <label for="">Caterer Name: </label>
                        <!--input id="autoCompleteCatererName" type="text" class="form-control" placeholder="Please start typing to select a caterer"/-->
                        <select id="catererSelect" class="form-control">
                           <option disabled selected>Please Select One</option>
                            <% for(var venueIndex in venues) { %>
                              <option value='<%-JSON.stringify(venues[venueIndex])%>' <%if(currentCaterer && (currentCaterer.id == venues[venueIndex].id)){%>selected<%}%>><%= venues[venueIndex].venueName %></option>
                           <% } %>
                        </select>
                     </div>
                  </div> <!-- / form-inline -->
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Catering Contact Name: </label>
                        <label id="catererContactFirstName"></label> <label id="catererContactLastName"></label>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Catering Contact Number: </label>
                        <label id="catererContactNumber"></label>
                     </div>
                     <div class="form-group">
                        <label for="">Catering Contact E-mail: </label>
                        <label id="catererContactEmail"></label>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Catering Status: </label>
                        <select id="catererStatus" name="catererStatus" class="form-control js-event-property" data-bind="catererStatus">
                           <option disabled selected>Please Select One</option>
                           <option>Confirmed</option> 
                           <option>Needs to be arranged</option>
                        </select>
                     </div>
                  </div> <!-- / form-inline -->
               </div> <!-- / fragment-1 -->
               <div id="fragment-2">
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Caterer Name: </label>
                        <input type="text" name="venueName" class="form-control js-event-caterer-property"/>
                     </div>
                  </div> <!-- / form-inline -->
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Catering Contact First Name: </label>
                        <input type="text" name="firtsName" class="form-control js-event-caterer-contact-property"/>
                     </div>
                     <div class="form-group">
                        <label for="">Catering Contact Last Name: </label>
                        <input type="text" name="lastName" class="form-control js-event-caterer-contact-property"/>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Catering Contact Number: </label>
                        <input type="text" name="number" class="form-control js-event-caterer-contact-number-property"/>
                     </div>
                     <div class="form-group">
                        <label for="">Catering Contact E-mail: </label>
                        <input type="text" name="email" class="form-control js-event-caterer-contact-property validate[required,custom[email]]"/>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Catering Status: </label>
                        <select name="catererStatus" class="form-control js-event-property" data-bind="catererStatus">
                           <option disabled selected>Please Select One</option>
                           <option>Confirmed</option> 
                           <option>Needs to be arranged</option>
                        </select>
                     </div>
                  </div> <!-- / form-inline -->
               </div> <!-- / fragment-2 -->
            </div><!-- / catererTabs -->
         </div> <!-- / panel-body -->
       </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->