<div class="row steps">
   <div class="col-xs-12">
      <p class="bg-warning">BDSI guidelines for reasonable food and beverage are $XX for breakfast, $XX for lunch and $XX for dinner.</p>
   </div>
</div> <!-- / row -->