<%- scriptLink('/js/eventRequests/eventRequests.js', {type:'text/javascript'}) %>

<%- partial('app/views/eventRequests/requestHeader') %>

<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 5 of 6",
   backButtonFunction: 'goEventRequestStep4()',
   nextButtonFunction: 'goEventRequestStep6()'
   })
%>

<div class="row steps">
   <div class="col-xs-12">
      <p class="bg-info">
         For effective audience recruitment, please plan on at least 6 weeks prior to program date.<br/>
         A minimum # of registrants is needed by the required # of days before a program starts.<br/>
         Consider any state compliance/transfers of value reporting guidelines/restrictions before selecting your proposed audience.<br/>
         Using the search fields, please select those HCPs who should receive an email version of the invitation and/or a hard copy version of the invitation, once all the request details are confirmed.
      </p>
   </div>
</div> <!-- / row -->


<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Audience Recruitment</h3>
         </div>
         <div class="panel-body">
            
            <%- partial('app/views/eventRequests/audienceRecruitment') %>

            <p class="bg-info">
               Invitations will be sent based on the selected preferences once your RSM has approved the Program Request and CRG has verified all information for the program is complete.
            </p>
            <div class="form">
               <div class="form-group">
                  <label for="">Audience Recruitment Comments </label>
                  <textarea class="form-control" rows="3"></textarea>
               </div>
            </div> <!-- / form-inline -->
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goEventRequestStep4()',
            nextButtonFunction: 'goEventRequestStep6()'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->