<%- scriptLink('/js/eventRequests/eventRequests.js', {type:'text/javascript'}) %>

<%- partial('app/views/eventRequests/requestHeader') %>

<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 4 of 6",
   backButtonFunction: 'goEventRequestStep3()',
   nextButtonFunction: 'goEventRequestStep5()'
   })
%>

<div class="row steps">
   <div class="col-xs-12">
      <p class="bg-info">
         For effective audience recruitment, please plan on at least 6 weeks prior to program date.<br/>
         A minimum # of registrants is needed by the required # of days before a program starts.<br/>
         Invitations will be sent based on the selected preferences once your RSM has approved the Program Request and CRG has verified all information for the program is complete.
      </p>
   </div>
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Invitations</h3>
         </div>
         <div class="panel-body">
            <p><strong>Estimated Attendance: </strong>32</p>
            <div class="panel panel-warning">
               <div class="panel-heading">
                  <h3 class="panel-title">Please select all that apply (selection of individual HCPs will be chosen in step 5)</h3>
               </div>
               <div class="panel-body">
                  <%- partial('app/views/eventRequests/invitations') %>
               </div> <!-- / panel-body -->
            </div> <!-- / panel -->
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <p class="bg-info">
         Please confirm your mailing address for 25 hard copy versions (if selected above). If incorrect or an alternate address is requested, please complete the Address Edits text box below.
      </p>
   </div>
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Mailing Information</h3>
         </div>
         <div class="panel-body">
            <%- partial('app/views/eventRequests/requestMailingAddress') %>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goEventRequestStep3()',
            nextButtonFunction: 'goEventRequestStep5()'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->