<%- scriptLink('/js/eventRequests/eventRequests.js', {type:'text/javascript'}) %>
<%- partial('app/views/eventRequests/requestHeader', {step1:true}) %>

<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 1 of 6",
   backButtonFunction: 'goRepProgramDetails()',
   nextButtonFunction: 'goEventRequestStep2()'
   })
%>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Date and Location</h3>
            <h6>For the most expedient approval, check in with your RSM before requesting a program.</h6>
            <h6>For effective audience recruitment, please plan on at least 6 weeks prior to program date.</h6>
         </div>
         <div class="panel-body">

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="">Brand </label>
                  <select name="programType" class="form-control">
                     <option disabled selected>Please Select One</option>
                     <option>option here</option>
                     <option>option here</option>
                     <option>option here</option>
                  </select>
               </div>
               <div class="form-group">
                  <label for="">Presentation Title </label>
                  <select name="programType" class="form-control">
                     <option disabled selected>Please Select One</option>
                     <option>option here</option>
                     <option>option here</option>
                     <option>option here</option>
                  </select>
               </div>
               <!--
               <div class="form-group">
                  <label for="">Brand </label>
                  <input type="text" name="brand" class="form-control" />
               </div>
               <div class="form-group">
                  <label for="">Presentation Title </label>
                  <input type="text" name="presentationTitle" class="form-control" />
               </div>
               -->
            </div> <!-- / form -->

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="">Program Type </label>
                  <select name="programType" class="form-control">
                     <option disabled selected>Please Select One</option>
                     <option>In Office</option>
                     <option>Out of Office</option>
                     <option>Webcast Only</option>
                     <option>Webcast with Catering</option>
                  </select>
               </div>
            </div> <!-- / form-inline -->

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="">Program City </label>
                  <input type="text" name="" class="form-control" />
               </div>
               <div class="form-group">
                  <label for="">Program State </label>
                  <select name="" class="form-control">
                     <option disabled selected>Please Select One</option>
                     <option>Option Here!</option>
                  </select>
               </div>
            </div> <!-- / form-inline -->

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="">Program Start Time </label>
                  <input type="text" name="" class="form-control" />
               </div>
               <div class="form-group">
                  <label for="">Program Time Zone </label>
                  <select name="" class="form-control">
                     <option disabled selected>Please Select One</option>
                     <option>Option Here!</option>
                  </select>
               </div>
            </div> <!-- / form-inline -->

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="">Program Date Preference 1 </label>
                  <input type="text" name="" class="form-control" />
               </div>
            </div> <!-- / form-inline -->
            
            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="">Program Date Preference 2 </label>
                  <input type="text" name="" class="form-control" />
               </div>
            </div> <!-- / form-inline -->

            <div class="form-inline row-space-xs">
               <div class="form-group">
                  <label for="">Program Date Preference 3 </label>
                  <input type="text" name="" class="form-control" />
               </div>
            </div> <!-- / form-inline -->

            <div class="form">
               <div class="form-group">
                  <label for="">Date and Location Comments </label>
                  <textarea class="form-control" rows="3"></textarea>
               </div>
            </div> <!-- / form-inline -->

         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: null,
            nextButtonFunction: 'goEventRequestStep2()'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->