<%- scriptLink('/js/eventRequests/eventRequests.js', {type:'text/javascript'}) %>

<%- partial('app/views/eventRequests/requestHeader') %>

<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 3 of 6",
   backButtonFunction: 'goEventRequestStep2()',
   nextButtonFunction: 'goEventRequestStep4()'
   })
%>

<div class="row steps">
   <div class="col-xs-12">
      <p class="bg-info">Certain states such as Massachusetts, Minnesota, and Vermont have restrictions on pharmaceutical-HCP interactions where meals or transfers of value are offered.</p>
   </div>
</div> <!-- / row -->
         
<%- partial('app/views/eventRequests/venueInformation') %>
<%- partial('app/views/eventRequests/catererInformation') %>
<%- partial('app/views/eventRequests/costAttendanceInfo') %>
<%- partial('app/views/eventRequests/attendanceInfo') %>
         
<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goEventRequestStep2()',
            nextButtonFunction: 'goEventRequestStep4()'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->