<%- scriptLink('/js/eventRequests/eventRequests.js', {type:'text/javascript'}) %>

<%- partial('app/views/eventRequests/requestHeader') %>

<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 2 of 6",
   backButtonFunction: 'goEventRequestStep1()',
   nextButtonFunction: 'goEventRequestStep3()'
   })
%>

<div class="row steps row-space-xs">
   <div class="col-xs-12">
      <p class="bg-info">You must provide at least one Speaker for the Program Request</p>
   </div>
</div> <!-- / row -->

<%- partial('app/views/eventRequests/speakerSelection', {preferenceNumber: '1'}) %>
<%- partial('app/views/eventRequests/speakerSelection', {preferenceNumber: '2'}) %>
<%- partial('app/views/eventRequests/speakerSelection', {preferenceNumber: '3'}) %>

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <%- partial('app/views/components/steps/control', {
            backButtonFunction: 'goEventRequestStep1()',
            nextButtonFunction: 'goEventRequestStep3()'
         }) %>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->