<%- scriptLink('/js/eventRequests/eventRequests.js', {type:'text/javascript'}) %>

<%- partial('app/views/eventRequests/requestHeader',{currentEvent:currentEvent,currentRep: currentRep, currentManager: currentManager}) %>

<%- partial('app/views/components/steps/header', { 
   headerTitle: stepTitle + "Step 6 of 6",
   backButtonFunction: 'goEventRequestStep5()',
   nextButtonFunction: null
   })
%>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Date and Location</h3>
         </div>
         <div class="panel-body">

            <div class="row">
               <div class="col-xs-4">
                  <p><strong>Program City: </strong>Text Here</p>
               </div>
               <div class="col-xs-4">
                  <p><strong>Program State: </strong>Text Here</p>
               </div>
               <div class="col-xs-4">
                  <p><strong>Program Start Time: </strong>Text Here</p>
               </div>
               <div class="col-xs-6">
                  <p><strong>Program Time Zone: </strong>Text Here</p>
               </div>
               <div class="col-xs-6">
                  <p><strong>Program Date Preference : </strong>Text Here</p>
               </div>
            </div> <!-- / row -->

            <div class="form">
               <div class="form-group">
                  <label for="">Date and Location Comments</label>
                  <textarea class="form-control" rows="3"></textarea>
               </div>
            </div> <!-- / form -->

            <div class="row">
               <div class="col-xs-12">
                  <div class="img-rounded card">
                     <div class="row">
                        <div class="col-xs-12">
                           <h3>Speaker</h3>
                        </div>
                        <div class="col-xs-4">
                           <p><strong>Preference 1</strong></p>
                           <p>John Jones</p>
                           <p>University of Georgia</p>
                           <p>Atlanta, GA</p>
                        </div>
                        <div class="col-xs-4">
                           <p><strong>Status: </strong>Invited and confirmed</p>
                           <p><strong>Phone Number: </strong>(555) 123-1234</p>
                           <p><strong>Travel Arrangements: </strong>Flying, Taxi</p>
                        </div>
                        <div class="col-xs-4">
                           <p><strong>Comments: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, harum, ratione, tenetur, nihil dolorem minus quaerat culpa at quos placeat inventore modi architecto repellat natus expedita asperiores nobis fuga! Accusamus.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div> <!-- row -->

         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-6">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Venue</h3>
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-6">
                  <p>Pain Center of Raleigh</p>
                  <p>123 My Street</p>
                  <p>Suite 100</p>
                  <p>My City, NC 12345</p>
                  <p>(555) 555-1000</p>
               </div>
               <div class="col-xs-6">
                  <p>Frank Rogers</p>
                  <p>Office Manager</p>
                  <p>(555) 555-1001</p>
                  <p>contact@gmail.com</p>
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
   <div class="col-xs-6">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Caterer</h3>
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-6">
                  <p>Pain Center of Raleigh</p>
                  <p>123 My Street</p>
                  <p>Suite 100</p>
                  <p>My City, NC 12345</p>
                  <p>(555) 555-1000</p>
               </div>
               <div class="col-xs-6">
                  <p>Frank Rogers</p>
                  <p>Office Manager</p>
                  <p>(555) 555-1001</p>
                  <p>contact@gmail.com</p>
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row row-space-xs">
   <div class="col-xs-12">
      <div class="form">
         <div class="form-group">
            <label for="">Venue/Catering Comments </label>
            <textarea class="form-control" rows="3"></textarea>
         </div>
      </div> <!-- / form -->
      <p><strong>Audio/Visual Status: </strong> Text Here</p>
   </div> <!-- col -->
</div> <!-- row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Invitations and Audience Recruitment</h3>
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-12">
                  <p><strong>Estimated Attendance: </strong>50</p>
                  <p><strong>Estimated Meal Cost per Attendee: </strong>$22.00</p>
                  <p><strong>Selected Invitation Types: </strong></p>
                  <p># of PDF version via email direct to HCPs (max 50): 15</p>
                  <p># of hard copy version via direct mail to HCPs (max 50): 30</p>
                  <p># of hard copy version to Sales Representative (qty 25): 25</p>
               </div>
               <div class="col-xs-6">
                  <p><strong>Sales Representative Mailing address:</strong></p>
                  <p>123 My Street</p>
                  <p>Suite 100</p>
                  <p>Atlanta, GA 30008</p>
               </div>
               <div class="col-xs-6">
                  <div class="form">
                     <div class="form-group">
                        <label for="">Invitations Comments: </label>
                        <textarea class="form-control" rows="3"></textarea>
                     </div>
                  </div> <!-- / form -->
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-6">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Email Invitations - Total: 6</h3>
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-12">
                  <div class="form">
                     <div class="form-group">
                        <select name="" class="form-control" size="4" multiple="multiple">
                           <option>Contact 1</option>
                           <option>Contact 2</option>
                           <option>Contact 1</option>
                           <option>Contact 2</option>
                           <option>Contact 1</option>
                           <option>Contact 2</option>
                           <option>Contact 1</option>
                           <option>Contact 2</option>
                           <option>Contact 1</option>
                           <option>Contact 2</option>
                        </select>
                     </div>
                  </div> <!-- / form-inline -->
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
   <div class="col-xs-6">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Hard Copy Invitations - Total: 4</h3>
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-12">
                  <div class="form">
                     <div class="form-group">
                        <select name="" class="form-control" size="4" multiple="multiple">
                           <option>Contact 1</option>
                           <option>Contact 2</option>
                           <option>Contact 1</option>
                           <option>Contact 2</option>
                           <option>Contact 1</option>
                           <option>Contact 2</option>
                           <option>Contact 1</option>
                           <option>Contact 2</option>
                           <option>Contact 1</option>
                           <option>Contact 2</option>
                        </select>
                     </div>
                  </div> <!-- / form-inline -->
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
   <div class="col-xs-12">
      <div class="form">
         <div class="form-group">
            <label for="">Audience Recruitment Comments: </label>
            <textarea class="form-control" rows="3"></textarea>
         </div>
      </div> <!-- / form-inline -->
   </div>
</div> <!-- / row -->

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Verification</h3>
         </div>
         <div class="panel-body">
            <div class="form">
               <div class="form-group">
                  <label class="checkbox-inline">
                    <input type="checkbox" value="option1">
                    I verify that the information provided is correct and understand that unless subsequent updates are communicated to CRG, it will be included on program materials exactly as it appears above.
                  </label>
               </div>
            </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->

<div class="row">
   <div class="col-xs-12">
      <div class="pull-right">
         <button class="btn btn-primary btn-lg">Submit</button>
      </div>
   </div> <!-- / col -->
</div> <!-- / row -->