<div class="form">
  <div class="form-group">
     <label class="checkbox-inline">
       <input type="checkbox" data-bind='invitationsPDF' class="js-invites-event-property"> PDF Version Via E-mail Direct to HCPs (max 50)
     </label>
  </div>
  <div class="form-group">
     <label class="checkbox-inline">
       <input type="checkbox" data-bind='invitationsHardcopyDirect' class="js-invites-event-property"> Hard Copy Version Via Direct Mail to HCPs (max 50)
     </label>
  </div>
  <div class="form-group">
     <label class="checkbox-inline">
       <input type="checkbox" data-bind='invitationsHardcopyRep' class="js-invites-event-property"> Hard Copy Version to Sales Representative (qty 25)
     </label>
  </div>
</div> <!-- / form -->