<div class="row">
   <div class="col-xs-12">
      <div class="pull-left img-rounded card">
         <h3><%=currentRep.firstName%> <%= currentRep.lastName%></h3>
         <p><strong>Territory Name: </strong><%= currentRep.territoryName%></p>
         <p><strong>Phone: </strong><%= currentRep.defaultPhoneNumber%></p>
         <p><strong>E-mail: </strong><a href=""><%= currentRep.defaultEmail%></a></p>
      </div>
      <div class="pull-left img-rounded card">
         <h3>RSM: <%= currentManager.firstName%> <%= currentManager.lastName%></h3>
         <p><strong>Territory Name: </strong><%= currentRep.territoryName%></p>
         <p><strong>Phone: </strong><%= currentManager.defaultPhoneNumber%></p>
         <p><strong>E-mail: </strong><a href=""><%= currentManager.defaultEmail%></a></p>
      </div>
   </div>
</div>

<%if (typeof step1 =="undefined") {%>
   <div class="row steps row-space-xs">
      <div class="col-xs-3">
         <p><strong>Brand: </strong><%if (currentEvent.brand){%><%=currentEvent.brand%><%}%><sup>TM</sup></p>
      </div>
      <div class="col-xs-5">
         <p><strong>Presentation Title: </strong><%if (currentEvent.presentationTitle){%><%=currentEvent.presentationTitle%><%}%></p>
      </div>
      <div class="col-xs-4">
         <p><strong>Program Type: </strong><%if (currentProgram.programName){%><%=currentProgram.programName%><%}%></p>
      </div>
   </div> <!-- / row -->
<%}%>