<div class="row steps row-space-md">
   <div class="col-xs-12">
      <div class="panel panel-info js-speaker-container">
         <div class="panel-heading">
            <h3 class="panel-title" data-prefNumber="<%= preferenceNumber %>">Speaker Preference <%= preferenceNumber %></h3>
         </div>

         <% if (speakers && speakers.length > 0) {%>
            <div class="panel-body">
               <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Speaker: </label>
                           <select name="contactId" class="form-control js-event-double-property js-speaker-selected validate[required]">
                              <option disabled selected>Please Select One</option>
                              <% for(var index in speakers){ %>
                                 <option value="<%=speakers[index].id%>"
                                    data-spkCity="<%if(speakers[index].addresses && speakers[index].addresses[0]){%><%=speakers[index].addresses[0].city%><%}%>"
                                    data-spkState="<%if(speakers[index].addresses && speakers[index].addresses[0]){%><%=speakers[index].addresses[0].state%><%}%>"
                                    ><%=speakers[index].firstName%> <%=speakers[index].lastName%>, <%= speakers[index].degrees%></option>
                              <% } %>
                        </select>
                     </div>
                     <div class="form-group">
                        <label for="">Speaker Status: </label>
                        <select name="status" class="form-control js-event-property validate[required]" data-bind='status'>
                           <option disabled selected>Please Select One</option>
                           <% for (var index in speakerStatus) { %>
                              <option value='<%=speakerStatus[index].value%>'><%= speakerStatus[index].label%></option>
                           <% } %>
                        </select>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Speaker City: </label>
                        <label data-bind="speakerCity">No info available</label>
                     </div>
                     <div class="form-group">
                        <label for="">Speaker State/Province: </label>
                        <label data-bind="speakerState">No info available</label>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="row steps">
                     <div class="col-xs-12">
                        <div class="panel panel-warning">
                           <div class="panel-heading">
                              <h3 class="panel-title">Travel Type</h3>
                           </div>
                           <div class="panel-body">
                              <div class="form-inline">
                                 <div class="form-group">
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="travel<%=preferenceNumber%>>" class="checkbox js-travel-radio-button validate[required]" value="Driving" data-bind="travelType">
                                          Driving
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="travel<%=preferenceNumber%>>" class="checkbox js-travel-radio-button validate[required]" value="Flying" data-bind="travelType">
                                          Flying
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="travel<%=preferenceNumber%>>" class="checkbox js-travel-radio-button validate[required]" value="Don't know yet" data-bind="travelType">
                                          Don't know yet
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="travel<%=preferenceNumber%>>" class="checkbox js-travel-radio-button js-na validate[required]" value="N/A" data-bind="travelType">
                                          <span>N/A</span>
                                       </label>
                                    </div>
                                 </div>
                              </div>
                           </div> <!-- / panel-body -->
                        </div> <!-- / panel -->
                     </div> <!-- / col -->
                  </div> <!-- / row -->

                  <div class="row steps">
                     <div class="col-xs-12">
                        <div class="panel panel-warning">
                           <div class="panel-heading">
                              <h3 class="panel-title">Ground Transportation</h3>
                           </div>
                           <div class="panel-body">
                              <div class="form-inline">
                                 <div class="form-group">
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="trans<%=preferenceNumber%>>" class="checkbox js-transportation-radio-button validate[required]" value="Car Service" data-bind="groundTransportation">
                                          Car Service
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="trans<%=preferenceNumber%>>" class="checkbox js-transportation-radio-button validate[required]" value="Personal Car" data-bind="groundTransportation">
                                          Personal Car
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="trans<%=preferenceNumber%>>" class="checkbox js-transportation-radio-button validate[required]" value="Rental Car" data-bind="groundTransportation">
                                          Rental Car
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="trans<%=preferenceNumber%>>" class="checkbox js-transportation-radio-button validate[required]" value="Sales Representative" data-bind="groundTransportation">
                                          Sales Representative
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="trans<%=preferenceNumber%>>" class="checkbox js-transportation-radio-button validate[required]" value="Taxi" data-bind="groundTransportation">
                                          Taxi
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="trans<%=preferenceNumber%>>" class="checkbox js-transportation-radio-button validate[required] js-na" value="N/A" data-bind="groundTransportation">
                                           <span>N/A</span>
                                       </label>
                                    </div>
                                    <div class="radio">
                                       <label>
                                          <input type="radio" name="trans<%=preferenceNumber%>>" class="checkbox js-transportation-radio-button validate[required]" value="Don't know yet" data-bind="groundTransportation">
                                          Don't know yet
                                       </label>
                                    </div>
                                 </div>
                              </div>
                           </div> <!-- / panel-body -->
                        </div> <!-- / panel -->
                     </div> <!-- / col -->
                  </div> <!-- / row -->

                  <div class="row steps">
                     <div class="col-xs-12">
                        <div class="panel panel-warning">
                           <div class="panel-heading">
                              <h3 class="panel-title">Speaker Preference <%= preferenceNumber %> Comments</h3>
                           </div>
                           <div class="panel-body">
                              <div class="form row-space-xs">
                                 <div class="form-group">
                                    <textarea class="form-control js-event-property" rows="3" name='comments' data-bind='comments'></textarea>
                                 </div>
                              </div> <!-- / form-inline -->
                           </div> <!-- / panel-body -->
                        </div> <!-- / panel -->
                     </div> <!-- / col -->
                  </div> <!-- / row -->

            </div> <!-- / panel-body -->
         <% } else { %>
            There are no speakers available at this time. Please see Speakers section.
         <% } %>
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->