<div class="row steps js-venue-component">
   <div class="col-xs-12">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title">Venue Information</h3>
         </div>
         
         <div class="panel-body">
            <div id="venueTabs">
               <ul>
                  <li><a href="#fragment-1"><span>Select existing venue</span></a></li>
                  <li><a href="#fragment-2"><span>Create a new venue</span></a></li>
               </ul>
               <div id="fragment-1">
                  <div class="form row-space-xs">
                     <div class="form-group">
                        <label for="">Choose existing venue</label>
                        <!--input id="autoCompleteVenueName" type="text" class="form-control" placeholder="Please start typing to select a venue"/-->
                        <select id="venueSelect" class="form-control validate[required]" >
                           <option disabled selected>Please Select One</option>
                            <% for(var venueIndex in venues) { %>
                              <option value='<%-JSON.stringify(venues[venueIndex])%>' <%if(currentVenue && (currentVenue.id == venues[venueIndex].id)){%>selected<%}%>><%= venues[venueIndex].venueName %></option>
                           <% } %>
                        </select>
                     </div>
                  </div> <!-- / form-inline -->
                  
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Venue Type:</label>
                        <label id="venueType"></label>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Street Address: </label>
                        <label id="venueStreetAddress1"><span></span></label>
                     </div>
                     <p>
                     <div class="form-group">
                        <label for="">Address Line 2: </label>
                        <label id="venueStreetAddress2"></label>
                     </div>
                     </p>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">City: </label>
                        <label id="venueCity"></label>
                     </div>
                     <div class="form-group">
                        <label for="">State/Province: </label>
                        <label id="venueState"></label>
                        </select>
                     </div>
                     <div class="form-group">
                        <label for="">Postal Code: </label>
                        <label id="venuePostalCode" class="js-number-only"></label>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Venue Phone Number: </label>
                        <label id="venuePhoneNumber"></label>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Venue Contact Name: </label>
                        <label id="venueContactFirstName"></label> <label id="venueContactLastName"></label>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Venue Contact Number: </label>
                        <label id="venueContactNumber"></label>
                     </div>
                     <div class="form-group">
                        <label for="">Venue Contact E-mail: </label>
                        <label id="venueContactEmail"></label>
                     </div>
                  </div> <!-- / form-inline -->
                  
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Venue Status: </label>
                        <select id="venueStatusSelect" name="venueStatus" class="form-control js-event-property" data-bind="venueStatus">
                           <option disabled selected>Please Select One</option>
                           <option>Confirmed</option>
                           <option>Needs to be arranged</option>
                        </select>
                     </div>
                  </div> <!-- / form-inline -->

                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <%- partial('app/views/events/roomAndGuaranteed') %>
                        </div> <!-- / form-group -->
                      </div> <!-- / form-inline -->
               </div><!-- / fragment-1 -->
               <div id="fragment-2">
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Venue Type: </label>
                        <select name="" class="form-control js-event-venue-property validate[required]">
                           <option disabled selected>Please Select One</option>
                           <% for(var index in venueTypes) { %>
                           <option <%if(currentVenue && currentVenue.venueType &&(currentVenue.venueType == venueTypes[index].type)){%>selected<%}%> ><%= venueTypes[index].type %></option>
                            <% } %> 
                        </select>
                     </div>
                     <div class="form-group">
                        <label for="">Venue Name: </label>
                        <input type="text" name="venueName" class="form-control js-event-venue-property validate[required]"/>
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Street Address: </label>
                        <input type="text" name="address1" class="form-control js-event-venue-address-property validate[required]" />
                     </div>
                     <div class="form-group">
                        <label for="">Address Line 2: </label>
                        <input type="text" name="address2" class="form-control js-event-venue-address-property validate[]" />
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">City: </label>
                        <input type="text" name="city" class="form-control js-event-venue-address-property validate[required]" />
                     </div>
                     <div class="form-group">
                        <label for="">State/Province: </label>
                        <select name="state" class="form-control js-event-venue-address-property validate[required]">
                           <option disabled selected>Please Select One</option>
                            <% for(var stateIndex in states) { %>
                              <option><%= states[stateIndex].name %></option>
                           <% } %>
                        </select>
                     </div>
                     <div class="form-group">
                        <label for="">Postal Code: </label>
                        <input type="text" name="postalCode" class="form-control js-event-venue-address-property js-number-only validate[required]" />
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Venue Phone Number: </label>
                        <input type="text" name="number" class="form-control js-event-venue-phone-number PhoneNumber validate[required]" />
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Venue Contact First Name: </label>
                        <input type="text" name="firstName" class="form-control js-event-venue-contact-property validate[required]" />
                     </div>
                     <div class="form-group">
                        <label for="">Venue Contact Last Name: </label>
                        <input type="text" name="lastName" class="form-control js-event-venue-contact-property validate[required]" />
                     </div>
                  </div> <!-- / form-inline -->

                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Venue Contact Number: </label>
                        <input type="text" name="number" class="form-control js-event-venue-contact-number-property PhoneNumber validate[required]" />
                     </div>
                     <div class="form-group">
                        <label for="">Venue Contact E-mail: </label>
                        <input type="text" name="email" class="form-control js-event-venue-contact-property validate[required,custom[email]]"/>
                     </div>
                  </div> <!-- / form-inline -->
                  
                  <div class="form-inline row-space-xs">
                     <div class="form-group">
                        <label for="">Venue Status: </label>
                        <select name="venueStatus" class="form-control js-event-property validate[required]">
                           <option disabled selected>Please Select One</option>
                           <option>Confirmed</option>
                           <option>Needs to be arranged</option>
                        </select>
                     </div>
                  </div> <!-- / form-inline -->

                     <div class="form-inline row-space-xs">
                        <div class="form-group">
                           <%- partial('app/views/events/roomAndGuaranteed') %>
                        </div>
                     </div> <!-- / form-inline -->
               </div><!-- / fragment-2 -->
            </div>
         </div> <!-- / panel-body -->
       </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->