<div class="row steps js-webcast-component hidden">
   <div class="col-xs-12">
      <p class="bg-info">Because this is a Webcast Only event, only the Estimated Attendance information is required.</p>
   </div>
</div> <!-- / row -->
