<div class="control-group">
  <label for="programTypeName" class="control-label">programTypeName</label>
  <div class="controls">
    <%- contentTag('input', programType.programTypeName, {type:'text', class:'span6', name:'programTypeName'}) %>
    
    <h3>Services</h3>
	<% services.forEach(function (service) { %>
	  <input type="checkBox" name="services" value="<%- service.id %>" <% if(service.checked) {%>checked<%}%>  ><%- service.serviceName %></input></br>
	<% }); %>  
  </div>
</div>
