<%- scriptLink('/js/programTypes/programTypes.js', {type:'text/javascript'}) %>

<div class="hero-unit">
  <h2>All ProgramTypes</h2>
  <%- linkTo('Create a new ProgramType', addProgramTypePath, {class: 'btn pull-right'}); %>
</div>

<div id="programTypes-list">
<% if (programTypes) { %>
<% for (var i = 0, ii = programTypes.length; i < ii; i++) { %>
  <div class="row list-item" id="programType-<%= programTypes[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(programTypes[i].programTypeName, programTypePath(programTypes[i].id)); %></h3>
    </div>
    <div class="span4">
	      <!--h3><i class="icon-list-alt"></i><%= programTypes[i].id; %></h3-->
      <% for (var j = 0, jj = programTypes[i].services.length; j < jj; j++) { %>
	      <h4><%= programTypes[i].services[j].serviceName; %></h4>
	  <% } %>
      
    </div>
  </div>
<% } %>
<% } %>
</div>