<%- scriptLink('/js/roles/roles.js', {type: 'text/javascript'}) %>

<div class="hero-unit">
  <form id="role-form" class="form-horizontal" action="/roles" method="POST">
    <fieldset>
      <legend>Create a new Role</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>

      <%- partial('form', {role: params, aclNames:aclNames,aclActions:aclActions}) %>
      

	  

      <div class="form-actions">
        <%- contentTag('input', 'Add', {type: 'submit', class: 'btn btn-primary'}) %>
      </div>
    </fieldset>
  </form>


</div>

