<%- scriptLink('/js/roles/roles.js', {type: 'text/javascript'}) %>
<div class="hero-unit">
  <form id="role-form" class="form-horizontal" action="/roles/<%= params.id %>?_method=PUT" method="POST">
    <fieldset>
      <legend>Update this Role</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>

      <%- partial('form', {role: role, aclNames:aclNames,aclActions:aclActions}) %>

      <div class="form-actions">
        <%- contentTag('input', 'Save', {type: 'submit', class: 'btn btn-primary'}) %>
        <%- contentTag('button', 'Remove', {type: 'submit', formaction: '/roles/' + params.id + '?_method=DELETE', formmethod: 'POST', class: 'btn btn-danger'}) %>
      </div>
    </fieldset>
  </form>
</div>
<script type="text/javascript">setChecked(<%-JSON.stringify(role.acl)%>);</script>