<div class="control-group">
  <label for="roleName" class="control-label">roleName</label>
  <div class="controls">
    <%- contentTag('input', role.roleName, {type:'text', class:'span6', name:'roleName'}) %>
	
	
	
	<h3>Permisions</h3>
	 
	 <table class="Table">
		 <thead>
		    <tr>
		    	<th>ACL name</th>
		        <th>Action</th>
		    </tr>
		 </thead>
		 <tbody>
			 <% for(var index in aclNames) { %>
	 		    <tr>
		 		    <td>	
			  			<label class="CheckboxLabel"><%= aclNames[index].aclName %></label>
					</td>
					<td class="<%= aclNames[index].aclName %>">
						 <% for(var actionIndex in aclActions) { %>
					  		<input type="checkbox" name="acl[<%= aclNames[index].aclName %>][]" class="<%=aclActions[actionIndex].aclAction%>" value="<%=aclActions[actionIndex].aclAction%>"/>
					  		<label><%= aclActions[actionIndex].aclAction %></label> 
						<% } %> 
			  		</td>
			  	</tr>
			<% } %> 
	 	</tbody>
 	</table>
	 
	 </div>
  </div>