<div class="hero-unit">
  <h2 class="id"><%= role.roleName %></h2>
  <%- linkTo('Edit this role', editRolePath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', rolePath(''), {class: 'btn pull-right'}); %>
</div>

<div class="row list-item">
  <div class="span4">
    <h2>Users</h2>
	<% for(var i in users) { -%>
		<% if(i !== 'saved') { -%>
		    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= users[i].firstName %> <%= users[i].lastName %></span></h3>
		<% } -%>
	<% } -%>
  </div>
  <div class="span4">
    <h2>ACLs</h2>
	<% for(var i in role.acl) { -%>
	    <h4><i class="icon-list-alt"></i><span class="<%= i %>"><%= role.acl[i].aclName%></span></h4>
		<% for(var j in role.acl[i].actions) { -%>
			    <%= role.acl[i].actions[j]%> 
		<% } -%>
	<% } -%>
  </div>
</div>
  
<!--h2>Role Properties</h2>
<% for(var i in role) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= role[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%> 
-->
