<%- partial('app/views/components/dialogs/deleteSelected') %>

<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-12">
            <h3><%=currentClient.name%> - <%=currentProgram.programName%> - Communications %></h3>
        </div>
    </div>
</div>

<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning js-resource-container">
         <div class="panel-heading">
            <h3 class="panel-title">Communication Templates</h3>
            <div class="pull-right">
                 <button id="CreateCommunicationButton" type="button" class="btn btn-info btn-xs" >
                  New Template
                  <span class="glyphicon glyphicon-upload"></span>
               </button>
            </div>
          </div>
            <div class="panel-body">
              <div class="form-inline js-selection-container">
                <div class="row row-space-xs">
                  <div class="col-xs-12">
                     <button id="DeleteTemplate" type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
                  </div>
                </div>

                <table id="TemplateTable" class="mainTable">
                 <thead>
                    <tr class="info">
                      <th class="filter-false sorter-false" data-bind="&lt;input type='checkbox' name='selectedTemplates[]' value='{id}'/&gt;">
                          <input type="checkbox" class="selectall"/>
                      </th>
                      <th data-bind="{name}">Name</th>
                      <th data-bind="{createdAt}">Last Dated Edited</th>
                    </tr>
                 </thead>
                 <tbody>
                  <% if (templates && templates.length > 0) { %>
                    <% for (var i = 0, ii = templates.length; i < ii; i++) { %>
                    <tr>
                      <td class="checkBoxTd"><input type="checkbox" name="selectedTemplates[]" class="selectElement" value="<%=templates[i].id%>" /> </td>
                      <td><%=templates[i].templateTitle %></td>
                      <td><%if(templates[i].updatedAt) {%><%=templates[i].updatedAt.toLocaleDateString()%><%}%></td>
                     </tr>
                    <%}%>
                  <%}%>
                 </tbody>
              </table>

              </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->



<div class="row steps">
   <div class="col-xs-12">
      <div class="panel panel-warning js-resource-container">
         <div class="panel-heading">
            <h3 class="panel-title">Generated Deliverables</h3>
            <div class="pull-right">
                 <button id="CreateProgramDeliveryButton" type="button" class="btn btn-info btn-xs" >
                  New Deliverable
                  <span class="glyphicon glyphicon-upload"></span>
               </button>
            </div>
          </div>
            <div class="panel-body">
              <div class="form-inline js-selection-container">
                <div class="row row-space-xs">
                  <div class="col-xs-12">
                     <button id="DeleteDelivery" type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
                  </div>
                </div>

                <table id="DeliveryTable" class="mainTable">
                 <thead>
                    <tr class="info">
                      <th class="filter-false sorter-false" data-bind="&lt;input type='checkbox' name='selectedTemplates[]' value='{id}'/&gt;">
                          <input type="checkbox" class="selectall"/>
                      </th>
                      <th data-bind="{name}">Delivery Type</th>
                    </tr>
                 </thead>
                 <tbody>
                  <% if (programDeliveries && programDeliveries.length > 0) { %>
                    <% for (var i = 0, ii = programDeliveries.length; i < ii; i++) { %>
                    <tr>
                      <td class="checkBoxTd"><input type="checkbox" name="selectedTemplates[]" class="selectElement" value="<%=programDeliveries[i].id%>" /> </td>
                      <td><%=programDeliveries[i].deliveryType%></td>
                     </tr>
                    <%}%>
                  <%}%>
                 </tbody>
              </table>

              </div>
         </div> <!-- / panel-body -->
      </div> <!-- / panel -->
   </div> <!-- / col -->
</div> <!-- / row -->


