<%- partial('app/views/components/dialogs/deleteSelected') %>

<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-6">
            <h3><%=communicationTitle%> - Communications %></h3>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
                <button id="CreateCommunicationButton" type="button" class="btn btn-info" >New Communication</button>
            </div>
        </div>
    </div>
</div>

<div class="js-selection-container">
  <div class="row row-space-xs">
      <div class="col-xs-12">
        <div class="form-inline">
           <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
        </div>
     </div>
  </div>


  <!-- Table -->
  <div class="row">
     <div class="col-xs-12">
        <table class="mainTable">
           <thead>
              <tr class="info">
                <th><input type="checkbox" class="selectall"/></th>
                <th data-bind="{name}">Name</th>
                <th data-bind="{pathToFile}">File Name</th>
                <th data-bind="{notes}">Notes</th>
                <th data-bind="{createdAt}">Date Uploaded</th>
              </tr>
           </thead>
           <tbody>
            <!-- % if (currentProgram.communications && currentProgram.communications.length > 0) { %>
              < % for (var i = 0, ii = currentProgram.communications.length; i < ii; i++) { % -->
              <tr>
                <td class="checkBoxTd"><input type="checkbox" name="selectedcommunications[]" class="selectElement" value="" /> </td>
                <td><!-- % = currentProgram.communications[i].name % --></td>
                <td><!-- % = currentProgram.communications[i].pathToFile.slice(currentProgram.communications[i].pathToFile.lastIndexOf('/') + 1, currentProgram.communications[i].pathToFile.length)%--></td>
                <td><!-- % = currentProgram.communications[i].notes%--></td>
                <td><!-- % = currentProgram.communications[i].createdAt.toLocaleDateString()%--></td>
               </tr>
              <!-- % }%>
            < %} % -->
           </tbody>
        </table>
     </div>
  </div>
</div>