<%- partial('app/views/components/dialogs/deleteSelected') %>

<div id="dialog-test-send" >
   <form id="test-send-form">
    <label for="email">Please enter an Email address to send sample</label>
    <input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all">
    </form>
</div>

<!-- Header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-10">
            <h3>Communication Deliverables: <%= currentEvent.jobNumber%> <% if (currentEvent.confirmedDate){ %> (<%= currentEvent.confirmedDate%>) <%}%> </h3>
        </div>
        <div class="col-xs-2">
            <div class="pull-right">
                <button id="CreateCommunicationButton" type="button" class="btn btn-info" >New Deliverable</button>
            </div>
        </div>
    </div>
</div>

<div class="js-selection-container">
  <div class="row row-space-xs">
      <div class="col-xs-12">
        <div class="form-inline">
           <button type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
        </div>
     </div>
  </div>

  <div class="col-xs-12">
    <p id="emailSentMessage" class="bg-info" hidden>The communication(s) were successfully sent.</p>
  </div>


  <!-- Table -->
  <div class="row">
     <div class="col-xs-12">
      <div class="table-sorter-wrapper">
        <table class="mainTable">
           <thead>
              <tr class="info">
                <th class="filter-false sorter-false"><input type="checkbox" class="selectall"/></th>
                <th data-bind="{lastDateSend}">Last send</th>
                <th data-bind="{deliveryType}">Template Title</th>
                <th data-bind="{}">Edit</th>
                <th data-bind="{}">Send</th>
                <th data-bind="{}">Download</th>
                <th data-bind="{}">Send Type</th>
              </tr>
           </thead>
           <tbody>
            <%if (deliveries && deliveries.length > 0) { %>
              <%for (var i = 0, ii = deliveries.length; i < ii; i++) { %>
              <tr>
                <td class="checkBoxTd"><input type="checkbox" name="selectedcommunications[]" class="selectElement" value="<%=deliveries[i].id%>" /> </td>
                <td class="js-edit-delivery-link"><%if (deliveries[i].lastDateSent) {%><%=deliveries[i].lastDateSent.toLocaleDateString()%><%}%></td>
                <td class="js-edit-delivery-link"><%=deliveries[i].templateTitle%></td>
                <td>
                  <button type="button" class="btn btn-info" onclick="editDeliveryFiles('<%=deliveries[i].id%>')">Edit Deliverables</button>
                </td>  
                <td>
                  <button type="button" class="btn btn-info" onclick="sendTestSample('<%=deliveries[i].id%>')">Send Test Sample</button>
                </td>  
                <td>
                  <button tye="button" class="btn btn-info" onclick="downloadDelivery('<%=deliveries[i].id%>')">Download Zip Files</button>
                </td>
                <td>
                  <%if(deliveries[i].sendAction != 'Automatic') {%> 
                    <button type="button" class="btn btn-info"  onclick="sendDelivery('<%=deliveries[i].id%>')">Send</button>
                  <%}else{%> Automatic <%}%>
                </td>
               </tr>
              <%}%>
            <%} %>
           </tbody>
        </table>
      </div>
     </div>
  </div>
</div>