<div class="row">
   <div class="col-xs-12">
      <div class="row alert alert-info">
         <div class="col-xs-6">
         <h3><%=editCommunicationTitle%> - Communication Template %></h3>
         </div>
            <div class="col-xs-6">
               <div class="pull-right">
                  <button type="button" class="btn btn-info" onclick="saveTemplate()" <% if (editing == true){%> disabled <%}%>>Save</button>
                  <button id="CancelButton" type="button" class="btn btn-info">Cancel</button>
               </div>
         </div>
      </div>
   </div>

   <% if (editing) {%>
   <div class="row">
      <div class="col-xs-12">
         <label class='bg-danger'>Currently being edited by: <%= editor %></label>
      </div>
   </div>
   <%}%>
   
   <form id="TemplateForm">
      <div class="panel-body">
         <div class="form-inline row-space-xs">
            <div class="col-xs-12">
              <p id="titleWarning" class="bg-danger" hidden>Title cannot have special characters.</p>
            </div>
            <div class="form-group">
               <label for="FirstName">Template Title:</label>
               <input type="text" class="form-control input-more-width js-keyup-char" name="templateTitle" value="<%if(currentTemplate){%><%=currentTemplate.templateTitle%><% }%>"/>
            </div>
         </div>
         
         <div class="form-inline row-space-xs">
            <div class="form-group">
               <label for="MiddleName">Subject:</label>
               <input type="text" class="form-control input-more-width" name="subject" value="<%if(currentTemplate){%><%=currentTemplate.subject%><% }%>"/>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-xs-12">
            <textarea id="FileContents" name="content"><%if(currentFile){%><%=currentFile%><%}%></textarea>
         </div>
      </div>
   </form>
</div>