<div id="dialog-confirm-save" >
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span></p>
</div>

<div class="row">
   <div class="col-xs-12">
      <div class="row alert alert-info">
         <div class="col-xs-6">
         <h3>Editing Generated Deliveries</h3>
         </div>
         <div class="col-xs-6">
            <div class="pull-right">
               <button id="PreviousButton" type="button" class="btn btn-info" onclick="checkGetFileByIndex(this,-1)">Previous</button>
               <input id="CurrentIndex" type="hidden" value=<%=currentIndex%> />
               <input id="TotalFiles" type="hidden" value=<%=totalFiles%> />
               <label id="CurrentIndexLabel"><%=currentIndex%></label><label>/<%=totalFiles%></label>
               <button id="NextButton" type="button" class="btn btn-info" onclick="checkGetFileByIndex(this,1)">Next</button>
            </div>
         </div>
      </div>
   </div>


      <div class="col-xs-12">
         <div class="pull-right">
            <button type="button" class="btn btn-info" onclick="saveFile()">Save</button>
            <button id="CancelButton" type="button" class="btn btn-info" onclick="checkGoBackFromEditFiles()"> Back</button>
         </div>
      </div>
      <div class="panel-body">
         <div class="form-inline row-space-xs pull-left">
            <div class="form-group">
               <label for="Subject">Subject:</label>
               <label><%=subject%></label>
            </div>
         </div>
      </div>

   <form id="TemplateForm">
      <div class="row">
         <div class="col-xs-12">
            <textarea id="FileEditingDeliverableContents" name="content"><%if(currentFile){%><%=currentFile%><%}%></textarea>
         </div>
      </div>
   </form>

</div>