<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-6">
            <h3><%=editCommunicationTitle%> - Communications %></h3>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
                <button type="button" class="btn btn-info" onclick="">Save</button>
                <button id="CancelButton" type="button" class="btn btn-info" onclick="">Cancel</button>
            </div>
        </div>
    </div>
</div>

  <!-- Table -->
  <div class="row">
     <div class="col-xs-12">
      <form method="post">
        <textarea></textarea>
      </form>
     </div>
  </div>
</div>