<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-6">
            <h3>Generate New Automatic Deliverables</h3>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
               <button type="button" class="btn btn-info" onclick="saveProgramDelivery()" <% if (editing == true){%> disabled <%}%>>Generate Deliverables</button>
               <button id="CancelButton" type="button" class="btn btn-info" onclick="">Cancel</button>
            </div>
        </div>
    </div>
</div>

<% if (editing) {%>
<div class="row">
   <div class="col-xs-12">
      <label class='bg-danger'>Currently being edited by: <%= editor %></label>
   </div>
</div>
<%}%>


  <form id="ProgramDeliveryForm">
   <div class="panel-body">
      <div class="form-inline row-space-xs">
         <label for="deliveryType">Type: </label>
          <select name="deliveryType" class=" form-control">
            <option disabled selected><%=selectPrompt%></option>
            <% for(var deliverableIndex in deliverableTypes) { %>
               <option <% if(currentDelivery && currentDelivery.deliveryType == deliverableTypes[deliverableIndex].type){%>selected<%}%> ><%=deliverableTypes[deliverableIndex].type%></option> 
            <% } %>
         </select> 

      </div>

       <div class="form-inline row-space-xs">
         <h5>
            <span class="label label-default">Main E-mail</span>
         </h5>
         <label>Main Body Template:</label>
         <select name="mailTemplate" class=" form-control">
            <option disabled selected><%=selectPrompt%></option>
            <% for(var templateIndex in templatesArray) { %>
               <option <% if(currentDelivery && currentDelivery.mailTemplate == templatesArray[templateIndex].id ) {%>selected<%}%> value="<%=templatesArray[templateIndex].id%>"><%= templatesArray[templateIndex].templateTitle %></option>
            <%}%>
         </select>



      </div>
   </div>

  <div class="table-sorter-wrapper">
  <table class="mainTable">
    <thead>
            <th class="filter-false sorter-false" data-bind="<input type='checkbox' class='js-templateCheckbox' value='{id}'/>">Select</th>
            <th data-bind="{templateTitle}</span>">Template Name</th>
        </tr>
    </thead>
    <tbody>
        <%if (templatesArray && templatesArray.length) {%>
          <% for (var i = 0, ii = templatesArray.length; i < ii; i++) { %>
          <tr>
              <td >
                  <input type="checkbox" class="js-email-checkbox selectElement" name="attachmentTemplates[]" value='<%=templatesArray[i].id%>' 
                  <%if ( currentDelivery && currentDelivery.attachmentTemplates && currentDelivery.attachmentTemplates.length > 0 && currentDelivery.attachmentTemplates.indexOf(templatesArray[i].id)!= -1 ) {%>
                  checked
                  <%}%>
                  />
              </td>
              <td>
                  <%=templatesArray[i].templateTitle%></span>
              </td>
          </tr>
          <% } %>
        <% } %>
    </tbody>
   </table>
</div>
  

  </form>
</div>