<div class="row">
  <div class="col-xs-12">
    <div class="row alert alert-info">
        <div class="col-xs-6">
            <h3><%=editCommunicationTitle%> - Communication Deliverable %></h3>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
               <button type="button" class="btn btn-info" onclick="saveDelivery()" <% if (editing == true){%> disabled <%}%>>Generate Deliverables</button>
               <button id="CancelButton" type="button" class="btn btn-info" onclick="">Cancel</button>
            </div>
        </div>
    </div>
</div>

<% if (editing) {%>
<div class="row">
   <div class="col-xs-12">
      <label class='bg-danger'>Currently being edited by: <%= editor %></label>
   </div>
</div>
<%}%>


  <form id="DeliveryForm">
   <div class="panel panel-warning">
          <div class="panel-heading">
               <h3 class="panel-title">Recipients</h3>
          </div>
      <div class="panel-body">
         <div class="form-inline row-space-xs">
            <label>
              <input id="individualCheckbox" type="checkbox" 
              <%if (currentDelivery && currentDelivery.individualEmails) {%>
                 checked 
              <%}%>
              >
              Individual emails
           </label>
         </div>

         <div id="Recepients" class="form-inline row-space-xs">
            <p><label>Recepients:</label></p>
            <label>To:</label>
            <div id="radioBoxRecipients" class="checkbox <%if ((currentDelivery && !currentDelivery.individualEmails)||(!currentDelivery)) {%>hidden<%}%>" >
             <%for (var index in toRecepients) {%>
                  <label>
                     <input type="radio" name="toRecepients[]" class="toRecepientsGroup" value="<%=toRecepients[index].label%>"
                     data-level='<%= toRecepients[index].level %>'
                     <%if (currentDelivery && currentDelivery.toRecepients) {%>
                        <%if (currentDelivery.toRecepients.indexOf(toRecepients[index].label) != -1 && currentDelivery.individualEmails) {%>
                           checked 
                        <%}%> 
                     <%}%>
                     ><%=toRecepients[index].label%>
                  </label>
               <%}%>   
            </div>

             <div id="checkBoxRecipients" class="checkbox <%if (currentDelivery && currentDelivery.individualEmails) {%>hidden<%}%> ">
               <%for (var index in toRecepients) {%>
                  <label>
                     <input type="checkbox" name="toRecepients[]" class="toRecepientsGroup" value="<%=toRecepients[index].label%>" data-level='<%= toRecepients[index].level %>'
                     <%if (currentDelivery && currentDelivery.toRecepients) {%>
                        <%if (currentDelivery.toRecepients.indexOf(toRecepients[index].label) != -1 && !currentDelivery.individualEmails) {%>
                           checked 
                        <%}%> 
                     <%}%>
                     ><%=toRecepients[index].label%>
                  </label>
               <%}%>   
             </div>
          </br>
            <label>Ccs:</label>
            <%for (var index in ccRecepients) {%>
               <div class="checkbox">
                  <label>
                     <input type="checkbox" name="ccRecepients[]" class="ccRecepientsGroup" value="<%=ccRecepients[index].label%>" data-level='<%= ccRecepients[index].level %>'
                     <%if (currentDelivery && currentDelivery.ccRecepients) {%>
                        <%if (currentDelivery.ccRecepients.indexOf(ccRecepients[index].label) != -1 ) {%>
                           checked 
                        <%}%> 
                     <%}%>
                     ><%=ccRecepients[index].label%>
                  </label>
               </div>
            <%}%>    
         </div>

         <label class="js-attendees-table-label <%if( !currentDelivery || currentDelivery && currentDelivery.toRecepients.indexOf('Attendees') == -1 ) {%>hidden<%}%>">Attendees</label>
         <table class="js-attendees-table mainTable <%if( !currentDelivery || currentDelivery && currentDelivery.toRecepients.indexOf('Attendees') == -1 ) {%>hidden<%}%>">
             <thead>
                     <th class="filter-false sorter-false" data-bind="<input type='checkbox' class='js-templateCheckbox' value='{id}'/>">Select</th>
                     <th data-bind="{templateTitle}</span>">Last Name</th>
                     <th data-bind="{}</span>">First Name</th>
                     <th data-bind="{}</span>">Status</th>
                     <th data-bind="{}</span>">Email</th>
                     <th data-bind="{}</span>">Opt-Out</th>
                 </tr>
             </thead>
            <tbody>
              <%if (attendees && attendees.length) {%>
                <% for (var i = 0, ii = attendees.length; i < ii; i++) { %>
                <tr>
                    <td>
                        <input type="checkbox" class="js-speaker-checkbox" name="attendeesRecepients[]" value='<%=attendees[i].id%>' 
                        <%if(currentDelivery && currentDelivery.attendeesRecepients &&currentDelivery.attendeesRecepients.indexOf(attendees[i].id)!= -1 ) {%>
                        checked
                        <%}%>
                        />
                    </td>
                    <td>
                        <%=attendees[i].contact.firstName%>
                    </td>
                    <td>
                        <%=attendees[i].contact.lastName%>
                    </td>

                    <td>
                        <%if (attendees[i].status) { %><%=attendeeStatus[attendees[i].status].label%><%} else {%> N/A<%}%>
                    </td>

                    <td>
                        <%if (attendees[i].contact.defaultEmail) { %><%=attendees[i].contact.defaultEmail%><%} else {%> ----- <%}%>
                    </td>
                    
                    <td>
                        <%if (attendees[i].contact.optOut || attendees[i].contact.optOut == 'false') {%>Yes<%} else {%>No<%}%>
                    </td>
                </tr>
                <% } %>
              <% } %>
          </tbody>
         </table>

   
          <label class="js-speakers-table-label <%if( !currentDelivery || currentDelivery && currentDelivery.toRecepients.indexOf('Speakers') == -1 ) {%>hidden<%}%>">Speakers</label>
         <table class="js-speakers-table mainTable <%if( !currentDelivery || currentDelivery && currentDelivery.toRecepients.indexOf('Speakers') == -1 ) {%>hidden<%}%>">
          <thead>
                  <th class="filter-false sorter-false" data-bind="<input type='checkbox' class='js-templateCheckbox' value='{contactId}'/>">Select</th>
                  <th data-bind="{templateTitle}</span>">Speaker Name</th>
                  <th data-bind="{}</span>">Status</th>
              </tr>
          </thead>
          <tbody>
              <%if (speakers && speakers.length) {%>
                <% for (var i = 0, ii = speakers.length; i < ii; i++) { %>
                <tr>
                    <td>
                        <input type="checkbox" class="js-email-checkbox" name="speakersRecepients[]" value='<%=speakers[i].contactId%>' 
                        <%if(currentDelivery && currentDelivery.speakersRecepients &&currentDelivery.speakersRecepients.indexOf(speakers[i].contactId)!= -1 ) {%>
                        checked
                        <%}%>
                        />
                    </td>
                    <td>
                        <%=speakers[i].speakerName%>
                    </td>
                    <td>
                     <%if (speakers[i].crgStatus){%>
                           <%=speakerStatus[speakers[i].crgStatus].label%>
                     <%}%>
                    </td>
                </tr>
                <% } %>
              <% } %>
          </tbody>
         </table>

      </div> <!-- panel body-->
   </div> <!-- panel -->



   <div class="panel panel-warning">
          <div class="panel-heading">
               <h3 class="panel-title">Additional Emails</h3>
            </div>
            <div id="EmailContainer" class="panel-body js-add-button-container">
               <label>Note: These will be sent as CC's.</label>
               <div class="FormRowBackground separator js-row">
                  <div class="form-inline row-space-xs">
                     <label for="Email">Email Addresses (separate by comma): </label>
                     <input type="text" name="additionalEmails[]" class="MailElement form-control js-element input-more-width"
                        <% if (currentDelivery && currentDelivery.additionalEmails && currentDelivery.additionalEmails.length > 0) {%>
                              value="<%=  currentDelivery.additionalEmails.toString() %>"
                         <%}%>
                        />
                  </div>
               </div>
            </div> 
         </div> <!--/ panel -->

       <div class="panel panel-warning">
          <div class="panel-heading">
               <h3 class="panel-title">Deliverable Details</h3>
            </div>
             <div class="panel-body js-add-button-container">

               <div class="form-inline row-space-xs separator">
               
                  <label>Main Body Template:</label>
                     <select name="mailTemplate" class=" form-control">
                     <option disabled selected><%=selectPrompt%></option>
                     <% for(var templateIndex in templatesArray) { %>
                        <option <% if(currentDelivery && currentDelivery.mailTemplate == templatesArray[templateIndex].id ) {%>selected<%}%> value="<%=templatesArray[templateIndex].id%>"><%= templatesArray[templateIndex].templateTitle %></option>
                     <%}%>
                  </select>    
               </div>
               
               <div class="form-inline row-space-xs separator">
                  <label>External Attachments:</label>
                  <div class="js-selection-container">
                     <div class="row row-space-xs">
                       <div class="col-xs-12">
                         <div class="form-inline">
                           <button id='deleteExternalAttachmentsBtn' type="button" class="btn btn-danger deleteSelectedBtn">Delete Selected</button>
                           <input type="file" id="ExternalFile" style="display:none"></>
                           <label for='ExternalFile' class="btn btn-primary" >
                              Upload External Attachment
                           </label>
                         </div>
                      </div>
                     </div>

                     <table id="externalAttachmentsTable" class="mainTable">
                      <thead>
                              <th class="filter-false sorter-false"><input type="checkbox" class="selectall"/></th>
                              <th data-bind="{templateTitle}</span>">Attachment</th>
                          </tr>
                      </thead>
                      <tbody>
                          <%if (externalAttachments) {%>
                            <% for (var i = 0, ii = externalAttachments.length; i < ii; i++) { %>
                            <tr>
                                <td>
                                    <input type="checkbox" class="selectElement" name="externalAttachments[]" value='<%=externalAttachments[i].filePath%>'/>
                                </td>
                                <td>
                                    <%=externalAttachments[i].fileName%></span>
                                </td>
                            </tr>
                            <% } %>
                          <% } %>
                      </tbody>
                     </table>
                  </div>
               </div>

           <label>Attachments From Templates:</label>
           <div class="table-sorter-wrapper">
           <table class="mainTable">
             <thead>
                     <th class="filter-false sorter-false" data-bind="<input type='checkbox' class='js-templateCheckbox' value='{id}'/>">Select</th>
                     <th data-bind="{templateTitle}</span>">File Name</th>
                 </tr>
             </thead>
             <tbody>
                 <%if (templatesArray && templatesArray.length) {%>
                   <% for (var i = 0, ii = templatesArray.length; i < ii; i++) { %>
                   <tr>
                       <td>
                           <input type="checkbox" class="js-email-checkbox" name="attachmentTemplates[]" value='<%=templatesArray[i].id%>' 
                           <%if (currentDelivery && currentDelivery.attachmentTemplates && currentDelivery.attachmentTemplates.indexOf(templatesArray[i].id)!= -1 ) {%>
                           checked
                           <%}%>
                           />
                       </td>
                       <td>
                           <%=templatesArray[i].templateTitle%></span>
                       </td>
                   </tr>
                   <% } %>
                 <% } %>
             </tbody>
            </table>
         </div>
      </div>
      </div>
   </div>
  </form>
</div>