<div class="control-group">
  <label for="attendeeTypeName" class="control-label">attendeeTypeName</label>
  <div class="controls">
    <%- contentTag('input', attendeeType.attendeeTypeName, {type:'text', class:'span6', name:'attendeeTypeName'}) %>
  </div>
</div>
