<div class="hero-unit">
  <h2>All AttendeeTypes</h2>
  <%- linkTo('Create a new AttendeeType', addAttendeeTypePath, {class: 'btn pull-right'}); %>
</div>

<div id="attendeeTypes-list">
<% if (attendeeTypes) { %>
<% for (var i = 0, ii = attendeeTypes.length; i < ii; i++) { %>
  <div class="row list-item" id="attendeeType-<%= attendeeTypes[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(attendeeTypes[i].attendeeTypeName, attendeeTypePath(attendeeTypes[i].id)); %></h3>
    </div>
    <!--div class="span4">
      <h3><i class="icon-list-alt"></i><%= attendeeTypes[i].id; %></h3>
    </div-->
  </div>
<% } %>
<% } %>
</div>