<div class="hero-unit">
  <h2 class="id"><%= attendeeType.attendeeTypeName %></h2>
  <%- linkTo('Edit this attendeeType', editAttendeeTypePath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', attendeeTypePath(''), {class: 'btn pull-right'}); %>
</div>

<h2>AttendeeType Properties</h2>
<% for(var i in attendeeType) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= attendeeType[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>