<%= partial('layout_header'); %>
<%- scriptLink('/js/layouts/application.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/users/edit.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/utils/include.js', {type:'text/javascript'}) %>
<%- scriptLink('/js/home/home.js', {type:'text/javascript'}) %>

<body> 
   <!--[if lt IE 8]>
      <p class="browsehappy">
         You are using an <strong>outdated</strong> browser.
         Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
      </p>
   <![endif]-->

   <header class="wrapper">
      <div class="container">
         <div class="row">
            <div class="col-xs-12">

               <div id="brand">
                  <%if
                     (
                        (typeof params.companyName != 'undefined') ||
                        ( typeof session.get('companyName') != 'undefined' && (session.get('companyName') != 'CRG') )
                     )
                  {%>
                     <img class="company" src="/img/ui/companies/<%=session.get('companyName').toLowerCase()%>/companyLogo.png" alt="<%=session.get('companyName').toLowerCase()%> logo" height="65">
                  <%}%>
                  <img class="default" src="/img/ui/companies/crg/companyLogo.png" alt="encompass logo" width="174">
               </div>

               <%if (session.get('userId')) {%>
                  <div class="profile">
                     <a onclick="loadUserProfilePage('<%= session.get("userId")%>', '<%= session.get("userRoleId")%>', '<%= session.get("userPhoto")%>', 'photoThumbImgShow')"><img  id='photoThumbImgHeader' class="user" alt="Profile" width="52" height="52"></a>
                     <ul class="profile-info">
                        <%if (session.get('userFirstName')) {%>
                           <li class="username">
                              <%= session.get('userFirstName')%>
                              <%= session.get('userLastName') %>
                           </li>
                        <%}%>
                        <li><%=session.get('userRoleId')%></li>
                        <%if
                           (
                              (typeof params.companyName != 'undefined') ||
                              ( typeof session.get('companyName') != 'undefined' && (session.get('companyName') != 'CRG') )
                           )
                        {%>
                           <li class="logout"><span class="glyphicon glyphicon-remove"></span> <%- linkTo('Log Out', logoutPath+'/'+session.get('companyName')) %></li>
                        <%} else {%>
                           <li class="logout"><span class="glyphicon glyphicon-remove"></span> <%- linkTo('Log Out', logoutPath) %></li>
                        <%}%>
                     </ul>
                  </div>
                  <%- scriptLink('/js/global/global.js', {type:'text/javascript'}) %>
                  <script type="text/javascript">getUserPhoto("<%=session.get('userPhoto')%>", 'photoThumbImgHeader');</script>
               <%}%>
               
               <%if (session.get('userId')) {%>

                     <ul class="main-nav">
                        <%if (session.get('userId') && ( (session.get('userRoleId') == geddy.constants.roles.SUPER_ADMIN.label ||  session.get('userRoleId') == geddy.constants.roles.ADMIN.label) ) ){%>
                  <!-- STUTZENV3 -->         <li id="homeButton"><a onclick="onGotoHomeClick()"><span class="ico-nav entypo home"></span>Home</a></li>
                           <li id="clientsButton"><a onclick="onGotoClientsClick()"><span class="ico-nav entypo user"></span>Clients</a></li>
                           <li id="contactsButton"><a onclick="goToContactsHome()"><span class="ico-nav entypo vcard"></span>KOLs</a></li>
                           <li id="reportsButton"><a onclick="onGoToReportsClick()"><span class="ico-nav entypo text-doc-inverted"></span>Reports</a></li>
                           <span class="main-nav-separator"></span>
                        <%}%>
                        <%if (session.get('userRoleId') == geddy.constants.roles.SUPER_ADMIN.label) {%>
                           <li id="servicesButton"><a href="/services"><span class="ico-nav entypo briefcase"></span>Services</a></li>
                           <li id="programTypesButton"><a href="/program_types"><span class="ico-nav entypo archive"></span>Program Types</a></li>
                           <li id="settingsButton"><a onclick="onGoToSettingsClick()"><span class="ico-nav entypo cog"></span>Settings</a></li>
                           <li id="usersButton"><a href="/users"><span class="ico-nav entypo users"></span>Users</a></li>
                        <%}%>
                     </ul>

               <%}%>

            </div>
         </div> <!-- row -->

      </div> <!-- container -->
   </header> <!-- header -->

   <!--
   <section id="breadcrumbs">
      <div class="container">
         <div class="row">
            <div class="col-xs-12">
               <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Library</a></li>
                  <li class="active">Data</li>
               </ol>
            </div>
         </div>
      </div>
   </section>
   -->

   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <section id="content">
               <div id="AjaxContent">
                  <%- displayFlash(flash); %>

                  <%if (session.get('activeController') == 'Clients' || session.get('activeController') == 'Programs' || session.get('activeController') == 'Events' ||
                        session.get('activeController') == 'Contracts' || session.get('activeController') == 'Venues' || session.get('activeController') == 'Reps') {%>
                        
                    <!-- LEVEL 1 -->
                     <%if ( session.get('currentSection') == geddy.constants.sections.CLIENT_DETAILS || session.get('currentSection') == geddy.constants.sections.CLIENT_PROGRAMS ||
                           session.get('currentSection') == geddy.constants.sections.CLIENT_CONTRACTS || session.get('currentSection') == geddy.constants.sections.CLIENT_VENUES ||
                           session.get('currentSection') == geddy.constants.sections.CLIENT_GUIDELINES || session.get('currentSection') == geddy.constants.sections.CLIENT_REPS ||
                           session.get('currentSection') == geddy.constants.sections.CLIENT_RESOURCES || session.get('currentSection') == geddy.constants.sections.PROGRAM_DETAILS ||
                           session.get('currentSection') == geddy.constants.sections.PROGRAM_EVENTS || session.get('currentSection') == geddy.constants.sections.PROGRAM_SPEAKERS ||
                           session.get('currentSection') == geddy.constants.sections.PROGRAM_COMMUNICATIONS || session.get('currentSection') == geddy.constants.sections.PROGRAM_REPS ||
                           session.get('currentSection') == geddy.constants.sections.PROGRAM_RESOURCES || session.get('currentSection') == geddy.constants.sections.EVENT_PRF ||
                           session.get('currentSection') == geddy.constants.sections.EVENT_DETAILS ||  session.get('currentSection') == geddy.constants.sections.EVENT_ATTENDEES ||
                           session.get('currentSection') == geddy.constants.sections.EVENT_COMMUNICATIONS || session.get('currentSection') == geddy.constants.sections.EVENT_FINANCES ||
                           session.get('currentSection') == geddy.constants.sections.EVENT_NOTES) {%>
                           <ul class="nav nav-tabs">
                              <li <%if (session.get('currentSection') == geddy.constants.sections.CLIENT_DETAILS)  {%> class='active' <%}%>><a onclick='goToClientDetails("<%= session.get('currentClient').id %>")'> Client Details </a> %></li>
                              <li <%if (session.get('currentSection') == geddy.constants.sections.CLIENT_PROGRAMS || session.get('currentSection') == geddy.constants.sections.PROGRAM_DETAILS ||
                                  session.get('currentSection') == geddy.constants.sections.PROGRAM_EVENTS || session.get('currentSection') == geddy.constants.sections.PROGRAM_SPEAKERS ||
                                  session.get('currentSection') == geddy.constants.sections.PROGRAM_COMMUNICATIONS || session.get('currentSection') == geddy.constants.sections.PROGRAM_REPS ||
                                  session.get('currentSection') == geddy.constants.sections.PROGRAM_RESOURCES || session.get('currentSection') == geddy.constants.sections.EVENT_PRF ||
                                  session.get('currentSection') == geddy.constants.sections.EVENT_DETAILS || session.get('currentSection') == geddy.constants.sections.EVENT_ATTENDEES ||
                                  session.get('currentSection') == geddy.constants.sections.EVENT_COMMUNICATIONS || session.get('currentSection') == geddy.constants.sections.EVENT_FINANCES ||
                                  session.get('currentSection') == geddy.constants.sections.EVENT_NOTES ) {%> class='active' <%}%>
                              ><a onclick='goToClientPrograms()'> Programs </a></li>
                              <li
                                 <%if (session.get('currentSection') == geddy.constants.sections.CLIENT_CONTRACTS) {%> class='active' <%}%>><a onclick='goToClientContracts()'> Contracts </a></li>
                              <li <%if (session.get('currentSection') == geddy.constants.sections.CLIENT_VENUES) {%> class='active' <%}%>><a onclick='goToClientVenues()'> Venues </a></li>
                              <li <%if (session.get('currentSection') == geddy.constants.sections.CLIENT_GUIDELINES) {%> class='active' <%}%>><a onclick='onGoToClientGuidelinesClick()'> Guidelines </a></li>
                              <li <%if (session.get('currentSection') == geddy.constants.sections.CLIENT_REPS) {%> class='active' <%}%>><a onclick='goToClientFieldForce()'> Field Force </a></li>
                              <li <%if (session.get('currentSection') == geddy.constants.sections.CLIENT_RESOURCES) {%> class='active' <%}%>><a onclick='goToClientResources()'> Resources </a></li>
                           </ul>
                     <%}%>

                     <!-- LEVEL 2 -->
                     <%if ( session.get('currentSection') == geddy.constants.sections.PROGRAM_DETAILS || session.get('currentSection') == geddy.constants.sections.PROGRAM_EVENTS ||
                           session.get('currentSection') == geddy.constants.sections.PROGRAM_SPEAKERS || session.get('currentSection') == geddy.constants.sections.PROGRAM_COMMUNICATIONS ||
                           session.get('currentSection') == geddy.constants.sections.PROGRAM_REPS || session.get('currentSection') == geddy.constants.sections.PROGRAM_RESOURCES ||
                           session.get('currentSection') == geddy.constants.sections.EVENT_PRF || session.get('currentSection') == geddy.constants.sections.EVENT_DETAILS ||
                           session.get('currentSection') == geddy.constants.sections.EVENT_ATTENDEES || session.get('currentSection') == geddy.constants.sections.EVENT_COMMUNICATIONS ||
                           session.get('currentSection') == geddy.constants.sections.EVENT_FINANCES || session.get('currentSection') == geddy.constants.sections.EVENT_NOTES) {%>
                        <ul class="nav nav-pills separator">
                           <li <%if (session.get('currentSection') == geddy.constants.sections.PROGRAM_DETAILS) {%> class='active' <%}%>><a onclick='goToProgramDetails("<%= session.get('currentProgram').id %>")'> Program Details </a> %></li>
                           <li <%if (session.get('currentSection') == geddy.constants.sections.PROGRAM_EVENTS || session.get('currentSection') == geddy.constants.sections.EVENT_PRF ||
                            session.get('currentSection') == geddy.constants.sections.EVENT_DETAILS || session.get('currentSection') == geddy.constants.sections.EVENT_ATTENDEES ||
                            session.get('currentSection') == geddy.constants.sections.EVENT_COMMUNICATIONS || session.get('currentSection') == geddy.constants.sections.EVENT_FINANCES || session.get('currentSection') == geddy.constants.sections.EVENT_NOTES) {%> class='active' <%}%>><a onclick='goToProgramEvents()'> Events </a></li>
                           <li <%if (session.get('currentSection') == geddy.constants.sections.PROGRAM_SPEAKERS) {%> class='active' <%}%>><a onclick='goToProgramSpeakers()'> Speakers </a></li>
                           <li <%if (session.get('currentSection') == geddy.constants.sections.PROGRAM_COMMUNICATIONS) {%> class='active' <%}%>><a onclick='goToTemplateCommunications()'> Communications </a></li>
                           <li <%if (session.get('currentSection') == geddy.constants.sections.PROGRAM_REPS) {%> class='active' <%}%>><a onclick='goToProgramFieldForce()'> Field Force </a></li>
                           <li <%if (session.get('currentSection') == geddy.constants.sections.PROGRAM_RESOURCES) {%> class='active' <%}%>><a onclick='goToProgramResources()'> Resources </a></li>
                        </ul>
                     <%}%>


                     <!-- LEVEL 3 -->
                     <%if ( session.get('currentSection') == geddy.constants.sections.EVENT_PRF || session.get('currentSection') == geddy.constants.sections.EVENT_DETAILS || session.get('currentSection') == geddy.constants.sections.EVENT_ATTENDEES || session.get('currentSection') == geddy.constants.sections.EVENT_COMMUNICATIONS || session.get('currentSection') == geddy.constants.sections.EVENT_FINANCES  || session.get('currentSection') == geddy.constants.sections.EVENT_NOTES) {%>
                        <ul class="nav nav-pills separator">
                           <li <%if (session.get('currentSection') == geddy.constants.sections.EVENT_DETAILS) {%> class='active' <%}%>><a onclick='goToEventDetails("<%= session.get('currentEvent').id %>")'> Event Details </a> %></li>
                              <li  <%if (session.get('currentSection') == geddy.constants.sections.EVENT_PRF) {%> class='active' <%}%>><a onclick='goToEventPRF("<%= session.get('currentEvent').id %>")'> PRF </a></li>
                           <li <%if (session.get('currentSection') == geddy.constants.sections.EVENT_ATTENDEES) {%> class='active' <%}%>><a onclick='goToEventAttendees()'> Faculty/Attendees </a></li>
                           <li <%if (session.get('currentSection') == geddy.constants.sections.EVENT_COMMUNICATIONS) {%> class='active' <%}%>><a onclick='goToDeliveryCommunications()'> Communications </a></li>
                           <li <%if (session.get('currentSection') == geddy.constants.sections.EVENT_FINANCES) {%> class='active' <%}%>><a onclick='goToEventFinances()'> Finance/Invoices </a></li>
                           <li <%if (session.get('currentSection') == geddy.constants.sections.EVENT_NOTES) {%> class='active' <%}%>><a onclick='goToEventNotes()'> Notes </a></li>
                        </ul>
                     <%}%>
                  <%}%>

                  <!--  REP PORTAL -->
                  <%if (session.get('userId') && session.get('userRoleId') == geddy.constants.roles.REP.label ) {%>
                      <ul class="nav nav-tabs">
                        <li <%if (session.get('currentSection') == geddy.constants.sections.REP_PORTAL_PROGRAM_DETAILS ||
                              session.get('currentSection') == geddy.constants.sections.REP_PORTAL_EVENT_DETAILS) {%> class='active' <%}%>><a onclick='goToRepProgramDetails()'> Program Details </a> %></li>
                        <li <%if (session.get('currentSection') == geddy.constants.sections.REP_PORTAL_DETAILS) {%> class='active' <%}%>><a onclick='goToRepDetails()'> Profile </a></li>
                        <li <%if (session.get('currentSection') == geddy.constants.sections.REP_PORTAL_RESOURCES) {%> class='active' <%}%>><a onclick='goToRepResources()'> Resources </a></li>
                     </ul>
                  <%}%>

                  <!--  MANAGER PORTAL -->
                  <%if (session.get('userId') && session.get('userRoleId') == geddy.constants.roles.MANAGER.label ) {%>
                      <ul class="nav nav-tabs">
                        <li <%if (session.get('currentSection') == geddy.constants.sections.MANAGER_PORTAL_PROGRAM_DETAILS ||
                              session.get('currentSection') == geddy.constants.sections.MANAGER_PORTAL_EVENT_DETAILS){%> class='active' <%}%>><a onclick='goToManagerProgramDetails()'> Program Details </a> %></li>
                        <li <%if (session.get('currentSection') == geddy.constants.sections.MANAGER_PORTAL_DETAILS) {%> class='active' <%}%>><a onclick='goToManagerDetails()'> Profile </a></li>
                        <li <%if (session.get('currentSection') == geddy.constants.sections.MANAGER_PORTAL_RESOURCES) {%> class='active' <%}%>><a onclick='goToManagerResources()'> Resources </a></li>
                     </ul>
                  <%}%>

                  <!--  KOL PORTAL -->
                  <%if (session.get('userId') && session.get('userRoleId') == geddy.constants.roles.KOL.label ) {%>
                      <ul class="nav nav-tabs">
                        <li <%if (session.get('currentSection') == geddy.constants.sections.CONTACT_PORTAL_PROGRAM_DETAILS ||
                        session.get('currentSection') == geddy.constants.sections.CONTACT_PORTAL_EVENT_DETAILS ){%> class='active' <%}%>><a onclick='goToContactProgramDetails()'> Program Details </a> %></li>
                        <li <%if (session.get('currentSection') == geddy.constants.sections.CONTACT_PORTAL_DETAILS) {%> class='active' <%}%>><a onclick='goToContactDetails()'> Profile </a></li>
                        <li <%if (session.get('currentSection') == geddy.constants.sections.CONTACT_PORTAL_RESOURCES) {%> class='active' <%}%>><a onclick='goToContactResources()'> Resources </a></li>
                     </ul>
                  <%}%>

                  <!--  CLIENT PORTAL -->
                   <%if (session.get('userId') && session.get('userRoleId') == geddy.constants.roles.CLIENT.label ) {%>
                      <ul class="nav nav-tabs">
                        <li <%if (session.get('currentSection') == geddy.constants.sections.CLIENT_PORTAL_PROGRAM_DETAILS ||
                              session.get('currentSection') == geddy.constants.sections.CLIENT_PORTAL_EVENT_DETAILS) {%> class='active' <%}%>><a onclick='goToClientProgramDetails()'> Program Details </a> %></li>
                        <li <%if (session.get('currentSection') == geddy.constants.sections.CLIENT_PORTAL_DETAILS) {%> class='active' <%}%>><a onclick='goToClientDetailsPortal()'> Profile </a></li>
                        <li <%if (session.get('currentSection') == geddy.constants.sections.CLIENT_PORTAL_RESOURCES) {%> class='active' <%}%>><a onclick='goToClientResourcesPortal()'> Resources </a></li>
                     </ul>
                  <%}%>

                  <%- render(); %>

               </div> <!-- / AjaxContent -->

            </section> <!-- / content -->
         </div> <!-- col -->
      </div> <!-- row -->
   </div> <!-- container -->

<%= partial('layout_footer', {companyName:params.companyName, session:session}); %>