<footer class="container">
   <div class="row">
      <div class="col-xs-12">
         <h5>
               For assistance, please call (866) 320-5679 (9:00 AM – 5:00 PM Eastern) or email
               <a href="mailto:support@encompassmanager.com">support@encompassmanager.com</a>
         </h5>
         <p>Privacy Policy | Terms of Use</p>
         <p>© 2014 The Curry Rockefeller Group, LLC</p>
      </div>
   </div>
</footer>

<!-- scripts -->
<%- scriptLink('/js/vendor/jquery.sticky.js') %>
<%- scriptLink('/js/plugins.js') %>

</body>
</html>
