<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Encompass - Curry Rockefeller Group</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- stylesheets -->
        <%- styleLink('/css/entypo.css', {rel:'stylesheet'}) %>
        <%- styleLink('/css/tablesorter/theme.bootstrap.css', {rel:'stylesheet'}) %>
        <%- styleLink('/css/timePicker/jquery.timepicker.css', {rel:'stylesheet'}) %>
        <%- styleLink('/css/internationalTelephoneNumbers/intlTelInput.css', {rel:'stylesheet'}) %>
        <%- styleLink('/css/style.css', {rel:'stylesheet'}) %>
        <%- styleLink('/css/ui-lightness/jquery-ui-1.10.3.custom.min.css', {rel:'stylesheet'}) %>
        <%- styleLink('/css/app.css', {rel:'stylesheet'}) %>
        <%- styleLink('/css/overwrites.css', {rel:'stylesheet'}) %>

        <!-- validation style-->
        <%- styleLink('/css/validationEngine.jquery.css', {rel:'stylesheet'}) %>

        <!-- scripts -->
        <%- scriptLink('/js/vendor/modernizr-2.7.1.min.js') %>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <%- scriptLink('/js/config/init.js') %>
        <%- scriptLink('/js/jquery-ui-1.10.3.custom.min.js') %>
        <%- scriptLink('/js/vendor/tableSorter/jquery.tablesorter.min.js') %>
        <%- scriptLink('/js/vendor/tableSorter/jquery.tablesorter.widgets.min.js') %>
        <%- scriptLink('/js/vendor/tableSorter/widgets/widget-cssStickyHeaders.js') %>
        <%- scriptLink('/js/vendor/internationalTelephoneNumbers/intlTelInput.min.js') %>
        <%- scriptLink('/js/vendor/timePicker/jquery.timepicker.min.js') %>
        <%- scriptLink('/js/vendor/autoNumeric/autoNumeric.js') %>
        <%- scriptLink('/js/vendor/htmltable_export/tableExport.js') %>
        <%- scriptLink('/js/vendor/htmltable_export/jquery.base64.js') %>
        <%- scriptLink('/js/jquery.form.js') %>

        <!-- validation engine -->
        <%- scriptLink('/js/vendor/validationEngine/jquery.validationEngine.js') %>
        <%- scriptLink('/js/vendor/validationEngine/languages/jquery.validationEngine-en.js') %>

        <!-- tinyMCE -->
        <script type="text/javascript" src="/js/vendor/tinymce/tinymce.min.js"></script>

    </head>