<!-- the class template must be propertyTemplate name-->
<div class="form-inline row-space-xs licensesTemplate separator hidden js-row"> 
	<input value="0" class="js-index hidden form-control"/>
	<div class="form-group">
	  	<label for=""><span class="required">* </span>State License #:</label>
	  	<input type="text" name="licenseNumber" class="js-registration-license-data form-control validate[required]"/>
	</div>
	<div class="form-group">
	  	<label for=""><span class="required">* </span>Issuing State:</label>
	  	<select name="licenseState" class="js-registration-license-data  form-control validate[required]">
			<option value disabled selected><%=selectPrompt%></option>
			<% for(var index in states) { %>
				<option><%= states[index].name %></option>
			<% } %>
		</select>	
	</div>
	<%- partial('app/views/components/steps/deleteButton',{deleteFunction:deleteFunction}) %>
</div>	